<div class="steps user-select-none" >
  <ng-template ngFor let-step [ngForOf] ="sequence.steps" let-c="count" let-i="index" >
    <div title="Step {{step.name}} : {{step.title}}"  class="step" >
      <div [class.active]="step.active === true" class="step-graphic" >{{step.name}}
      </div>
      <div [class.text-muted]="step.active === false" [class.active]="step.active === true" class="step-text" >{{step.title}}</div>
    </div>
    <div *ngIf="i<c-1" class="step-seperator"></div>
  </ng-template>
</div>
