@import '../../../../assets/stylesheets/base';

:host {

    &.hidden {
      display: none;
    }
    padding-left:40px;
    padding-right:40px;
    margin-bottom:30px;

    $base-color:$color-pf-black-300;
    $active-color:$color-pf-blue-300;
    $active-color-text:$color-pf-white;

    .steps {

       border:solid 0px $base-color;
       display :flex;
       padding:2.0rem;
       flex-wrap: wrap;
       flex-direction: row;

       justify-content:center;//  space-between;

       align-content: center;
       align-items: center;

       .step-seperator{
           border:solid 0px $base-color;
           background-color:$base-color;
           height:1px;
           vertical-align: middle;
           display:flex;
           flex-grow:1;
           flex-shrink:1;
           flex-direction: column;
           justify-content: center;
           padding:0;
           color:$base-color;
           max-width: 300px;
       }
       .step {
            border:solid 0px $base-color;
           position:relative;
           //flex-grow:1;
           display:flex;
           color:$base-color;
           justify-content: center;
           flex-direction: column;
           .step-text {
            position:absolute;
            top: 5.0rem;
            left:-5.0rem;
            border:solid 0px red;
            width:15.0rem;
            text-align: center;
            //font-size: smaller;
            //color:$color-pf-black;
            &.active {
              //font-weight: bolder;
              color:$color-pf-black;
              //border-bottom:solid 3px $color-pf-blue-300;
            }
           }
           .step-graphic {
                border:solid 1px $base-color;
                width:4.0rem;
                height:4.0rem;
                padding:0.5rem;
                border-radius: 50%;
                display :flex;
                flex-direction:row;
                justify-content: center;
                align-items: center;
                position:relative;
                vertical-align: middle;
                &.active {
                    border:solid 2px $active-color;
                    background-color: $active-color;
                    color:$active-color-text;
                    font-weight: bold
                }

           }

       }
    }
}
