@import (reference) '../../../../assets/stylesheets/shared/osio.less';
.busy-indicator {
  display: inline-flex;
  position: relative;
  height: auto;
  margin-left: 10px;
  vertical-align: center;
  width: 25px;
  > div {
    margin: auto;
    padding: 0;
  }
}
.workspace-busy {
  &.disabled {
    &:hover {
      color: @color-pf-black-500;
    }
  }
}
.workspace-select {
  height: 32px;
  margin-right: 5px;
  width: 200px;
  display: initial;
}
