<!--Iteration Start-->
<div class="iterations-container flex-container flex-grow-1 in-column-direction">
  <div class="iteration-wrapper">
    <div class="iterations">
      <div class="iteration-header pointer">
        <h4>
          <span (click)="isCollapsedIteration = !isCollapsedIteration">
            <i class="fa fa-icon"></i>
            Current Iteration
          </span>
        </h4>
      </div>
      <ul class="iteration-expanded-div" [collapse]="isCollapsedCurrentIteration">
        <li class="active" *ngFor="let iteration of currentIterations" (click)='getWorkItemsByIteration(iteration)' [ngClass]="{'selected-iteration': (selectedIteration && selectedIteration.id === iteration.id)}">
          <div class="iteration-subheader flex-container">
            <div class="flex-grow-1 truncate">
              <strong class="iteration-name "
                tooltip="{{iteration.attributes.name}}"
                placement="top">
                {{iteration.attributes.name}}
              </strong>
              <div class="parent-iteration">
                {{iteration.attributes.resolved_parent_path + '/' + iteration.attributes.name}}
              </div>
            </div>
            <div *ngIf="loggedIn" class="dropdown-kebab-pf" dropdown>
              <button class="btn btn-link"
                      type="button"
                      aria-haspopup="true"
                      aria-expanded="true"
                      dropdownToggle>
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu-right" dropdownMenu>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('update', iteration);">
                    Edit
                  </a>
                </li>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('close', iteration);">
                    Close
                  </a>
                </li>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('createChild', iteration);">
                    Create child
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="iteration-status display-flex">
            <div class="flex-1">
              <span>{{iteration.attributes.startAt | date:longDate}} - {{iteration.attributes.endAt | date:longDate}}</span>
              <span class="iteration-count">
                <strong>
                  {{iteration.relationships?.workitems?.meta?.closed}} of {{iteration.relationships?.workitems?.meta?.total}}
                </strong>
                <span> completed</span>
              </span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar"
                role="progressbar"
                [attr.aria-valuenow]="iteration.relationships?.workitems?.meta?.closed"
                aria-valuemin="0"
                [attr.aria-valuemax]="iteration.relationships?.workitems?.meta?.total"
                [ngStyle]="{'width': ((iteration.relationships?.workitems?.meta?.closed / iteration.relationships?.workitems?.meta?.total) * 100) + '%'}"
                placement="top"
                tooltip="{{((iteration.relationships?.workitems?.meta?.closed / iteration.relationships?.workitems?.meta?.total) * 100) + '%'}}">
            </div>
          </div>
          <p class="iteration-description">{{ iteration.attributes?.description }}</p>
        </li>
      </ul>
    </div>
    <div class="iterations">
      <div class="iteration-header pointer">
        <h4>
          <span (click)="isCollapsedFutureIteration = !isCollapsedFutureIteration">
            <i class="fa fa-icon"
                [ngClass]="{'fa-angle-right': isCollapsedFutureIteration,
                          'fa-angle-down': !isCollapsedFutureIteration}"></i>
            Future Iterations
          </span>
          <small>
            <a *ngIf="loggedIn && editEnabled"
              class="text-right"
              (click)="modal.openCreateUpdateModal('create');">
              <i *ngIf="loggedIn && editEnabled" id="add-iteration-icon" class="pficon-add-circle-o fa-lg pull-right with-cursor-pointer" placement="bottom" tooltip="Add an Iteration"></i>
            </a>
          </small>
        </h4>
      </div>
      <ul class="not-current-iteration"
          [collapse]="isCollapsedFutureIteration">

        <li class="iteration-subheader flex-container" *ngFor="let iteration of futureIterations" (click)='getWorkItemsByIteration(iteration)' [ngClass]="{'selected-iteration': (selectedIteration && selectedIteration.id === iteration.id)}">
          <div class="flex-grow-1 truncate">
            <strong class="iteration-name"
              tooltip="{{iteration.attributes.name}}"
              placement="top">
              {{iteration.attributes.name}}
            </strong>
            <div class="parent-iteration">
              <span>{{iteration.attributes.resolved_parent_path + '/' + iteration.attributes.name}}</span>
            </div>
          </div>
          <div>
            <span class="badge">{{iteration.relationships?.workitems?.meta?.total}}</span>
            <div *ngIf="loggedIn" class="dropdown-kebab-pf dib" dropdown>
              <button class="btn btn-link"
                      type="button"
                      aria-haspopup="true"
                      aria-expanded="true"
                      dropdownToggle>
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu-right" dropdownMenu>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('update', iteration);">
                    Edit
                  </a>
                </li>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('start', iteration);">
                    Start
                  </a>
                </li>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('createChild', iteration);">
                    Create child
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="iterations">
      <div class="iteration-header pointer"
        (click)="isCollapsedPastIteration = !isCollapsedPastIteration">
        <h4>
          <i class="fa fa-icon"
              [ngClass]="{'fa-angle-right': isCollapsedPastIteration,
                          'fa-angle-down': !isCollapsedPastIteration}"></i>
          Past Iterations
        </h4>
      </div>
      <ul class="not-current-iteration"
          [collapse]="isCollapsedPastIteration">
        <li class="iteration-subheader flex-container" *ngFor="let iteration of closedIterations" (click)='getWorkItemsByIteration(iteration)' [ngClass]="{'selected-iteration': (selectedIteration && selectedIteration.id === iteration.id)}">
          <div class="truncate flex-grow-1">
            <strong class="iteration-name "
              tooltip="{{iteration.attributes.name}}"
              placement="top">
              {{iteration.attributes.name}}
            </strong>
            <div class="parent-iteration">{{iteration.attributes.resolved_parent_path + '/' + iteration.attributes.name}}</div>
          </div>
          <div>
            <span class="badge">{{iteration.relationships?.workitems?.meta?.total}}</span>
            <div *ngIf="loggedIn" class="dropdown-kebab-pf dib" dropdown>
              <button class="btn btn-link"
                      type="button"
                      aria-haspopup="true"
                      aria-expanded="true"
                      dropdownToggle>
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu-right" dropdownMenu>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('update', iteration);">
                    Edit
                  </a>
                </li>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('start', iteration);">
                    Start
                  </a>
                </li>
                <li>
                  <a class="pointer" (click)="modal.openCreateUpdateModal('createChild', iteration);">
                    Create child
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Iteration End-->

<fab-planner-iteration-modal
  #modal
  (onSubmit)="onCreateOrupdateIteration($event)" >
</fab-planner-iteration-modal>
