<!--Iteration Start-->
<div class="iteration-panel-header">
  <div class="iteration-secondary-menu">
      <h4><strong>Backlog</strong></h4>
  </div>
  <div class="badge-wrapper">
    <span class="badge">95</span>
  </div>
</div>
<div class="iterations-container">
  <div class="iterations">
    <div class="iteration-header pointer"
         (click)="isCollapsedCurrentIteration = !isCollapsedCurrentIteration">
      <div class="iteration-secondary-menu">
        <h4>
          <i class="fa fa-icon"
             [ngClass]="{'fa-angle-right': isCollapsedCurrentIteration,
                        'fa-angle-down': !isCollapsedCurrentIteration}"></i>
          Current Iteration
        </h4>
      </div>
    </div>
    <ul class="iteration-expanded-div" [collapse]="isCollapsedCurrentIteration">
      <li class="active" *ngFor="let iteration of currentIterations">
        <div class="iteration-subheader">
          <div>
            <strong>{{iteration.attributes.name}}</strong>
          </div>
          <div class="dropdown dropdown-kebab-pf" dropdown>
            <button class="btn btn-link dropdown-toggle"
                    type="button"
                    aria-haspopup="true"
                    aria-expanded="true"
                    dropdown-open>
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a>Edit</a></li>
              <li><a>Start</a></li>
            </ul>
          </div>
        </div>
        <div class="iteration-status">
          <div>
            <span>{{iteration.attributes.startAt | date:longDate}} - {{iteration.attributes.endAt | date:longDate}}</span>
          </div>
          <div>
            <strong>71 of 74</strong><span> completed</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar"
               role="progressbar"
               [attr.aria-valuenow]="barchatValue"
               aria-valuemin="0"
               aria-valuemax="100"
               [ngStyle]="{'width': barchatValue + '%'}"
               tooltipPlacement="top"
               tooltip="{{barchatValue + '%'}}">
          </div>
          <div class="progress-bar progress-bar-remaining"
               role="progressbar"
               [attr.aria-valuenow]="100 - barchatValue"
               aria-valuemin="0"
               aria-valuemax="100"
               [ngStyle]="{'width': 100 - barchatValue + '%'}"
               tooltipPlacement="top"
               tooltip="{{(100 - barchatValue) + '%'}}">
          </div>
        </div>
        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
      </li>
    </ul>
  </div>
  <div class="iterations">
    <div class="iteration-header pointer"
         (click)="isCollapsedFutureIteration = !isCollapsedFutureIteration">
      <div class="iteration-secondary-menu">
        <h4>
          <i class="fa fa-icon"
             [ngClass]="{'fa-angle-right': isCollapsedFutureIteration,
                        'fa-angle-down': !isCollapsedFutureIteration}"></i>
          Future Iteration
        </h4>
      </div>
    </div>
    <ul class="not-current-iteration"
        [collapse]="isCollapsedFutureIteration">

      <li class="iteration-subheader" *ngFor="let iteration of futureIterations">
        <div>
          <strong>{{iteration.attributes.name}}</strong>
        </div>
        <div>
          <span class="badge">90</span>
          <div class="dropdown dropdown-kebab-pf dib" dropdown>
            <button class="btn btn-link dropdown-toggle"
                    type="button"
                    aria-haspopup="true"
                    aria-expanded="true"
                    dropdown-open>
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a>Edit</a></li>
              <li><a>Start</a></li>
            </ul>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <div class="iterations">
    <div class="iteration-header pointer"
          (click)="isCollapsedPastIteration = !isCollapsedPastIteration">
      <div class="iteration-secondary-menu">
        <h4><i class="fa fa-icon"
            [ngClass]="{'fa-angle-right': isCollapsedPastIteration,
                        'fa-angle-down': !isCollapsedPastIteration}"></i>
        Past Iteration</h4>
      </div>
    </div>
    <ul class="not-current-iteration"
        [collapse]="isCollapsedPastIteration">
      <li class="iteration-subheader" *ngFor="let iteration of closedIterations">
        <div>
          <strong>{{iteration.attributes.name}}</strong>
        </div>
        <div>
          <span class="badge">90</span>
          <div class="dropdown dropdown-kebab-pf dib" dropdown>
            <button class="btn btn-link dropdown-toggle"
                    type="button"
                    aria-haspopup="true"
                    aria-expanded="true"
                    dropdown-open>
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a>Edit</a></li>
              <li><a>Start</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="loggedIn" class="create-iteration-bar pointer" (click)="modal.openCreateUpdateModal()">
  <span><i class="pficon-add-circle-o fa-icon"></i>
  <span class="create-iteration-label">Create Iteration</span></span>
</div>
<!-- Iteration End-->

<fab-planner-iteration-modal #modal ></fab-planner-iteration-modal>
