@import '../../assets/stylesheets/base';

.iteration-panel-header {
    padding: em(20);
    border-bottom: 1px solid $color-pf-black-300;
    h3{
      margin: 0;
    }
  }

.iterations-container {
  background-color: $color-pf-black-900;
  li {
    cursor: pointer;
  }
  .badge {
    background-color: $color-pf-black;
  }
  .selected-iteration {
    background-color: $color-pf-black-700 !important;
    color: $color-pf-white;
    border-left: 4px solid $color-pf-blue;
    i {
      color: $color-pf-white !important;
    }
  }

  /* Iterations expanded div styling */
  .iteration-wrapper {
    color: $color-pf-white;
    i {
      color: $color-pf-white;
    }
    .add-btn {
      color: $color-pf-blue;
    }
    .iteration-header {
      .pointer {
        cursor: pointer;
      }
      padding: em(10) em(20);
      > h4 {
        margin: 0;
      }
      .fa-icon {
        width: 15px;
      }
    }

    .iteration-expanded-div {
      padding-left: 0;
      margin-bottom: 0;

      > li {
        list-style: none;
        padding: em(15);

        &.active {
          border-left: 4px solid transparent;
          &.selected-iteration {
            border-left: 4px solid $color-pf-blue;
            .iteration-description {
              // &:after {
                @include multiline-truncate($line-height: 1.5em, $line-count: 2, $bg-color: $color-pf-white);
              // }
            }          
          }
        }

        .iteration-subheader {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          .dropdown-kebab-pf{
            margin-left: em(10);
          }

          .iteration-name{
            line-height: 1.5rem;
          }
        }

        .iteration-count {
          float: right;
        }

        .iteration-status {
          padding: em(20) 0 em(15) 0;
        }
        .iteration-description {
          @include multiline-truncate($line-height: 1.5em, $line-count: 2, $bg-color: $color-pf-black-700);

          &:after, &:before {
            background: transparent !important;
            content: none !important;
          }
        }
      }
    }

    .not-current-iteration{
      margin-bottom: 0;
      padding-left: 0;

      > li {
        padding: em(5) em(15) em(5) em(40);
        .iteration-name{
            line-height: 1.5rem;
          }
      }

      .badge {
        margin-right: em(10);
      }
    }

    .parent-iteration {
      font-size: rem(12);
      font-style: italic;
    }
  }
}
