<div class='kube-resource-list'>

  <fabric8-loading [loading]="loading">
    <div class='list-group-item namespace' *ngFor='let namespace of namespaces'>
      <div class='list-view-pf-checkbox' *ngIf="!hideCheckbox">
        <input type='checkbox'>
      </div>
      <div class='list-view-pf-actions'>
        <div class='pull-right dropdown-kebab-pf dropdown' dropdown>
          <button class='btn btn-link dropdown-toggle' type='button' id='dropdownKebabRight9' aria-haspopup='true' aria-expanded='true' dropdownToggle>
              <span class='fa fa-ellipsis-v'></span>
            </button>
          <ul class='dropdown-menu-right dropdown-menu' aria-labelledby='dropdownKebabRight9' role="menu" *dropdownMenu>
            <li>
              <a [routerLink]="[namespace.id]">View Details</a>
            </li>
            <li>
              <a [routerLink]="[namespace.id, 'edit']">Edit</a>
            </li>
            <li>
              <a (click)="openDeleteDialog(deleteNamespaceModal, namespace)" title="Delete this Namespace">Delete</a>
            </li>
          </ul>
        </div>

      </div>
      <div class='list-view-pf-main-info'>
        <div class='list-view-pf-left'>
          <span *ngIf="!namespace.icon" class="pficon-project"></span>
          <img *ngIf="namespace.icon" class='list-view-pf-icon-sm' src="{{namespace.icon}}" height="30" width="30"/>
        </div>
        <div class='list-view-pf-body'>
          <div class='list-view-pf-description'>
            <div class='list-group-item-heading'>
              <a [routerLink]="[parentLink, 'namespaces', namespace.id, 'buildconfigs']" class="card-title" title="view the deployments in this namespace">{{ namespace.name }}</a>
            </div>
            <div class='list-group-item-text'>
              <span class="" *ngFor='let image of namespace.images' title="docker image">
                   {{image}}
               </span>
            </div>
          </div>
          <div class='list-view-pf-additional-info'>
<!--
            <div class='list-view-pf-additional-info-item' title="number of available pods and the replicas">
              {{namespace.availableReplicas}} / {{namespace.replicas}}
            </div>
-->
            <div class='list-view-pf-additional-info-item' title="created time">
              {{namespace.creationTimestamp | amTimeAgo}}
            </div>
            <div class='list-view-pf-additional-info-item'>
              <k8s-labels [labels]="namespace.labels"></k8s-labels>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fabric8-loading>
</div>

<modal #deleteNamespaceModal title="Delete Namespace">
  <modal-content>
    <delete-namespace-dialog></delete-namespace-dialog>
  </modal-content>
</modal>


