<div class="toolbar-header">
  <pfng-toolbar
      [config]="toolbarConfig"
      [viewTemplate]="addAreasTemplate"
      (onFilterChange)="filterChange($event)"
      (onSortChange)="sortChange($event)">
    <ng-template #addAreasTemplate>
      <span class="with-cursor-pointer" placement="top" tooltip="Add Areas"
            (click)="addArea($event)">
        <span class="add-codebase-tooltip">
          <i class="pficon pficon-add-circle-o margin-top-4"></i>
          Add Areas
        </span>
      </span>
    </ng-template>
  </pfng-toolbar>
</div>
