@import (reference) '../../../assets/stylesheets/shared/osio.less';

.feature-level(@color-for-feature) {
  &-page {
    height: 100vh;
    background-color: @color-pf-black-200;
    text-align: center;
    .feature-content {
      margin-top: 5%;
      i {
        color: @color-for-feature;
      }
      .btn-feature-level {
        &:extend(.btn-default);
        border-color: @color-for-feature;
        background-color: @color-for-feature;
        background-image: linear-gradient(to bottom, @color-for-feature 0, @color-for-feature 100%);
        &:hover {
          background-color: @color-for-feature;
          background-image: none;
          border-color: darken((@color-for-feature), 10%);
        }
      }
    }
  }
}

// EXPERIMENTAL
.experimental {
  .feature-level(@color-experimental);
}

// BETA
.beta {
  .feature-level(@color-beta);
}

// INTERNAL
.internal {
  .feature-level(@color-internal);
}

// NOT-APPLICABLE
.not-applicable {
  .feature-level(@color-not-applicable);
}

// NOT-LOGGED_IN
.not-Logged-in {
  .feature-level(@color-not-logged-in);
}
