//@import "../../assets/stylesheets/color-variables";
//@import "../../assets/stylesheets/mixins";
.modal-footer{
    .btn{
        &:hover{
            background-color: lightblue;//$color-pf-light-blue-500;
            //@include gradient-vertical($color-pf-blue-300, $color-pf-blue-400);
            border-color: blue;//$color-pf-blue-500;
            color: white;//$color-pf-white;
        }
    }
        
}