@import "patternfly/color-variables";
@import "patternfly/mixins";
@import "bootstrap/mixins";
.modal-footer{
    .btn{
        &:hover{
            background-color: $color-pf-light-blue-500;
            @include gradient-vertical($color-pf-blue-300, $color-pf-blue-400);
            border-color: $color-pf-blue-500;
            color: $color-pf-white;
        }
    }

}
