@import "../../assets/stylesheets/navbar";
@import "../../assets/stylesheets/navs";
@import "../../assets/stylesheets/icons";
@import "../../assets/stylesheets/custom";
.navbar-pf {
    .navbar-nav>li>a {
        line-height: 1.3em;
        text-shadow:none;
        cursor: pointer;
        .img-icon{
            width: 25px;
            height: 25px;
            margin-top: -3px;
        }
    }
}
@media (max-width: $grid-float-breakpoint){
.navbar-fixed-top {
        position: fixed;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}

.no-link {
  color: #ffffff;
  text-decoration: none;
}