<nav class="navbar navbar-default navbar-pf" role="navigation" *ngIf="loggedIn">
    <div class="navbar-header"></div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-primary persistent-secondary">
            <!-- This part of the menu is dynamic based on context -->
            <li class="context dropdown" dropdown>
                <a dropdown-open>
                    <span>
                        <span class="{{context.current.type.icon}}"></span> {{context.current.name}}
                    </span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let m of dummy.contexts">
                        <a [routerLink]="[urlFeatureToggle + m.path]" *ngIf="m.path !== null && m != context.current"><span class="{{m.type.icon}}"></span> {{m.name}}</a>
                        <span *ngIf="m.path === null"><span  class="{{m.type.icon}}"></span> {{m.name}}</span>
                    </li>
                    <li>
                        <a [routerLink]="[urlFeatureToggle + '/pmuir/spaces']">Browse all</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a [routerLink]="[urlFeatureToggle + '/home']">Account home</a>
                    </li>
                    <li>
                        <!-- TODO: This should pop up the new space dialog -->
                        <a>New space</a>
                    </li>
                </ul>
            </li>
            <li *ngFor="let m of context.current.type.menus" [class.active]="m.active" [class.with-no-children]="(m.menus||[]).length===0" >
                <a [routerLink]="[urlFeatureToggle + m.fullPath]">
                    <span *ngIf="m.icon"  class="{{m.icon}}"></span>
                    <span *ngIf="m.name">{{m.name}}</span>
                </a>
                <ul class="nav navbar-nav navbar-persistent" *ngIf="m.menus">
                    <li *ngFor="let n of m.menus"  [class.active]="n.active">
                        <a [routerLink]="[urlFeatureToggle + n.fullPath]">{{n.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse navbar-collapse-1 nav-mob-scroll">
        <ul id="header_rightDropdown" class="nav navbar-nav navbar-utility">
            <li>
                <a *ngIf="!loggedIn" (click)='login();'>Sign In</a>
            </li>
            <li *ngIf="loggedIn" dropdown class="pull-right dropdown">
                <a dropdown-open>
                    <a *ngIf="loggedInUser" id="header_dropdownToggle">
                        <span *ngIf="!imgLoaded" class="pficon pficon-user"></span>
                        <img (load)="onImgLoad()" src="{{ loggedInUser.attributes?.imageURL }}" [ngClass]="{'show' : imgLoaded,'img-icon' : imgLoaded, 'hide' : !imgLoaded}"
                            class="pull-left marginR10" /> {{loggedInUser.attributes?.fullName}}
                    </a>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="[urlFeatureToggle + '/pmuir']">Profile</a>
                    </li>
                    <li>
                        <a href="https://fabric8.io/guide/getStarted/index.html">Help</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a [routerLink]="[urlFeatureToggle + '/pmuir/settings']">Settings</a>
                    </li>
                    <li>
                        <a *ngIf="loggedIn" (click)='logout();'>Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
