<nav class="navbar navbar-inverse navbar-pf" role="navigation" *ngIf="loggedIn && context.current && profile.sufficient">
  <div class="navbar-header">
    <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg ">
      <li *ngIf="!loggedIn">
        <a (click)="login();">Sign In</a>
      </li>
      <li *ngIf="loggedIn" dropdown class="pull-right dropdown">
        <a dropdown-open class="pull-right">
          <div *ngIf="loggedInUser" id="header_dropdownToggle_header">
            <span class="nav-item-icon">
              <span *ngIf="!imgLoaded" class="nav-icon pficon-user"></span>
              <img (load)="onImgLoad()" src="{{ loggedInUser.attributes?.imageURL }}" [ngClass]="{'show' : imgLoaded,'img-icon' : imgLoaded, 'hide' : !imgLoaded}">
            </span>
            <span class="nav-item-text">{{loggedInUser.attributes?.fullName}}</span>
            <span class="nav-icon caret"></span>
          </div>
        </a>
        <ul class="dropdown-menu view-width-100">
          <li>
            <a [routerLink]="['pmuir']">
              <span class="nav-item-text">Profile</span>
            </a>
          </li>
          <li>
            <a href="https://fabric8.io/guide/getStarted/index.html">
              <span class="nav-item-text">Help</span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a [routerLink]="['pmuir/_settings']">
              <span class="nav-item-text">Settings</span>
            </a>
          </li>
          <li>
            <a *ngIf="loggedIn" (click)="logout();">
              <span class="nav-item-text">Sign out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary persistent-secondary navbar-left">
      <!-- This part of the menu is dynamic based on context -->
      <li class="context dropdown" dropdown>
        <a dropdown-open>
          <div *ngIf="loggedInUser" id="header_dropdownToggle">
            <span *ngIf="context.current.type" class="nav-item-icon">
              <span class="nav-icon {{context.current.type.icon}}"></span>
            </span>
            <span class="nav-item-text">{{context.current.name}}</span>
            <span class="nav-item-icon">
              <span class="nav-icon caret"></span>
            </span>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li *ngFor="let m of context.recent">
            <a [routerLink]="[m.path]" *ngIf="m.path !== null && m != context.current">
              <span class="nav-item-icon">
                <span class="nav-icon {{m.type.icon}}"></span>
              </span>
              <span class="nav-item-text">{{m.name}}</span>
            </a>
            <a *ngIf="m.path === null">
              <span class="nav-item-icon">
                <span class="nav-icon {{m.type.icon}}"></span>
              </span>
              <span class="nav-item-text">{{m.name}}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['pmuir/_spaces']">
              <span class="nav-item-icon">
              </span>
              <span class="nav-item-text">
                Browse all
              </span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a [routerLink]="['home']">
              <span class="nav-item-icon">
              </span>
              <span class="nav-item-text">
                Account home
              </span>
            </a>
          </li>
          <li>
            <!-- TODO: This should pop up the new space dialog -->
            <a>
              <span class="nav-item-icon"></span>
              <span class="nav-item-text" (click)="spaceWizard.open()" >
                New space
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li *ngFor="let m of context.current.type.menus" [class.active]="m.active" [class.with-no-children]="(m.menus||[]).length===0">
        <a [routerLink]="[m.fullPath]" *ngIf="!m.hide">
          <span *ngIf="m.icon" class="nav-item-icon">
            <span  class="nav-icon {{m.icon}}"></span>
          </span>
          <span *ngIf="m.name" class="nav-item-text">{{m.name}}</span>
        </a>
        <ul class="nav navbar-nav navbar-persistent" *ngIf="m.menus">
          <li *ngFor="let n of m.menus" [class.active]="n.active">
            <a [routerLink]="[n.fullPath]" *ngIf="!n.hide">
              <span class="nav-item-text">
                {{n.name}}
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul id="header_rightDropdown" class="nav navbar-nav navbar-right">
      <li>
        <a *ngIf="!loggedIn" (click)="login();">Sign In</a>
      </li>
      <li *ngIf="loggedIn" dropdown class="pull-right dropdown">
        <a dropdown-open>
          <div *ngIf="loggedInUser" id="header_dropdownToggle2">
            <span class="nav-item-icon">
              <span *ngIf="!imgLoaded" class="nav-icon pficon-user"></span>
              <img (load)="onImgLoad()" src="{{ loggedInUser.attributes?.imageURL }}" [ngClass]="{'show' : imgLoaded,'img-icon' : imgLoaded, 'hide' : !imgLoaded}">
            </span>
            <span class="nav-item-text">{{loggedInUser.attributes?.fullName}}</span>
            <span class="nav-item-icon">
              <span class="nav-icon caret"></span>
            </span>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['pmuir']"><span class="nav-item-text">Profile</span> </a>
          </li>
          <li>
            <a href="https://fabric8.io/guide/getStarted/index.html"><span class="nav-item-text">Help</span></a>
          </li>
          <li class="divider"></li>
          <li>
            <a [routerLink]="['pmuir/_settings']"><span class="nav-item-text">Settings</span></a>
          </li>
          <li>
            <a *ngIf="loggedIn" (click)="logout();"><span class="nav-item-text">Sign out</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<modal #spaceWizard class="chromeless-modal"  >
  <modal-content class="chromeless-modal-content" >
      <space-wizard [host]="spaceWizard" ></space-wizard>
  </modal-content>
</modal>
