@import (reference) '../../../../../assets/stylesheets/shared/osio.less';

.create-dialog-header {
  position: absolute;
  top: -48px;
  .glyphicon-remove { .pointer; }
}

.create-footer { text-align: right; }

.has-error {
  color:@color-pf-red-100;
  border-color: @color-pf-red-100;
}
