<div class="modal-header">
  <h3>
    <b>Add New Area</b>
  </h3>
</div>
<div class="modal-body">
  <form role="form" #areaForm="ngForm" (ngSubmit)="createArea()" novalidate>
    <div class="form">
      <fieldset class="create-fieldset">
        <div [hidden]="!errors.uniqueValidationFailure" class="alert alert-danger">
          <div>
            <span class="pficon pficon-error-circle-o"></span>
            <b>Unique Name</b> A unique name is required to add a new area.
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': errors.uniqueValidationFailure}">
          <label for="name" class="control-label">Name</label>
          <input #rawInputField id="name" name="name" type="text" class="form-control" placeholder="Enter a name for your area" [(ngModel)]="name" required />
          <small [hidden]="!errors.uniqueValidationFailure">Please choose a unique name.</small>
        </div>
        <div class="form-group">
          <label class="control-label">Parent area</label>
          <select class="form-control" id="developmentProcess" [(ngModel)]="parentId" name="areaId">
            <option *ngFor="let p of areas" [ngValue]="p.id">{{itemPath(p.attributes)}}</option>
          </select>
        </div>
      </fieldset>
    </div>

    <div class="modal-footer">
      <div class="create-footer">
        <button class="btn btn-default margin-right-5" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="!areaForm.form.valid" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>

