@import "../../assets/stylesheets/_base";
@import "../../assets/stylesheets/_custom";
.footer{
	text-align: $textCenter;
	font-size: $font-size-small;
	border-top: 1px solid $color-pf-blue-300;
	margin-top: 2%;
}
