<div class="container-fluid f8-wi-container">
  <div class="lock-overlay-list" *ngIf="uiLockedAll">
    <div class="spinner-container">
      <h2 class="spinner"></h2>
      <h2>Loading ...</h2>
      <h4>Please wait, we are loading your data.</h4>
    </div>
  </div>
  <main class="row">
    <alm-planner-layout
      #sidePanel
      (sidePanelStateChange)="togglePanelState($event)"
      [sidePanelContent]="sidePanel"
      [sectionContent]="sectionPanel">
    </alm-planner-layout>
  </main>
</div>
<ng-template #sidePanel>
  <aside class="f8-sidepanel">
    <div class="lock-overlay-list" *ngIf="uiLockedSidebar">
      <div class="spinner-container">
        <h2 class="spinner"></h2>
        <h2>Loading ...</h2>
        <h4>Please wait, we are loading your data.</h4>
      </div>
    </div>
    <a class="f8-sidepanel--toggle">
      <span class="fa f8-sidepanel--toggle-icon fa-lg"
        [class.fa-angle-double-left]="sidePanelOpen"
        [class.fa-angle-double-right]="!sidePanelOpen"
        (click)="togglePanel()"
        tooltip="{{sidePanelOpen ?
          'Hide Panel' : 'Show Panel'}}"
        placement="right">
      </span>
    </a>
    <side-panel
      [sidePanelOpen]="sidePanelOpen"
      [iterations]="iterations"></side-panel>
  </aside>
</ng-template>
<ng-template #sectionPanel>
  <section>
    <toolbar-panel
      context="listview"
      [wiTypes]="workItemTypes"
      (onCreateNewWorkItemSelected)="typeSelectPanel.openPanel()"
      [currentBoardType]="currentBoardType"
      [areas]="areas"
      [loggedInUser]="loggedInUser">
    </toolbar-panel>
    <div class="f8-wi-list">
      <div #listContainer
        almInfiniteScroll
        class="f8-wi-list-wrap"
        [eachElementHeightInPx]='contentItemHeight'
        (initItems)='initWiItems($event)'
        (fetchMore)='fetchMoreWiItems()'>
        <pfng-tree-list #treeList
          [actionTemplate]="actionTemplate"
          [config]="treeListConfig"
          [itemTemplate]="itemTemplate"
          [items]="workItems"
          [loadTemplate]="loadTemplate"
          (onActionSelect)="handleAction($event)"
          (onClick)="handleClick($event)"
          (onDblClick)="handleDblClick($event)"
          (onMoveNode)="handleMoveNode($event)"
          (onToggleExpanded)="handleToggleExpanded($event)"
          (onSelectionChange)="handleSelectionChange($event)">
          <ng-template #loadTemplate let-node="node" let-index="index">
            <span>Loading...</span>
          </ng-template>
          <ng-template #itemTemplate let-node="node" let-index="index">
            <alm-work-item-list-entry
              id="{{'workItemList_OuterWrap_' + index}}"
              class="work-item-list-entry"
              [workItem]="node.data"
              [iterations]="iterations"
              (detailEvent)="onDetail($event)"
              (previewEvent)="onPreview($event)">
            </alm-work-item-list-entry>
          </ng-template>
          <ng-template #actionTemplate let-node="node" let-index="index">
            <pfng-action class="list-pf-actions"
              [config]="actionConfig"
              (onActionSelect)="handleAction($event, node)">
            </pfng-action>
          </ng-template>
        </pfng-tree-list>
        <div class="lock-overlay-list" *ngIf="uiLockedList">
          <div class="spinner-container">
            <h2 class="spinner"></h2>
            <h2>Loading Work Items ...</h2>
            <h4>Please wait, we are loading your work items.</h4>
          </div>
        </div>
      </div>

      <div id="workItemList_Error" class="error" *ngIf="error">{{error}}</div>

      <div id="workItemList_quickAdd" class="f8-wi-list__quick-add" *ngIf="loggedIn">
        <alm-work-item-quick-add
          [wilistview]="'wi-list-view'"
          (close)="close($event)"
          (workItemCreate)="onCreateWorkItem($event)"></alm-work-item-quick-add>
      </div>
    </div>
  </section>
  <work-item-preview #detailPreview></work-item-preview>
</ng-template>
<!-- <router-outlet></router-outlet> -->

<detail-add-type-selector
  #typeSelectPanel
  [takeFromInput]="true"
  [wiTypes]="workItemTypes">
</detail-add-type-selector>

<fab-planner-associate-iteration-modal
  [workItem]="currentWorkItem"
  #associateIterationModal>
</fab-planner-associate-iteration-modal>
