@import '../../../assets/stylesheets/base';

.error { color: $color-pf-red-100; }
.suppress-hover {
  &:hover { background-color: transparent; }
}
.tree-list {
  .node-drop-slot.is-dragging-over { height: 70px; }
}
.expanderdisabled {
    .toggle-children { display: none !important; }
}
.tree-list-item {
  display: flex;
  align-items: inherit;
}
.side-panel-wrap {
  width: 340px;
  min-width: 340px;
  height: 100%;
  .side-panel-container {
    overflow-x: hidden;
    background-color: $color-pf-black-900;
  }
}
.work-item-list-page {
  width: $width100;
  float: left;
  >.list-group { border-top-width:0 !important; }
  .detail-list-wrap {
    width: $width100;
    height: (calc(100% - 70px)); // to avoid overflown scroll height should be there
    margin-bottom: 70px;
    overflow-y: scroll;
    border-top: 1px solid;
    border-top-color: $color-pf-black-300;
  }
  .work-item-list-quick-add {
    position: fixed;
    bottom: 0;
    width: (calc(100% - 340px));
    border-top: 1px solid;
    border-top-color: $color-pf-black-300;
  }
  .card-pf {
    border: 0;
    box-shadow: none;
  }
  .card-pf-title {
    .no-wi { font-size: $pf-icon-4x; }
  }
}
.node-drop-slot.is-dragging-over { height: 66px!important; }
.work-item-page {
  position: relative;
  height: 100%;
  > main { border-top: 0 solid !important; }
  .dropdown {
    a { cursor: pointer; }
  }
  .with-cursor-pointer { cursor: pointer; }
  .with-color-blue { color: $color-pf-blue-400; }
  >main {
    height: 100%;
    border-top: 1px solid;
    border-top-color: $color-pf-black-300;
    >aside {
      position: relative;
      float: left;
      background-color: $color-pf-black-200;
      border-right: 1px solid;
      border-right-color: $color-pf-black-300;
      .contents {
        display: flex;
        height: 100%;
        overflow: auto;
        flex: 1;
        align-items: stretch;
        //@extend .fill-container;
      }
    }
    >section {
      position: relative;
      display: flex;
      height: 100%;
      overflow-x: hidden!important;
      align-items: stretch;
      flex: 9;
      flex-direction: column;
      @include Border(0px, solid, red);
      .alm-blank-slate {
        display: block;
        width: 90%;
        color: #363636;
        text-decoration: none;
        cursor: pointer;
      }
      .alm-blank-slate:hover { box-shadow: 0 1px 6px rgba(3,3,3,.175); }
      > header {
        padding-right: 20px;
        padding-left: 20px;
        border-bottom: 1px solid;
        border-bottom-color: $color-pf-black-300 !important;
        .toolbar-pf { border-color: transparent;
          .toolbar-pf-actions { border-color: transparent;
            .form-group { border-right: none;
              &:first { border-left: none; }
            }
            .toolbar-pf-action-right {
              .pficon-add-circle-o { @extend .with-color-blue;}
            }
          }
          // ensure icons dont fold around inputs
          .wi-input-filter-dropdown { position: relative;
            .wi-input-filter-dropdown-list {
              top: 2.5rem;
              width: 100%;
              padding: .25rem;
            }
            >div { position: relative;
              //HACK:prevents caret icon from folding to a new line
              >input {  margin-right: -2.0rem; }
              //HACK:positions the caret in right margin are of input
              >span.caret::before {
                z-index: 2;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
      .contents {
        display: flex;
        overflow-x: hidden;
        flex: 1;
        align-items: stretch;
        //@extend .fill-container;
      }
    }
  }
}
