@import '../../../assets/stylesheets/base';

.workItemList_entry {
  display: flex;
  cursor: pointer;
  align-items: center;
  .row-cbh {
    display: none; /* checkboxes are disabled for now */
    padding:em(2) em(10) em(2) 0;
    margin-right: em(10);
    margin-left: em(5);
    border-right: 1px solid;
    border-right-color: transparent;
    input[type=checkbox] {
      margin: 0;
      visibility: hidden;
    }
    input[type=checkbox]:checked { visibility: visible; }
  }
  &:focus { outline: none; }
  &:hover {
    .row-cbh {
      border-right: 1px solid;
      border-right-color: $color-pf-black-500;
      input { visibility: visible; }
    }
  }
  .workItemList_workItemType {
    float: left;
    width: em(120);
    span {
      margin-right: em(10);
      font-size: em(12);
      font-weight: 200;
      line-height: 1;
      color: $color-pf-black-900;
    }
  }
  .workItemList_title { line-height: 1.3;
    p { margin-bottom: 0 !important; }
  }
  .workItemList_title {
    p { margin: 0; }
  }
  @media (max-width: $screen-md-min) {
    .workItemList_title {
      padding: 0 !important;
      font-size: rem(16);
    }
  }
}
button {
  &:active { outline: none;
    &:focus { outline: none; }
  }
}
span {
  &:focus { outline: none; }
}
.not-assigned-user-icon { @include not-assigned-user-icon; }
.user-avatar { @include user-avatar; }
