<div *ngIf="showDialog">
	<alm-dialog
		(pfDialogClick)="onButtonClick($event)"
		[dialog]='dialog'
  ></alm-dialog>
</div>
<div class="workItemList_entry" (click)="onSelect($event)" [routerLink]="['./detail/' + workItem.id]" [queryParams]="queryParams">
	<!--checkbox to select a WI and move it-->
	<div class="row-cbh" title="Select the checkbox to move the item." *ngIf="loggedIn">
		<input type="checkbox" [checked]="checkedWI" (click)="toggleEntry($event)" />
	</div>
	<!-- info area -->
  <div class="list-view-pf-main-info">
    <div class="list-view-pf-left type workItemList_workItemType">
      <span almIcon [iconType]="workItem.attributes['system.state']" class="color-grey pull-left"></span>
      <span class="color-grey pull-left fa {{workItem.relationships?.baseType?.data?.attributes?.icon}}"></span>
      <span class="pull-left">{{workItem.relationships?.baseType?.data?.attributes?.name}}"></span>
      <span class="pull-left"> {{workItem.id}} </span>
    </div>
    <div class="list-view-pf-body">
      <div class="list-view-pf-description">
        <div class="workItemList_title truncate-ellipsis col-xs-12 row">
          <p class="col-md-12 col-sm-12 col-xs-12 pull-left truncate">{{workItem.attributes['system.title']}}</p>
        </div>
        <div class="list-group-item-text workItemList_description dn">
          {{workItem.attributes['system.description'] ? workItem.attributes['system.description'] : "No description available for this work item."}}
        </div>
      </div>
    </div>
  </div>
  <div class="user-avatar">
      <img
        *ngFor="let wItem of workItem.relationships.assignees.data"
        placement="bottom"
        tooltip="{{wItem?.attributes?.fullName}}"
        src="{{wItem?.attributes?.imageURL + '&s=23'}}"
        onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=23'" />
      <span *ngIf="!workItem.relationships?.assignees?.data?.length" class="pficon-user not-assigned-user-icon"></span>
  </div>

	<!-- action area -->
	<div class="list-view-pf-actions" (click)="kebabClick($event)">
		<div *ngIf="loggedIn" class="pull-right dropdown-kebab-pf" dropdown>
			<button class="btn btn-link workItemList_dropdownKebabBtn" type="button" id="dropdownKebabRight" aria-haspopup="true" aria-expanded="true" dropdownToggle>
				<span class="fa fa-ellipsis-v"></span>
			</button>
			<ul class="dropdown-menu-right" aria-labelledby="dropdownKebabRight" dropdownMenu>
				<li><a class="workItemList_MoveTop" (click)="onMoveToTop($event)">Move to Top</a></li>
				<li><a class="workItemList_MoveBottom" (click)="onMoveToBottom($event)">Move to Bottom</a></li>
				<li role="presentation" class="divider"></li>
				<li><a class="workItemList_Iteration" (click)="associateIterationModal.open($event)">Associate with Iteration...</a></li>
				<li role="presentation" class="divider"></li>
				<li><a [routerLink]="['./detail/' + workItem.id]" [queryParams]="queryParams" class="workItemList_Open">Open</a></li>
				<li><a class="workItemList_Backlog" (click)="onMoveToBacklog($event)">Move to Backlog</a></li>
			</ul>
		</div>
	</div>
</div>

<fab-planner-associate-iteration-modal
  [workItem]="workItem"
  #associateIterationModal>
</fab-planner-associate-iteration-modal>
