<div id="resources" class="container content">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <img src="https://avatars2.githubusercontent.com/u/157761?v=3&s=460" width="150" height="250" />
      </div>
      <div class="row">
        <h2>Pete Muir</h2>
      </div>
      <div class="row">
        <p>
          pmuir
        </p>
        <p>
          I like writing clever one-line bios about myself. See? I just did.
        </p>
      </div>
    </div>
    <div class="col-md-4">

      <div class="row" class="x-small">
        <div class="col-md-8">
          <h2>Resource Usage</h2>
        </div>
        <div class="col-md-4">
          <small> 1 – Sep 30</small>
        </div>
        <div class="col-md-6">
          <small>Pipeline</small>
        </div>
        <div class="col-md-6">
          <small>124 of 200 <br/> minutes</small>
        </div>
        <div class="col-md-6">
          <small>Environments</small>
        </div>
        <div class="col-md-6">
          <small>7,184 of 18,000 <br/>RAM-minutes</small>
        </div>
      </div>
    </div>
  </div>
</div>