<div id="resources" class="container content">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <img src="https://avatars2.githubusercontent.com/u/157761?v=3&s=460" width="150" height="250" />
      </div>
      <div class="row">
        <h2>Pete Muir</h2>
      </div>
      <div class="row">
        <p>
          pmuir
        </p>
        <p>
          I like writing clever one-line bios about myself. See? I just did.
        </p>
      </div>
    </div>
    <div class="col-md-4">

      <div class="row" class="x-small">
        <div class="row x-small">
          <div class="col-md-8">
            <h2><a [routerLink]="['/pmuir/resources']">Resource Usage</a></h2>
          </div>
          <div class="col-md-4">
            <small>{{dummy.resources.startDate | date:'d'}} – {{dummy.resources.endDate | date:'d MMM'}}</small>
          </div>
        </div>
        <div class="row x-small" *ngFor="let r of dummy.resources.list">
          <div class="col-md-6">
            <small>{{r.type.name}}</small>
          </div>
          <div class="col-md-6">
            <small>{{r.value}} of {{r.max}} <br /> {{r.type.unit}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>