<header class="container-fluid forge-header">
  <div class="row">
    <div class="col-sm-12 wizard-step-title">
      <h4>Welcome to your <strong>{{configurator.currentSpace.attributes.name | spaceName}}</strong> space.</h4>
    </div>
  </div>
</header>
<section class="forge-section container-fluid">
  <div class="row">
    <div class="col-sm-12 wizard-step-sub-title">
      <h1 class="textCenter">
        <b>How would you like to get started?</b>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 panel">
      <div id="importCodeButton" class="col-sm-6 panel-item" (click)="workflow.gotoNextStep({name:configurator.workflowSteps.forgeImportGit})">
        <ul class="action-panel-list">
          <li>
            <h3>Import existing <b>code</b></h3>
          </li>
          <li>
            <i class="pficon fa-3x pficon-import"></i>
          </li>
        </ul>
      </div>
      <div id="forgeQuickStartButton" class="col-sm-6 panel-item" (click)="workflow.gotoNextStep({name:configurator.workflowSteps.forgeQuickStart})">
        <ul class="action-panel-list">
          <li>
            <h3>Create a new <b>Quickstart</b> project</h3>
          </li>
          <li>
            <i class="pficon fa-3x pficon-screen"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-12 wizard-step-tool-bar">
      <a id="noThanksButton" class="btn btn-primary" (click)="workflow.finish()">
        No thanks, take me to the {{configurator.currentSpace.attributes.name | spaceName}} dashboard
      </a>
    </div>
  </div>
</footer>
