 @import (reference) '../../../../../assets/stylesheets/shared/osio.less';
.openshift-console-link-panel a {
  padding-top: 28px;
  display: block;
  font-size: 91%;
}
.app-env-info-panel {
  padding-top: 30px;
}
.header {
  font-size: 120%;
  font-weight: bolder;
}
.header a,
.app-name a {
  color: #363636;
}
.app-name {
  padding-top: 20px;
  font-size: 108%;
  font-weight: bold;
}
.app-env-info-panel-header { padding-bottom: 30px; }
.card-pf-title .kebab { padding-top: 0; }

.app-icon {
  height: 30px;
  width: 30px;
}