@import (reference) './../../../assets/stylesheets/_base';
@import (reference) './../../../assets/stylesheets/shared/_layout';

.board-card {
  width: 100%;
  float: left;
  padding: 15px;
  margin: 0 0 5px 0;
  background: @color-pf-white;
  .Border(2px, solid, @color-pf-black-400);
  &.active {
    border-color: @color-pf-blue-400;
  }
  >div {
    p {
      margin: 0;
    }
    .wi-type-icon {
      padding: 0 6px; // padding-top,bottom:0 required here
      font-size: 12px;
    }
    .user-avatar {
      padding-right: 5px;
    }
  }//div ended
  .row-wrapper {
    width: 100%;
    float: left;
  }
  .not-assigned-user-icon {
    .not-assigned-user-icon;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .dropdown-menu {
    li {
      span {
        display: block;
        padding: 1px 10px;
        .Border(1px, solid, transparent);
        white-space: nowrap;
        &:hover {
          border-color: @color-pf-blue-200;
          background-color: @color-pf-blue-100;
        }
        &:active {
          border-color: @color-pf-blue;
          background-color: @color-pf-blue;
          color: @color-pf-white;
        }
      }
    }
  }

  .user-avatar {
    .user-avatar;
    float: right;
    img {
      width: 30px;
      height: 30px;
    }
  }
}//boardcard ended
