<span class="list-group-heading" *ngIf="index === 0">WORKSPACES</span>
<select class="combobox form-control" [(ngModel)]="workspaceUrl" (ngModelChange)="validateWorkspaceUrl()">
  <option value="default">Select a Workspace</option>
  <option *ngFor="let workspace of workspaces" [value]="workspace.links.open">
    {{workspace.attributes.name.length > 0 ? workspace.attributes.name : "Default"}}
  </option>
</select>
<span class="dropdown-kebab-pf" dropdown>
  <button class="btn btn-link" type="button" dropdownToggle>
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu-right" aria-labelledby="dropdownKebab" dropdownMenu>
    <li class="disabled">
      <a href="javascript:void(0)" class="secondary-action"
         (click)="deleteCodebase()" disabled>Disassociate from Space</a>
    </li>
    <li *ngIf="workspaceUrlInvalid === true" [ngClass]="{'disabled': isHtmlUrlInvalid()}">
      <a href="javascript:void(0)" class="secondary-action"
         [attr.disabled]="isHtmlUrlInvalid()"
         (click)="createAndOpenWorkspace()">Create Workspace and Open in Editor</a>
    </li>
    <li *ngIf="!workspaceUrlInvalid === true" [ngClass]="{'disabled': isHtmlUrlInvalid()}">
      <a href="javascript:void(0)" class="secondary-action"
         [attr.disabled]="isHtmlUrlInvalid()"
         (click)="openWorkspace()">Open Workspace in Editor</a>
    </li>
  </ul>
</span>
