<div class="settings-nav" id="settings-title-nav" role="navigation">
  <h2 class="settings-title-nav-text">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </h2>
  <h3 class="settings-title-nav-text">Settings</h3>
</div>
<div class="settings-nav" id="settings-options-nav" role="navigation">
  <ul>
    <li>
      <a [routerLink]="['/' + loggedInUserName + '/_settings/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Connected Accounts</a>
    </li>
    <li>
      <a [routerLink]="['/' + loggedInUserName + '/_settings/feature-opt-in']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Features Opt-in</a>
    </li>
    <li>
      <a [routerLink]="['/' + loggedInUserName + '/_settings/notifications']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Notifications</a>
    </li>
    <li>
      <a [routerLink]="['/' + loggedInUserName + '/_settings/resources']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Resources</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
