<div *ngIf="selected" class="dropdown card-pf-time-frame-filter">
	<button 
		(click)="toggle()" 
		type="button" 
		class="btn dropdown-toggle alm-dropdown-btn {{selected.active_class ? selected.active_class : 'btn-default'}}"
		data-toggle="dropdown">
		{{selected.option}} <span *ngIf="!disabled" class="caret"></span>
	</button>
	<ul *ngIf="show && !disabled" class="dropdown-menu dropdown-menu-left" style="display:block" role="menu">
		<li *ngFor="let option of options;"
			class="{{option.option_class}}" 
			(click)="onChange(option)">
			<a>{{option.option}}</a>
		</li>
	</ul>
</div>
