/*
.status{
  width: 130px;
  text-align: left;
}

.status span.label{
  border-radius: 10px;
  padding: 5px 20px;
  opacity: 0.7;
  cursor: pointer;
}

.alm-dropdown {
	position: absolute;
	z-index: 100;
	margin-top: $margin10;
	height: auto;
	background-color: rgb(243, 231, 231);
	@include borderRadius(7px);
	padding-left: $pad10;
	padding-right: $pad10;
	li{
		list-style: none;
		font-size: $font12;
		text-align: $textLeft;
		cursor: pointer;
		&:hover{
			font-weight: 600;
		}
	}
}*/

	.alm-dropdown-btn{
		min-width: em(100);
	}