.status{
  width: 130px;
  text-align: left;
}

.status span.label{
  border-radius: 10px;
  padding: 5px 20px;
  opacity: 0.7;
  cursor: pointer;
}

.pf-dropdown {
	position: absolute;
	z-index: 100;
	margin-top: 10px;
	height: auto;
	background-color: rgb(243, 231, 231);
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;

}

.pf-dropdown li{
	list-style: none;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
}

.pf-dropdown li:hover{
	font-weight: 600;
}

