# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-watch
/app/*.js
/app/*.js.map
/tmp
/dist-library
/dist
/dist-watch
/src/app/**/*.css
/build
/runtime/dll
/runtime/dist
/services/dist

# dependencies
/node_modules
/bower_components
/runtime/node_modules
/services/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
functional_tests.log
unit_tests.log
/linters

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
