@import '../../../assets/stylesheets/_base';
.iteration-entry {
  cursor: pointer;
  width: 100%;
  .iteration-subheader {
    display: block;
    .dropdown-kebab-pf { margin-left: 10px; }
    .iteration-name {
      display: inline-block;
      width: 100%;
    }
  }
}
