@import (reference) '../../../assets/stylesheets/_base';

.f8-itr {
  &-entry {
    width: 100%;
    padding: 5px 20px 5px 45px;
    border-left: 4px solid;
    border-left-color: transparent;
    cursor: pointer;
    &--selected {
      background-color: @color-pf-black-700 !important;
      border-left: 4px solid;
      border-left-color: @color-pf-blue;
    }
    .badge { background-color: @color-pf-black; }
  }
  &__header {
    display: inline-block;
    width: 100%;
    i { color: @color-pf-white; }
  }
  &-status {
    color: @color-pf-black-600;
  }
  .active-tag {
    color: @color-pf-blue;
    font-weight: 600;
    padding-left: 10px;
  }
}
