@import '../../../assets/stylesheets/_base';
.iteration-entry {
  width: 100%;
  cursor: pointer;
  &.selected {
    background-color: @color-pf-black-700 !important;
    border-left: 4px solid;
    border-left-color: @color-pf-blue;
  }
  padding: 5px 15px 30px 15px;
  .badge { background-color: @color-pf-black; }
  .iteration-header {
    padding: 10px 20px;
    > h4 { margin: 0; }
    .fa-icon { width: 15px; }
    .add-btn { color: @color-pf-blue; }
  }
  .iteration-subheader {
    .dropdown-kebab-pf {
      margin-left: 10px;
    }
    i {
      color: @color-pf-white;
    }
  }
  .iteration-status {
    color: @color-pf-black-600;
  }
}
