<div class="iteration-entry"
  [routerLinkActive]="'selected-iteration'"
  [routerLink]="[]" [attr.data-id]="iteration.id"
  [queryParams]=""
  [dragula]="'wi-bag'">
  <div class="iteration-subheader">
    <div *ngIf="loggedIn"
      class="dropdown-kebab-pf pull-right dropdown" dropdown>
      <button class="btn btn-link dropdown-toggle"
        type="button"
        aria-haspopup="true"
        aria-expanded="true"
        dropdownToggle>
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu-right dropdown-menu" *dropdownMenu>
        <li>
          <a class="pointer" (click)="modal.openCreateUpdateModal('update', iteration, $event);">
            Edit
          </a>
        </li>
        <li>
          <a class="pointer" (click)="modal.openCreateUpdateModal('close', iteration, $event);">
            Close
          </a>
        </li>
        <li>
          <a class="pointer" (click)="modal.openCreateUpdateModal('createChild', iteration, $event);">
            Create child
          </a>
        </li>
      </ul>
    </div>
    <div class="truncate padding-right-15">
      <span class="iteration-name truncate">
        {{iteration.name | truncate : 45 }}
      </span>
    </div>
  </div>
</div>

