<div class="f8-itr-entry"
  [ngClass]="calcDepth(iteration)"
  [routerLinkActive]="'f8-itr-entry--selected'"
  [attr.data-id]="iteration.id">
  <span *ngIf="!iteration.hasChildren" class="fa margin-right-15"></span>
  <span *ngIf="iteration.hasChildren && !iteration.showChildren"
    class="fa fa-angle-right margin-right-15"
    (click)="toggleChildrenDisplay(iteration)" ></span>
  <span *ngIf="iteration.hasChildren && iteration.showChildren"
    class="fa fa-angle-down margin-right-15"
    (click)="toggleChildrenDisplay(iteration)">
  </span>
  <div class="f8-itr__header">
    <div class="truncate padding-right-15"
      [routerLink]="[]"
      [queryParams]="{q: constructURL(iteration.id)}"
      (click)="setGuidedTypeWI(collection)">
      <span class="f8-itr-name truncate">
        {{iteration.attributes.name | truncate : 15 }}
      </span>
      <span
        *ngIf="iteration.attributes.active_status"
        class="active-tag">
          [Active]
      </span>
    </div>
    <div class="f8-itr-status">
      <span>
        {{iteration.attributes.startAt ? (iteration.attributes.startAt | date:longDate) : 'Set start date'}}
        -
        {{iteration.attributes.endAt ? (iteration.attributes.endAt | date:longDate) : 'Set end date'}}
      </span>
    </div>
  </div>
  <div class="dropdown-kebab-pf pull-right dropdown"
    dropdown>
    <button class="btn btn-link dropdown-toggle"
      type="button"
      aria-haspopup="true"
      aria-expanded="true"
      dropdownToggle>
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu-right dropdown-menu"
      *dropdownMenu>
      <li>
        <a class="pointer" (click)="editIteration(iteration)"
          >
          Edit {{ iteration.attributes.name | truncate : 15 }}
        </a>
      </li>
      <li *ngIf="iteration.attributes.active_status">
        <a class="pointer"
          (click)="closeIteration(iteration)">
            Close
        </a>
      </li>
      <li>
        <a class="pointer"
          (click)="createIteration(iteration)">
            Create child
        </a>
      </li>
    </ul>
  </div>
</div>

