@import "../../../assets/stylesheets/color-variables";
@import "../../../assets/stylesheets/custom";

.error {color:$color-pf-red-100;}
.suppress-hover{
  &:hover{
    background-color: transparent;
  }
}
.detail-list-container{
    padding-bottom: em(65);
    height: 100%;
    overflow: hidden;
  .list-action {
    height: em(50);
    display: flex;
    align-items: center;
    background-color: $color-pf-black-300;
    justify-content: space-between;
    .list-type {
      font-weight: 700;
      margin-left: em(10);
    }
    .filter-dropdown {
      margin-right: em(10);
    }
  }

  .selected-filters {
    padding: 3px 10px; 
    margin: 5px;
    color: $color-pf-white;
    background-color: $color-pf-black-600;
    display: inline-block;
    .icon {
      margin-left: em(3);
      cursor: pointer;
    }
  }

  .close-filter {
    display: inline-block;
    color: $color-pf-blue;
    margin-left: 5px;
    cursor: pointer;
  }
  .detail-list-wrap {
    height: calc(100% - 4.167em); // 50px = 4.167em
    overflow-y: scroll;
    width: $width100;
    float: left;
  }
}
.containerPadd-nologin{ padding-bottom: 0; }
//detail panel
.detail-panel {
  background: $color-pf-white;
  position: fixed;
  left: auto;
  top: em(34);
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: em(250);
  z-index: 9999;
  padding: em(20) 0;
  border-left: 1px solid darken($color-pf-white, 20%);
  overflow-y: scroll;
}

@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd-nologin{ padding-bottom: 0; }
  .workItem_Overlay{
    background-color:$color-pf-black;
    left:0;
    position: fixed;
    top:0;
    z-index:9;
  }
  .inactivOverlay{
    height:0;
    opacity: 0;
    width:0;
    @include transition(opacity .3s);
  }
  .activeOverlay {
    height: 100%;
    @include transition(opacity .3s);
    opacity: .6;
    width: $width100;
  }
}

@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .detail-panel{
    width: $width100;
    padding: 0 ;
    top:0;
  }
}