@import "../../../assets/stylesheets/color-variables";
@import "../../../assets/stylesheets/custom";

.error {color:$color-pf-red-100;}
.supress-hover{
  &:hover{
    background-color: transparent;
  }
}
.containerPadd{ padding: 3em 0 4.3em 0; }
@media (max-width: $grid-float-breakpoint){
  .containerPadd{ padding: 3em 0 4.3em 0; }
  .workItem_Overlay{
    background-color:$color-pf-black;
    left:0;
    position:fixed;
    top:0;
    z-index:9;
  }
  .inactivOverlay{
    height:0;
    opacity: 0;
    width:0;
    @include transition(opacity .3s);
  }
  .activeOverlay {
    height: 100%;
    @include transition(opacity .3s);
    opacity: .6;
    width: 100%;
  }
}
