@import '../../../assets/stylesheets/base';

.error {color:$color-pf-red-100;}
.suppress-hover{
  &:hover{
    background-color: transparent;
  }
}

.tree-list-item {
  display: flex;
}

.work-item-list-page {
  >.list-group
  {
    border-top-width:0 !important;
  }
  flex:1;
  .detail-list-wrap {
    flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    overflow-y: scroll;
    width: $width100;
    margin-bottom: 0;
  }
  .work-item-list-quick-add {
    flex: none;
    -webkit-flex: none;
    -ms-flex: none;
  }
  .card-pf {
    border: 0;
    box-shadow: none;
  }
  .card-pf-title {
      .no-wi {
        font-size: $pf-icon-4x;
      }
  }
}


.dnd-drag-start,
.dnd-drag-over {
  opacity:1;
  border: 1px dashed $color-pf-black;
}

.dnd-drag-enter,
.dnd-sortable-drag {
  opacity:0.7;
  border: 1px dashed $color-pf-black;
}


.work-item-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    .container-modal {
        border: solid 0 red;
        background-color: $color-pf-black-100;
        position: absolute;
        padding: $grid-gutter-width/2;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        overflow-y: auto;
        .container-modal-header {
            margin: 0;
            margin-bottom: $grid-gutter-width/2;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        &.container-cards-pf {
            .card-pf-title {
                text-transform: capitalize;
            }
            .card-pf-info {
                min-height: 4.5em;
                @include multiline-truncate($line-height: 1.5em, $line-count: 3, $bg-color: $color-pf-white);
            }
        }
    }

    .dropdown {
        a {
            cursor: pointer;
        }
    }
    .with-cursor-pointer {
        cursor: pointer;
    }
    .with-color-blue {
        color: $color-pf-blue-400;
    }
    >main {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: stretch;
        border-top: 1px solid $color-pf-black-300;
        >aside {
            flex: 3;
            display: flex;
            flex-direction: column;
            background-color: $color-pf-black-200;
            border-right: 1px solid $color-pf-black-300;
            position: relative;
            align-items: stretch;
            .contents {
                //@extend .fill-container;
                flex: 1;
                display: flex;
                overflow: auto;
                align-items: stretch;
            }
        }
        >section {
            flex: 9;
            display: flex;
            flex-direction: column;
            border: solid 0px red;
            position: relative;
            align-items: stretch;
            > header {
              padding: 0 rem(20);
              border-bottom: 1px solid $color-pf-black-300 !important;
              .toolbar-pf {
                  border-color: transparent;
                  .toolbar-pf-actions {
                      border-color: transparent;
                      .form-group {
                          border-right: none;
                          &:first {
                              border-left: none;
                          }
                      }
                      .toolbar-pf-action-right {
                        .pficon-add-circle-o{
                          @extend .with-color-blue;
                        }
                      }
                  }
                  // ensure icons dont fold around inputs
                  .wi-input-filter-dropdown {
                      position: relative;
                      .wi-input-filter-dropdown-list {
                          width: 100%;
                          top: 2.5rem;
                          padding: 0.25rem;
                      }
                      >div {
                          position: relative;
                          //HACK:prevents caret icon from folding to a new line
                          >input {
                              margin-right: -2.0rem;
                          }
                          //HACK:positions the caret in right margin are of input
                          >span.caret::before {
                              z-index: 2;
                              display: inline-block;
                              height: 1.5rem;
                              line-height: 1.5rem;
                              width: 1.5rem;
                          }
                      }
                  }
              }
            }
            .contents {
                //@extend .fill-container;
                flex: 1;
                display: flex;
                overflow: auto;
                align-items: stretch;
            }
        }
    }
}
