@import "../../../assets/stylesheets/color-variables";
@import "../../../assets/stylesheets/custom";

.error {color:$color-pf-red-100;}
.suppress-hover{
  &:hover{
    background-color: transparent;
  }
}
.detail-list-wrap{
  width: $width100;
  float: left;
}
.containerPadd{ padding: em(96) 0 em(66) 0; }
.containerPadd-nologin{ padding-bottom: 0; }


@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd{ padding-top: em(132); }
  .containerPadd-nologin{ padding-bottom: 0; }
  .workItem_Overlay{
    background-color:$color-pf-black;
    left:0;
    position: fixed;
    top:0;
    z-index:9;
  }
  .inactivOverlay{
    height:0;
    opacity: 0;
    width:0;
    @include transition(opacity .3s);
  }
  .activeOverlay {
    height: 100%;
    @include transition(opacity .3s);
    opacity: .6;
    width: $width100;
  }  
}

.detail-panel {
  background: $color-pf-white;  
  position: fixed;
  left: auto;
  top: em(34);
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: em(250);
  z-index: 9999;
  padding: em(20) 0;
  border-left: 1px solid darken($color-pf-white, 20%);  
  overflow-y: scroll;
}
@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .detail-panel{
    width: $width100;
    padding: 0 ;
    top:0;
  }
}

.detail-list-container {
  height: 100%;
  overflow: hidden;
  .detail-list-wrap {
    height: 100%;
    overflow-y: scroll;
  }
}