@import "../../../assets/stylesheets/color-variables";
@import "../../../assets/stylesheets/custom";
@import "../../../assets/stylesheets/mixins";

.add-detailed-wi{
  text-align: center;
  font-size: em(20);
  position: absolute;
  z-index: 10;
  top: em(59);
  right: em(100);
  width: em(26);
	height: em(26);
	background: $color-pf-blue-400;
  color: $color-pf-white;
  cursor: pointer;
	-moz-border-radius: em(13);
	-webkit-border-radius: em(13);
	border-radius: em(13);
  span{
    position:absolute;
    top:50%;
    left: 50%;
    @include transform (translate(-50%,-50%));
  }
}
.types-modal{
  background-color: $color-pf-white;
  position: absolute;
  top: em(88);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 11;
  overflow-y: scroll;
  .xl-font{
    font-size: em(30);
  }
  .wiTypeList{
    list-style: none;
    li{
        height: em(180);
        border: 1px solid $color-pf-black-200;
        position: relative;
        color: $color-pf-black;
        cursor: pointer;
        width: calc(25% - 1.667em);
        margin: em(10);
        float: left;
        .wiTypeListBlk{
          position: absolute;
          top:50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
          text-align: $textCenter;
        }
      }
    li:hover {
      color:  $color-pf-blue-400;
    }
  }
}
.error {color:$color-pf-red-100;}
.suppress-hover{
  &:hover{
    background-color: transparent;
  }
}
.detail-list-container{
    padding-bottom: em(65);
    height: 100%;
    overflow: hidden;
  .list-action {
    height: em(50);
    display: flex;
    align-items: center;
    background-color: $color-pf-black-300;
    justify-content: space-between;
    .list-type {
      font-weight: 700;
      margin-left: em(10);
    }
    span{
      border-color: transparent;
      border-style: solid;
      border-width: 1px 0;
      padding: 1px 10px;
    }
    .filter-dropdown {
      margin-right: em(10);
    }
  }

  .selected-filters {
    padding: 3px 10px;
    margin: 5px;
    color: $color-pf-white;
    background-color: $color-pf-black-600;
    display: inline-block;
    .icon {
      margin-left: em(3);
      cursor: pointer;
    }
  }

  .close-filter {
    display: inline-block;
    color: $color-pf-blue;
    margin-left: 5px;
    cursor: pointer;
  }
  .detail-list-wrap {
    height: calc(100% - 4.167em); // 50px = 4.167em
    overflow-y: scroll;
    width: $width100;
    float: left;
  }
}
.containerPadd-nologin{ padding-bottom: 0; }
//detail panel
.detail-panel {
  background: $color-pf-white;
  position: fixed;
  left: auto;
  top: em(34);
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: em(250);
  z-index: 9999;
  padding: em(20) 0;
  border-left: 1px solid darken($color-pf-white, 20%);
  overflow-y: scroll;
}

.dnd-drag-start,
.dnd-drag-over {
  opacity:1;
  border: 1px dashed $color-pf-black;
}

.dnd-drag-enter,
.dnd-sortable-drag {
  opacity:0.7;
  border: 1px dashed $color-pf-black;
}

@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd-nologin{ padding-bottom: 0; }
  .workItem_Overlay{
    background-color:$color-pf-black;
    left:0;
    position: fixed;
    top:0;
    z-index:9;
  }
  .inactivOverlay{
    height:0;
    opacity: 0;
    width:0;
    @include transition(opacity .3s);
  }
  .activeOverlay {
    height: 100%;
    @include transition(opacity .3s);
    opacity: .6;
    width: $width100;
  }
}

@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .detail-panel{
    width: $width100;
    padding: 0 ;
    top:0;
  }
  .types-modal{
    .wiTypeList{
    li{
      width: calc(50% - 1.667em);
      }
    }
  }
}