<div class="container content height-100">
  <div class="errorPageWrapper">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="../../assets/images/ninja-illustration.png" class="width-100"/>
        </div>
        <div class="col-xs-9">
          <div class="error-page-text">
            <h2 class="padding-bottom-15">404: Have you seen this page? Probably not.</h2>
            <h3 class="padding-top-15"> {{ message | async }} </h3>
            <p class="padding-bottom-10">It's not the end of the internet, but it's close.
              The page you're trying to find was either removed,
              moved, or maybe the URL isn't quite right.</p>
            <a class="btn btn-primary" [routerLink]="['/_home']">Take me home</a>
            <hr />
            <p>These links might also be helpful:</p>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="spaceLink">Spaces</a>
              </li>
              <li>
                <a [routerLink]="['/_home']">My dashboard</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
