<div class="f8-group-filter" *ngFor="let item of groupTypes">
  <a
    class="f8-group-filter__type"
    id="{{item.group}}"
    [routerLink]="[]"
    [queryParams]="{q: fnBuildQueryParam(item)}"
    [routerLinkActive]="'selected'"
    (click)="setGuidedTypeWI(item);"
    *ngIf="item.group != 'execution'">
      <span class="pull-left margin-right-10 {{ item.icon }}"
        tooltip="{{sidePanelOpen ? '' : item.name }}"
        placement="right"></span>
      <span class="pull-left"
        [class.show]="sidePanelOpen"
        [class.hide]="!sidePanelOpen">
      {{ item.name }}</span>
  </a>
  <!--If group is execution show a header and then embed the iteration component -->
  <div *ngIf="item.group == 'execution'">
    <div class="width-100 pull-left">
      <fab-planner-iteration
        class="fab-planner-iteration"
        [takeFromInput]="true"
        [collection]="item.wit_collection"
        [iterations]="iterations"
        [sidePanelOpen]="sidePanelOpen">
      </fab-planner-iteration>
    </div>
  </div>
</div>
