<div class="filter" *ngFor="let item of groupTypes">
  <a [routerLink]="[]"
    [queryParams]="{q: fnBuildQueryParam(item)}"
    [routerLinkActive]="'selected'"
    id="{{item.group}}" (click)="setGuidedTypeWI(item);" *ngIf="item.group != 'execution'">
      {{ item.name }}
  </a>
  <!--If group is execution show a header and then embed the iteration component -->
  <div *ngIf="item.group == 'execution'">
    <div class="width-100 pull-left">
      <fab-planner-iteration [takeFromInput]="true" [collection]="item.wit_collection"
        [iterations]="iterations" class="fab-planner-iteration"></fab-planner-iteration>
    </div>
  </div>
</div>
