@import '../../../assets/stylesheets/_base';
.filter {
  color: @color-pf-white;
  .first-level {
    padding: 10px 20px;
  }
  a {
    color: @color-pf-white;
    text-decoration: none;
  }
}

.selected {
  background-color: @color-pf-black-700 !important;
  border-left: 4px solid;
  border-left-color: @color-pf-blue;
}

