@import (reference) '../../../assets/stylesheets/_base';

.f8-link {
  // &-container { }
  &__nav-list {
    border-top: 1px solid;
    border-top-color: @color-pf-black-200;
    li {
      &.f8-toggle-caret{
        display: inline-block;
        width: 40px;
        padding-top: 9px;
        padding-bottom: 9px;
        text-align: center;
      }
      &:nth-child(2) {
        a { margin-left: -13px; }
      }
      .badge { margin-top: -3px; } // hack to align the badge
      &.active {
        .badge {
          color: @color-pf-white;
          background-color: @color-pf-blue-400;
        }
      }
      &:hover { cursor: pointer; }
    }
  }
  &__content {
    background: @color-pf-white;
    border-bottom: 1px solid;
    border-bottom-color: @color-pf-black-200;
    &-create-link {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      .add-circle-icon {
        font-size: 50px;
        color: @color-pf-black-500;
      }
      p {
        margin-top: 15px;
        font-size: 25px;
      }
    }
    &-hdr {
      padding: 0 20px;
      background-color: @color-pf-black-100;
      >p { padding: 12px 20px; }
    }
    .table {
      display: table !important;
      &-cell {
        display: table-cell !important;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: top;
      }
    }
    &-editor {
      padding-right: 40px;
      padding-bottom: 20px;
      padding-left: 10px;
      background-color: @color-pf-black-100;
      .readonly { background: @color-pf-white; }
      .selected-value { color: @color-pf-black !important; }
      ul.dropdown-menu {
        li {
          a { color: @color-pf-black-800; }
          &:hover, &.active {
            a,
            a:focus,
            a:hover {
              text-decoration: none;
              color: @color-pf-white;
              background-color: @color-pf-blue-400;
              border-color: @color-pf-blue-400;
            }
          }
        }
      }
    }
  }
  &__create-btn {
    padding-right: 10px;
    padding-left: 10px;
    margin: 30px auto 0;
  }

  &__list {
    padding-top: 12px;
    padding-bottom: 12px;
    &-header {
      padding: 5px 40px;
      margin: 0;
      font-weight: 700;
    }
    &-type-header {
      padding: 0 40px;
      font-weight: 700;
      color: @color-pf-black-600;
    }
    &-item {
      padding: 2px 50px;
      cursor: pointer;
      &:hover { background-color: @color-pf-black-200; }
      &-title {
        display: inline-block;
        max-width: 95%;
        &:extend(.truncate);
      }
      a { color: @color-pf-black-700;
        &:hover { color: @color-pf-blue;
        }
      }
    }
  }
}
