@import '../../../assets/stylesheets/base';
@import '../../../assets/stylesheets/shared/main';
.link-container {
  .table { display: table !important; }
  .table-cell {
    display: table-cell !important;
    padding-right: 10px;
    vertical-align: top;
    padding-left: 10px;
    vertical-align: top;
  }
  .link-header-nav-list {
    border-top: 1px solid;
    border-top-color: $color-pf-black-200;
    li {
      &.toggle-icon {
        width: 40px;
        padding-top: 9px;
        padding-bottom: 9px;
        @extend .dib;
        @extend .textCenter;
      }
      a {
        padding: 13px 15px;
      }
      a { padding: 13px 15px; }
      &:nth-child(2) {
        a { margin-left: -13px; }
      }
      .badge { margin-top: -3px; } // hack to align the badge
      &.active {
        .badge {
          color: $color-pf-white;
          background-color: $color-pf-blue-400;
        }
      }
      &:hover { cursor: pointer; }
    }
  }
  .link-content {
    background: $color-pf-white;
    border-bottom: 1px solid;
    border-bottom-color: $color-pf-black-200;
    >div { padding: 0; }
    .link-content-create-link {
      padding-top: 50px;
      padding-bottom: 50px;
      @extend .textCenter;
      .add-circle-icon {
        font-size: 50px;
        color: $color-pf-black-500;
      }
      p {
        margin-top: 15px;
        font-size: 25px;
      }
      span {
        margin-right: 10px;
        margin-left: 10px;
      }
      .create-link-btn {
        padding-right: 10px;
        padding-left: 10px;
        margin: 30px auto 0;
      }
    }
    .link-item-hdr {
      padding: 0 20px;
      background-color: $color-pf-black-100;
      >p { padding: 12px 20px; }
      >i {
        float: right;
        padding: 15px;
      }
    }
    .link-editor {
      padding-right: 40px;
      padding-bottom: 20px;
      padding-left: 40px;
      background-color: $color-pf-black-100;
      .readonly { background: #fff; }
      .selected-value { color: #000 !important; }
      .link-button {
        padding-top: 1.5px;
        padding-bottom: 1.5px;
      }
      ul.dropdown-menu {
        li {
          a { color: $color-pf-black-800; }
          &:hover, &.active {
            a,
            a:focus,
            a:hover {
              text-decoration: none;
              color: $color-pf-white;
              background-color: $color-pf-blue-400;
              border-color: $color-pf-blue-400;
            }
          }
        }
      }
    }
    .link-list-wrap {
      padding-top: 12px;
      padding-bottom: 12px;
      .link-list-header {
        padding: 5px 40px;
        margin: 0;
        font-weight: 700;
      }
      .link-list-type-header {
        padding: 0 40px;
        font-weight: 700;
        color: $color-pf-black-600;
      }
      .link-list {
        padding: 2px 50px;
        cursor: pointer;
        &:hover { background-color: $color-pf-black-200; }
        .link-title {
          max-width: 95%;
          @extend .truncate;
          @extend .dib;
        }
        a { color: $color-pf-black-700;
          &:hover { color: $color-pf-blue;
          }
        }
      }
    }
    .workitem-link-search-box {
      width: $width100;
      padding: 2px 5px;
      outline: none;
    }
    .search-result-container {
      position: relative;
      .weight-800 {
        font-weight: 800;
      }
    }
    .search-result {
      position: absolute;
      top: 0;
      z-index: 10;
      width: $width100;
      max-height: 200px;
      overflow-y: auto;
      box-shadow: 0 1px 10px 0 rgba(192, 192, 192, 0.7);
      li {
        padding: 5px;
        background-color: $color-pf-white;
        @include Border(1px, solid, $color-pf-black-300);
        border-top: none;
        &:hover { background-color: $color-pf-black-500; }
        &.selected { background-color: $color-pf-black-200; }
      }
    }
  }
}
