<!--Iteration Start-->
<div class="f8-itr">
  <!-- Active iteration -->
    <div class="f8-itr__panel margin-bottom-15">
      <div class="f8-itr__panel-hdr f8-itr__panel-hdr--active nohover">
        <div class="f8-itr__add"
          [class.show]="sidePanelOpen"
          [class.hide]="!sidePanelOpen">
          <a *ngIf="loggedIn && editEnabled"
            class="text-right"
            (click)="modal.openCreateUpdateModal('create', null, $event);">
            <i class="pficon-add-circle-o pull-right f8-itr__add-btn"
              id="add-iteration-icon" placement="bottom"
              tooltip="Add an Iteration"></i>
          </a>
        </div>
        <span class="pull-left fa fa-repeat margin-right-15
          padding-top-2 padding-bottom-3"
          tooltip="{{sidePanelOpen ? '' : 'Active Iteration'}}"
          placement="right"></span>
        <h3 class="padding-0 margin-0"
          [class.show]="sidePanelOpen"
          [class.hide]="!sidePanelOpen">
          Iterations
        </h3>
      </div>
      <ul
        [class.show]="sidePanelOpen"
        [class.hide]="!sidePanelOpen">
        <li class="active f8-itr__container padding-v-2 padding-right-15 padding-left-5"
          *ngFor="let iteration of activeIterations">
          <a
          [routerLinkActive]="'f8-itr--selected'"
          [routerLink]="[]" [attr.data-id]="iteration.id"
          [queryParams]="showTree ?
              { q: constructURL(iteration.id), showTree: showTree } :
              { q: constructURL(iteration.id) }">
              <span id="{{iteration.resolvedParentPath +
                  '/' + iteration.name }}">
                {{iteration.resolvedParentPath +
                  '/' + iteration.name | truncate : -20   }}
              </span>
              <span class="fa pull-right margin-top-3"
                [class.fa-check]="iteration.selected"></span>
              <span
                *ngIf="iteration.isActive"
                class="active-tag pull-right margin-right-5">
                  [Active]
              </span>
          </a>
        </li>
      </ul>
      <form role="form"
        class="search-pf has-button padding-h-15"
        [class.show]="sidePanelOpen"
        [class.hide]="!sidePanelOpen">
        <div class="form-group">
          <div class="search-pf-input-group">
            <label for="search4" class="sr-only">Search</label>
            <input id="search4" type="search" class="form-control" placeholder="Search is not functional" readonly>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit" disabled>
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
    </div>
    <!-- Nested Iteration Display -->
    <div class="f8-itr__panel f8-itr__panel--nested"
      [class.show]="sidePanelOpen"
      [class.hide]="!sidePanelOpen">
      <iteration-tree
        [iterationList]="treeIterations"
        [collection]="collection"
        [witGroup]="witGroup"
        [showTree]="showTree"
        (onEditIteration)="onEdit($event)"
        (onCloseIteration)="onClose($event)"
        (onCreateIteration)="onCreateChild($event)">
      </iteration-tree>
    </div>
</div>
<!-- Iteration End-->

<fab-planner-iteration-modal #modal>
</fab-planner-iteration-modal>
