@import (reference) '../../../assets/stylesheets/_base';
@import (reference) '../../../assets/stylesheets/shared/_utilities';

.f8-itr {
  color: @color-pf-white;
  background-color: @color-pf-black-900;
  &-hdr {
    display: block;
    padding: 20px 15px;
    border-left: 4px solid;
    border-left-color: transparent;
    cursor: default; // as item is not clickable
    &.nohover {
      h3 {
        color: @color-pf-black-500;
      }
    }
    &:not(.nohover):hover {
      background: @color-pf-black-700;
    }
  }
  &__container {
    padding: 0;
    list-style: none;
    li {
      padding-top: 5px;
      padding-right: 15px;
      padding-left: 40px;
      padding-bottom: 5px;
      &:first-child {
        border-top: 1px solid;
        border-top-color: @color-pf-black;
      }
      a {
        padding: 5px 10px;
        color: @color-pf-white;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .fa {
      width: 15px;
    }
    &:focus {
      outline: none;
    }
  }
  &__list {
    border-top: 1px solid;
    border-top-color: @color-pf-black;
  }
}
