<div class="environment-widget card-pf card-f8">
  <div class="card-pf-heading">
    <h2 class="card-pf-title">
      <a [routerLink]="[contextPath | async, 'create', 'environments']">Applications</a>
      <span class="badge card-f8-badge">{{appsCount}}</span>
    </h2>
  </div>
  <div class="card-pf-body card-f8-body">
    <div class="blank-slate-f8-card" *ngIf="appsCount === 0">
      <div class="blank-slate-f8-icon">
        <span class="pficon pficon-add-circle-o"></span>
      </div>
      <h3>This space has no applications</h3>
      <p>
        Applications are shown once you deploy your code through a pipeline onto the defined environments.
      </p>
    </div>
    <ul class="list-group" *ngIf="appsCount > 0">
      <li class="list-group-item" *ngFor="let env of loadedEnvironments">
        <h3>{{env.name}}</h3>
        <div><a href="{{env.apps.deployUrl}}" target="_blank">{{env.apps.name}}</a> - {{env.apps.version}}</div>
      </li>
    </ul>
  </div>
</div>
