<div class="environment-widget card-pf">
  <div class="card-pf-heading">
    <h2 class="card-pf-title">
      <span>Environment</span>
      <span class="badge">3</span>
    </h2>
  </div>
  <div class="card-pf-body">
    <div class="blank-slate-pf" >
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-add-circle-o"></span>
      </div>
      <h1>This space has no environments</h1>
      <p>
        Environments are created when you set up  a project and define the environments
        and pipeline for your code to deploy to.
      </p>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg">Add to space</button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
       <h2><strong>BalloonPopGame_Integration</strong></h2>
       <div style="display:table">
        <div class="col-md-4">
          <a>3 Pods </a>
          <a>8 Services</a>
        </div>
        <div class="col-md-4">
          <a>2 configmaps</a>
          <a>2 replicasets</a>
        </div>
        <div class="col-md-4">
          <a>16 deployments</a>
          <a>8 secrets</a>
        </div>
       </div>
      </li>
      <li class="list-group-item">
       <h2><strong>BalloonPopGame_Integration</strong></h2>
       <div style="display:table">
        <div class="col-md-4">
          <a>3 Pods </a>
          <a>8 Services</a>
        </div>
        <div class="col-md-4">
          <a>2 configmaps</a>
          <a>2 replicasets</a>
        </div>
        <div class="col-md-4">
          <a>16 deployments</a>
          <a>8 secrets</a>
        </div>
       </div>
      </li>
    </ul>
  </div>
</div>
