<div class="f8-cf">
  <!-- Custom Filters -->
  <div class="f8-cf__hdr nohover">
    <span class="dib fa fa-filter margin-right-15
      padding-top-2 padding-bottom-3"
      tooltip="{{sidePanelOpen ? '' : 'My Filters'}}"
      placement="right"></span>
    <h3 class="padding-0 margin-0"
      [class.dib]="sidePanelOpen"
      [class.hide]="!sidePanelOpen">
      My Filters ({{ customQueries.length }})
    </h3>
  </div>
  <ul class="list-group"
    [class.show]="sidePanelOpen"
    [class.hide]="!sidePanelOpen">
    <li class="f8-cf__list-type"
      *ngFor="let query of customQueries"
      [class.f8-cf--selected]="query?.selected"
      [routerLink]="[]"
      [queryParams]="showTree ?
        { q: constructUrl(query.attributes.fields), showTree: showTree } :
        { q: constructUrl(query.attributes.fields) }">
      <a [routerLink]="[]" [attr.data-id]="query.id"
        [queryParams]="showTree ? { q: constructUrl(query.attributes.fields), showTree: showTree } : { q: constructUrl(query.attributes.fields) }">
          <span id="query.attributes.title">
            {{ query.attributes.title  | truncate : 15}}
          </span>
      </a>
      <div class="dropdown-kebab-pf pull-right dropdown f8-cf-kebab" dropdown>
        <button class="btn btn-link dropdown-toggle"
          type="button"
          aria-haspopup="true"
          aria-expanded="true"
          (click)="stopPropagation($event)"
          id="{{'cf-kebab-' + counter}}"
          dropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu-right dropdown-menu" *dropdownMenu>
          <li>
            <a class="pointer" (click)="confirmCustomQueryDelete($event, query)">
              Delete
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
