<div class="padding-15">
  <div class="row padding-bottom-15">
    <div class="col-md-12">
      <div><a routerLink="/home" routerLinkActive="active">Home</a> &gt; Remaining Characters</div>
    </div>
  </div>
  <div class="example-container">

  <h3>Max limit: 20, warn when 5 or less remaining, disable button after max limit</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="sr-only" for="example1">Example 1</label>
        <alm-remainingchars [config]="config1" #remainingchars
                            (onChange)="handleChange($event)"
                            (onOverCharsMaxLimit)="handleOverCharsMaxLimit($event)"
                            (onUnderCharsMaxLimit)="handleUnderCharsMaxLimit($event)">
        </alm-remainingchars>
      </div>
      <span class="pull-right chars-remaining-pf">
        <span #remainingCountElement1></span>
        <button class="btn btn-default"
                [disabled]="charsMaxLimitExceeded"
                (click)="setElementFocus($event, remainingchars)">Set focus</button>
      </span>
    </div>
  </div>
  <h3>Max limit: 10, warn when 2 or less remaining, block input after max limit</h3>
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label class="sr-only" for="example2">Example 2</label>
          <alm-remainingchars [config]="config2"></alm-remainingchars>
        </div>
        <span class="pull-left">
          <button class="btn btn-default">Submit</button>
        </span>
        <span class="pull-right chars-remaining-pf padding-top-3">
          <span #remainingCountElement2></span>
        </span>
      </form>
    </div>
  </div>
  <h3>Max limit: 10, warn when 5 or less remaining, block input after max limit</h3>
  <div class="row">
    <div class="col-md-2 padding-right-0">
      <label class="sr-only" for="example3">Example 3</label>
      <alm-remainingchars [config]="config3"></alm-remainingchars>
    </div>
    <div class="col-md-10 padding-left-10">
      <span class="chars-remaining-pf">
        <span #remainingCountElement3></span>
        <span>Remaining</span>
      </span>
    </div>
  </div>
  </div>
</div>
