<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog f8-modal-dialog">
    <div class="modal-content about-modal-pf f8-about-modal">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span class="pficon pficon-close"></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="product-versions-pf">
            <img _ngcontent-c8=""
              class="logo margin-bottom-15 padding-bottom-10"
              src="../../../assets/images/OpenShift-io_logo.png" />
            <ul class="list-unstyled margin-top-15">
              <li><strong>Build</strong> <span *ngIf="about.buildNumber">#{{about.buildNumber}}</span></li>
              <li><strong>Time stamp</strong><span *ngIf="about.buildNumber"> {{about.buildTimestamp}}</span></li>
            </ul>
          </div>
        <div class="trademark-pf">
          Copyright &copy;2018 Red Hat,Inc.
        </div>
        <div class="modal-footer">
          <img src="../../../assets/images/Logo_RH_RGB_Reverse.png" alt="Red Hat">
        </div>
      </div>
    </div>
  </div>
</div>
