<header class="toolbar-header">
  <pfng-toolbar
    [config]="toolbarConfig"
    [actionTemplate]="actionsTemplate"
    [viewTemplate]="addTemplate"
    (onFilterChange)="filterChange($event)"
    (onFilterFieldSelect)="selectFilterType($event)"
    (onFilterTypeAhead)="filterQueries($event)">
  </pfng-toolbar>
</header>

<ng-template #actionsTemplate>
</ng-template>
<ng-template #addTemplate>
  <input type="checkbox" checked="checked" onclick="return false;" name="Show Tree" id="showTree">
  <label class="show-tree__label" for="showTree">&nbsp;Show Tree</label>
</ng-template>
