<div *ngIf="panelState === 'in'" class="row f8-wi-modal container-cards-pf">
  <div class="f8-wi-modal__header">
    <i class="pficon pficon-close pull-right margin-top-5 pointer"
      (click)="close()">
    </i>
    <h2 class="margin-0">Choose a new work item type</h2>
  </div>
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let type of workItemTypes"
      (click)="select(type)">
      <div class="card-pf card-pf-view card-pf-view-select pointer">
        <div class="card-pf-body">
          <div class="card-pf-top-element">
            <i class="card-pf-icon-circle fa {{type.attributes.icon}}"></i>
          </div>
          <h2 class="card-pf-title text-center">
            {{type.attributes.name}}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
