<div *ngIf="isGettingStartedPage; then showGettingStartedHeader else showHeader"></div>
<ng-template #showGettingStartedHeader>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <img src="../../../assets/images/openshift-io_white.png" class="navbar-getting-started-logo" />
     <!-- user profile dropdown -->
        <ul id="getting_started_header_rightDropdown" class="nav navbar-nav navbar-right">
          <li class="login-block">
            <a *ngIf="!loggedInUser" (click)="login();">
            <span class="login-block-logged-out-user">
              <i id="getting_started_header_login" class="pficon pficon-user"></i>
            </span>
              Log In
            </a>
          </li>
          <li *ngIf="loggedInUser" dropdown class="pull-right dropdown user-dropdown-menu">
            <a class="user-dropdown dropdown-toggle" title="{{loggedInUser.attributes.fullName}}" dropdownToggle>
              <div *ngIf="loggedInUser" id="getting_started_header_dropdownToggle2" class="user-dropdown-items">
              <span class="user-dropdown__user-icon">
                <span *ngIf="!imgLoaded" class="pficon pficon-user"></span>
                <img (load)="onImgLoad()" src="{{ loggedInUser.attributes.imageURL }}" class="icon-user" [ngClass]="{'show' : imgLoaded,'img-icon' : imgLoaded, 'hide' : !imgLoaded}">
              </span>
              <span class="user-dropdown__username">{{loggedInUser.attributes.fullName}}</span>
              <span class="caret"></span>
            </div>
            </a>
            <ul class="dropdown-menu" *dropdownMenu>
              <!--li class="divider"></li-->
              <li id="getting_started_header_logout">
                <a *ngIf="loggedInUser" (click)="logout();" class="pointer">
                  Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
  </nav>
</ng-template>
<ng-template #showHeader>
  <nav class="navbar navbar-default navbar-inverse navbar-pf navbar-fixed-top" role="navigation" *ngIf="context">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" [ngClass]="{ 'in' : isIn }">
        <ul class="nav navbar-nav">
          <li class="context dropdown recent-items-dropdown" dropdown *ngIf="loggedInUser">
            <a class="recent-items-toggle io-recent-items-active dropdown-toggle" dropdownToggle data-toggle="tooltip" title="{{context.name}}">
              <div id="header_dropdownToggle" class="recent-items-toggle-text">
              <span class="nav-item-icon">
                <span class=" {{context.type?.icon}}"></span>
              </span>
                <span>{{context.name}}</span>
                <span class="nav-item-icon">
                <span class="caret"></span>
              </span>
              </div>
            </a>
            <!-- current Space and recent items dropdown -->
            <ul class="dropdown-menu recent-items" *dropdownMenu>
              <li class="recent-items-toggle" *ngFor="let m of recent">
                <a class="recent-items-toggle-text-dropdown"
                  [routerLink]="[m.path]"
                  *ngIf="m.path !== null && m.path != context.path"
                  data-toggle="tooltip" title="{{m.name}}">
                  <span class="nav-item-icon">
                    <span class=" {{m.type.icon}}"></span>
                  </span>
                  <span>{{m.name}}</span>
                </a>
                <a *ngIf="m.path === null">
                  <span class="nav-item-icon">
                    <span class=" {{m.type.icon}}"></span>
                  </span>
                  <span>{{m.name}}</span>
                </a>
              </li>
              <li class="divider"></li>
              <li id="header_createSpace">
                <a (click)="openForgeWizard(spaceWizard)">
                <span class="nav-item-icon">
                  <i class="pficon pficon-add-circle-o"></i>
                </span>
                  Create space
                </a>
              </li>
              <li id="header_mySpaces">
                <a [routerLink]="[loggedInUser.attributes.username,'_myspaces']">
                  <span class="nav-item-icon">
                    <i class="pficon pficon-user"></i>
                  </span>
                  My spaces
                </a>
              </li>
              <li id="header_viewAllSpaces">
                <a [routerLink]="[loggedInUser.attributes.username,'_spaces']">
                <span class="nav-item-icon">
                  <i class="fa fa-th"></i>
                </span>
                  View all spaces
                </a>
              </li>
              <li class="divider"></li>
              <li id="header_accountHome">
                <a [routerLink]="['_home']">
                <span class="nav-item-icon">
                  <i class="pficon pficon-home"></i>
                </span>
                  Account home
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- user profile dropdown -->
        <ul id="header_rightDropdown" class="nav navbar-nav navbar-right">
          <li id="header_status" dropdown class="dropdown status-dropdown" placement="top" tooltip="Status: Ok" (onShown)="onStatusListVisible(true)" (onClose)="onStatusListVisible(false)">
            <a (onHidden)="onStatusList(false)" class="dropdown-toggle" dropdownToggle>
              <span class="pficon pficon-ok pficon-white"></span>
            </a>
            <div class="dropdown-menu infotip bottom-right" *dropdownMenu>
              <div class="arrow"></div>
              <ul class="list-group" *ngIf="statusListVisible">
                <fabric8-status-list></fabric8-status-list>
              </ul>
            </div>
          </li>
          <li class="login-block">
            <a *ngIf="!loggedInUser" (click)="login();">
            <span class="login-block-logged-out-user">
              <i id="header_login" class="pficon pficon-user"></i>
            </span>
              Log In
            </a>
          </li>
          <li *ngIf="loggedInUser" dropdown class="pull-right dropdown user-dropdown-menu">
            <a class="user-dropdown dropdown-toggle" title="{{loggedInUser.attributes.fullName}}" dropdownToggle>
              <div *ngIf="loggedInUser" id="header_dropdownToggle2" class="user-dropdown-items">
              <span class="user-dropdown__user-icon">
                <span *ngIf="!imgLoaded" class="pficon pficon-user"></span>
                <img (load)="onImgLoad()" src="{{ loggedInUser.attributes.imageURL }}" class="icon-user" [ngClass]="{'show' : imgLoaded,'img-icon' : imgLoaded, 'hide' : !imgLoaded}">
              </span>
              <span class="user-dropdown__username">{{loggedInUser.attributes.fullName}}</span>
              <span class="caret"></span>
            </div>
            </a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li id="header_loggedinProfile">
                <a [routerLink]="[loggedInUser.attributes.username]">
                  Profile
                </a>
              </li>
              <li id="header_loggedinAbout">
                <a (click)="aboutModal.open()" class="pointer">
                  About
                </a>
              </li>
              <li id="header_loggedinChat">
                <a href="https://chat.openshift.io/developers/channels/town-square" target="top" class="pointer">
                  Chat
                </a>
              </li>
              <li class="divider"></li>
              <li id="header_loggedinHelp">
                <a href="https://docs.openshift.io" target="top" class="pointer">
                  Documentation
                </a>
              </li>
              <li class="divider"></li>
              <li id="header_logout">
                <a *ngIf="loggedInUser" (click)="logout();" class="pointer">
                  Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- secondary navigation for all sub-links -->
        <ul class="nav navbar-nav navbar-primary persistent-secondary">
          <li *ngFor="let m of context?.type?.menus" [class.active]="m.active" [class.with-no-children]="(m.menus||[]).length===0">
            <a [routerLink]="[m.fullPath]" *ngIf="!m.hide">
            <span *ngIf="m.icon" class="nav-item-icon">
              <span class="{{m.icon}}"></span>
            </span>
              <span *ngIf="m.name">{{m.name}}</span>
            </a>
            <ul class="nav navbar-nav navbar-persistent" *ngIf="m.menus">
              <li *ngFor="let n of m.menus" [class.active]="n.active">
                <a [routerLink]="[n.fullPath]" [queryParams]="plannerFollowQueryParams" *ngIf="!n.hide">
                <span>
                  {{n.name}}
                </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div> <!-- .navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
  <ng-template #spaceWizard>
    <space-wizard (onSelect)="selectFlow($event)" (onCancel)="closeModal()" [style.display]="selectedFlow !== 'start' ? 'none': ''"></space-wizard>
    <flow-selector (onSelect)="selectFlow($event)" (onCancel)="closeModal()" [space]="space" [style.display]="selectedFlow !== 'selectFlow' ? 'none': ''"></flow-selector>
    <import-wizard (onCancel)="closeModal()" [style.display]="selectedFlow !== 'import' ? 'none': ''"></import-wizard>
    <quickstart-wizard (onCancel)="closeModal()" [style.display]="selectedFlow !== 'quickstart' ? 'none': ''"></quickstart-wizard>
  </ng-template>
  <fab-about-modal #aboutModal>
  </fab-about-modal>
</ng-template>
