@import (reference) '../../../../assets/stylesheets/shared/osio.less';

.blank-slate-pf { margin-top: 20px; }
.codebase-item {
  display: inline-flex;
  width: 100%;
  // return display property back to PatternFly default
  .list-pf-icon {
    display: flex;
  }
  // return font-size back to PatternFly default
  .list-pf-icon-small {
    font-size: 1.4em;
  }
}
.pfng-list-heading {
  background-color: @color-pf-black-200 !important; /* stylelint-disable-line declaration-no-important */
}
.list-pf-item {
  background-color: @color-pf-white;
  border-right-color: @color-pf-black-200;
  border-left-color: @color-pf-black-200;
}
