<!--Type Start-->
<div class="type-panel-header pointer ">
  <h3>Types</h3>
</div>
<div class="types-container ">
  <div class="type-wrapper">
    <div class="types">
      <ul class="not-current-type type-expanded-div">
        <li class="type-subheader ">
          <div class="truncate flex-container">
            <strong class="type-name "
              tooltip="User Story"
              placement="top"
              (click)='getWorkItemsByType("userstory")'>
              User Story
            </strong>
          </div>
        </li>
        <li class="type-subheader ">
          <div class="truncate flex-container">
            <strong class="type-name "
              tooltip="User Story"
              placement="top"
              (click)='getWorkItemsByType("bug")'>
              Bug
            </strong>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- type End-->
