@import '../../../assets/stylesheets/base';

.create-work-item-widget {
  .card-f8-body {
    overflow-y: hidden;
  }
}
.card-pf-title {
  display: inline-flex;
}
.combobox {
  width: 330px;
  @media (max-width: 1281px) {
    width: 50%;
  }
  position: absolute;
  top: 15px;
  right: 25px;
}
.work-item-title {
  position: absolute;
  left: 115px;
  width: 425px;
  @media (max-width: 1281px) {
    width: 65%;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blank-slate-workitem-card {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
  p {
    margin-bottom: 20px;
    margin-top: 20px;
    &:first-child {
      margin-top: -20px;
    }
    &:last-child {
      margin-top: 40px;
    }
  }
}
.list-view-pf-view {
  margin-top: 0;
}
.create-work-item-icon {
  padding-top: 2px;
  padding-right: 10px;
}
.create-work-item-link {
  padding-left: 10px;
}
