<div class="card-pf f8-card">
  <div class="card-pf-heading-bg">
    <div class="card-pf-heading f8-card-heading">
      <h2 class="card-pf-title">
        My Connected Accounts
        <!-- <span id="connected-acounts-badge" class="badge f8-card-badge">2</span> -->
      </h2>
    </div>
  </div>
  <div class="card-pf-body f8-card-body">
    <!-- <div *ngIf="features.length === 0; then showBlankState else showExpFeature"></div> -->
    <!-- <ng-template #showBlankState> -->

    <!-- </ng-template> -->
    <!-- <ng-template #showExpFeature> -->
      <div class="col-xs-12 f8-card-list">
        <div class="spaces-list-scroll">
          <ul class="list-group list-view-pf list-view-pf-view list-view-pf-striped">
            <li class="list-group-item">
              <div class="list-view-pf-actions">
                <button *ngIf="gitHubLinked" class="btn btn-default" (click)="disconnectGitHub()">Disconnect</button>
                <button *ngIf="!gitHubLinked" class="btn btn-default" (click)="connectGitHub()">Connect</button>
              </div>
              <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                  <div class="list-view-pf-description">
                    <div class="list-group-item-text">
                      <div>
                        <span>
                          <b>GitHub</b>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="list-view-pf-additional-info">
                    <div class="list-view-pf-additional-info-item">
                      <span *ngIf="gitHubLinked">Connected</span>
                      <span *ngIf="!gitHubLinked" class="account-disconnected">Disconnected</span>
                      <button class="btn btn-link" type="button" (click)="refreshGitHub()">
                        <span class="fa fa-refresh"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-view-pf-actions">
                <!-- todo - add actions here  need formatting help to align openshift correctly-->
              </div>
              <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                  <div class="list-view-pf-description">
                    <div class="list-group-item-text">
                      <div>
                        <span>
                          <b>OpenShift</b>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="list-view-pf-additional-info">
                    <div class="list-view-pf-additional-info-item">
                      <span *ngIf="openShiftLinked">{{contextUserName}}</span>
                      <span *ngIf="!openShiftLinked" class="account-disconnected">Not Connected</span>
                      <button class="btn btn-link" type="button" (click)="refreshOpenShift()">
                        <span class="fa fa-refresh"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <!-- </ng-template> -->
  </div>
</div>
