<div [formGroup]="form">
  <label [attr.for]="attributeDesc.key" class="col-sm-2">{{attributeDesc.label}}</label>
  <div [ngSwitch]="attributeDesc.type.kind" class="pull-left">

    <!-- workitemtype field type: string -->
    <input *ngSwitchCase="'string'" [formControlName]="attributeDesc.key" [id]="attributeDesc.key" [type]="text">

    <!-- workitemtype field type: integer -->
    <input *ngSwitchCase="'integer'" [formControlName]="attributeDesc.key" [id]="attributeDesc.key" [type]="text">

    <!-- workitemtype field type: float -->
    <input *ngSwitchCase="'float'" [formControlName]="attributeDesc.key" [id]="attributeDesc.key" [type]="text">

    <!-- workitemtype field type: dropdown -->
    <select *ngSwitchCase="'enum'" [formControlName]="attributeDesc.key" [id]="attributeDesc.key">
      <option *ngIf="!attributeDesc.required" [value]=""></option>      
      <option *ngFor="let opt of attributeDesc.type.values" [value]="opt">{{opt}}</option>
    </select>

    <!-- TODO: -->
    <!-- workitemtype field type: instant -->
    <!-- workitemtype field type: duration -->
    <!-- workitemtype field type: url -->
    <!-- workitemtype field type: iteration -->
    <!-- workitemtype field type: workitem -->
    <!-- workitemtype field type: user -->
    <!-- workitemtype field type: list -->
    <!-- workitemtype field type: markup -->
    <!-- workitemtype field type: area -->
    <!-- workitemtype field type: codebase -->

    <!-- Todd: -->
    <!-- markdown (needs core change, needs rendering field) -->
    <!-- DateTime (needs core change, not in core data types) -->
    <!-- 'History' of WI (needs core change, not in core data types) -->
    <!-- TreePath (e.g. Areas and Iterations) (already in fixed fields) -->
    <!-- Boolean (needs core change, not in core data types) -->

  </div> 
  <button class="btn btn-lg btn-default" type="button" (click)="save()">
    <span class="fa fa-check"></span>
  </button>
  <button class="btn btn-lg btn-default" type="button" (click)="cancel()">
    <span class="pficon pficon-close"></span>
  </button>
  <div class="errorMessage" *ngIf="!isValid()">{{attributeDesc.label}} is not given or not in the right format.</div>
  <div class="errorMessage" *ngIf="error">Error on {{attributeDesc.label}}: {{error}}.</div>
</div>