<div [formGroup]="form">
  <label [attr.for]="formDesc.key">{{formDesc.label}}</label>
  <div [ngSwitch]="formDesc.controlType">
    <input *ngSwitchCase="'textbox'" [formControlName]="formDesc.key" [id]="formDesc.key" [type]="question.type">
    <select [id]="formDesc.key" *ngSwitchCase="'dropdown'" [formControlName]="formDesc.key">
      <option *ngFor="let opt of formDesc.options" [value]="opt.key">{{opt.value}}</option>
    </select>
  </div> 
  <div class="errorMessage" *ngIf="!isValid">{{formDesc.label}} is required</div>
</div>