<div class="row row-cards-pf center" *ngIf="buildconfig">
  <div class="col-xs-12">
    <div class="card-pf">
      <h2 class="card-pf-title">Edit buildconfig {{buildconfig.name}}</h2>
      <div class="card-pf-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <textarea data-id="sourceInput" name="sourceInput" class="form-control" [(ngModel)]="yamlEditor.yaml"
                        rows="50"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
