<div id="pipelines" class="">
  <div class="toolbar-header-pipelines">
      <pfng-toolbar [config]="toolbarConfig"
                    [viewTemplate]="addOpenShiftConsoleLink"
                    (onFilterChange)="filterChange($event)"
                    (onSortChange)="sortChange($event)">
        <ng-template #addOpenShiftConsoleLink>
          <div class="openshift-links" placement="bottom">
            <div class='pull-right dropdown-kebab-pf dropdown' dropdown>
              <button class='btn btn-link pull-right dropdown-toggle' type='button'
                      aria-haspopup='true' aria-expanded='true' dropdownToggle>
                <span class='fa fa-ellipsis-v'></span>
              </button>
              <ul class='dropdown-menu-right dropdown-menu' aria-labelledby='dropdownKebabRight9' role="menu" *dropdownMenu>
                <li>
                  <f8-feature-toggle featureName="AppLauncher">
                    <a id="appWizardAnchor" class="feature-anchor" (click)="openForgeWizard(updateSpace)" default-level>Add to Space</a>
                    <a id="appLauncherAnchor" class="feature-anchor" (click)="showAddAppOverlay()" user-level>Add to Space</a>
                  </f8-feature-toggle>
                </li>
                <li class="divider"></li>
                <li [ngClass]="{'disabled': !consoleAvailable}">
                  <a [href]="openshiftConsoleUrl" *ngIf="consoleAvailable; else consoleDisabled" target="_blank">
                    Open in OpenShift Console
                  </a>
                  <ng-template #consoleDisabled>
                    <a tooltip="Openshift Console unavailable" target="_blank" disabled>
                      Open in OpenShift Console
                    </a>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </pfng-toolbar>
  </div>

  <div class="container-fluid pipeline-list-container">
    <div class="row">
      <div class="col-md-12">
        <div class="pipeline-list-view">
          <fabric8-pipelines-list [pipelines]="pipelines" [loading]="false"></fabric8-pipelines-list>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Forge wizard modal -->
<ng-template #updateSpace>
  <flow-selector (onSelect)="selectFlow($event)" (onCancel)="closeModal()" [space]="space?.attributes.name" *ngIf="!selectedFlow"></flow-selector>
  <import-wizard (onCancel)="closeModal()" *ngIf="selectedFlow === 'import'"></import-wizard>
  <quickstart-wizard (onCancel)="closeModal()" *ngIf="selectedFlow === 'quickstart'"></quickstart-wizard>
</ng-template>
