@import '../../assets/stylesheets/_base';
.sort-pf {
  .btn-link {
    margin-left: 10px;
    padding: 4px 0;
    min-width: 0;
    color: #252525;
    font-size: 16px;
    line-height: 1;
    &:hover { color: #0088ce; }
  }
}
