@import '../../../assets/stylesheets/_base';

.f8-detail {
  &__header {
    background: @color-pf-black-200;
  }
  &__edit-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__wi-title {
    &--edit {
      padding: 0 2px;
      margin-right: 100px;
      line-height: 1.3;
      background: @color-pf-white;
      .Border(1px, solid, @color-pf-blue);
    }
  }
}
