<div class="analytical-report-widget card-pf card-pf-utilization">
  <div class="card-pf-heading">
    <h2 class="card-pf-title">Stack Report</h2>
  </div>
  <div class="card-pf-body card-f8-body">
    <form>
      <div class="form-group">
        <!--<div class="combobox-container">
          <input type="hidden" name="" value="">
          <div class="input-group col-sm-7">
            <input type="text" autocomplete="false" placeholder="Select your build/pipeline" class="combobox form-control">
            <span class="input-group-addon dropdown-toggle" data-dropdown="dropdown">
              <span class="caret"></span>
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </div>
        </div>-->
        <select name="pipeSelect" [(ngModel)]="currentPipeline" (change)="selectedPipeline()" class="combobox form-control">
          <option value="" selected="selected">select your build/pipeline</option>
          <option *ngFor="let build of buildConfigs | async" [ngValue]="build">{{ build.name }}</option>
        </select>
      </div>
    </form>
    <div class="pipeline-builds">
      <div *ngFor="let build of currentPipelineBuilds">
        <a>Build #{{build.buildNumber}}</a>
        <div *ngIf="build && build.annotations && build.annotations['fabric8.io/bayesian.analysisUrl']">
          You can view the stack analysis reports here: <stack-details *ngIf="build && build.annotations && build.annotations['fabric8.io/bayesian.analysisUrl']" [stack]="build && build.annotations && build.annotations['fabric8.io/bayesian.analysisUrl']"></stack-details>
        </div>
      </div>
    </div>
  </div>
  <div class="card-pf-footer card-f8-footer">
    <!-- <button class="btn btn-default pull-right">
      <i class="fa fa-external-link"></i> See All
    </button> -->
  </div>
</div>
