@import '../../../assets/stylesheets/base';

@mixin transform-translate($x, $y) {
    -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y);
          transform: translate($x, $y);
}

.fifty-shades-of-grey {
  color: $color-pf-black-500;
}

.card-pf-body {
    &.analytical-report-body {
        position: relative;
        .pipelines-absent {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            top: 20%;
            position: relative;
            @include transform-translate(0%, -20%);
            h2 {
                margin: 0 0 40px 0;
            }
        }
    }
}


