<div class="my-spaces-page">
  <my-spaces-toolbar
    (onCreateSpace)="showAddSpaceOverlay()"
    (onSearchSpaces)="showSearchSpacesOverlay()"
    (onFilterChange)="filterChange($event)"
    (onSortChange)="sortChange($event)"
    [resultsCount]="resultsCount">
  </my-spaces-toolbar>
  <div class="container-fluid margin-bottom-20">
    <div class="row">
      <div class="col-sm-12">
        <pfng-list
            [actionHeadingTemplate]="actionHeadingTemplate"
            [actionTemplate]="actionTemplate"
            [config]="listConfig"
            [items]="spaces"
            [itemHeadingTemplate]="itemHeadingTemplate"
            [itemTemplate]="itemTemplate"
            (onPinChange)="handlePinChange($event.item)"
            (onActionSelect)="handleAction($event)">
          <ng-template #itemHeadingTemplate>
            <my-spaces-item-heading></my-spaces-item-heading>
          </ng-template>
          <ng-template #itemTemplate let-item="item" let-index="index">
            <my-spaces-item [space]="item"></my-spaces-item>
          </ng-template>
          <ng-template #actionHeadingTemplate>
            <!-- Extra margin for kebab -->
            <span class="margin-right-5"></span>
          </ng-template>
          <ng-template #actionTemplate let-item="item" let-index="index">
            <my-spaces-item-actions [space]="item"
                                    (onDeleteSpace)="confirmDeleteSpace($event, deleteSpace)"
                                    (onPinChange)="handlePinChange($event)"></my-spaces-item-actions>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </div>
</div>

<!-- Delete Space modal -->
<ng-template #deleteSpace title="Remove the space">
  <div class="modal-header">
    <button class="close" aria-label="Close" type="button"
            (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <dt class="modal-title">Remove Space</dt>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to remove the space?</h2>
    <button class="btn btn-cancel" (click)="closeModal()">Cancel</button>
    <button class="btn btn-danger" (click)="removeSpace()">Remove</button>
  </div>
</ng-template>

<my-spaces-search-spaces-dialog></my-spaces-search-spaces-dialog>
