<div class="my-spaces-page">
  <my-spaces-toolbar
      (onCreateSpace)="openForgeWizard(createSpace)"
      (onFilterChange)="filterChange($event)"
      (onSortChange)="sortChange($event)"
      [resultsCount]="resultsCount">
  </my-spaces-toolbar>
  <div class="container-fluid margin-bottom-20">
    <div class="row">
      <div class="col-sm-12">
        <pfng-list
            [actionHeadingTemplate]="actionHeadingTemplate"
            [actionTemplate]="actionTemplate"
            [config]="listConfig"
            [items]="spaces"
            [itemHeadingTemplate]="itemHeadingTemplate"
            [itemTemplate]="itemTemplate"
            (onActionSelect)="handleAction($event)"
            (onPinChange)="handlePinChange($event.item)"
            *ngIf="showSpaces">
          <ng-template #itemHeadingTemplate>
            <my-spaces-item-heading class="space-item"></my-spaces-item-heading>
          </ng-template>
          <ng-template #itemTemplate let-item="item" let-index="index">
            <my-spaces-item [space]="item" class="space-item"></my-spaces-item>
          </ng-template>
          <ng-template #actionHeadingTemplate>
            <!-- Extra margin for kebab -->
            <span class="margin-right-5"></span>
          </ng-template>
          <ng-template #actionTemplate let-item="item" let-index="index">
            <my-spaces-item-actions [space]="item"
                                    (onDeleteSpace)="confirmDeleteSpace($event, deleteSpace)"
                                    (onPinChange)="handlePinChange($event)"></my-spaces-item-actions>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </div>
</div>

<!-- Create Space modal -->
<ng-template #createSpace>
  <space-wizard (onSelect)="selectFlow($event)" (onCancel)="closeModal()" [style.display]="selectedFlow !== 'start' ? 'none': ''"></space-wizard>
  <flow-selector (onSelect)="selectFlow($event)" (onCancel)="closeModal()" [space]="space" [style.display]="selectedFlow !== 'selectFlow' ? 'none': ''"></flow-selector>
  <import-wizard (onCancel)="closeModal()" [style.display]="selectedFlow !== 'import' ? 'none': ''"></import-wizard>
  <quickstart-wizard (onCancel)="closeModal()" [style.display]="selectedFlow !== 'quickstart' ? 'none': ''"></quickstart-wizard>
</ng-template>

<!-- Delete Space modal -->
<ng-template #deleteSpace title="Remove the space">
  <div class="modal-header">
    <button class="close" aria-label="Close" type="button"
            (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <dt class="modal-title">Remove Space</dt>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to remove the space?</h2>
    <button class="btn btn-cancel" (click)="closeModal()">Cancel</button>
    <button class="btn btn-danger" (click)="removeSpace()">Remove</button>
  </div>
</ng-template>
