<div id="profile" class="content container">
  <h2>Public Profile</h2>

  <div class="row">

    <div class="col-md-9">
      <form class="form-horizontal" (ngSubmit)="save()">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" id="name" class="form-control" name="name" [(ngModel)]="dummy.currentUser.attributes.fullName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="email">Public Email</label>
          <div class="col-sm-10">
            <input type="text" id="email" class="form-control" placeholder="Don't show my email address" name="email" [(ngModel)]="publicEmail">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="bio">Bio</label>
          <div class="col-sm-10">
            <input type="text" id="bio" class="form-control" name="bio" [(ngModel)]="dummy.currentUser.attributes.bio">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="url">URL</label>
          <div class="col-sm-10">
            <input type="text" id="url" class="form-control" name="url" [(ngModel)]="dummy.currentUser.attributes.url">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right" value="0">Update profile</button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-3">
      <!-- TODO Enable this -->
      <img src="https://avatars2.githubusercontent.com/u/157761?v=3&s=460" class="center-block" width="150" height="250" />
      <button type="button" class="btn btn-primary center-block">Upload new picture</button>
    </div>
  </div>
</div>
