$icon-path:'../../../../assets/icon/';
@import '../../../../assets/stylesheets/base';
@import '../../../../assets/stylesheets/_icons';
@import '../../../../assets/stylesheets/shared/_layout';

:host {

  $expander-width:40px;
  $input-width:40px;
  $input-right-spacing: 10px;
  $input-left-spacing: 10px;
  $collapsible-offset: $expander-width + $input-width + $input-right-spacing + $input-left-spacing;
  $icon-offset:0.3rem;

  ul.selection-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display:flex;
      margin: 0;
      padding: 0;
      overflow: hidden;
      >.selection-list-expander {
        padding-right:1.0rem;
        padding-top:$icon-offset ;
        width:$expander-width !important;
      }

      >.selection-list-input {
        width:$input-width !important;
        margin-left:$input-left-spacing;
        margin-right:$input-right-spacing;
      }

      >.selection-list-panel {
        flex-grow:1;
        &.collapsible {
          margin-left:-$collapsible-offset;
          padding-left:$collapsible-offset;
        }
      }

      .list-item-panel
      {
        display:flex;
        flex-direction:row;
        .list-item-icon
        {
          background-color:transparent !important;
          margin-right:$grid-gutter-width/2;
          padding:$grid-gutter-width/4;
          padding-top:$icon-offset;
        }
        .list-item-view {
          &.collapsible {
            margin-left:-$collapsible-offset;
          }
        }
        .list-item-content {
          flex-grow:1;
          padding:5px;
          .list-item-label {
            font-weight:bold;
          }
          .list-item-details {
            font-size: smaller;
            white-space: pre-line;
          }
        }
        // determines if icon is next to (default) or above the item content
        &.vertical-layout {
          flex-direction:column-reverse;
          div.list-item-icon
          {
            width:100%;
          }
        }
      }

      &.selected {
        border:solid 3px $color-pf-black-300;
        background-color: $color-pf-black-300;
      }

    }
  }
}
