<ul class="selection-list">
  <li title="{{choice.name}}" [class.selected]="field.value === choice.id" (click)="field.value=choice.id;appGenerator.validate()" *ngFor="let choice of field.display.choices">
    <div class="selection-list-expander" *ngIf="choice.collapsible===true" title="{{choice.collapsed?'Show':'Hide'}} '{{choice.name}}' pipeline details ..."
      (click)="choice.collapsed=!choice.collapsed;$event.stopPropagation();">
      <span [class.fa-angle-right]="choice.collapsed===true" [class.fa-angle-down]="choice.collapsed===false" class="fa fa-2x fa-angle-right"></span>
    </div>
    <input class="selection-list-input user-select-none form-control" title="{{choice.name}}" [checked]="field.value === choice.id" [value]="choice.id"
      type="radio" name="{{field.name}}" readonly="false" [disabled]="field.display.enabled===false">
    <div [class.collapsible]="choice.collapsible===true" class="selection-list-panel user-select-none cursor-pointer">
      <div class="list-item-panel" [class.vertical-layout]="choice.verticalLayout===true" [class.selected]="field.value === choice.id">
        <div class="list-item-icon" *ngIf="choice.hasIcon===true && choice.view==='image'">
          <div [ngClass]="[choice.icon]"></div>
        </div>
        <app-generator-build-pipeline-view class="list-item-view"  [class.collapsible]="choice.collapsible===true"  *ngIf="choice.hasView===true && choice.view === 'buildPipelineView'" [buildPipeline]="choice.model"></app-generator-build-pipeline-view>
        <div class="list-item-content">
          <div class="list-item-label"><label for="{{field.name}}">{{choice.name}}</label></div>
          <div class="list-item-details" [hidden]="choice.collapsible===true && choice.collapsed===true" *ngIf="choice.description" [innerHTML]="choice.description"></div>
        </div>
      </div>
    </div>
  </li>
</ul>
