@import (reference) '../../../../../assets/stylesheets/shared/osio.less';

.deployment-chart {
  display: flex;
  margin-left: -20px;
  padding-left: 16px;
}

.resource-usage-header {
  padding-top: 20px;
  font-weight: 600;
  font-size: .9em;
}

.chart-info-header {
  margin-bottom: 10px;
}

.chart-column {
  flex: 1;
  height: 100%;
  &-left {
    width: 65%;
  }
  &-right {
    width: 35%;
  }
}

.resource-badge {
  background: #fef5eb;
  color: black;
  font-weight: 200;
  font-size: 1em !important;
  border-style: solid;
  border-width: 3px;
  border-color: #fef5eb;
}

.chart-warn {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: @color-pf-orange-300;
  padding-left: 12px;
}

.chart-err {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: @color-pf-red-100;
  padding-left: 12px;
}

.label-warn {
  color: @color-pf-orange;
}

.label-err {
  color: @color-pf-red-100;
}
