@import (reference) '../../../../../assets/stylesheets/shared/osio.less';

.deployment-chart {
  display: flex;
}

.resource-usage-header {
  padding-top: 20px;
  font-weight: 600;
  font-size: .9em;
}

.chart-info-header {
  margin-bottom: 10px;
}

.chart-column {
  flex: 1;
  height: 100%;
  &-left {
    width: 65%;
  }
  &-right {
    width: 35%;
  }
}
