<deployments-toolbar (onFilterChange)="filterChange($event)" (onSortChange)="sortChange($event)" [resultsCount]="resultsCount">
</deployments-toolbar>

<div *ngIf="(hasLoaded | async); else loading">
  <div *ngIf="applicationsList.length > 0; else emptystate">
    <div class="cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-4 col-md-2">
          <h3>
            <b>Applications</b>
          </h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <h3>
            <b>Environments</b>
          </h3>
        </div>
      </div>
    </div>

    <deployment-card-container
      [spaceId]="spaceId | async"
      [spaceName]="spaceName | async"
      [applications]="applicationsList"
      [environments]="environments"
    ></deployment-card-container>

  </div>
</div>

<ng-template #loading>
  <div>
    <div class="cards-pf">
      <div class="row row-cards-pf">
        <div>
          <div class="spinner"></div>
          <h3 class="loading-msg">Loading Deployments...</h3>
        </div>
      </div>
    </div>

    <div class="cards-pf">
      <div class="row row-cards-pf">
        <div class="spacer col-xs-12 col-sm-4 col-md-2">&nbsp;</div>
        <div class="filler col-xs-12 col-sm-4 col-md-3">&nbsp;</div>
        <div class="filler col-xs-12 col-sm-4 col-md-3">&nbsp;</div>
      </div>
    </div>

    <div class="cards-pf">
      <div *ngFor="let number of [0,1,2,3]">
        <div class="row row-cards-pf">
          <div class="filler col-xs-12 col-sm-4 col-md-2">&nbsp;</div>
          <div class="filler col-xs-12 col-sm-4 col-md-3"><br><br><br></div>
          <div class="filler col-xs-12 col-sm-4 col-md-3"><br><br><br></div>
        </div>
      </div>
      <br>
    </div>
  </div>
</ng-template>

<ng-template #emptystate>
  <div class="container-fluid applications-empty-state">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="row">
        <img src="../../../../../assets/images/deployments_emptystate_noapplications.png"/>
        <div class="applications-empty-state-text">
          <h2 class="applications-empty-state-text-heading">
            You don't have any applications to deploy.
          </h2>
          <p>
            Deployments give you a view of the applications you have deployed, and the environments they are running in.
          </p>
          <p>
            <a (click)="showAddAppOverlay()">Add an application</a> to get started.
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
