<div [collapse]="collapsed">
  <ng-container *ngIf="!collapsed">
    <hr>
    <deployments-donut [applicationId]="applicationId" [environment]="environment" [spaceId]="spaceId" [mini]="false"></deployments-donut>

    <div class="deployment-chart">
      <div class="chart-column">
        <pfng-chart-sparkline class="chart-sparkline" [config]="cpuConfig" [chartData]="cpuData"></pfng-chart-sparkline>
      </div>
      <div class="chart-column">
        <deployment-graph-label type="CPU" dataMeasure="Cores" [value]="cpuVal" [valueUpperBound]="cpuMax"></deployment-graph-label>
      </div>
    </div>

    <div class="deployment-chart">
      <div class="chart-column">
        <pfng-chart-sparkline class="chart-sparkline" [config]="memConfig" [chartData]="memData"></pfng-chart-sparkline>
      </div>
      <div class="chart-column">
        <deployment-graph-label type="Memory" [dataMeasure]="memUnits" [value]="memVal" [valueUpperBound]="memMax"></deployment-graph-label>
      </div>
    </div>

    <div class="deployment-chart">
      <div class="chart-column">
        <deployments-linechart [spaceId]="spaceId" [applicationId]="applicationId" [environment]="environment"></deployments-linechart>
      </div>
    </div>
  </ng-container>
</div>
