<deployments-toolbar (onFilterChange)="filterChange($event)" (onSortChange)="sortChange($event)" [resultsCount]="resultsCount">
</deployments-toolbar>

<div class="cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-4 col-md-2">
      <h3>
        <b>Applications</b>
      </h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2">
      <h3>
        <b>Environments</b>
      </h3>
    </div>
  </div>
</div>

<div class="cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-4 col-md-2"></div>
    <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let environment of environments | async">
      <h4 class="env-card-title">
        {{environment.name}}
      </h4>
    </div>
  </div>
</div>

<div *ngFor="let application of filteredApplicationsList">
  <deployment-card-container [spaceId]="spaceId | async" [application]="application" [environments]="environments"></deployment-card-container>
</div>
