.filler {
  background-color: white;
  margin: 0px 10px 10px 10px;
}

.spacer {
  margin: 0px 10px 10px 10px;
}

.loading-msg {
  display: inline-block;
  vertical-align: 5px;
}

.spinner {
  margin: 0px 0px 0px 0px;
  display: inline-block;
}
