<span class="pficon-info infotip-icon {{infotipId}}"
  (click)="$event.preventDefault()"
  [class.infotip-bold]="pop.isOpen"
  [popover]="popoverTemplate" [outsideClick]="true" placement="right"
  containerClass="popover-container" #pop="bs-popover">
</span>
<ng-template #popoverTemplate>
    <span class="pficon-close pull-right pointer" 
    (click)="handlePropagation($event); pop.hide();"></span>
  <span class="popover-text" (click)="handlePropagation($event)">{{ infotipText }}</span>
</ng-template>
