@import (reference) './../../../assets/stylesheets/_base';

.user-assign-icon {
  &:extend(.not-assigned-user-icon);
}
.dropdown-toggle {
  color: @color-pf-blue;
}

.user-avatar {
  &--overlap {
    margin-right: 0;
    margin-left: -7px;
    &:first-child {
      margin-left: 0;
    }
  }
}
