.blank-slate-pf {
  background-color: transparent;
}

.rh-branding-logo {
  width: 25%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.status-img {
  height: 100px;
  width: 100px;
}
