@import '../../assets/stylesheets/base';

.side-panel-header {
  border:solid 0 red;
  padding: 0 $grid-gutter-width/2;
  margin:0;
  border-top:1px solid $color-pf-black-200;
  border-bottom: 1px solid $color-pf-black-400;
  background-color: $color-pf-white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}
