@import "../../../assets/stylesheets/variables";
@import "../../../assets/stylesheets/list-group";
@import "../../../assets/stylesheets/list-view";
@import "../../../assets/stylesheets/custom";

.icon-btn,
.icon-btn-disabled{
  font-size: 2em;
  text-decoration: none;
}
.icon-btn{
  color: #0088ce;
  cursor: pointer;
}
.icon-btn-disabled{
  color: #ebebeb;
  cursor: default;
}
.margin10{
  margin-top: 10px;
}
.quickAdd_container{
  position: fixed;
  bottom:0;
  background: #eaeaea;
  z-index: 9;
  padding: $pad20;
  color:#333;
  text-align: left;
  i,h4{
    display: inline-block;
  }
}
@media (max-width: $grid-float-breakpoint){
  .quickAdd_container{
    text-align: center;
    padding: $pad10;
    i,h4{
      display: block;
    }
    i{
      margin-bottom: $margin5;
    }
  }
}
