<div class="quickAdd_container" id="workItemQuickAdd_container" *ngIf="wilistview === 'wi-list-view'" >
  <div class="col-md-12 col-sm-12 col-xs-12 addWorkItem" (click)="toggleQuickAdd()" [ngClass]="{'db' : showQuickAddBtn, 'dn' : !showQuickAddBtn}">
    <a class="workItemQuickAdd_saveBtn">
      <i class='pficon-add-circle-o dib'></i>
    </a>
    <span class="quick-add-label">Create Work Item</span>
  </div>
  <div class="flex-container flex-grow-1 addWorkItemBlk " *ngIf="showQuickAdd">
    <!-- type dropdown -->
    <div class="dropup dropdown-kebab-pf" dropdown>
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" dropdownToggle>
        <i class="fa pull-left" [ngClass]="selectedType?selectedType.attributes.icon:''"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownKebab" role="menu" dropdownMenu>
        <li *ngFor="let type of availableTypes" (click)="selectType($event, type)"><a href="#" role="menuitem" class="dropdown-item"><i class="fa pull-left" [ngClass]="type.attributes.icon"></i>&nbsp;{{type.attributes.name}}</a></li>
      </ul>
    </div>
    <div class="workItemQuickAdd_story flex-grow-9">
      <div class="col-md-6 col-sm-6 col-xs-12 workItemQuickAdd_storyInput">
        <input #quickAddTitle type="text" id="exampleInput" class="form-control col-md-12 col-sm-12 col-xs-12"  [(ngModel)]="workItem.attributes['system.title']"
              (keyup.enter)="save($event)"
              (keyup)="checkTitle()" placeholder="Work Item Title" required/>
      </div>
      <div class="col-md-6 col-sm-6 mobdn">
        <textarea #quickAddDesc rows="1" type="text" id="exampleDesc" class="form-control pull-left"  [(ngModel)]="workItem.attributes['system.description']"
                [style.height]="descHeight"
                [style.resize]="descResize"
                (keydown.enter)="save($event)"
                (keyup.enter)="preventDef($event)"
                (keyup)="checkDesc()"
                placeholder="Work Item Description">
        </textarea>
      </div>
    </div>
    <div class="workItemQuickAdd_AddBlk">
      <button #quickAddSubmit class="btn btn-primary pull-left workItemQuickAdd_Add "
        (click)="save($event)" [ngClass]="{'icon-btn': validTitle,'disabled':!validTitle}"><i class="fa fa-check"></i></button>
      <span (click)="toggleQuickAdd()" class="btn btn-default pull-right closeQuickAdd"><i class="pficon-close"></i></span>
    </div>
  </div>
</div>

<!-- Quick ADD Template for Board View -->
<div class="board-quick-add-card card-pf" id="workItemQuickAdd_container" *ngIf="wilistview === 'wi-card-view'" >
  <div class="col-sm-12 addWorkItem" (click)="toggleQuickAdd()">
    <a class="workItemQuickAdd_saveBtn">
      <i class='pficon-add-circle-o dib'></i>
    </a>
  </div>
  <div class="col-sm-12 card-pf card-pf-view addWorkItemBlk" *ngIf="showQuickAdd">
    <div class="row">
      <button (click)="toggleQuickAdd()" class="btn btn-link closeQuickAdd">
        <i class="pficon pficon-close"></i>
      </button>
    </div>
    <div class="row board-inputs">
      <div class="col-sm-2">
        <i class="fa" [ngClass]="selectedType?selectedType.attributes.icon:''"></i>
      </div>
      <div class="col-sm-10">
        <input #quickAddTitle type="text" id="exampleInput" class="form-control board-title col-sm-12"  [(ngModel)]="workItem.attributes['system.title']"
              (keyup.enter)="save($event)"
              (keyup)="checkTitle()" placeholder="Work Item Title" required/>
      </div>
      <div class="col-sm-12 no-padding">
        <textarea #quickAddDesc rows="1" type="text" id="exampleDesc" class="form-control board-description pull-left"  [(ngModel)]="workItem.attributes['system.description']"
                [style.height]="descHeight"
                [style.resize]="descResize"
                (keydown.enter)="save($event)"
                (keyup.enter)="preventDef($event)"
                (keyup)="checkDesc()"
                placeholder="Work Item Description">
        </textarea>
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-10">
      <button #quickAddSubmit class="btn btn-primary workItemQuickAdd_Add"
        (click)="save($event)" [ngClass]="{'icon-btn': validTitle,'disabled':!validTitle}"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>
