<div class="width100 fl quickAdd_container" id="workItemQuickAdd_container" >
  <div class="width100 fl addWorkItem" (click)="toggleQuickAdd()" [ngClass]="{'db' : showQuickAddBtn, 'dn' : !showQuickAddBtn}">
    <a class="workItemQuickAdd_saveBtn">
      <i class='pficon-add-circle-o dib font18'></i>
    </a>
    <h4>Add Work Item</h4>
  </div>
  <div class="width100 fl addWorkItemBlk " *ngIf="showQuickAdd">
    <div class="workItemQuickAdd_IconType">
      <i class="fa fa-bookmark fl "></i>
    </div>
    <div class=" workItemQuickAdd_story">
      <div class="col-md-6 col-sm-6 col-xs-12 workItemQuickAdd_storyInput">
        <input #quickAdd type="text" id="exampleInput" class="form-control width100 pull-left"  [(ngModel)]="workItem.fields['system.title']" 
              (keyup.enter)="save()"
              (keyup)="checkTitle()" placeholder="A New Story" required/>
      </div>
      <div class="col-md-6 col-sm-6 mobdn">
        <textarea type="text" rows="1" id="exampleDesc" class="form-control width100 pull-left"  [(ngModel)]="workItem.fields['system.description']" 
               placeholder="Description">
        </textarea>
      </div>
    </div>
    <div class="workItemQuickAdd_AddBlk">
      <span class="pull-left font16 workItemQuickAdd_Add" 
        (click)="addWorkItemBtn()" [ngClass]="{'icon-btn': validTitle,'icon-btn-disabled':!validTitle}"><i class="fa fa-check font14"></i></span>
      <span (click)="toggleQuickAdd()" class="pull-right closeQuickAdd"><i class="pficon pficon-close font16"></i></span>
    </div>
  </div>
</div>