@import "../../../assets/stylesheets/variables";
@import "../../../assets/stylesheets/custom";
@import "../../../assets/stylesheets/color-variables";

.quickAdd_container{
  position: fixed;
  bottom:0;
  background: $color-pf-black-200;
  z-index: 9;
  border-top: 1px solid darken($color-pf-white, 20%);
  text-align: $textLeft;
  cursor: pointer;
  font-size: rem(12);
  width: $width100;
  float: left;
  .addWorkItem{
    padding:em(20);
    h4{
      margin:em(3) 0;
      padding: 0 em(20);
    }
    .workItemQuickAdd_saveBtn{
      vertical-align: top;
      display: inline-block;
      margin:0;
      &:hover{
        text-decoration: none;
      }
      i{
        font-size: em(24);
      }
    }
    i,h4{
      display: inline-block;
      color:$color-pf-black-600;
    }
  }
  .addWorkItemBlk{
    padding: em(20);
    background:$color-pf-white;
    position: relative;
    .workItemQuickAdd_IconType{
      width:em(24);
      height: em(25);
      float: left;
      position: relative;
      i{
        position: absolute;
        font-size:em(18);
        top:50%;
        @include transform(translateY(-50%));
      }
    }
    .workItemQuickAdd_story{
      padding-left:em(24);
      padding-right: em(36);
    }
    .workItemQuickAdd_AddBlk{
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: em(9);
      width: em(36);
      .workItemQuickAdd_Add{
        text-align: right;
        font-size: em(14);
        i{
          font-size: em(14);
        }
      }
      .closeQuickAdd{
        i{
          font-size: em(16);
        }
      }
    }
    .icon-btn, .icon-btn-disabled{
      font-size: em(24);
      text-decoration: none;
    }
    .icon-btn{
      color: $color-pf-blue-400;
      cursor: pointer;
    }
    .icon-btn-disabled{
      color: $color-pf-black-300;
      cursor: default;
    }
  }
}

.quickAdd_container2{
  position: relative;
  width: $width100;
  float: left;
  @include Border(0 , solid , transparent);
  .addWorkItem{
    background: $color-pf-white;
    margin: em(5) 0;
    @include Border(1px, solid ,$color-pf-black-400);
    text-align: $textCenter;
    padding: em(10) em(15);
    .workItemQuickAdd_saveBtn{
      i{
        font-size: em(18);
        color: $color-pf-blue-400;
      }
    }
  }
  .addWorkItemBlk{
    margin: em(5) 0;
    @include Border(1px, solid ,$color-pf-black-300);
    .quickAdd_temp2-Story{
      float: left;
      padding: em(2);
      @include Border(1px, solid ,$color-pf-black-700);
      i{
        margin: 0;
        font-size: em(12);
      }
    }
    .quickAdd_temp2-Title{
      padding: 0 em(25);
      input{
        margin-bottom: em(7);
      }
    }
    .workItemQuickAdd_Add{
      font-size: em(12);
      @include Border(1px, solid ,$color-pf-black-300);
      margin-top: em(10);
      padding: em(1);
    }
    .closeQuickAdd{
      position: absolute;
      top: em(10);
    }
    .icon-btn{
      @include Border(1px, solid ,$color-pf-blue-400);
    }
  }
}
.add{
  background: $color-pf-white;
}
@media (max-width: $grid-float-breakpoint){
  .quickAdd_container{
    text-align: center;
    .addWorkItem{
      padding: em(10);
      i,h4{
        display: block;
      }
      i{
        margin-bottom: em(5);
      }
    }
    .addWorkItemBlk{
      padding:em(10);
    }
  }
}
@-moz-document url-prefix() {
  .workItemQuickAdd_story{
    textarea.form-control {
      max-height: em(26) !important;
    }
  }
}
