@import "../../../assets/stylesheets/variables";
@import "../../../assets/stylesheets/custom";
@import "../../../assets/stylesheets/color-variables";

.quickAdd_container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: $color-pf-black-200;
  border-top: 1px solid darken($color-pf-white, 20%);
  text-align: $textLeft;
  cursor: pointer;
  font-size: rem(12);
  .addWorkItem{
    padding: em(18);
    font-size: rem(14);
    color: $navbar-pf-border-color;
    height: 67px; //height is given to avoid jumping between this block and addWorkItemBlk
    .quick-add-label {
      padding-left: em(5);
    }
    .workItemQuickAdd_saveBtn{
      display: inline-block;
      margin:0;
      &:hover{
        text-decoration: none;
      }

    }
    i {
      color: $navbar-pf-border-color;
      display: inline-block;
      &:hover {
        color: $navbar-pf-border-color;
      }
    }
  }
  .addWorkItemBlk {
    padding: em(20);
    position: relative;
    .workItemQuickAdd_IconType{
      width:em(24);
      height: em(25);
      float: left;
      position: relative;
      i{
        font-size:em(14);
      }
    }
    .workItemQuickAdd_story{
      padding-left:em(24);
      padding-right: em(72);
      #exampleDesc{
        max-height: 100px;
      }
    }
    .workItemQuickAdd_AddBlk{
      .workItemQuickAdd_Add{
        text-align: right;
        font-size: em(14);
        min-width: 30px;
        height: 27px;
        padding: em(5);
        i{
          font-size: em(14);
        }
      }
      .closeQuickAdd{
        min-width: 30px;
        margin-left: 5px;
        padding: 5px;
        i{
          font-size: em(16);
        }
      }
    }
    .icon-btn, .icon-btn-disabled{
      font-size: em(24);
      text-decoration: none;
    }
    .icon-btn {
      color: $color-pf-black-900;
      cursor: pointer;
    }
    .icon-btn-disabled{
      color: $color-pf-black-300;
      cursor: default;
    }
  }
}

.quickAdd_container2 {
  position: relative;
  width: $width100;
  float: left;
  @include Border(0 , solid , transparent);
  .addWorkItem{
    background: $color-pf-white;
    margin: em(5) 0;
    @include Border(1px, solid ,$color-pf-black-400);
    text-align: $textCenter;
    padding: em(10) em(15);
    .workItemQuickAdd_saveBtn{
      i{
        font-size: em(18);
        color: $color-pf-blue-400;
      }
    }
  }
  .addWorkItemBlk {
    padding: em(20);
    margin: em(5) 0;
    background:$color-pf-white;
    @include Border(1px, solid ,$color-pf-black-300);
    .quickAdd_temp2-Story {
      float: left;
      padding: em(2);
      @include Border(1px, solid ,$color-pf-black-700);
      i{
        margin: 0;
        font-size: em(12);
      }
    }
    .quickAdd_temp2-Title{
      padding: 0 em(25);
      input{
        margin-bottom: em(7);
      }
    }
    .workItemQuickAdd_Add{
      font-size: em(12);
      @include Border(1px, solid ,$color-pf-black-300);
      margin-top: em(10);
      padding: em(1);
    }
    .closeQuickAdd{
      position: absolute;
      top: em(10);
    }
    .icon-btn{
      @include Border(1px, solid ,$color-pf-blue-400);
    }
  }
}
.add{
  background: $color-pf-white;
}
@media (max-width: $grid-float-breakpoint){
  .quickAdd_container {
    text-align: center;
    .addWorkItem{
      padding: em(10);
      i,h4{
        display: block;
      }
      i{
        margin-bottom: em(5);
      }
    }
    .addWorkItemBlk {
      padding:em(10);
    }
  }
}
@-moz-document url-prefix() {
  .workItemQuickAdd_story{
    textarea.form-control {
      max-height: em(26) !important;
    }
  }
}
