<div class="link-container flex-container flex-grow-1 in-column-direction margin-top-10" id="wi-link">
  <ul class="link-header-nav-list nav nav-tabs nav-tabs-pf">
    <li class="toggle-icon" (click)="toggleLinkComponent()">
      <i class="fa fa-icon" [ngClass]="{'fa-angle-down': showLinkComponent,
            'fa-angle-right': !showLinkComponent}"></i>
    </li>
    <li
      [class.active]="selectedTab === 'all'"
      (click)="selectTab('all')">
      <a>
        <span>
          Total Links
        </span>
        <span id="wi-link-total" class="badge">
          {{workItem.relationalData.totalLinkCount}}
        </span>
      </a>
    </li>
    <li *ngFor="let linkType of workItem.relationalData.linkDicts; let totalLink = index"
    [class.active]="selectedTab === linkType.linkName"
    (click)="selectTab(linkType.linkName)">
      <a>
        <span  class="link-header-nav-text">
          {{linkType.linkName}}
        </span>
        <span id="linktotal_{{totalLink}}" class="badge">
          {{linkType.count}}
        </span>
      </a>
    </li>
  </ul>
  <div class="link-content" id="wi-link-content" *ngIf="showLinkComponent">
    <div *ngIf="!workItem.relationalData.totalLinkCount && !showLinkView"
      class="link-content-create-link">
      <i class="pficon pficon-add-circle-o add-circle-icon"></i>
      <p class="flex-container">Work Item Links</p>
      <span class="flex-container">There are no items linked to this issue</span>
      <button class="btn btn-primary dib create-link-btn" (click)="toggleLinkView()" id="create-link-button">Create Link</button>
    </div>

    <div *ngIf="workItem.relationalData.totalLinkCount || showLinkView" class="flex-container flex-grow-1 in-column-direction">
      <div *ngIf="loggedIn" class="flex-container flex-grow-1 in-column-direction">
        <div class="link-item-hdr" (click)="toggleLinkCreator()">
          <p *ngIf="workItem" id="link_item_title" class="margin-0 flex-grow-1">This item, {{ workItem.attributes['system.title'] }}</p>
          <i class="fa fa-icon" [ngClass]="{'fa-angle-down': showLinkCreator,
            'fa-angle-right': !showLinkCreator}"></i>
        </div>
        <div *ngIf="showLinkCreator" class="link-editor" id="wi-link-editor">
            <div class="flex-container in-row-direction">
              <div class="combobox-container flex-grow-1">
                <div class="input-group" dropdown>
                  <input type="text" placeholder="Select"
                    class="combobox form-control" disabled
                    [attr.value]="selectedLinkType?.name">
                  <ul *ngIf="linkTypes.length"
                    class="typeahead typeahead-long dropdown-menu" role="menu" dropdownMenu>
                    <li *ngFor="let linkType of selectedTab |
                      workItemLinkTypeFilterByTypeName:(linkTypes)">
                      <a (click)="onSelectRelation(linkType)">{{linkType.name}}</a>
                    </li>
                  </ul>
                  <span class="input-group-addon" dropdownToggle> <span class="caret"></span> </span>
                </div>
              </div>
              <span class="flex-grow-1 padding-left-15 padding-top-3"> to,item</span>
            </div>
            <div class="flex-container padding-bottom-5 margin-top-15 margin-bottom-15">
              <div class="combobox-container flex-grow-1  margin-right-15 padding-right-15">
                <input type="hidden" name="" value="">
                <div class="input-group dropdown open active">
                  <input id="workitem-link-search" #searchBox
                    class="combobox form-control"
                    placeholder="Search for work items"
                    (keyup)="linkSearchWorkItem(searchBox.value, $event)"
                    [value]="selectedValue"
                    [disabled]="!selectedLinkType"/>
                  <ul *ngIf="searchWorkItems.length"
                      class="dropdown-menu dropdown-ul"
                      #searchResultList>
                    <li *ngFor="let workItem of searchWorkItems"
                        class="pointer"
                        (click)="selectSearchResult(workItem.id, workItem.attributes['system.title'])"
                        [attr.data-wiid]="workItem.id"
                        [attr.data-wititle]="workItem.attributes['system.title']">
                        <span #searchresult><span class="weight-800">{{workItem.id}} - </span>{{workItem.attributes['system.title']}}</span>
                    </li>
                  </ul>
                   <span class="input-group-addon"> <span class="caret"></span> </span>
                </div>
              </div>
              <button [disabled]="!selectedLinkType || !selectedWorkItemId ? true : false"
                type="button"
                value="Link"
                class="margin-left-10 margin-right-15 btn btn-default padding-left-15 padding-right-15"
                (click)="createLink($event)" id="bind-link">
                Link
              </button>
            </div>
        </div>
      </div>
      <div class="link-list-wrap" *ngIf="workItem.relationalData.linkDicts.length">
        <p class="link-list-header">Links</p>
        <div *ngFor='let linkDict of selectedTab |
            workItemLinkFilterByTypeName:workItem.relationalData.linkDicts;  let counterlink = index'>
          <p class="link-list-type-header">{{linkDict.linkName}}</p>
          <ul class="padding-left-0">
            <li *ngFor='let link of linkDict.links'
              (click)="onDetail(link, workItem)"
              class="link-list">
              <span class="link-title" [id]="link.id + '-text'">
                {{link.relationalData.source.id == workItem.id ? link.relationalData.target.title : link.relationalData.source.title}}
              </span>
              <!--<span id="linkSWIstate_{{counterlink}}">
                {{link.relationalData.source.id == workItem.id ? link.relationalData.target.state : link.relationalData.source.state}}
              </span>-->
              <a *ngIf="loggedIn" (click)="deleteLink($event, link, workItem)">
                <i id="closeLink_{{counterlink}}" class="pull-right pficon pficon-close list-close-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
