<div class="link-container flex-container flex-grow-1 in-column-direction margin-top-10" id="wi-link">
  <div class="link-header">
    <span class="content__title pull-left"
      (click)="toggleLinkComponent()">
      <i *ngIf="showLinkComponent" class="fa fa-angle-down"></i>
      <i *ngIf="!showLinkComponent" class="fa fa-angle-right"></i>
    </span>
    <ul class="link-header-nav-list">
      <li class="link-header-nav"
        [class.selected-tab]="selectedTab === null"
        (click)="selectTab()">
        <span id="wi-link-total">
          {{workItem.relationalData.totalLinkCount}}
        </span>
        <span class="link-header-nav-text">
          <a>
            Total Links
          </a>
        </span>
      </li>
      <li class="link-header-nav" *ngFor="let linkType of workItem.relationalData.linkDicts; let totalLink = index"
      [class.selected-tab]="selectedTab === linkType.linkName"
      (click)="selectTab(linkType.linkName)">
        <span id="linktotal_{{totalLink}}">
          {{linkType.count}}
        </span>
        <span  class="link-header-nav-text">
          {{linkType.linkName}}
        </span>
        </li>
    </ul>
  </div>
  <div class="link-content" id="wi-link-content" *ngIf="showLinkComponent">
    <div *ngIf="!workItem.relationalData.totalLinkCount && !showLinkView"
      class="link-content-create-link">
      <i class="pficon pficon-add-circle-o add-circle-icon dib"></i>
      <h2 class="col-md-12 col-sm-12 col-xs-12 dib">Work Item Links</h2>
      <p class="col-md-12 col-sm-12 col-xs-12 dib">There are no items linked to this issue</p>
      <button class="btn btn-primary dib create-link-btn" (click)="toggleLinkView()" id="create-link-button">Create Link</button>
    </div>

    <div *ngIf="workItem.relationalData.totalLinkCount || showLinkView" class="col-md-12 col-sm-12 col-xs-12">
      <div *ngIf="loggedIn">
        <div class="link-item-hdr" (click)="toggleLinkCreator()">
          <i class="pficon pficon-close pull-right font16"></i>
          <p  *ngIf="workItem" id="link_item_title">This item, {{ workItem.attributes['system.title'] }}</p>
        </div>
        <div *ngIf="showLinkCreator" class="link-editor" id="wi-link-editor">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div dropdown class="detail-status-dropdown col-md-6 col-sm-6 col-xs-6">
                <button dropdownToggle
                  id="wi-link-type"
                  type="button"
                  class="btn col-md-12 col-sm-12 col-xs-12 btn-default">
                  <span *ngIf="!selectedLinkType && linkTypes.length" class='dropdown-text'>
                    Select a link type
                  </span>
                  <span *ngIf="!linkTypes.length" class='dropdown-text'>
                    No link type available
                  </span>
                  <span *ngIf="selectedLinkType" class='dropdown-text'>
                    {{selectedLinkType.name}}
                  </span>
                  <span *ngIf="loggedIn" class="caret pull-right marginT5"></span>
                </button>
                <ul *ngIf="linkTypes.length"
                  class="dropdown-ul link-dropdown" role="menu" dropdownMenu>
                  <li *ngFor="let linkType of selectedTab |
                    workItemLinkTypeFilterByTypeName:(linkTypes)">
                    <a (click)="onSelectRelation(linkType)">{{linkType.name}}</a>
                  </li>
                </ul>
              </div>
              <span class="col-md-6 col-sm-6 col-xs-6"> to,item</span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <input id="workitem-link-search" #searchBox
                      class="workitem-link-search-box"
                      placeholder="Search for work items"
                      (keyup)="linkSearchWorkItem(searchBox.value, $event)"
                      [value]="selectedValue"
                      [disabled]="!selectedLinkType"/>
                    <div class="search-result-container">
                        <ul class="search-result list-unstyled" #searchResultList>
                            <li *ngFor="let workItem of searchWorkItems"
                                class="pointer"
                                (click)="selectSearchResult(workItem.id, workItem.attributes['system.title'])"
                                [attr.data-wiid]="workItem.id"
                                [attr.data-wititle]="workItem.attributes['system.title']">
                                <span #searchresult><span class="weight-800">{{workItem.id}} - </span>{{workItem.attributes['system.title']}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button [disabled]="!selectedLinkType || !selectedWorkItemId ? true : false"
                      type="button"
                      value="Link"
                      class="col-md-12 col-sm-12 col-xs-12 btn btn-primary"
                      (click)="createLink($event)" id="bind-link">
                      Link
                    </button>
                </div>
            </div>
        </div>
      </div>
      <div class="link-list-wrap" *ngIf="workItem.relationalData.linkDicts.length">
        <h4 class="link-list-header">Links</h4>
        <div *ngFor='let linkDict of selectedTab |
            workItemLinkFilterByTypeName:workItem.relationalData.linkDicts;  let counterlink = index'>
          <h4 class="col-md-12 col-sm-12 col-xs-12 no-padding link-list-type-header">{{linkDict.linkName}}</h4>
          <ul class="col-md-12 col-sm-12 col-xs-12 no-padding">
            <li *ngFor='let link of linkDict.links'
              (click)="onDetail(link, workItem)"
              class="link-list">
              <span class="link-title" [id]="link.id + '-text'">
                {{link.relationalData.source.id == workItem.id ? link.relationalData.target.title : link.relationalData.source.title}}
              </span>
              <span id="linkSWIstate_{{counterlink}}">
                {{link.relationalData.source.id == workItem.id ? link.relationalData.target.state : link.relationalData.source.state}}
              </span>
              <a *ngIf="loggedIn" (click)="deleteLink($event, link, workItem)">
                <i id="closeLink_{{counterlink}}" class="pull-right pficon pficon-close list-close-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
