<div class="inlineinput-container"
[class.read-only]="readOnly">
<textarea
  #input
  autosize
  (click)="startEditing($event, true)"
  [init_height]="23"
  [attr.disabled]="(!onLineClickEdit || readOnly) && !editing ? '' : null"
  [attr.placeholder]="placeholder"
  [class.active]="editing"
  [ngModel]="inputValue"
  class="input-field inlineinput-textarea"
  (keydown.enter)="submitOnEnter($event)"
  (keydown)="onkeyDown($event)"
  >
</textarea>
<div
  *ngIf="editing"
  (click)="saveClick()"
  class="btn btn-primary action-btn btn-save inlineinput-btn-save"
  [class.disabled]="saving">
  <i class="fa fa-check"></i>
</div>
<div
  class="btn btn-default action-btn inlineinput-btn-cancel"
  *ngIf="editing"
  (click)="closeClick()">
  <i class="fa fa-close"></i>
</div>

<div class="editor-icon-container" *ngIf="!editing">
  <i (click)="startEditing($event, false)"
    class="pficon-edit edit-icon"></i>
</div>
<div *ngIf="editing">
  <div class="error-message" *ngIf="errorMessage.length">
    <small>{{errorMessage}}</small>
  </div>
</div>
</div>
