@import '../../../../assets/stylesheets/base';

@keyframes select-item {
  from {
    background-color: #bbb;
  }
  to {
    background-color: #efefef;
  }
}

.hidden {
  visibility: hidden;
}

.selected {
  background-color: #efefef;
  animation-name: select-item;
  animation-duration: 1s;
}

.btn-left-multi-select-button {
  //min-width: unset;
  border-left-style: none;
  border-top-style: none;
  border-bottom: solid 3px #efefef;
}

.btn-right-multi-select-button {
  //min-width: unset;
  border-right-style: none;
  border-top-style: none;
  border-bottom: solid 3px #efefef;
}

.form-control-filter-input {
  height: 2.8rem;
  border: none;
  border-bottom: solid 0 #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 0 #ddd;
  margin-right: -2px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}

.included-list {
  overflow: auto;
  max-height: 30vh;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.excluded-list {
  overflow: auto;
  max-height: 30vh;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}

.unselectedOption {
  width: 100%;
  border-bottom: solid 0 #ddd;
  margin-bottom: 0;
  font-weight: normal;
}

.selectedOption {
  width: 100%;
  border-bottom: solid 0 #ddd;
  margin-bottom: 0;
  font-weight: bold;

}

form
{
  min-height: 66vh;
}

.busy-indicator
{
  min-width:50px;
  min-height:60px;
  vertical-align: center;
  top:0px;
  position:relative;
  display:flex;
  > div{
    margin:auto;
    padding:0;
  }
}

header{
  min-height:60px;
}

.app-generator-message
{
  max-width:900px;
  height:70vh;
  padding:15px !important;
  position:relative;
  display:flex;
  flex-direction:column;
  &.hide{
   display:none !important;
  }
  .message-title-container
  {
    .message-title{
      padding-left:5px;
      .pficon{
        margin-right:5px;
      }
    }
    margin-bottom:15px;
  }
  .message-body-container
  {
    flex-grow: 1;
    position: relative;
    border: solid 1px $color-pf-black-300;
    &.no-border{
      border-width:0;
    }
    overflow: auto;
    .message-body
    {
      vertical-align: top;
      position: relative;
      min-height: 100% !important;
      width: 100%;
      margin: 0;
      padding: 15px;
      border: none;
      line-height: 3.0rem;
      font-size: 1.5rem;
      white-space: pre-wrap;
      &.vertical-align-center
      {
        vertical-align: center !important;
      }
    }

  }
  &.error
  {
    .message-body
    {
      //background-color:#444;

    }
    .message-body-content
    {
      //color:#EFEFEF;
    }

  }
  &.information
  {
    .message-body
    {
      background-color:$color-pf-white;
    }
    .message-body-content
    {
      color:$color-pf-black;
    }

  }

}
.combobox-container
{
  input[type='text']{
    &.combobox{
      background-color:$color-pf-white;
      color:inherit;
    }
  }
}
.dropdown-menu
{
  display:block;
  padding:0;
  margin:0;
  border-width:0px;
  overflow:auto;
  height:0;
  top:26px;
  &.open{
     border-width:1px;
     height:30vh;
  }
  .dropdown-menu-item
  {
     padding:5px;
     border-top:solid 1px transparent;
     border-bottom:solid 1px transparent;
     padding-bottom:1.0rem;
    .item-name{
       font-weight: 600;
    }
    .item-description{

    }
    &:hover{
      background-color: $color-pf-blue-100;
      border-top:solid 1px $color-pf-blue-200;
      border-bottom:solid 1px $color-pf-blue-200;
      .item-name{
        color: $color-pf-black;
      }
      .item-description{
        color: $color-pf-black;

      }

    }
    &.selected
    {
      background-color: $color-pf-blue-300 !important;
      .item-name{
        color: $color-pf-white !important;
      }
      .item-description{
        color: $color-pf-white !important;

      }

    }


  }
}
.color-info
{
   color:$color-pf-blue-400;
}

