@import '../../../../assets/stylesheets/base';

@keyframes select-item {
  from {
    background-color: #bbb;
  }
  to {
    background-color: #efefef;
  }
}

.hidden {
  visibility: hidden;
}

.selected {
  background-color: #efefef;
  animation-name: select-item;
  animation-duration: 1s;
}

.btn-left-multi-select-button {
  //min-width: unset;
  border-left-style: none;
  border-top-style: none;
  border-bottom: solid 3px #efefef;
}

.btn-right-multi-select-button {
  //min-width: unset;
  border-right-style: none;
  border-top-style: none;
  border-bottom: solid 3px #efefef;
}

.form-control-filter-input {
  height: 2.8rem;
  border: none;
  border-bottom: solid 0 #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 0 #ddd;
  margin-right: -2px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}

.included-list {
  overflow: auto;
  max-height: 30vh;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.excluded-list {
  overflow: auto;
  max-height: 30vh;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}

.unselectedOption {
  width: 100%;
  border-bottom: solid 0 #ddd;
  margin-bottom: 0;
  font-weight: normal;
}

.selectedOption {
  width: 100%;
  border-bottom: solid 0 #ddd;
  margin-bottom: 0;
  font-weight: bold;

}

form
{
  min-height: 66vh;
}

.header-status
{
  min-width:50px;
}

header{
  min-height:60px;
}

.message-console
{

  .message-console-title
  {
    .title-text{
      padding-left:5px;
      .pficon{
        margin-right:5px;
      }
    }
    margin-bottom:15px;
  }
  .message-console-message
  {
    border-style: none;
    max-width:860px;
    min-height:50vh;
    max-height:70vh;
    overflow: auto;
    width:100%;
    padding:0px;
    position:relative;
    background-color:#444;
    .message-text
    {
      min-height:100%;
      min-width:100%;
      line-height:3.0rem;
      vertical-align: top;
      margin:0;
      border:none;
      color:#EFEFEF;
      font-size: 1.0 rem;
      padding:15px;
      white-space: pre;

    }

  }
}

