<div class="login-pf">
	<span id="badge">
  		<img src="../../assets/img/logo.svg" alt=" logo" />
	</span>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="brand">
        <img src="../../assets/img/brand.png" alt="PatternFly Enterprise Application">
      </div><!--/#brand-->
    </div><!--/.col-*-->

    <div class="col-sm-7 col-md-6 col-lg-5 login">
      <form class="form-horizontal" role="form">
        <a [routerLink]="['/work-item-list']"
        	class="btn btn-primary btn-lg" >
					<span class='fa fa-github'></span>
					Sign In with Github
				</a>

      </form>
    </div><!--/.col-*-->
    <div class="col-sm-5 col-md-6 col-lg-7 details">
      <p><strong>Welcome to PatternFly | open interface project!</strong>
        This is placeholder text, only. Use this area to place any information or introductory message about your application that may be relevant for users. For example, you might include news or information about the latest release of your product here&mdash;such as a version number.</p>
    </div><!--/.col-*-->
  </div><!--/.row-->
</div><!--/.container-->

</div>
