@import '../../assets/stylesheets/base';

.login-pf{
  background-color:$color-pf-black;
  padding: 25% 10% 10% 10%;
  .alert-error{
    background-color: #ffe6e6;
    border-color:$color-pf-red;
    color:$color-pf-black-800;
  }
}
