<modal #iterationAssociationModal title="Associate with Iteration">
  <modal-content>
    <div class="col-md-12 col-sm-12 col-xs-12">

      <!-- UX feed for existing iteration association -->
      <div *ngIf="!!workItem.relationships.iteration" id="reassociate-msg">
        <strong>{{ workItem.attributes['system.title'] }}</strong>
        is currently associated with
        <strong>{{ workItem.relationships.iteration.attributes?.name }}</strong>
      </div>

      <!-- Form input to change iteration -->
      <div class="form-group" [class.has-error]="validationError">

        <div class="search-pf-input-group">
          <label>
            {{ !(workItem.relationships.iteration) ? "Associate" : "Reassociate" }}
            <strong>{{ workItem.attributes['system.title'] }}</strong> with
          </label>

          <div class="dib" dropdown id="iteration-select-dropdown">
              <button #dropdownButton class="btn btn-default" type="button" dropdownToggle>
                  {{ workItem.relationships.iteration?.attributes?.name || "Select iteration..." }} <span class="caret"></span>
              </button>
              <ul class="test" role="menu" dropdownMenu>
                <li *ngFor="let iteration of iterations;" role="presentation">
                  <a role="menuitem" tabindex="-1" (click)="onChangeIteration(iteration)">
                    {{ iteration.attributes.name }}
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>

      <!-- Action buttons to commit/abort -->
      <div class="text-right">
        <button class="btn" type="submit" id="cancel-iteration-button" (click)="iterationAssociationModal.close()">Cancel</button>
        <button class="btn btn-primary" type="submit" id="associate-iteration-button" disabled #commitAssociation (click)="assignIteration()">
          {{ !!(workItem.relationships.iteration) ? "Reassociate" : "Associate" }}
        </button>
      </div>

    </div>
  </modal-content>
</modal>
