<div *ngIf="workItem" class="col-md-12 col-sm-12 col-xs-12" id="wi-comment">
    <div class="comment-content" id="wi-comment-content">
        <!-- Refactoring needed to toogle view -->
        <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="true">
            <div *ngIf="loggedIn" class="">
                <textarea rows="2" type="text" id="wi-comment-add-comment" class="form-control width100" [(ngModel)]="comment.attributes.body"
                    [style.height]="descHeight" [style.resize]="descResize" (keydown.enter)="createComment($event)" (keyup.enter)="preventDef($event)"
                    placeholder="Add a comment here...">
                </textarea>
            </div>
            <div *ngFor='let comment of workItem.relationalData.comments; let counter = index' class="comments-wrap">  
                <div>
                    <div class="user-avatar pull-left">
                        <img id="{{'comment_avatar_' + counter}}"
                        class="user-assign-avatar pull-left" 
                        tooltipPlacement="right"
                        tooltip="{{comment.relationalData.creator?.attributes?.fullName}}"
                        *ngIf="comment.relationalData.creator?.attributes?.imageURL" 
                        [src]="comment.relationalData.creator?.attributes?.imageURL | almAvatarSize:30"
                        />
                    </div>
                    <small class="pull-right createTimeBlock" id="{{'comment_time_' + counter}}">{{comment.attributes['created-at'] | date:'medium'}}</small>
                    <div class="comment-body">
                        <h5  class="col-md-12 col-sm-12 col-xs-12 no-padding truncate"><strong  id="{{'comment_username_' + counter}}">{{comment.relationalData?.creator?.attributes?.fullName}}</strong>
                        </h5>
                    </div>
                </div>
                <p class="col-md-12 col-xs-12 col-sm-12" id="{{'comment_body_' + counter}}">{{comment.attributes.body}}</p>
            </div>     
        </div>
    </div>
</div>