<div class="col-md-12 col-sm-12 col-xs-12" id="wi-comment">
    <div class="comment-content" id="wi-comment-content">
        <!-- Refactoring needed to toogle view -->
        <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="true">
            <div *ngIf="loggedIn" class="">
                <textarea rows="2" type="text" id="wi-comment-add-comment" class="form-control width100" [(ngModel)]="comment.attributes.body"
                    [style.height]="descHeight" [style.resize]="descResize" (keydown.enter)="createComment($event)" (keyup.enter)="preventDef($event)"
                    placeholder="Add a comment here...">
                </textarea>
            </div>
            <div *ngFor='let comment of comments' class="comments-wrap">  
                <div>
                    <img class="user-assign-avatar pull-left" *ngIf="comment.relationships['created-by'].data.attributes?.imageURL" [src]="comment.relationships['created-by'].data.attributes?.imageURL | almAvatarSize:30"
                    />
                    <small class="pull-right">{{comment.attributes['created-at'] | date:'medium'}}</small>
                    <div class="comment-body">
                        <h5 class="col-md-12 col-sm-12 col-xs-12"><strong>{{comment.relationships['created-by'].data?.attributes?.fullName}}</strong>
                        </h5>
                    </div>
                </div>
                <p class="col-md-12 col-xs-12 col-sm-12">{{comment.attributes.body}}</p>
            </div>     
        </div>
    </div>
</div>