<div class="col-md-12 col-sm-12 col-xs-12 createSpaceBlock">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="spacename">Space Name</h4>
        <div class="form-group has-error">
            <div class="search-pf-input-group">
                <input id="space-name" type="search" class="form-control" placeholder="Enter a unique name for your space">
                <span class="help-block">This space name already exists. Please enter another name.</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="spacename">Development Process</h4>
        <form role="form" class="search-pf has-button devProcessForm">
            <div class="form-group has-clear">
                <div class="search-pf-input-group">
                    <!--<input id="space-dialog-dev-process" type="search" class="form-control" placeholder="Choose a Development process for this space">-->
                    <select class="form-control" id="developmentProcess">
                        <option>Agile</option>
                        <option>Scrum</option>
                        <option>Issue Tracking</option>
                        <option selected>Scenario Driven Planning</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="button"><span class="caret pull-right icon-caret"></span></button>
            </div>
        </form>
<!--
        <ul class="devProcessList hide">
            <li>Agile</li>
        </ul>
        <p class="pull-left">Agile</p>
-->
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 spaceInputBlock">
        <h4 class="spacename">What type of space would you like to create</h4>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="radio" class="pull-left" id="publicSpace" checked name="SpaceView"/>
            <label class="pull-left" for="publicSpace">
                <span>Public</span>
                <span>Anyone can access this space</span>
            </label>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="radio" class="pull-left" id="privateSpace" name="SpaceView"/>
            <label class="pull-left" for="privateSpace">
                <span>Private</span>
                <span>Only authorized people can access this space</span>
            </label>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn marginR10 pull-right btn-primary" type="submit" value="0">Create Space </button>
    </div>
</div>
