@import '../../assets/stylesheets/base';

.toolbar-header {
  padding: 0 rem(20);
  border-bottom: 1px solid $color-pf-black-300;
  .btn-move {
    margin-top: 6px;
  }
  .toolbar-actions, .toolbar-apf-filter {
    border-right: none !important; /* no move menu yet */
  }
}
.filter-select {
    .btn-default {
        font-size: $font-size-base;
    }
    border-bottom: 1px solid $color-pf-black-300;
}
.toolbar-pf-action-right {
  .pficon-add-circle-o{
    color: $color-pf-blue-400;
  }
}
.currently-showing {
  margin-right: 10px;
}
.board-type-dropdown {
  .dropdown-menu {
    right: 0;
  }
}
