<detail-add-type-selector #typeSelectPanel></detail-add-type-selector>
<header class="toolbar-header">
  <div class="flex-container flex-grow-1 in-column-direction">
    <alm-toolbar
        [config]="toolbarConfig"
        [actionsTemplate]="actionsTemplate"
        [viewsTemplate]="addTemplate"
        (onFilterChange)="filterChange($event)">
      <template #actions>
        <div *ngIf="context==='boardview' && (workItemTypes.length!=0)" dropdown class="card-pf-time-frame-filter board-type-dropdown">
          <button dropdownToggle
              id="wi-board-type"
              type="button"
              class="btn btn-default col-md-12 col-sm-12 col-xs-12">
            <span class='dropdown-icon fa {{workItemTypes[0]?.attributes.icon}}'></span>
            <span class='dropdown-text'>
              {{workItemTypes[0]?.attributes.name}}
            </span>
            <span *ngIf="loggedIn" class="caret pull-right"></span>
          </button>
          <ul *ngIf="loggedIn" id="wi-board-type-dropdown" class="dropdown-menu-right dropdown-ul" role="menu" dropdownMenu>
            <li class="dropdown-li" *ngFor="let type of workItemTypes;" (click)="onChangeBoardType(type)">
              <a>
                <span class='dropdown-icon fa {{type.attributes.name}}'></span>
                <span class='dropdown-text'>{{type.attributes.name}}</span>
              </a>
            </li>
          </ul>
        </div>
      </template>
      <template #add>
        <div *ngIf="loggedIn && editEnabled" class="with-cursor-pointer" placement="bottom" tooltip="Add A Work Item" (click)="typeSelectPanel.openPanel()">
          <i class="pficon pficon-add-circle-o margin-top-4"></i>
        </div>
      </template>
    </alm-toolbar>
  </div>
</header>
