<forge-exception *ngIf="error" [error]="error"
                 (onCancel)="cancel($event)">
</forge-exception>
<pfng-wizard *ngIf="!error" #wizard
             [config]="config"
             (onCancel)="cancel($event)"
             (onNext)="nextClicked($event)"
             (onPrevious)="previousClicked($event)"
             (onStepChange)="stepChanged($event)">

  <div class="col-sm-offset-2 col-sm-10" style="position: absolute;margin-top: -2em; width: 50%" *ngIf="validation">
    <span class="spinner spinner-xs spinner-inline"></span>Validating...
  </div>
  <div [formGroup]="form" [ngSwitch]="currentGui.metadata?.name">
    <pfng-wizard-step [config]="steps[0]">
      <spinner [loading]="isLoading"></spinner>
      <pfng-wizard-substep [config]="steps[3]">
        <span *ngSwitchCase="'Quickstart'">
          <quickstart [gui]="currentGui" [form]="form"></quickstart>
        </span>
      </pfng-wizard-substep>
      <pfng-wizard-substep [config]="steps[4]">
        <span *ngSwitchCase="'Fabric8: Project Info'">
          <project-info-step [gui]= "currentGui" [form]="form" [labelSpace]="currentSpace.attributes.name"></project-info-step>
        </span>
      </pfng-wizard-substep>
    </pfng-wizard-step>


    <pfng-wizard-step [config]="steps[1]">
      <spinner [loading]="isLoading"></spinner>
      <pfng-wizard-substep [config]="steps[5]">
        <span *ngSwitchCase="'Obsidian: Configure Pipeline'">
          <pipeline-quickstart-step [gui]="currentGui" [form]="form" [labelSpace]="currentSpace.attributes.name"></pipeline-quickstart-step>
        </span>
      </pfng-wizard-substep>
      <pfng-wizard-substep [config]="steps[6]">
        <span *ngSwitchCase="'io.fabric8.forge.generator.kubernetes.CreateBuildConfigStep'">
          <build-config-step [gui]="currentGui" [form]="form"></build-config-step>
        </span>
      </pfng-wizard-substep>
    </pfng-wizard-step>

    <pfng-wizard-step [config]="steps[2]">
      <spinner [loading]="isLoading"></spinner>
      <pfng-wizard-substep [config]="steps[7]">
        <span *ngSwitchCase="'Review'">
          <review-step [gui]="currentGui"></review-step>
        </span>
      </pfng-wizard-substep>
    </pfng-wizard-step>
  </div>
</pfng-wizard>
