<div class="toolbar-header">
  <pfng-toolbar
      [config]="toolbarConfig"
      [viewTemplate]="addCodebaseTemplate"
      (onFilterChange)="filterChange($event)"
      (onSortChange)="sortChange($event)">
    <ng-template #addCodebaseTemplate>
      <div class="with-cursor-pointer" placement="left" tooltip="Add A Codebase"
           [routerLink]="[{ outlets: { action: 'add-codebase' } }]">
        <i class="pficon pficon-add-circle-o margin-top-4"></i>
      </div>
    </ng-template>
  </pfng-toolbar>
</div>
