<div class="toolbar-header">
  <pfng-toolbar
      [config]="toolbarConfig"
      [viewTemplate]="addCodebaseTemplate"
      (onFilterChange)="filterChange($event)"
      (onSortChange)="sortChange($event)">
    <ng-template #addCodebaseTemplate>
      <span class="with-cursor-pointer" placement="top" tooltip="Add a Codebase"
           [routerLink]="[{ outlets: { action: 'add-codebase' } }]">
        <span class="add-codebase-tooltip">
          <i class="pficon pficon-add-circle-o margin-top-4"></i>
          Add Codebase
        </span>
      </span>
    </ng-template>
  </pfng-toolbar>
</div>
