<div class="container">
  <div class="widget-span">
    <h1>Stack </h1>
    <div class="nav-text">
      <span id="packageInfo">
        <h2> {{ packageName }} - {{ packageVersion}}</h2>
      </span>
    </div>

  </div>


  <div id="result-body" class="container widget-row widget-span" style='display:block'>
    <!-- <div class="widget-span"> -->
    <!-- <br> -->
    <!-- <div class="stack_info_container"> -->

    <div class="row">
      <div class="col-sm-6 col-lg-6 render-stack-tiles ">
        <div class="card-pf card-pf-accented card-pf card-pf-view">
          <h2 class="card-pf-title">
            <span class="pf pficon-help"></span><span class="card-pf-view-count"></span> Usage
          </h2>
          <div class="card-pf-body">
            <div>
              <p> Average Public Component Usage: {{averageUsage}}</p>
              <p> Components with Low Public Usage: {{lowPublicUsageComponents}}</p>
              <p> Components Redistributed by Red Hat: {{redhatDistributedComponents}}</p>
            </div>
            <p class="card-pf-view-notifications">
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 render-stack-tiles ">
        <div class="card-pf card-pf-accented card-pf-view">
          <h2 class="card-pf-title">
            <span class="pf pficon-help"></span><span class="card-pf-view-count"></span> Popularity
          </h2>
          <div class="card-pf-body">

            <div>
              <p> Average Component GitHub Stars: {{averageStars}}</p>
              <p> Average Component GitHub Forks: {{averageForks}}</p>
              <p> Components with Low Popularity: {{lowPopularityComponents}}</p>

            </div>
            <p class="card-pf-view-notifications">
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 col-lg-6 render-stack-tiles ">
        <div class="card-pf card-pf-accented card-pf-view">
          <h2 class="card-pf-title">
            <span class="pf pficon-help"></span><span class="card-pf-view-count"></span> Licenses
          </h2>
          <div class="card-pf-body">

            <div>
              <p> Licenses Found: {{totalLicenses}}</p>
              <p> Distinct Licenses: {{distinctLicenses.length }} </p>
              <p> Licenses: {{distinctLicenses}} </p>
            </div>
            <p class="card-pf-view-notifications">
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 render-stack-tiles ">
        <div class="card-pf card-pf-accented card-pf-view">
          <h2 class="card-pf-title">
            <span class="pf pficon-help"></span><span class="card-pf-view-count"></span> Security
          </h2>
          <div class="card-pf-body">
            <div>
              <p>Total CVEs: {{totalSecurityIssues}}</p>
              <p>CVSS: {{cvss}}</p>
            </div>
            <p class="card-pf-view-notifications">
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-6 render-stack-tiles ">
        <div class="card-pf card-pf-accented card-pf-view">
          <h2 class="card-pf-title">
            <span class="pf pficon-help"></span><span class="card-pf-view-count"></span> Metadata
          </h2>
          <div class="card-pf-body">
            <div>
              <p> Components with tests: {{componentsWithTests}} </p>
              <p> Components with dependency lock file: {{componentsWithDependencyLockFile}} </p>
              <span *ngFor="let entry of requiredEnginesArr">
                Required {{entry.key}} version : {{entry.value}}<br>
              </span>
            </div>
            <p class="card-pf-view-notifications"></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <h1> Components </h1>

      <table class="table table-striped" [mfData]="componentsDataTable" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="ecosystem">Ecosystem</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="package">Package</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="version">Version</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="latestVersion">Latest Version</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="publicUsage">Public Usage</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="relativePublicUsage">Relative Public Usage</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="poplarity">Popularity</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="redhatUsage">Redhat Usage</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="licence">Licence</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.ecosystem}}</td>
            <td>{{item.pkg}}</td>
            <td>{{item.version}}</td>
            <td>{{item.latestVersion}}</td>
            <td>{{item.publicUsage}}</td>
            <td>{{item.relativePublicUsage}}</td>
            <td>{{item.popularity}}</td>
            <td>{{item.redhatUsage}}</td>
            <td>{{item.licence}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>

    <!-- Stack Recommendation Section -->
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <stack-recommendation [rows]="currentStackRows" [headers]="currentStackHeaders"></stack-recommendation>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-8">
        <f8-container-toggler (prevBtn)="handlePrevious($event)" (nextBtn)="handleNext($event)"></f8-container-toggler>
        <stack-recommendation (customEvent)="addWorkItem($event)" [rows]="recoArray[currentIndex].rows" [headers]="recoArray[currentIndex].headers"
          [clickable]="true"></stack-recommendation>
          <!-- <button (click)="addWorkFlow()" id="addWorkflow">Submit</button> -->
      </div>
    </div>
    <!-- Stack Recommendation Section -->
    <div class="row">
      <h1>Similar stacks</h1>
      <ul>
        <li *ngFor="let s of similarStacks">
          <a (click)="similarStack.open()"> {{ s.uri }} </a>
        </li>
      </ul>
    </div>

  </div>
</div>


  <modal #similarStack title="Create work item form recomendation with button">
    <modal-content>
      <form [name]="recommendationForm" (ngSubmit)="processForm()">
        <stack-recommendation [rows]="recoArray[currentIndex].rows" [headers]="recoArray[currentIndex].headers" [clickable]="false"
          id="rec_container"></stack-recommendation>
          <button type="submit" class="btn btn-primary">Create</button><button class="btn btn-danger" (click)="similarStack.close()">Close</button>
      </form>
    </modal-content>
  </modal>
