@import (reference) './../../../../node_modules/patternfly/src/less/variables';

// overwrite PatternFly header highlight
.navbar-pf { border-top-color: #cc0000; }
//remove toolbar box shadow
@font-size-base: 14px;
.toolbar-pf { box-shadow: none !important; }
// add border top to filter results
.toolbar-pf-results {
  border-top : 1px solid;
  border-top-color: @color-pf-black-300;
}
//increase font size for these elements, overriding PatternFly
.form-control,
.btn,
.dropdown-menu,
.badge { font-size: @font-size-base; }
h1 {
  font-size: 2em;
  line-height: 1.3em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.3em;
}
h3 {
  font-size: 1.3em;
  line-height: 1.3em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.3em;
}
h5 {
  font-size: 1.1em;
  line-height: 1.3em;
}
