						
<div *ngIf="workItem" class="status">
	<span 
		class="label" 
		(click)="onDrawerToggle()"
		[ngClass]="{'label-warning': workItem.statusCode==0, 
					'label-primary': workItem.statusCode==1, 
					'label-success': workItem.statusCode==2 }">
		
		{{workItem.status ? workItem.status : "Status"}}
	</span>
	<ul *ngIf="show" class="drawer">
		<li (click)="changeStatus(0,'To Do')">To Do</li>
		<li (click)="changeStatus(1,'In Progress')">In Progress</li>
		<li (click)="changeStatus(2,'Done')">Done</li>
	</ul>
</div>

