						
<div *ngIf="workItem" class="status">
	<span class="label statusDrawer_workItemStatus" (click)="onDrawerToggle()" [ngClass]="{'label-warning': workItem.statusCode==0, 
					'label-primary': workItem.statusCode==1, 
					'label-success': workItem.statusCode==2,
					'label-info': workItem.statusCode==3 }">
		
		{{workItem.fields['system.state'] ? workItem.fields['system.state'] : "Status"}}
	</span>
	<ul *ngIf="show" class="drawer">
		<li class="statusDrawer_ListItemStatusNew" (click)="changeStatus(0,'new')">New</li>
		<li class="statusDrawer_ListItemStatusProgress" (click)="changeStatus(1,'in progress')">In Progress</li>
		<li class="statusDrawer_ListItemStatusResolved" (click)="changeStatus(2,'resolved')">Resolved</li>
		<li class="statusDrawer_ListItemStatusClosed" (click)="changeStatus(3,'closed')">Closed</li>
	</ul>
</div>

