<div class="add-codebase-widget card-pf">
  <div class="card-pf-heading">
      <div class="card-pf-heading-details">
        <a class="btn btn-link" [routerLink]="[{ outlets: { action: 'add-codebase' } }]">
          <span>Create Codebase</span>
          <i class="pficon pficon-add-circle-o"></i>
        </a>
      </div>
      <h2 class="card-pf-title">
        <span>Codebases</span>
        <span class="badge">{{codebaseCount | async}}</span>
      </h2>
  </div>
  <div class="card-pf-body card-f8-body">
    <div class="blank-slate-f8-card" *ngIf="(codebaseCount | async) === 0">
      <div class="blank-slate-f8-icon">
        <i class="pficon pficon-add-circle-o"></i>
      </div>
      <h3>This Space has no Codebases</h3>
      <div class="blank-slate-f8-main-action">
        <button class="btn btn-primary btn-lg" [routerLink]="[{ outlets: { action: 'add-codebase' } }]">Add to space</button>
      </div>
      <div class="blank-slate-f8-main-action">
        <button class="btn btn-primary btn-lg" [routerLink]="[{ outlets: { action: 'add-codebase' } }]">Import from git</button>
      </div>
    </div>
    <ul class="list-group analyze-overview-items-detail" *ngIf="(codebaseCount | async) > 0">
      <li class="list-group-item" *ngFor="let codebase of codebases | async">
        <span class="avatar fa" [ngClass]="{'fa-github': codebase.attributes.type === 'git'}"></span>
        <a href="{{codebase.url}}" target="_blank">{{codebase.name}}</a>
      </li>
    </ul>
  </div>
  <div class="card-pf-footer card-f8-footer">
    <button class="btn btn-link pull-right">
      See All
    </button>
  </div>
</div>
