<div class="add-codebase-widget card-pf">
  <div class="flex-container in-column-direction">
    <h2 class="card-pf-title card-pf-utilization-details">
      <span>Codebases</span>
      <span class="badge">{{codebaseCount | async}}</span>
    </h2>
    <div class="card-pf-body">
      <div class="blank-slate-pf" *ngIf="(codebaseCount | async) === 0">
        <div class="blank-slate-pf-icon">
          <span class="pficon pficon pficon-add-circle-o"></span>
        </div>
        <h1>Add a Codebase</h1>
        <p>
          Import an existing codebase.
        </p>
        <div class="blank-slate-pf-main-action">
          <button class="btn btn-primary btn-lg" [routerLink]="[{ outlets: { action: 'add-codebase' } }]">Add a Codebase</button>
        </div>
      </div>
      <div class="analyze-overview-items-detail" *ngIf="(codebaseCount | async) > 0">
        <div class="card-pf-body ">
          <p *ngFor="let codebase of codebases | async">
            <span class="avatar fa" [ngClass]="{'fa-github': codebase.attributes.type === 'git'}"></span>
            <a href="{{codebase.url}}" target="_blank">{{codebase.name}}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="card-pf-footer">
      <a class="margin-bottom-10" [routerLink]="[{ outlets: { action: 'add-codebase' } }]">
        <i class="pficon pficon-add-circle-o"></i>
        <span>Add a Codebase</span>
      </a>
    </div>
  </div>
</div>