@import '../../../../assets/stylesheets/base';

.comment-content {
  width: $width100;
  float: left;
  padding: em(20) 0;
  > div{
      padding: 0;
  }
  .wi-comment-panel {
    border-left: none;
    border-right: none;
    .panel-heading{
      border: none;
    }
    .wi-comment-input{
      padding: em(20);
      border-top: em(1) solid $color-pf-black-300;
      #wi-comment-add-comment {
      /* Overrides pf's form-control style's height property */
      /* The min-height is needed to avoid zero-height element */
      /* The min-height is same as form-control's default height */
        height: auto;
        min-height: em(26);
        margin-bottom: 0;
        /* Helper class, should be moved out when almEditable is extended to support placeholders */
        &.placeholder {
            color: $color-pf-black-300;
            font-style: italic;
        }
      }
    }
    .panel-body {
      padding: 0;
    }
  }

  .comments-wrap {
    width: $width100;
    float: left;
    border-top: 1px solid $color-pf-black-200;
    padding: em(20);
    .comment-body {
      padding-left: em(36);
      h5 {
          margin-top: em(0);
          margin-bottom: em(5);
      }
      .createTimeBlock {
        line-height: 1;
      }
      p {
        margin: 0;
      }
    }
    > p {
      padding: 0;
    }
  }
}
@media (max-width: $screen-md-min) {
    .comment-content {
        .comments-wrap {
            > div {
                .comment-body {
                    padding-left: em(36);
                }
            }
        }
    }
}
@media (max-width: $screen-sm-min) {
  .comment-content {
    .comments-wrap {
      > div {
        .comment-body {
          .createTimeBlock {
            width: 7em;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
