@import "../../../../assets/stylesheets/custom";
@import "../../../../assets/stylesheets/mixins";
@import "../../../../assets/stylesheets/color-variables";

.comment-content{
    width: $width100;
    float: left;
    padding: em(20) 0;
    > div{
        padding: 0;
    }
    .comments-wrap {
        width: $width100;
        float: left;
        border-bottom: 1px solid $color-pf-black-200;
        margin-top: em(15);
            &:last-child{
                 border-bottom: none;
            }
        > div{
            width: $width100;
            float: left;
            .createTimeBlock{
                width: em(144);
            }
            .comment-body{
                padding-left: em(36);
                padding-right: em(150);
                h5{
                    margin-top: em(5);
                }
            }
        }
    }
    .comments-wrap > p{
        padding: 0;
    }
}
@media (max-width: $screen-md-min){
    .comment-content{
        .comments-wrap{
            > div{
                .createTimeBlock{
                    width: em(78);
                }
                .comment-body{
                    padding-left: em(36);
                    padding-right: em(84);
                }
            }
        }
    }
}
