@import 'bootstrap/mixins';
@import 'patternfly/mixins';
@import 'patternfly/mixin_overrides';

// functions
//convert px to em/rem
@function em($px) {
  @return ($px / $em-base-font-size) * 1em;
}

@function rem($px) {
  @return ($px / $rem-base-font-size) * 1rem;
}

//custom mixins
@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin borderRadius($radius) {
  border-radius: $radius;
  -o-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin Border($borderwidth, $borderStyle, $borderColor) {
    border-width: $borderwidth;
    border-color: $borderColor;
    border-style: $borderStyle;
    -o-border-width: $borderwidth;
    -o-border-color: $borderColor;
    -o-border-style: $borderStyle;
    -webkit-border-width: $borderwidth;
    -webkit-border-color: $borderColor;
    -webkit-border-style: $borderStyle;
    -moz-border-width: $borderwidth;
    -moz-border-color: $borderColor;
    -moz-border-style: $borderStyle;
}

//multiline truncate
@mixin multiline-truncate($line-height, $line-count, $bg-color) {
    overflow: hidden;
    position: relative;
    line-height: $line-height;
    max-height: $line-height * $line-count;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
        content: '\2026';
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 3em;
        margin-top: 0;
        background: $bg-color;
    }
}

@mixin dib {
    display: inline-block;
}

@mixin fill-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-width: 0;
}
