// -- Cards --
.card-f8-body {
  height: 350px;
  overflow-y: auto;
}
.blank-slate-f8-card {
  text-align: center;
}
.blank-slate-f8-icon {
  font-size: 1.5em;
}
.blank-slate-f8-main-action {
  margin-top: 20px;
}
.card-f8-body {
    min-height: 360px;
}
.card-f8-footer {
  height: 70px;
}
