// -- Cards --
.card-f8 {
  height: 440px;
}
.card-f8-heading-details {
  margin-top: -5px;
}
.card-f8-badge {
  margin-top: -5px;
}
.card-f8-body {
  height: 360px;
  overflow-y: auto;
}
.blank-slate-f8-card {
  text-align: center;
}
.blank-slate-f8-icon {
  font-size: 1.5em;
}
.blank-slate-f8-main-action {
  margin-top: 20px;
}
.card-f8-footer {
  height: 70px;
}
