@import 'bootstrap/variables';
@import 'patternfly/variables';

//custom variables
$width100: 100%;
$em-base-font-size: 12;
$rem-base-font-size: 10;
// positions
$textLeft: left;
$textRight: right;
$textCenter: center;
// colors
$color-pf-white: #fff;
$color-pf-dark: #363636;
$color-pf-black-250: #e1e1e1;
// font size
$pf-icon-2x: 2em;
$pf-icon-3x: 3em;
$pf-icon-4x: 4em;
$font-size-base: 14px;
