@color-beta: @color-pf-light-green-400;
@color-experimental: @color-pf-gold-400;
@color-internal: @color-pf-red-100;
@color-not-applicable: @color-pf-black-400;
@color-system-error: @color-pf-black-400;
@color-not-logged-in: @color-pf-black-400;
