body {
  background-color: @color-pf-black-200;
  position: relative;
  min-height: 100vh;
  margin: 0;
  /* stylelint-disable */
  /* for use with the fixed masthead */
  padding-top: 45px !important;
  /* stylelint-enable */
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* stylelint-disable */
  /* required to overwrite the default PatternFly font size */
  font-size: @font-size-base !important;
  /* stylelint-enable */
}
.fill-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-width: 0;
}
.padding {
  &-0 { padding: 0; }
  &-top-0 { padding-top: 0; }
  &-right-0 { padding-right: 0; }
  &-bottom-0 { padding-bottom: 0; }
  &-left-0 { padding-left: 0; }
}
.margin {
  &-0 { margin: 0; }
  &-top-0 { margin-top: 0; }
  &-right-0 { margin-right: 0; }
  &-bottom-0 { margin-bottom: 0; }
  &-left-0 { margin-left: 0; }
}
/*
 * place on the parent a <div> to remove left and right padding from child columns
 */
.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.containerPadd { padding: em(96) 0 em(66) 0; }
.containerPadd-nologin { padding-bottom: 0; }
@media (max-width: @grid-float-breakpoint) {
  .mobdn { display: none; }
  .list-view-pf {
    .list-group-item-heading { font-size: em(12); }
  }
}
@media (max-width: (@grid-float-breakpoint - 1)) {
  .containerPadd { padding-top: em(11); }
  .containerPadd-nologin { padding-bottom: 0; }
}
