// layout bebuggind just adds a colored border to the specified elements
// in order to help with diagnosing layout issues
@import 'layout-variables';


// add a layout border
@mixin debug-border($color,$width:$debug-border) {
  border : solid $width $color ;
}

@mixin debug-stretch-to-fit-viewport($debuging-offset:3*$debug-component-spacing){
  min-height: calc(100vh - #{$debuging-offset});
}

// header main footer trio layout debugging
@mixin header-main-footer-child{
  >header
    {
      @include debug-border($debug-header-border-color);
    }
  >main
    {
      @include debug-border($debug-main-border-color);
    }
  >footer
    {
      @include debug-border($debug-footer-border-color);
    }
};

.app{
  @include debug-border($debug-root-component-border-color,$debug-component-border);
  //min-height: calc(100vh - 2*$debug-component-spacing) !important
  //margin:($debug-component-border+2*$debug-component-spacing);
}

//app component layout debugging
.app-component
{

  @include debug-border($debug-component-border-color,$debug-component-border);

  >.app-component
  {
     @include debug-border($debug-child-component-border-color,$debug-component-border);
  }
  @include header-main-footer-child;
  >div
  {
    @include header-main-footer-child;
    >aside
    {
      @include debug-border($debug-aside-border-color);
      @include header-main-footer-child;
    }
    >section
    {
      @include debug-border($debug-section-border-color);
      @include header-main-footer-child;
    }
  }
  >aside
  {

    @include debug-border($debug-aside-border-color);
    @include header-main-footer-child;
  }
  >section
  {
    @include debug-border($debug-section-border-color);
    @include header-main-footer-child;
    >aside
    {
      @include debug-border($debug-aside-border-color);
    }
  }
};

//flex container layout debugging
.flex-container
{
  @include header-main-footer-child;
}


//all app-component layout debugging
@mixin debug-app-component{
    margin:$debug-component-spacing;
    padding:$debug-component-spacing;
    border-style: solid;
};

//bootstrap layout debugging
.container-fluid
{
    @include debug-border($debug-bootstrap-container-color);

}

.container
{
    @include debug-border($debug-bootstrap-container-color);
}

.row
{
    @include debug-border($debug-bootstrap-row-color);

}
//startswith or contains
div[class^="col-"], div[class*=" col-"] {
     @include debug-border($debug-bootstrap-column-color);
}
