@em-base-font-size: 12;
@rem-base-font-size: 10;
@pf-icon-2x: 2em;
@pf-icon-3x: 3em;
@pf-icon-4x: 4em;

.border-transparent { border-color: transparent !important; }
.border-none { border-width: 0 !important; }
.border-top-none { border-top-width: 0 !important; }
.border-bottom-none { border-bottom-width: 0 !important; }
.border-left-none { border-left-width: 0 !important; }
.border-right-none { border-right-width: 0 !important; }

.containerPadd { padding: em(96) 0 em(66) 0; }
.containerPadd-nologin { padding-bottom: 0; }

.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }

.font-size-small { font-size: .857em; }

.margin-none { margin: 0 !important; }
.margin-top-none { margin-top: 0 !important; }
.margin-bottom-none { margin-bottom: 0 !important; }
.margin-left-none { margin-left: 0 !important; }
.margin-right-none { margin-right: 0 !important; }

.padding-none { padding: 0 !important; }
.padding-top-none { padding-top: 0 !important; }
.padding-bottom-none { padding-bottom: 0 !important; }
.padding-left-none { padding-left: 0 !important; }
.padding-right-none { padding-right: 0 !important; }

.width-100 { width: 100%; }
.height-100 { height: 100%; }

.pointer { cursor: pointer; }

.overflow-auto { overflow: auto; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
}
