<div id="overview" class="container content margin-top-80" *ngIf="showGettingStarted">
  <div class="row">
    <div class="col-md-8 padding-left-none">
      <h1 class="getting-started-title">Getting started in OpenShift.io</h1>
      <p class="getting-started-subtitle">
        Welcome to OpenShift.io! To get started you will need to connect
        your GitHub and OpenShift.com accounts.
      </p>
      <p class="padding-bottom-15 padding-top-15">
        The fields marked with <span class="required-pf">*</span> are required.
      </p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/Logotype_RH_OpenShift-io_RGB_RedGray.png" class="home-logo"/>
    </div>
  </div>
  <div class="row">
<!--
    <form role="form">
      <div class="row">
        <div class="col-md-1">
          <h2 class="circle">1</h2>
        </div>
        <div class="col-md-11 padding-left-0">
          <h2>Select a username</h2>
          <p class="getting-started-subtitle">Pick a username to identify yourself in OpenShift.io. Choose wisely, this
            cannot be changed once you leave the Getting Started page.
          </p>
          <div class="form-group">
            <div *ngIf="isUsernameDisabled; then showUsernameUpdated; else showUsernameInput"></div>
            <ng-template #showUsernameUpdated>
              <div class="margin-bottom-15">
                <label class="margin-right-10">Username:</label>
                <span>
                  {{username}}<span class="pficon pficon-ok margin-left-10"></span>
                </span>
              </div>
            </ng-template>
            <ng-template #showUsernameInput>
              <label for="username" class="control-label required-pf">Username</label>
              <div [ngClass]="{'has-error': usernameInvalid}">
                <div class="col-md-5 padding-left-0">
                  <input type="text" class="form-control" id="username" name="username" maxlength="62" required
                         [(ngModel)]="username">
                </div>
                <div class="col-md-7 padding-left-0">
                  <span class="help-block padding-0">
                    Username must be less than 63 characters and can't begin with a dash or underscore. They may contain
                    lowercase letters, numbers, dashes, or underscores.
                  </span>
                </div>
              </div>
            </ng-template>
            <div>
              <button class="btn btn-lg btn-primary"
                      [disabled]="isUsernameDisabled"
                      (click)="saveUsername()">Save Username</button>
            </div>
          </div>
        </div>
      </div>
-->
      <div class="row">
        <div class="col-md-1">
          <h2 class="circle">1</h2>
        </div>
        <div class="col-md-11 padding-left-0">
          <h2>Connected accounts</h2>
          <p class="getting-started-subtitle">
            Please connect your GitHub and OpenShift accounts to OpenShift.io.
          </p>
          <div *ngIf="gitHubLinked && openShiftLinked; then allLinked else allUnlinked"></div>
          <ng-template #allLinked>
            <label class="margin-bottom-15">
              Authorized accounts
            </label>
          </ng-template>
          <ng-template #allUnlinked>
            <label class="margin-bottom-10">
              Select accounts to authorize
            </label>
          </ng-template>
          <div class="form-group">
            <div *ngIf="gitHubLinked; then ghLinked else ghUnlinked"></div>
            <ng-template #ghLinked>
              <span>
                You've authorized GitHub.<span class="pficon pficon-ok margin-left-10"></span>
              </span>
            </ng-template>
            <ng-template #ghUnlinked>
              <div class="checkbox">
                <input type="checkbox" id="authGitHub" name="authGitHub"
                       [(ngModel)]="authGitHub">
                <label for="authGitHub" class="required-pf">GitHub</label>
              </div>
            </ng-template>
          </div>
          <div class="form-group">
            <div *ngIf="openShiftLinked; then osoLinked else osoUnlinked"></div>
            <ng-template #osoLinked>
              <span>
                You've authorized OpenShift.com.<span class="pficon pficon-ok margin-left-10"></span>
              </span>
            </ng-template>
            <ng-template #osoUnlinked>
              <div class="checkbox">
                <input type="checkbox" id="authOpenShift" name="authOpenShift"
                       [(ngModel)]="authOpenShift">
                <label for="authOpenShift" class="required-pf">OpenShift.com</label>
              </div>
            </ng-template>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-default" id="connect"
                    [disabled]="isConnectAccountsDisabled"
                    (click)="connectAccounts()">Connect accounts</button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isSuccess">
        <div class="col-md-12">
          <div class="success-border">
            <h2 class="success-title">Success! You're ready to start in OpenShift.io.</h2>
            <p>You can now proceed to your home page to plan work, code, and deploy your applications.</p>
            <button class="btn btn-lg btn-primary"
                    (click)="routeToHome()">Get Started</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
