@import (reference) '../../../assets/stylesheets/_base';
@import (reference) '../../../assets/stylesheets/shared/_utilities';
.f8-itr__tree {
  ul {
    li {
      padding-right: 10px;
      iteration-tree li {
        padding-right: 0;
      }
      .fa {
        float: left;
        width: 15px;
        padding: 5px;
        font-size: 16px;
      }
      .dropdown-kebab-pf {
        .btn-link {
          padding-right: 10px;
          color: @color-pf-white;
        }
        .dropdown-menu-right {
          right: -10px;
        }
      }
    }
  }
}
