<h2>My Cards</h2>
<ul class="cards">
  <li *ngFor="let card of cards" (click)="onSelect(card)" [class.selected]="card === selectedCard">
    <span class="card-element">
      <span class="badge">{{card.id}}</span> {{card.name}}
    </span>
    <button class="delete-button" (click)="deleteCard(card, $event)">Delete</button>
  </li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addCard()">Add New Card</button>
<div *ngIf="addingCard">
  <my-card-detail (close)="close($event)"></my-card-detail>
</div>
<div *ngIf="selectedCard">
  <h2>
    {{selectedCard.name | uppercase}} is my card
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
