@import (reference) '../../../../../assets/stylesheets/shared/osio.less';
@keyframes flexGrow {
  to {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

@keyframes flexShrink {
  to {
    flex-basis: 1;
    flex-grow: .000001;
    flex-shrink: 1;
  }
}
@keyframes progress-line {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progress-rail {
  to {
    transform: translateX(400%);
  }
}
@keyframes progress {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    background-color: #d1d1d1;
  }
  to {
    background-color: transparent;
  }
}
@keyframes fadeInSuccess {
  to {
    background-color: #3f9c35;
  }
}
@keyframes fadeInFailed {
  to {
    background-color: #c00;
  }
}
@keyframes fadeInProgress {
  to {
    background-color: #0088ce;
  }
}
@keyframes fadeInAborted {
  to {
    background-color: #d1d1d1;
  }
}
@keyframes fadeInNotExecuted {
  to {
    background-color: #d1d1d1;
  }
}
.build-pipeline {
  border: 1px solid;
  border-color: #d1d1d1;
  border-top-width: 2px;
}
.build-pipeline:first-child {
  border-top-width: 1px;
}
.pipeline-container {
  flex: 1 1 auto;
  overflow: hidden;
}
.pipeline {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 5px;
}
.pipeline .pipeline-stage {
  flex: 0 0 auto;
  min-height: 96px;
  padding: 15px 10px 30px;
  position: relative;
  width: 100%;
}
.pipeline .pipeline-stage:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 1;
  font-size: 22px;
  text-align: center;
  color: #c4c4c4;
  content: '\2193';
}
.pipeline .pipeline-stage:last-child:before {
  display: none;
}
.pipeline .pipeline-stage.no-stages {
  align-items: center;
  display: flex;
  /* stylelint-disable */
  width: auto !important;
  /* stylelint-enable */
}
.pipeline .pipeline-stage.no-stages:before {
  display: none;
}
.pipeline .pipeline-stage.no-stages .pipeline-stage-name {
  margin-bottom: 0;
}
.pipeline-stage-name,
.pipeline-time,
.pipeline-actions {
  font-size: 12px;
  text-align: center;
}
.pipeline-stage-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: initial;
  margin-bottom: 15px;
}
.pipeline-time,
.pipeline-actions {
  margin-top: 12px;
  color: #9c9c9c;
}
.build-name,
.build-phase,
.build-timestamp {
  padding: 0 10px;
}
.build-timestamp {
  padding-top: 2px;
  font-size: 84%;
}
.build-phase .status-icon {
  margin-right: 2px;
}
.build-summary,
.stage {
  text-align: center;
}
.build-summary {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  border-bottom: 1px solid;
  border-color: #d1d1d1;
}
.build-timestamp {
  color: #9c9c9c;
}
@media (min-width: 400px) {
  .pipeline .pipeline-stage {
    padding-right: 52px;
    padding-bottom: 15px;
    width: 50%;
  }
  .pipeline .pipeline-stage:before {
    bottom: auto;
    left: auto;
    right: 10px;
    top: 37%;
    content: '\2192';
  }
}
@media (min-width: 600px) {
  .build-timestamp {
    padding-top: 0;
  }
  .build-pipeline {
    flex-direction: row;
    display: flex;
  }
  .build-pipeline .build-name {
    white-space: nowrap;
  }
  .build-summary {
    flex: 0 0 175px;
    flex-direction: column;
    justify-content: center;
    border-bottom-width: 0;
    border-right: 1px solid;
    border-right-color: #d1d1d1;
  }
}
@media (min-width: 992px) {
  .pipeline .pipeline-stage {
    width: 33.333333%;
  }
}
@media (min-width: 1200px) {
  .pipeline .pipeline-stage {
    width: 25%;
  }
}
