<div class="build">
  <div flex="" class="build-pipeline">
    <div class="build-summary">
      <div class="build-phase">
        <build-status-icon [status]="build.statusPhase"></build-status-icon>
<!--
        <a [routerLink]="[build.buildConfigName, 'builds', build.name]" title="view build">Build #{{build.buildNumber}}</a>
-->
        <a id="build-number" [href]="build.openShiftConsoleUrl" target="openshift" title="view build in the OpenShift console">Build #{{build.buildNumber}}</a>
      </div>
      <span class="build-timestamp">
                        {{build.creationTimestamp | amTimeAgo}}
                      </span>
      <div *ngIf="build.logURL" class="pipeline-link">
        <a [href]="build.logURL" target="_blank">View Log</a>
      </div>
    </div>
    <div class="pipeline-container">
      <ng-container *ngIf="!build.pipelineStages.length; else pipelinesStarted">
        <ng-container *ngIf="!build.logURL; then noLogs; else noStages"></ng-container>
      </ng-container>

      <ng-template #noLogs>
        <div class="pipeline">
          <div class="pipeline-stage no-stages row">
            <div class="col-sm-1">
              <span class="pipeline-stage-clock fa fa-clock-o"></span>
            </div>
            <div class="col-sm-11">
              <span id="pipeine-stage-name-no-log" class="pipeline-stage-name">Setting up your build server.</span><br/>
              <span class="pipeline-stage-name">This may take several minutes to complete.</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #noStages>
        <div class="pipeline">
            <div class="pipeline-stage no-stages row">
              <div class="col-sm-1">
                <span class="pipeline-stage-clock fa fa-clock-o"></span>
              </div>
              <div class="col-sm-11">
                <span id="pipeine-stage-name-no-stages" class="pipeline-stage-name">Build has started.</span><br/>
                <span class="pipeline-stage-name">View log for more information.</span>
              </div>
            </div>
        </div>
      </ng-template>
      <ng-template #pipelinesStarted>
        <div class="pipeline">
          <div class="pipeline-stage " *ngFor='let stage of displayStages'>
            <div column="" class="pipeline-stage-column">
              <div id="pipeine-stage-name" class="pipeline-stage-name {{build.statusPhase}}"
                  title="stage status: {{stage.status}}">
                {{stage.name}} &nbsp;
                <span class="open-service-icon" *ngIf="stage.serviceUrl">
                  <a target="deployment"
                    class="external-service"
                    [href]="stage.serviceUrl"
                    title="Open this service in a separate browser tab">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
              <pipeline-status [stage]="stage"></pipeline-status>

              <div class="pipeline-actions" *ngIf="stage.jenkinsInputURL">
                <a (click)="openInputActionDialog(stage)" class="btn" title="Input is required before this pipeline can proceed">Input Required</a>
              </div>
              <div class="pipeline-time {{stage.status}}"
                  *ngIf="!stage.jenkinsInputURL && stage.durationMillis && !(build.pipelineStagePendingInput)">
                {{stage.durationMillis | stageTime }}
              </div>
            </div>
              <!-- Fabric-stack-analysis-ui -->
              <div *ngIf="build && build.annotations && build.annotations['fabric8.io/bayesian.analysisUrl'] && stage.name === 'Build Release' && stage.status === 'SUCCESS'" class="col-xs-12">
                <stack-details [buildNumber]="build.buildNumber" [appName]="build.buildConfigName" [repoInfo]="build.repositoryInformation" [stack]="build && build.annotations && build.annotations['fabric8.io/bayesian.analysisUrl']"></stack-details>
              </div>
              <!-- Fabric-stack-analysis-ui -->
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<input-action-dialog></input-action-dialog>
