<div id="overview" class="container content">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <img src="{{context?.user?.attributes?.imageURL}}" width="150" height="250" />
      </div>
      <div class="row">
        <h2>{{context?.user?.attributes?.fullName}}</h2>
      </div>
      <div class="row">
        <p>
          {{context?.user?.attributes?.username}}
        </p>
        <p>
          {{context?.user?.attributes?.bio}}
        </p>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="form-group">
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="search-pf-input-group">
              <input id="spacesSearch" type="search" class="form-control" placeholder="Search collaboration spaces..." #search (keyup)="searchSpaces(search.value)">
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <button class="btn btn-default" (click)="createSpace.open()">New</button>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="spaces table">
          <tr *ngFor="let s of spaces">
            <td *ngIf="s.relationalData && s.relationalData.creator && s.relationalData.creator.attributes">
              <h2><a [routerLink]="['/', s.relationalData.creator.attributes.username, s.attributes.name]">{{s.attributes.name}}</a></h2>
              <p>{{s.description}}</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<!-- Create Space modal -->
<modal #createSpace title="Create new collaboration space">
  <modal-content>
    <space-wizard [host]="createSpace"></space-wizard>
  </modal-content>
</modal>
