<div id="overview" class="container-fluid spaces-page height-100">
  <main class="row">
    <aside>
      <div class="contents">
        <div class="row">
          <img src="{{context?.user?.attributes?.imageURL}}" />
        </div>
        <div class="row">
          <h2>{{context?.user?.attributes?.fullName}}</h2>
        </div>
        <div class="row">
          <p>
            {{context?.user?.attributes?.username}}
          </p>
          <p>
            {{context?.user?.attributes?.bio}}
          </p>
        </div>
      </div>
    </aside>
    <section>
      <div class="row">
        <div class="form-group">
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="search-pf-input-group">
              <input id="spacesSearch" type="search" class="form-control" placeholder="Search spaces..." #search (keyup)="searchSpaces(search.value)">
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <button class="btn btn-default" (click)="createSpace.open()">New</button>
          </div>
        </div>
      </div>
      <div class="contents posRel height0">
        <div class="spaces-list-page flex-container in-column-direction flex-grow-1">
          <div class="spaces-list-wrap" almInfiniteScroll (eachElementHeightInPx)='contentItemHeight' (initItems)='initSpaces($event)' (fetchMore)='fetchMoreSpaces($event)'>
            <div *ngFor="let s of spaces">
              <div class="space-item" *ngIf="s.relationalData && s.relationalData.creator && s.relationalData.creator.attributes">
                <h2>
                  <a [routerLink]="['/', s.relationalData.creator.attributes.username, s.attributes.name]">{{s.attributes.name | spaceName}}</a>
                  <i class="fa fa-trash" (click)="confirmDeleteSpace(s)"></i>
                </h2>
                <p>{{s.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>

<!-- Create Space modal -->
<modal #createSpace title="Create new space">
  <modal-content>
    <space-wizard [host]="createSpace"></space-wizard>
  </modal-content>
</modal>

<!-- Delete Space modal -->
<modal #deleteSpace title="Remove the space">
  <modal-content>
    <h2>Are you sure you want to remove the space</h2>
    <div>
      <button class="btn btn-cancel" (click)="deleteSpace.close()">Cancel</button>
      <button class="btn btn-danger" (click)="removeSpace()">Remove</button>
    </div>
  </modal-content>
</modal>
