<span class="dropdown dropdown-kebab-pf" dropdown *ngIf="cheRunning">
  <button class="btn btn-link dropdown-toggle" type="button" dropdownToggle>
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu-right dropdown-menu" aria-labelledby="dropdownKebab" *dropdownMenu>
    <li [ngClass]="{'disabled': workspaceBusy || !codebase.gitHubRepo}"
        [attr.role]="'menuitem'">
      <a href="javascript:void(0)" class="dropdown-item secondary-action" *ngIf="!workspaceBusy && codebase.gitHubRepo; else createDisabled"
         (click)="createAndOpenWorkspace()">Create workspace</a>
      <ng-template #createDisabled>
        <a href="javascript:void(0)" class="dropdown-item secondary-action" *ngIf="workspaceBusy"
          tooltip="Waiting for Che..." disabled>Create workspace</a>
        <a href="javascript:void(0)" class="dropdown-item secondary-action" *ngIf="!codebase.gitHubRepo"
          tooltip="GitHub repository is not accessible" disabled>Create workspace</a>
      </ng-template>
    </li>
    <li [attr.role]="'menuitem'">
      <a href="javascript:void(0)" class="dropdown-item secondary-action"
         (click)="confirmDeleteCodebase($event)">Remove codebase</a>
    </li>
  </ul>
</span>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content" tabindex="0">
      <codebase-delete-dialog [host]="modal" [codebase]="codebase" (onDelete)="onDeleteCodebase($event)"></codebase-delete-dialog>
    </div>
  </div>
</div>
