<div id="spacehome-pipelines-card" class="pipelines-widget card-pf f8-card">
  <div class="card-pf-heading f8-card-heading">
    <div class="card-pf-heading-details f8-card-heading-details">
      <a class="btn btn-link f8-card-heading-btn-link" (click)="addToSpace.emit()">
        <i class="pficon pficon-add-circle-o"></i>
      </a>
    </div>
    <h2 class="card-pf-title">
      <a id="spacehome-pipelines-title" [routerLink]="[contextPath | async, 'create', 'pipelines']">Pipelines</a>
      <span id="spacehome-pipelines-badge" class="badge f8-card-badge">{{buildConfigsCount | async}}</span>
    </h2>
  </div>
  <div class="card-pf-body f8-card-body">
    <div class="f8-blank-slate-card" *ngIf="!(buildConfigsCount | async)">
      <div class="f8-blank-slate-icon">
        <span class="pficon pficon-info"></span>
      </div>
      <h3>No Pipelines have run</h3>
      <p>
        Pipelines run when you commit and build your code base.
      </p>
      <div class="f8-blank-slate-main-action">
        <button id="spacehome-pipelines-add-button" class="btn btn-primary btn-lg" (click)="addToSpace.emit()">Add to Space</button>
      </div>
    </div>
    <ul id="spacehome-pipelines-list" class="list-group" *ngIf="(buildConfigsCount | async) > 0">
      <li class="list-group-item" *ngFor="let buildconfig of buildConfigs | async" >
        <div class="f8-card__pipeline-column">
          <span class="{{buildconfig.iconStyle}} fa-spin" title="{{buildconfig.statusPhase}}" *ngIf="buildconfig.iconStyle === 'pficon-running'"></span>
          <span class="{{buildconfig.iconStyle}}" title="{{buildconfig.statusPhase}}" *ngIf="buildconfig.iconStyle !== 'pficon-running'"></span>
          <a [routerLink]="['/', buildconfig.namespace, buildconfig.labels['space'], 'create', 'pipelines']" class="f8-card__pipeline-column-name">
            {{buildconfig.name}}
          </a>
          <span>|</span>
          <a [href]="buildconfig.openShiftConsoleUrl" target="_blank"  class="f8-card__pipeline-column-build">
            Build #{{buildconfig.lastVersion}} <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </div>
        <div class="f8-card__pipeline-column-start">
          Started: {{buildconfig.lastBuild?.creationTimestamp | date:'short'}}
        </div>
        <div class="f8-card__pipeline-column-status">
          Status: <b>{{buildconfig.statusPhase || 'Unknown'}}</b>
        </div>
      </li>
    </ul>
  </div>
</div>
