<div class="pipelines-widget card-pf">
  <div class="card-pf-heading">
    <h2 class="card-pf-title">
      <span>Pipelines</span>
      <span class="badge">{{buildConfigsCount | async}}</span>
    </h2>
  </div>
  <div class="card-pf-body card-f8-body">
    <div class="blank-slate-f8-card" *ngIf="(buildConfigsCount | async) === 0">
      <div class="blank-slate-f8-icon">
        <span class="pficon pficon-info"></span>
      </div>
      <h3>No Pipelines have run</h3>
      <p>
        Pipelines run when you commit and build your code base.
      </p>
      <div class="blank-slate-f8-main-action">
        <button class="btn btn-primary btn-lg">Add to Space</button>
      </div>
    </div>
    <ul class='list-group' *ngIf="(buildConfigsCount | async) > 0">
      <li class='list-group-item' *ngFor="let buildconfig of buildConfigs | async">
        <span class="{{buildconfig.iconStyle}}" title="{{buildconfig.statusPhase}}"></span>
        Last build for {{buildconfig.name}} was #{{buildconfig.lastVersion}}, ran
        <span [innerHTML]="buildconfig.lastBuild?.creationTimestamp | amTimeAgo"></span>
        and took {{buildconfig.lastBuild?.duration | amDuration: 'ms'}}.
      </li>
    </ul>
  </div>
  <div class="card-pf-footer card-f8-footer">
    <button class="btn btn-link pull-right">
      See All
    </button>
  </div>
</div>
