<div *ngIf="workspacesAvailable; then showOpenWorkspace else showCreateWorkspace"></div>
<ng-template #showOpenWorkspace>
  <select class="combobox form-control workspace-select"
          [disabled]="!workspacesAvailable || workspaceBusy"
          [(ngModel)]="workspaceUrl"
          (ngModelChange)="setWorkspaceSelected()">
    <option value="default">Select a Workspace</option>
    <option *ngFor="let workspace of workspaces" [value]="workspace.links.open">
      {{workspace.attributes.name.length > 0 ? workspace.attributes.name : "None"}}
    </option>
  </select>
  <button class="btn btn-default btn-lg"
          [disabled]="!workspaceSelected || workspaceBusy"
          (click)="openWorkspace()">Open</button>
</ng-template>
<ng-template #showCreateWorkspace>
  <a href="javascript:void(0)" (click)="createAndOpenWorkspace()" *ngIf="!workspaceBusy">
    <i class="pficon pficon-add-circle-o margin-right-10"></i>Create workspace</a>
  <a class="workspace-busy disabled" href="javascript:void(0)" *ngIf="workspaceBusy"
     tooltip="Waiting for Che..." disabled>
    <i class="pficon pficon-add-circle-o margin-right-10"></i>Create workspace</a>
</ng-template>
<div class="busy-indicator" *ngIf="workspaceBusy">
  <div class="spinner spinner-sm"></div>
</div>
