@import '../../../../assets/stylesheets/base';

codebases-item-workspaces {
  display: flex;
}

.busy-indicator {
  display: flex;
  height: auto;
  margin-left: 10px;
  position: relative;
  vertical-align: center;
  width: 25px;
  > div {
    margin:auto;
    padding:0;
  }
}

.workspace-select {
  height: 32px;
  margin-right: 5px;
  width: 200px;
}
