<div  class="container f8-email-verify">
  <div class="row">
    <div class="blank-slate-pf">
      <div class="rh-branding-logo">
        <img class="width-100"
          src="../../../assets/images/Logotype_RH_OpenShift-io_RGB_RedGray.png">
      </div>
      <div>
        <img *ngIf="verified"
          width="100"
          height="100" 
          src='../../../assets/images/trophy.png' />
        <img *ngIf="!verified"
          width="100"
          height="100" 
          src='../../../assets/images/neutralface.png' />
        <h1>
          {{ message }}
        </h1>
        <p>
          {{ secMessage }}
        </p>
      </div>
      <div class="blank-slate-pf-main-action">
        <button type="button"
          class="btn btn-primary btn-lg"
          (click)="goHome()">
          Continue to my dashboard
        </button>
      </div>
    </div>
  </div>
</div>
