<div *ngIf="showDialog">	
	<pf-dialog
		(pfDialogClick)="onButtonClick($event)"
		[dialog]='dialog'	
	></pf-dialog>
</div>
<div class="list-group-item" (click)="onSelect($event)" [class.selected]="isSelected()">
	<!-- info area -->
	<div class="list-view-pf-main-info">
		<div class="list-view-pf-left mobdn">
    	<pf-dropdown
      	(change)="onChangeState($event)" 
        [options]="stateDropdownOptions"
        [selected]="workItem.selectedState">
      </pf-dropdown>				
    </div>
		<div class="list-view-pf-left type workItemList_workItemType">
			<span class='fa' [ngClass]="{'fa-wrench': workItem.type=='system.bug',
      	'fa-user': workItem.type=='system.userstory',
        'fa-globe': workItem.type=='system.feature',
        'fa-bookmark': workItem.type=='system.experience',
        'fa-eye': workItem.type=='system.experience',
        'fa-bank': workItem.type=='system.fundamental',
        'fa-rocket': workItem.type=='system.valueproposition' }">
			</span>
			{{workItem.id}}
		</div>
		<div class="list-view-pf-body">
			<div class="list-view-pf-description">
				<div class="list-group-item-heading workItemList_title width100 truncate">
					{{workItem.fields['system.title']}}
				</div>
				<div class="list-group-item-text workItemList_description mobdn">
					{{workItem.fields['system.description'] ? workItem.fields['system.description'] : "No description available for this work item."}}
				</div>
			</div>
		</div>
	</div>
	<!-- action area -->
	<div class="list-view-pf-actions">
		<button class="btn btn-default workItemList_ViewItemDetailBtn mobdn" (click)="onDetail($event)">View Details</button>
		<div class="dropdown pull-right dropdown-kebab-pf" [class.open]="actionDropdownOpen">
			<button class="btn btn-link dropdown-toggle workItemList_dropdownKebabBtn" type="button" id="dropdownKebabRight" (click)="onToggleActionDropdown($event)" aria-haspopup="true" aria-expanded="true">
				<span class="fa fa-ellipsis-v"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
				<li><a href="#" class="workItemList_Delete" (click)="confirmDelete($event)">Delete</a></li>
				<li><a href="#" class="workItemList_Backlog" (click)="onMoveToBacklog($event)">Move to Backlog</a></li>
				<li><a href="#" class="workItemList_ChangeStatus" (click)="onChangeState($event)">Change State</a></li>
			</ul>
		</div>
	</div>
</div>