<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-9">
      <h3 class="collaborators-header">Collaborators of {{context.space.attributes.name | spaceName}} Space:</h3>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <div class="table-action-heading" (click)="launchAddCollaborators()">
        <a><i class="pficon pficon-add-circle-o"></i> Add Collaborators</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="collaborator-list-scroll" almInfiniteScroll (eachElementHeightInPx)='54' (initItems)='initCollaborators($event)' (fetchMore)='fetchMoreCollaborators($event)'>
        <pfng-list
          [config]="listConfig"
          [itemTemplate]="itemTemplate"
          [actionTemplate]="actionTemplate"
          [items]="collaborators" >
          <template #itemTemplate let-item="item" let-index="index">
            <div class="list-pf-content-wrapper">
              <div class="list-pf-main-content">
                <div class="list-pf-title">
                  <img [src]="item.attributes.imageURL" height="40"/>
                  <span class="margin-left-40">{{item.attributes.fullName}}</span>
                </div>
                <div class="list-pf-description">
                  {{item.attributes.email}}
                </div>
              </div>
            </div>
          </template>
          <template #actionTemplate let-item="item" let-index="index">
            <span class="dropdown-kebab-pf dropdown" dropdown>
              <button class="btn btn-link dropdown-toggle" type="button" dropdownToggle>
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu-right dropdown-menu" aria-labelledby="dropdownKebab" *dropdownMenu>
                <li role="menuitem"><a [routerLink]="['/', item.attributes.username]" class="secondary-action">View user</a></li>
                <li role="menuitem"><a href="javascript:void(0)" class="secondary-action" (click)="confirmUserRemove(item)">Remove from space</a></li>
              </ul>
            </span>
          </template>
        </pfng-list>
      </div>
    </div>
  </div>
</div>

<modal #addCollaborators modalClass="chromeless-modal">
  <modal-content class="chromeless-modal-content">
    <add-collaborators-dialog [host]="addCollaborators" [spaceId]="context?.space.id" (onAdded)="addCollaboratorsToParent($event)"></add-collaborators-dialog>
  </modal-content>
</modal>


<!-- Delete modal -->
<modal #removeCollaborator title="Remove collaborator from space">
  <modal-content *ngIf="userToRemove">
    <div>You are about to remove collaborator {{userToRemove.attributes.fullName}} from this collaboration space.</div>
    <div>The selected user will not be able to edit or be assigned work in the {{context.space.attributes.name}}.</div>
    <div class="remove-footer pull-right">
      <button class="btn btn-default" (click)="removeCollaborator.close()">Cancel</button>
      <button class="btn btn-danger" (click)="removeUser()">Remove</button>
    </div>
  </modal-content>
</modal>
