<div class="row panel panel-default resource-panel">
  <div class="panel-body cards-pf resource-card">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-4 col-md-2">
          <h3>
            <b>
              <a class="resource-title" (click)="resourcesCollapsed = !resourcesCollapsed">
                <span class="fa fa-angle-down"></span>&nbsp;&nbsp;Resource Usage
              </a>
            </b>
          </h3>
        </div>
        <div [collapse]="resourcesCollapsed">
          <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let environment of environments | async">
            <resource-card [spaceId]="spaceId | async" [environment]="environment"></resource-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
