<div class="container content height-100">
  <div class="errorPageWrapper">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <img src="../../assets/images/ninja-illustration.png" class="width-100"/>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <div class="error-page-text">
            <h2 class="padding-bottom-15">404: Have you seen this page? Probably not.</h2>
            <h3 class="padding-top-15">The page you're looking for isn't here.</h3>
            <p class="padding-bottom-10">It's not the end of the internet, but it's close.
              The page you're trying to find was either removed,
              moved, or may be the URL isn't quite right.</p>
            <button class="btn btn-default margin-bottom-15 margin-right-10">Take me home</button>
            <button class="btn btn-primary margin-bottom-15">I'm feeling helpful, let's report the issue</button>
            <hr />
            <p>These links might also be helpful:</p>
            <ul class="list-unstyled">
              <li>
                <a>Add work item</a>
              </li>
              <li>
                <a>Iterations</a>
              </li>
              <li>
                <a>Spaces</a>
              </li>
              <li>
                <a>My dashboard</a>
              </li>
              <li>
                <a>Product Documentation</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
