<div class="container-fluid error-page padding-top-20">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="row">
      <img src="../../../assets/images/badconnection.svg" />
      <div class="error-page-text">
        <h2 class="error-page-text-heading">404: You've found something,
          <br />but not the page you're looking for.</h2>
        <p>
          It's not the end of the internet, but it's close. The page you're trying to find was either removed, moved, or maybe the
          URL isn't quite right.
        </p>
        <p>
          You might find the
          <a [routerLink]="spaceLink">Spaces</a> page helpful.
        </p>
        <a class="btn btn-primary" [routerLink]="['/_home']">Take Me Home</a>
      </div>
    </div>
  </div>
</div>
