<div class="modal-header">
  <h4 class="modal-title pull-left">Remove Codebase</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="host.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Are you sure you want to remove <span class="codebase-name">{{ codebase.name }}</span>?
    This will only remove the codebase from CodeReady Toolchain, and will not delete your code from
    your git repository.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="cancel()">Cancel</button>
    <button class="btn btn-danger" (click)="confirmDelete()">Remove</button>
</div>
