<div class="padding-15">
  <div class="row padding-bottom-15">
    <div class="col-xs-12">
      <div><a routerLink="/home" routerLinkActive="active">Home</a> &gt; Filter</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <alm-filter [config]="filterConfig" (onChange)="filterChange($event)"></alm-filter>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="events-label">Valid Items: </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let item of items" class="col-md-12 cfme-row-column">
        <div class="row">
          <div class="col-md-3">
            <span>{{item.name}}</span>
          </div>
          <div class="col-md-5">
            <span>{{item.address}}</span>
          </div>
          <div class="col-md-2">
            <span>{{item.birthMonth}}</span>
          </div>
          <div class="col-md-2">
            <span>{{item.weekDay}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="events-label">Current Filters: </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea rows="5" class="col-md-12">{{filtersText}}</textarea>
    </div>
  </div>
</div>
