<div id="work" class="container content">
  <form role="form" class="" (ngSubmit)="save()">
    <div class="row">
      <h2>How you receive notifications</h2>
      <h3>Participating</h3>
      <p>Receive updates to the work items assigned to you, the conversations you are participating in, or if someone sites
        you with an <strong>@mention.</strong></p>
      <div class="col-md-2" *ngFor="let m of notificationMethods">
        <input id="{{m.value}}" name="{{m.value}}" type="checkbox" [(ngModel)]="m.active">
        <label for="{{m.value}}" class="">{{m.display}}</label>
      </div>
    </div>
    <div class="row">
      <h2>Notification email</h2>
      <label for="primaryEmail" class="col-md-3">Primary email address</label>
      <div class="col-md-4">
        <select class="form-control" id="primaryEmail" name="primaryEmail" [(ngModel)]="profile.current.primaryEmail">
          <option *ngFor="let e of profile.current.emails" [ngValue]="e">{{e.address}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
