<div id="work" class="container content">
  <div class="row">
    <h2>How you receive notifications</h2>
    <h3>Participating</h3>
    <p>Receive updates to the work items assigned to you, the conversations you are participating in, or if someone sites you
      with an <strong>@mention.</strong></p>
    <div class="col-md-2">
      <input id="email" type="checkbox" checked>
      <label for="email" class="">Email</label>
    </div>
    <div class="col-md-2">
      <input id="web" type="checkbox" checked>
      <label for="web" class="">Web</label>
    </div>
  </div>
  <div class="row">
    <h2>Notification email</h2>
    <form role="form" class="">
      <label for="primaryEmail" class="col-md-3">Primary email address</label>
      <div class="col-md-4">
        <select class="form-control" id="primaryEmail">
            <option>pmuir@example.com</option>
          </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default" type="button">Save</button>
      </div>
    </form>
  </div>
</div>