<div class="modal-header">
  <b>Add collaborators</b>
</div>

<div class="modal-body">
  <form role="form" #collaboratorsForm="ngForm" (ngSubmit)="addCollaborators()" novalidate>
    <div class="form">
      <fieldset class="add-fieldset">
        <div class="form-group">
          <label class="control-label">Collaborators</label>
          <ss-multiselect-dropdown
            #typeahead
            class="user-select"
            style="width: 300px;"
            name="collaboratorsId"
            (keyup)="changed($event)"
            [options]="dropdownOptions"
            [(ngModel)]="dropdownModel"
            [settings]="dropdownSettings" required>
          </ss-multiselect-dropdown>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <div class="add-footer">
        <div>
          <button class="btn btn-default margin-right-5" type="button" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" [disabled]="!collaboratorsForm.form.valid" type="submit">Add</button>
        </div>
      </div>
    </div>
  </form>
</div>

