@import '../assets/stylesheets/all';
//@import "../assets/vendor/patternfly/stylesheets/patternfly";
//@import "../assets/vendor/patternfly/images/patternfly/bg-login.jpg";
//@import "../assets/vendor/patternfly/images/patternfly/spinner.gif";
.navbar-header {
  span{
    color: $color-pf-white;
    padding: em(5) em(10);
    font-size: em(18);
  }
}
.footer{
  text-align: $textCenter;
  font-size: $font-size-small;
  border-top: 1px solid $color-pf-blue-300;
  margin-top: 2%;
}

.content {
  padding-top:20px;
}

.app {
  padding: em(27) 0 em(66) 0;
  height: 100%;
}

@media (max-width: ($grid-float-breakpoint - 1)){
  .app{ padding-top: em(132); }
}

.dropdown {
  a:hover {
    text-decoration: none;
  }

  a { 
    color: white;
  }

}
