.login-pf{
  background-color: #000;
}
.navbar-header span{
	color: #fff;
	padding: 5px 10px;
	font-size: 18px;	
}
.footer{
	text-align: center;
	font-size: 11px;
	border-top: 1px solid #39a5dc;
	margin-top: 2%;
}