<header>
  <alm-app-header></alm-app-header>
</header>
<pfng-toast-notification-list
    [notifications]="notifications.current"
    (onActionSelect)="handleAction($event)">
</pfng-toast-notification-list>
<main class="">
  <div class="">
    <router-outlet name="action"></router-outlet>
    <div [hidden]="!isExperimentalFeature">
      <f8-exp-feature-banner>
      </f8-exp-feature-banner>
      <div [hidden]="experimentalFeatureEnabled">
        <f8-exp-feature-page (onExperimentalFeaturesEnabled)="updateFeatureEnabled($event)">
        </f8-exp-feature-page>
      </div>
    </div>
    <div [hidden]="isExperimentalFeature && !experimentalFeatureEnabled" [class.experimental-border]="isExperimentalFeature">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
