.status{
  width: 130px;
  text-align: left;
}
.status span.label{
  border-radius: 10px;
  padding: 5px 20px;
  opacity: 0.7;
}
.type span{
  font-size: 12px;
  margin-right: 10px;
  color: #8b8d8f;
}
.card-details{
	padding: 1% 8%;
}
.error {color:red;}
button.delete-button{
  float:right;
  background-color: gray !important;
  color:white;
}
