<nav class="navbar navbar-default navbar-pf" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
    	</button>
    	<img src="../assets/img/brand.png" alt="Red Hat ALM" />
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-utility">
      	<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          		<span class="pficon pficon-user"></span>
          		John <b class="caret"></b>
        	</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-pf" role="navigation">
	<div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary">
      <li>
        <a [routerLink]="['/work-item-list']" routerLinkActive="active">Work Item List</a>
      </li>
      <li>
        <a [routerLink]="['/board']" routerLinkActive="active">Board</a>
      </li>
    </ul>
  </div>
</nav>
