<!--Iteration Start-->
<div class="add-iteration">
  <a *ngIf="loggedIn && editEnabled"
    class="text-right"
    (click)="modal.openCreateUpdateModal('create', null, $event);">
    <i *ngIf="loggedIn && editEnabled" id="add-iteration-icon" class="pficon-add-circle-o fa-lg pull-right with-cursor-pointer add-btn" placement="bottom" tooltip="Add an Iteration"></i>
  </a>
</div>
<div class="iterations-container">
  <div class="iteration-wrapper">
    <!-- display the active iterations first -->

    <!-- Nested Iteration Display -->
    <div class="iterations">
      <alm-tree-list #treeList
        [listTemplate]="treeListTemplate"
        [loadTemplate]="treeListLoadTemplate"
        [nodes]="treeIterations"
        [options]="treeListOptions"
        [showDropSlot]="false"
        [showExpander]="false"
        (onMoveNode)="onMoveNode($event)">
        <template #treeListLoadTemplate let-node="node"
          let-index="index">
          <span>Loading...</span>
        </template>
        <template #treeListTemplate let-node="node"
          let-index="index">
          <alm-tree-list-item #treeListItem
              [index]="index"
              [node]="node"
              [template]="treeListItemTemplate">
            <template #treeListItemTemplate>
              <iteration-list-entry
                id="{{'iterationList_OuterWrap_' + index}}"
                class="iteration-list-entry"
                [listItem]="treeListItem"
                [iteration]="node.data"
                (selectEvent)="onSelect($event)"
                (toggleEvent)="onToggle($event)"
                (queryEvent)="onQuery($event)"
                (editEvent)="onEdit($event)"
                (closeEvent)="onClose($event)"
                (createChildEvent)="onCreateChild($event)"
              >
              </iteration-list-entry>
            </template>
          </alm-tree-list-item>
        </template>
      </alm-tree-list>
    </div>
  </div>
</div>
<!-- Iteration End-->

<fab-planner-iteration-modal
  #modal
  (onSubmit)="onCreateOrupdateIteration($event)" >
</fab-planner-iteration-modal>
