<!--Iteration Start-->
<div class="f8-itr">
  <!-- Active iteration -->
    <div class="f8-itr__panel margin-bottom-15">
      <div class="f8-itr__panel-hdr f8-itr__panel-hdr--active nohover">
        <div class="f8-itr__add"
          [class.show]="sidePanelOpen"
          [class.hide]="!sidePanelOpen">
          <a *ngIf="loggedIn && editEnabled"
            class="text-right"
            (click)="modal.openCreateUpdateModal('create', null, $event);">
            <i class="pficon-add-circle-o pull-right f8-itr__add-btn"
              id="add-iteration-icon" placement="bottom"
              tooltip="Add an Iteration"></i>
          </a>
        </div>
        <span class="pull-left fa fa-check margin-right-10
          padding-top-2 padding-bottom-3"
          tooltip="{{sidePanelOpen ? '' : 'Active Iteration'}}"
          placement="right"></span>
        <h3 class="padding-0 margin-0"
          [class.show]="sidePanelOpen"
          [class.hide]="!sidePanelOpen">
          Iterations
        </h3>
      </div>
      <ul
        [class.show]="sidePanelOpen"
        [class.hide]="!sidePanelOpen">
        <li class="active f8-itr__container padding-v-2 padding-right-15"
          *ngFor="let iteration of activeIterations"
          [routerLinkActive]="'f8-itr--selected'"
          [routerLink]="[]" [attr.data-id]="iteration.id"
          [queryParams]="{q: constructURL(iteration.id)}"
          (click)="setGuidedTypeWI(item);">
            <span id="{{iteration.attributes.resolved_parent_path +
                '/' + iteration.attributes.name }}">
              {{iteration.attributes.resolved_parent_path +
                '/' + iteration.attributes.name | truncate : -50 }}
            </span>
            <span class="fa fa-check pull-right margin-top-3"></span>
            <span
              *ngIf="iteration.attributes.active_status"
              class="active-tag pull-right">
                [Active]
            </span>
        </li>
      </ul>
      <form role="form"
        class="search-pf has-button padding-h-15"
        [class.show]="sidePanelOpen"
        [class.hide]="!sidePanelOpen">
        <div class="form-group">
          <div class="search-pf-input-group">
            <label for="search4" class="sr-only">Search</label>
            <input id="search4" type="search" class="form-control" placeholder="Search is not functional" readonly>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit" disabled>
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
    </div>
    <!-- Nested Iteration Display -->
    <div class="f8-itr__panel f8-itr__panel--nested"
      [class.show]="sidePanelOpen"
      [class.hide]="!sidePanelOpen">
      <iteration-tree
        [iterationList]="treeIterations"
        [collection]="collection"
        [witGroup]="witGroup"
        (onEditIteration)="onEdit($event)"
        (onCloseIteration)="onClose($event)"
        (onCreateIteration)="onCreateChild($event)">
      </iteration-tree>
    </div>
</div>
<!-- Iteration End-->

<fab-planner-iteration-modal
  #modal
  (onSubmit)="onCreateOrupdateIteration($event)" >
</fab-planner-iteration-modal>
