@import '../../../assets/stylesheets/_base';
.add-iteration {
  margin-top: -58px;
  float: right;
  .add-btn {
    color: @color-pf-blue;
    font-size: 13px;
  }
}
.iterations-container {
  background-color: @color-pf-black-900;
  .iteration-wrapper {
    color: @color-pf-white;
  }
}

.iterations {
  .node-drop-slot,
  .list-group-item {
    padding: 0 !important;
    margin:  0 !important;
    background-color: @color-pf-black-900;
    &:hover {
      background-color: @color-pf-black-700;
    }
    .tree-list-item {
      width: 100%;
      display: inline-block;
      background-color: @color-pf-black-900;
      &:hover {
        background-color: @color-pf-black-700;
      }
      span {
        float: left;
      }
    }
  }
/*.tree-item-selected {
    .tree-list-item {
      background-color: @color-pf-black-700;
      border-left: 4px solid;
      border-left-color: @color-pf-blue;
      &:hover {
        background-color: @color-pf-black-700;
        border-left: 4px solid;
        border-left-color: @color-pf-blue;
      }
    }
  }*/
}


