@import '../../../assets/stylesheets/_base';
.add-iteration {
  margin-top: -67px;
  float: right;
  .add-btn {
    color: @color-pf-blue;
    font-size: 13px;
  }
}
.iterations-container {
  background-color: @color-pf-black-900;
  .iteration-wrapper {
    color: @color-pf-white;
  }
}

.iterations {
  .node-drop-slot,
  .list-group-item {
    padding: 0 !important;
    margin:  0 !important;
    background-color: @color-pf-black-900;
    &:hover {
      background-color: @color-pf-black-700;
    }
    .tree-list-item {
      width: 100%;
      display: inline-block;
      background-color: @color-pf-black-900;
      &:hover {
        background-color: @color-pf-black-700;
      }
      span {
        float: left;
      }
    }
    .list-group-item {
      padding-left: 20px;
    }
    .on-hover-background {
      background-color: @color-pf-black-700;
    }
  }
  .iteration-expanded-div {
    padding-left: 0;
    margin-bottom: 0;
    .dropdown-kebab-pf {
      .btn-link {
        color: @color-pf-white;
      }
    }
    > li {
      padding: 15px;
      list-style: none;
      &:hover { background-color: @color-pf-black-700; }
      &.active {
        border-left: 4px solid;
        border-left-color: transparent;
        &.selected-iteration {
          border-left: 4px solid;
          border-left-color: @color-pf-blue;
          background-color: @color-pf-black-700;
        }
      }
      .iteration-count { float: right; }
      .iteration-status {
        padding-top: 20px;
        padding-bottom: 15px;
      }
      .iteration-description {
        &:after,
        &:before {
          background: transparent !important;
          content: none !important;
        }
      }
    }
  }
}
.not-current-iteration {
  .truncate {
    padding-right: 60px;
  }
}
/*.tree-item-selected {
    .tree-list-item {
      background-color: @color-pf-black-700;
      border-left: 4px solid;
      border-left-color: @color-pf-blue;
      &:hover {
        background-color: @color-pf-black-700;
        border-left: 4px solid;
        border-left-color: @color-pf-blue;
      }
    }
  }*/
