<!--Iteration Start-->
<div class="add-iteration">
  <a *ngIf="loggedIn && editEnabled"
    class="text-right"
    (click)="modal.openCreateUpdateModal('create', null, $event);">
    <i *ngIf="loggedIn && editEnabled" id="add-iteration-icon" class="pficon-add-circle-o fa-lg pull-right with-cursor-pointer add-btn" placement="bottom" tooltip="Add an Iteration"></i>
  </a>
</div>
<div class="iterations-container">
  <div class="iteration-wrapper">
    <!-- display the active iterations first -->

    <!-- Nested Iteration Display -->
    <div class="iterations">
      <tree-list class="list-wrap"
        #treeList
        [listTemplate]="treeListTemplate"
        [nodes]="treeIterations">
        <template #treeListTemplate let-node="node">
          <tree-list-item
            [itemTemplate]="treeListItemTemplate"
            [node]="node"
            (onSelect)="itemSelected($event)"
            (onToggle)="itemToggled($event)">
            <template #treeListItemTemplate let-node="node">
              <iteration-list-entry
                [iteration]="node"
                (selectEvent)="onSelect($event)"
                (toggleEvent)="onToggle($event)"
              >
              </iteration-list-entry>
            </template>
          </tree-list-item>
        </template>
      </tree-list>
    </div>
  </div>
</div>
<!-- Iteration End-->

<fab-planner-iteration-modal
  #modal
  (onSubmit)="onCreateOrupdateIteration($event)" >
</fab-planner-iteration-modal>
