<div class="list-pf-left">
    <span class="fa list-pf-icon list-pf-icon-bordered list-pf-icon-small"
          [ngClass]="{'fa-github': codebase?.attributes?.type === 'git'}"></span>
</div>
<div class="list-pf-content-wrapper">
  <div class="list-pf-main-content">
    <div class="list-pf-title">
      <a [href]="htmlUrl" target="_blank">{{fullName}}</a>
    </div>
    <div class="list-pf-description">{{createdDate | date:'medium'}}</div>
    <div class="list-pf-description">{{lastCommitDate | date:'medium'}}</div>
  </div>
  <div class="list-pf-additional-content">
    <codebases-item-workspaces [codebase]="codebase" [index]="index" *ngIf="cheState && cheState.running"></codebases-item-workspaces>
  </div>
</div>
