@import (reference) '../../../assets/stylesheets/shared/osio.less';

.checkbox input[type='checkbox'] {
  margin-left: 0;
  margin-right: 5px;
  position: relative;
}

.getting-started { padding-bottom: 20px; }

.margin-top-40 { margin-top: 40px; }

.padding-top-30 { padding-top: 30px; }

.padding-top-40 { padding-top: 40px; }

.preview-cont { margin-bottom: 15px; }

.preview-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  white-space: normal;
}

.profile-wrapper {
  &-email,
  &-url,
  &-bio,
  &-username {
    padding-left: 5px;
  }
}

.email-alignment-label {
  display: block;
}

.email-alignment {
  display: inline-flex;
  width: 90%;
  align-items: center;
  &_settings {
    display: inline-flex;
    left: 25px;
  }
}

.preview-field {
  position: absolute;
  bottom: 0;
  padding-left: 0;
}

.profile-img-none,
.preview-img-none {
  border-bottom: solid 1px;
  border-bottom-color: @color-pf-black-300;
  border-left: solid 2px;
  border-left-color: @color-pf-black-300;
  border-top: solid 2px;
  border-top-color: @color-pf-black-300;
  border-right: solid 1px;
  border-right-color: @color-pf-black-300;
}

textarea {
  resize: none;
}

.token {
  &-body {
    word-wrap: break-word;
  }
  &-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &-cont {
      display: flex;
    }
  }
}

.btn {
  &-cancel {
    margin-left: 14px;
  }
}

.feature-toggle-text {
  &-body {
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    color: @color-pf-black-500;
  }
}

.profile {
  &-edit {
    margin-bottom: 75px;
  }
  &-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid;
    border-top-color: @color-pf-black-300;
    background-color: @color-pf-black-200;
  }
  &-bar-buttons {
    margin-top: 9px;
    text-align: center;
  }
}

.update-tenant-status {
  text-align: left;
  padding-top: 4px;
}

.update-icon-padding {
  padding-right: 7px;
}
