<div id="overview" class="container-fluid content padding-top-15">
  <div class="row profile-edit">
    <!-- left column -->
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <h1>Edit Profile</h1>
      <form role="form" #profileForm="ngForm">
        <div class="form-group">
          <p class="help-block">The fields marked with <span class="required-pf">*</span> are required.</p>
        </div>
        <div class="form-group">
          <label for="fullName" class="control-label">Name</label>
          <div [ngClass]="{'has-error': fullNameInvalid}">
            <input type="text" class="form-control" id="fullName" name="fullName"
                    placeholder="Enter your full name"
                    [(ngModel)]="fullName">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="control-label required-pf">Email</label>
          <div [ngClass]="{'has-error': emailInvalid}">
            <input type="email" class="form-control" id="email" name="email" #_email
                    placeholder="name@gmail.com"
                    [(ngModel)]="email"
                    (change)="validateEmail()"
                    disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="company" class="control-label">Company</label>
          <div [ngClass]="{'has-error': companyInvalid}">
            <input type="text" class="form-control" id="company" name="company"
                    placeholder="name@gmail.com"
                    [(ngModel)]="company">
          </div>
        </div>
        <div class="form-group">
          <label for="previewImg" class="control-label padding-left-none">Profile photo</label>
          <div class="col-xs-12 preview-cont padding-left-none">
            <img src="{{imageUrl}}" class="col-xs-2 preview-img icon-user padding-left-none padding-right-none margin-right-10"
                *ngIf="imageUrl !== undefined && imageUrl.length > 0">
            <img src="../../../assets/images/profile-user.png" class="col-xs-2 preview-img-none"
                *ngIf="imageUrl === undefined || imageUrl.length === 0">
            <span class="col-xs-8 col-sm-7 preview-field" [ngClass]="{'has-error': imageUrlInvalid}">
              <input type="text" class="form-control" id="imageUrl" name="imageUrl" #_imageUrl
                    placeholder="http://www.myphoto.com"
                    [(ngModel)]="imageUrl"
                    (change)="validateImageUrl()">
            </span>
            <button class="col-xs-2 col-sm-3 btn btn-default preview-btn" id="linkImageUrl"
                    [disabled]="imageUrlInvalid"
                    (click)="linkImageUrl()">
              <i class="pficon pficon-arrow"></i> Link Profile Photo
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="url" class="control-label">URL</label>
          <div [ngClass]="{'has-error': urlInvalid}">
            <input type="text" class="form-control" id="url" name="url" #_url
                  placeholder="http://www.myprofile.com"
                  [(ngModel)]="url"
                  (change)="validateUrl()">
          </div>
        </div>
        <div class="form-group">
          <label for="bioInput">Bio</label>
          <textarea class="form-control" id="bioInput" name="bioInput" rows="5" #_bio
                    placeholder="Enter your bio"
                    [blockInputAtMaxLimit]="true"
                    [charsMaxLimit]="255"
                    [charsRemainingElement]="remainingCountElement"
                    [charsRemainingWarning]="5"
                    [(ngModel)]="bio"
                    pfng-remaining-chars-count>
          </textarea>
          <span class="pull-right chars-remaining-pf">
            <span #remainingCountElement></span>
            <span class="fields-status-pf">characters remaining</span>
          </span>
        </div>
      </form>
    </div>
    <!-- right column -->
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <form #advancedForm="ngForm">
        <div class="form-group padding-top-40">
          <div class="feature-toggle-text">
            <div class="feature-toggle-text-header">
              <h2>Experimental Features</h2>
              <p>Experimental features are areas of the product that we’re trying out and would like your feedback on.</p>
            </div>
            <div class="feature-toggle-text-body">
              <p>Experimental features are provided for use with no guarantee of service, data longevity, or support.  You agree to use these at your own risk with the acknowledgement that the features may not operate correctly and may be substantially modified.  These features are provided “AS IS” without warranty of any kind.  In no event shall Red Hat be liable for any damage whatsoever arising out of the use or inability to use these features. You can opt out of these experimental features at any point in time by unchecking the box below.</p>
              <p>These terms and conditions do not replace the terms and conditions you agreed to when you signed up for the OpenShift.io service.</p>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label class="padding-left-none" for="experimental">
            <input type="checkbox" id="experimental" name="experimental"
                   [(ngModel)]="isExperimental"> I agree to the terms above and would like to opt into experimental features
          </label>
        </div>
        <div class="form-divider"></div>
        <div class="form-group">
          <h2>Advanced</h2>
        </div>
        <div class="form-group">
          <label for="token" class="control-label margin-top-15">Personal Access Token</label>
          <div class="panel panel-default" id="token">
            <div class="panel-heading token-heading-cont">
              <i class="padding-top-13 fa"
                [ngClass]="{'fa-angle-down': tokenPanelOpen, 'fa-angle-right': !tokenPanelOpen}"
                (click)="toggleTokenPanel()"></i>
              <p class="token-heading padding-top-10 padding-right-15 margin-right-5"
                [ngClass]="{'padding-left-11': tokenPanelOpen, 'padding-left-15': !tokenPanelOpen}">{{token}}</p>
              <button class="btn btn-lg btn-default"
                      (click)="copyTokenToClipboard()">Copy</button>
            </div>
            <div class="panel-body margin-left-15 margin-right-15" *ngIf="tokenPanelOpen">
              <p class="token-body padding-left-5 padding-right-5">{{token}}</p>
            </div>
          </div>
        </div>
        <div class="row padding-top-15">
          <div class="col-sm-9 col-sm-offset-3">
            <button class="btn btn-lg btn-default pull-right margin-left-15"
                    (click)="cleanupTenant()">Reset Environment</button>
            <button class="btn btn-lg btn-default pull-right"
            (click)="updateTenent()">Update Tenant</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="profile-bar">
    <div class="profile-bar-buttons col-sm-12">
      <button class="btn btn-primary btn-update btn-lg col-sm-3 col-md-2 col-lg-1 col-sm-offset-3 col-md-offset-4 col-lg-offset-5"
              [disabled]="isUpdateProfileDisabled"
              (click)="updateProfile()">Update</button>
      <button class="btn btn-cancel btn-default btn-lg col-sm-3 col-md-2 col-lg-1"
        (click)="routeToProfile()">Cancel</button>
      </div>
  </div>
</div>
