.type-icon {
  min-width: 15px;
}
.wi-detail-title {
  display: inline-flex;
  width: ~"calc(e('100% - 20px'))"; // lesshint-disable-line
}

.wi-detail-query-title {
  display: inline-flex;
  width: ~"calc(e('100% - 50px'))"; // lesshint-disable-line
}

.wi-detail-icon {
  width: 20px;
  opacity: 0;
  a {
    font-size: 16px;
    text-decoration: none;
  }
}
.bold {
  font-weight: bold;
}
.assignees-cell {
  .f8-assignees {
    display: initial;
    margin: 0 !important;
  }
}
