<!-- id -->

<span *ngIf="col === 'id'" class="margin-0">
  {{ row.number }}
</span>

<!-- Type -->

<div *ngIf="col === 'type'">
  <span class="color-grey margin-right-3 type-icon
    {{row.type?.icon}}"
    title="{{row.type?.name}}">

  </span>
  <span>{{ row.type?.name }}</span>
</div>

<!-- Title -->
<div class="width-100"
  *ngIf="col === 'title'">
  <div class="wi-detail-title">
    <p class="truncate pointer"
        [class.bold]="row.bold"
        [innerHTML]="row.title"
        (click)="onPreview($event, row['id'])"></p>
  </div>
  <div class="dib text-right wi-detail-icon">
    <a class="fa fa-list-alt padding-v-5 pointer"
      placement="right"
      tooltip="Open Detail View"
      [routerLink]="['detail', row.number]"></a>
  </div>
</div>
<!-- Status -->

<div *ngIf="col === 'state'">
  <span class="padding-right-5 padding-top-4" almIcon [iconType]="row.state">
  </span>
  <span>
    {{ row.state }}
  </span>
</div>

<!-- Label -->

<div *ngIf="col === 'label'">
  <f8-label
      [labels]="row?.labelsObs | async"
      [truncateAfter]='4'
      [allowDelete]="false"
      (onLabelClick)="labelClick($event)"></f8-label>
</div>

<!-- Iteration -->
<span id="table-iteration" *ngIf="col === 'iteration'">
  {{ (row.iterationObs | async)?.parentPath === '/' ? 'NA' : (row.iterationObs | async)?.name | truncate : 18 }}
</span>

<!-- Creator -->
<user-avatar
  *ngIf="col === 'creator'"
  [imgSrc]= "(row.creatorObs | async)?.avatar | almAvatarSize: 25"
  [imgTooltip]= "(row.creatorObs | async)?.name"
  [imgPlacement]="'left'">
</user-avatar>
<!-- Assignee -->
<div *ngIf="col === 'assignees'" >
  <f8-assignee
    [showFullName]="false"
    [truncateAfter]="3"
    [assignees]="row.assigneesObs | async"
  ></f8-assignee>
</div>
