<li class="list-group-item">
  <status-info hidden [info]="cheStatusObserver | async">
    Che
  </status-info>
</li>
<li class="list-group-item">
  <status-info [info]="pipelineStatusObserver | async">
    Jenkins
  </status-info>
</li>
<li class="list-group-item">
  <span>
    <span class="pficon pficon-ok"></span>
    Console
  </span>
</li>
<li class="list-group-item list-divider">
  <span>
    <span class="pficon pficon-ok"></span>
    Analytics
  </span>
</li>
<li class="list-group-item list-divider">
  <span>
    <span class="pficon pficon-ok"></span>
    GitHub
  </span>
</li>
<li class="list-group-item list-divider">
  <span>
    <span class="pficon pficon-ok"></span>
    Forge
  </span>
</li>
