<div class="padding-15">
  <div class="row padding-bottom-15">
    <div class="col-xs-12">
      <div><a routerLink="/home" routerLinkActive="active">Home</a> &gt; List View</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <alm-listview
          [config]="listViewConfig"
          [items]="items"
          [itemTemplate]="itemTemplate"
          [itemExpandedTemplate]="itemExpandedTemplate"
          (onCheckBoxChange)="handleCheckBoxChange($event)"
          (onClick)="handleClick($event)"
          (onDblClick)="handleDblClick($event)"
          (onDragEnd)="handleDragEnd($event)"
          (onDragMoved)="handleDragMoved($event)"
          (onDragStart)="handleDragStart($event)"
          (onSelect)="handleSelect($event)"
          (onSelectionChange)="handleSelectionChange($event)">
        <template #itemTemplate let-item="item" let-index="index">
          <div class="list-view-pf-description">
            <div class="list-group-item-heading">
              {{item.name}}
            </div>
            <div class="list-group-item-text">
              {{item.address}}
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item">
              {{item.city}}
            </div>
            <div class="list-view-pf-additional-info-item">
              {{item.state}}
            </div>
          </div>
        </template>
        <template #itemExpandedTemplate let-item="item" let-index="index">
          <div class="row">
            <div class="col-md-9">
              <dl class="dl-horizontal">
                <dt>Host</dt>
                <dd>{{item.city}}</dd>
                <dt>Admin</dt>
                <dd>{{item.name}}</dd>
                <dt>Time</dt>
                <dd>January 15, 2016 10:45:11 AM</dd>
                <dt>Severity</dt>
                <dd>Warning</dd>
                <dt>Cluster</dt>
                <dd>Cluster 1</dd>
              </dl>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </template>
      </alm-listview>
    </div>
  </div>
  <div class="row">
    <hr class="col-md-12">
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label>Selection</label>
          <br>
          <label class="radio-inline">
            <input id="selectType1" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="checkbox" (ngModelChange)="updateSelectionType()">Checkbox
          </label>
          <label class="radio-inline">
            <input id="selectType2" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="row" (ngModelChange)="updateSelectionType()">Row
          </label>
          <label class="radio-inline">
            <input id="selectType3" name="selectType" type="radio"
                   [(ngModel)]="selectType" value="none" (ngModelChange)="updateSelectionType()">None
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="dblClick" name="dblClick" type="checkbox"
                   [(ngModel)]="listViewConfig.dblClick">Double Click
          </label>
          <label class="checkbox-inline">
            <input id="multiSelect" name="multiSelect" type="checkbox"
                   [(ngModel)]="listViewConfig.multiSelect"
                   [disabled]="listViewConfig.dblClick">Multi Select
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="showDisabledRows" name="showDisabledRows" type="checkbox"
                   [(ngModel)]="showDisabledRows"
                   (ngModelChange)="updateDisabledRows()">Show Disabled Rows
          </label>
          <label class="checkbox-inline">
            <input id="useExpandingRows" name="useExpandingRows" type="checkbox"
                   [(ngModel)]="listViewConfig.useExpandingRows">Show Expanding Rows
          </label>
          <label class="checkbox-inline">
            <input id="itemsAvailable" name="itemsAvailable" type="checkbox"
                   [(ngModel)]="itemsAvailable"
                   (ngModelChange)="updateItemsAvailable()">Items Available
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label class="checkbox-inline">
            <input id="dragEnabled" name="dragEnabled" type="checkbox"
                   [(ngModel)]="listViewConfig.dragEnabled">Drag and Drop
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="events-label">Actions: </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea rows="3" class="col-md-12">{{actionsText}}</textarea>
    </div>
  </div>
</div>
