@import (reference) '../../../../assets/stylesheets/shared/osio.less';

.create-work-item-icon {
  padding-top: 2px;
  padding-right: 10px;
}

.create-work-item-link { padding-left: 10px; }

.margin-top-25 { margin-top: 25px; }

.work-item-dropdown {
  position: absolute;
  z-index: 1;
  right: 30px;
  width: 45%;
}
