@import "../../../assets/stylesheets/custom";
#search-box{
  width: em(200);
  height: em(20);
  .search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:em(195);
    height: em(20);
    padding: em(5);
    background-color: $color-pf-white;
    cursor: pointer;
  }
}
