@import "../../../assets/stylesheets/custom";
#search-box{
  width: 200px;
  height: 20px;
  .search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 20px;
    padding: $pad5;
    background-color: $color-pf-white;
    cursor: pointer;
  }
}
