<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Warning! You are about to delete your account.<br/>Please type the name of your account to confirm.</p>
        <div class="form-group ">
            <div class="search-pf-input-group">
                <input id="accountName" type="text" class="form-control" placeholder="Account name">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn marginR10 pull-right btn-danger" type="submit" value="0">Delete Account</button>
    </div>
</div>
