@import "../../assets/stylesheets/color-variables";
@import "../../assets/stylesheets/custom";
.createProjectBlock{
    font-size: rem(10);
    padding: 0;
    > div{
        margin-top: em(15);
        label{
            width: $width100;
            font-size: em(14);
        }
        p{
            font-size: em(14);
            font-weight: 500;
        }
        .icon-caret{
            height: em(15);
            margin-top: em(5);
        }
    }
    .devProcessForm{
        position: relative;
        margin-bottom: 0;
    }
    .devProcessList{
        width: calc(100% - 40px);
        position: absolute;
        list-style: none;
        padding: 0;
        border: 1px solid $color-pf-black-400;
        background: $color-pf-white;
        li{
            width: $width100;
            float: left;
            padding: em(2);
            cursor: pointer;
        }
    }
    .projectInputBlock{
        > div{
            padding: 0;
            label{
                width: $width100 - 10%;
                padding-left: em(20);
                font-weight: 500; 
                span{
                    width: $width100;
                    float: left;
                    &:nth-child(2){
                        color: $color-pf-black-500;
                    }
                }
            }
        }
    }
}