<areas-toolbar
    (onAddArea)="addChildArea()"
    (onFilterChange)="filterChange($event)"
    (onSortChange)="sortChange($event)"
    [resultsCount]="resultsCount">
</areas-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <pfng-tree-list
          [actionTemplate]="actionTemplate"
          [config]="treeListConfig"
          [itemTemplate]="itemTemplate"
          [items]="treeAreas"
          (onActionSelect)="handleAction($event)">
        <ng-template #itemTemplate let-node="node" let-index="index">
          <div class="list-pf-content-wrapper">
            <div class="list-pf-main-content">
              <div class="list-pf-title">{{node.data?.attributes?.name}}</div>
            </div>
          </div>
        </ng-template>
        <ng-template #actionTemplate let-node="node" let-index="index">
          <pfng-action class="list-pf-actions"
                       [config]="actionConfig"
                       (onActionSelect)="handleAction($event, node)">
          </pfng-action>
        </ng-template>
      </pfng-tree-list>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true" (onShown)="createAreaDialog.onOpen()" (onHide)="createAreaDialog.onClose()">
  <div class="modal-dialog">
    <div class="modal-content">
      <create-area-dialog #createAreaDialog [host]="modal" [parentId]="selectedAreaId" [areas]="allAreas" (onAdded)="addArea($event)"></create-area-dialog>
    </div>
  </div>
</div>
