<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-9">
      <h3 class="areas-header">Areas that make up the {{context.space.attributes.name | spaceName}} Space:</h3>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <div class="table-action-heading" (click)="addChildArea()">
        <a><i class="pficon pficon-add-circle-o"></i> Add Areas</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pfng-list
        [config]="listConfig"
        [itemTemplate]="itemTemplate"
        [actionTemplate]="actionTemplate"
        [items]="areas" >
        <ng-template #itemTemplate let-item="item" let-index="index">
          <div class="list-pf-content-wrapper">
            <div class="list-pf-main-content">
              <div class="list-pf-title">{{itemPath(item.attributes)}}</div>
            </div>
          </div>
        </ng-template>
        <ng-template #actionTemplate let-item="item" let-index="index">
          <span class="dropdown-kebab-pf areas-display dropdown" dropdown>
            <button class="btn btn-link dropdown-toggle" type="button" dropdownToggle>
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu-right dropdown-menu" aria-labelledby="dropdownKebab" *dropdownMenu>
              <li role="menuitem"><a href="javascript:void(0)" class="secondary-action" (click)="addChildArea(item.id)">Add Child Area</a></li>
            </ul>
          </span>
        </ng-template>
      </pfng-list>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true" (onShown)="createAreaDialog.onOpen()" (onHide)="createAreaDialog.onClose()">
  <div class="modal-dialog">
    <div class="modal-content">
      <create-area-dialog #createAreaDialog [host]="modal" [parentId]="selectedAreaId" [areas]="areas" (onAdded)="addArea($event)"></create-area-dialog>
    </div>
  </div>
</div>
