/* Margin for group heading */
.list-view-pf-view {
  margin-top: 75px;
}

.list-view-pf .list-group-item-heading {
  flex-basis: calc(50% - 20px);
  width: calc(50% - 20px);
}

.list-view-pf .list-group-item-text {
  flex-basis: calc(50% - 40px);
  width: calc(50% - 40px);
}
