<div id="overview" class="container-fluid content padding-top-15">
  <div class="row profile-edit">
    <form role="form" #tenantForm="ngForm">
      <!-- left column -->
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <h1>Edit Booster Catalog</h1>
        <div class="form-group">
          <label for="boosterGitRef" class="control-label">Booster ref</label>
          <div [ngClass]="{'has-error': boosterGitRefInvalid}">
            <input type="text" class="form-control" id="boosterGitRef" name="boosterGitRef"
                   placeholder="Booster catalog git ref"
                   [(ngModel)]="boosterGitRef">
          </div>
        </div>
        <div class="form-group">
          <label for="boosterGitRepo" class="control-label">Booster repo</label>
          <div [ngClass]="{'has-error': boosterGitRepoInvalid}">
            <input type="url" class="form-control" id="boosterGitRepo" name="boosterGitRepo"
                   placeholder="Booster catalog git repository URL"
                   [(ngModel)]="boosterGitRepo"
                   (change)="boosterGitRepoValidate()">
          </div>
        </div>
      </div>
      <!-- right column -->
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <h1>Edit Tenant Version</h1>
        <div class="form-group">
          <label for="jenkinsVersion" class="control-label">Jenkins version</label>
          <div [ngClass]="{'has-error': jenkinsVersionInvalid}">
            <input type="text" class="form-control" id="jenkinsVersion" name="jenkinsVersion"
                   placeholder="Jenkins version"
                   [(ngModel)]="jenkinsVersion">
          </div>
        </div>
        <div class="form-group">
          <label for="cheVersion" class="control-label">Che version</label>
          <div [ngClass]="{'has-error': cheVersionInvalid}">
            <input type="text" class="form-control" id="cheVersion" name="cheVersion"
                   placeholder="Che version"
                   [(ngModel)]="cheVersion">
          </div>
        </div>
        <div class="form-group">
          <label for="teamVersion" class="control-label">Team version</label>
          <div [ngClass]="{'has-error': teamVersionInvalid}">
            <input type="text" class="form-control" id="teamVersion" name="teamVersion"
                   placeholder="Team version"
                   [(ngModel)]="teamVersion">
          </div>
        </div>
        <div class="form-group">
          <label for="mavenRepo" class="control-label">Maven Repo</label>
          <div [ngClass]="{'has-error': mavenRepoInvalid}">
            <input type="url" class="form-control" id="mavenRepo" name="mavenRepo"
                   placeholder="Maven Repository URL"
                   [(ngModel)]="mavenRepo"
                   (change)="mavenRepoValidate()">
          </div>
        </div>
        <div class="form-group">
          <label for="updateTenant" class="control-label">Auto-update your tenant?</label>
          <div>
            <input type="checkbox" class="form-control" id="updateTenant" name="updateTenant"
                   [(ngModel)]="updateTenant">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="profile-bar">
    <div class="profile-bar-buttons col-sm-12">
      <div class="center-block">
          <button
            class="btn btn-primary btn-update btn-lg col-auto ml-auto"
            [disabled]="isUpdateProfileDisabled"
            (click)="updateProfile()">Save and Update Tenant
          </button>
          <button
            class="btn btn-default btn-update btn-lg col-auto md-auto"
            (click)="resetProfile()">Clear Values
          </button>
          <button class="btn btn-default btn-lg col-auto mr-auto"
                  (click)="routeToProfile()">Cancel
          </button>
      </div>
    </div>
  </div>
</div>
