<div class="container-fluid padding-bottom-15">
  <div class="row">
    <div class="col-xs-12">
      <div><a routerLink="/home" routerLinkActive="active">Home</a> &gt; Tree List</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <alm-tree-list #treeList
            [listTemplate]="treeListTemplate"
            [loadTemplate]="treeListLoadTemplate"
            [nodes]="nodes"
            [options]="options"
            [showExpander]="false">
          <template #treeListLoadTemplate let-node="node" let-index="index">
            <span>Loading...</span>
          </template>
          <template #treeListTemplate let-node="node" let-index="index">
            <alm-tree-list-item
                [node]="node"
                (onSelect)="select($event)"
                [template]="treeListItemTemplate">
              <template #treeListItemTemplate>
                <span title="{{node.data.subTitle}}">{{ node.data.name }}</span>
                <span>&nbsp;{{ childrenCount(node) }}</span>
              </template>
            </alm-tree-list-item>
          </template>
        </alm-tree-list>
      </div>
    </div>
  </div>
</div>
