<div class="padding-15">
  <div class="row padding-bottom-15">
    <div class="col-xs-12">
      <div><a routerLink="/home" routerLinkActive="active">Home</a> &gt; Tree List</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <alm-tree-list #treeList
            [listTemplate]="treeListTemplate"
            [loadTemplate]="treeListLoadTemplate"
            [nodes]="nodes"
            [options]="options"
            [showDropSlot]="false"
            [showExpander]="false"
            (onMoveNode)="handleMoveNode($event)"
            (onToggle)="handleToggle($event)">
          <ng-template #treeListLoadTemplate let-node="node" let-index="index">
            <span>Loading...</span>
          </ng-template>
          <ng-template #treeListTemplate let-node="node" let-index="index">
            <alm-tree-list-item
                [index]="index"
                [node]="node"
                (onSelect)="select($event)"
                [template]="treeListItemTemplate">
              <ng-template #treeListItemTemplate>
                <span title="{{node.data.subTitle}}">{{ node.data.name }}</span>
                <span>&nbsp;{{ childrenCount(node) }}</span>
              </ng-template>
            </alm-tree-list-item>
          </ng-template>
        </alm-tree-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="actions-label">Actions: </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea rows="3" class="col-md-12">{{actionsText}}</textarea>
    </div>
  </div>
</div>
