@import '../../../assets/stylesheets/base';

.field-required-icon {
  color: $color-pf-red-200;
}
.marginR10 {
  margin-right: em(10);
}
.parent-iteration-container {
  position: relative;
  .iteration-list {
    position: absolute;
    background-color: $color-pf-white;
    padding-left: 0;
    width: $width100;
    box-shadow: 0 1px 10px 0 $color-pf-black-500;
    max-height: em(140);
    overflow-y: auto;
    li {
      list-style: none;
      padding: em(5) em(15);
      &:hover {
        background-color: $color-pf-black-300;
        cursor: pointer;
      }
      &.selected {
        background-color: $color-pf-black-300;
      }
    }
  }
}
.datepicker-container {
  display: flex;
  justify-content: space-between;
  .date-container {
    width: 50%;
  }
}
.start-date-container {
  padding-right: em(5);
}
.end-date-container {
  padding-left: em(5);
}
.iteration-modal-footer {
  margin-top: em(20);
}
.has-error {
  .error-block {
    visibility: visible;
  }
}
.error-block {
  visibility: hidden;
  .help-block {
    color: $color-pf-red-200;
  }
}
.space-error {
  visibility: visible;
}
