<div class="create-work-item-widget card-pf">
  <div class="flex-container in-column-direction">
    <h2 class="card-pf-title card-pf-utilization-details">
      <span>My Work Items</span>
      <span class="badge">20</span>
    </h2>
  </div>
  <div class="card-pf-body">
    <div class="blank-slate-pf">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
      </div>
      <h1>Create a Work Item</h1>
      <p>
        Planner will help you to create different types of work items and assign team members to items.
      </p>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg">Create a Work Item</button>
      </div>
    </div>
    <div class="analyze-overview-items-detail">
      <div class="card-pf-body">
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
        <p>
          Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
        </p>
      </div>
    </div>
  </div>
  <div class="card-pf-footer">
    <a class="margin-bottom-10">
      <i class="pficon pficon-add-circle-o"></i>
      <span>Create a Work item</span>
    </a>
  </div>
</div>