<div class="create-work-item-widget card-pf card-f8">
  <div class="card-pf-heading">
    <div class="card-pf-heading-details card-f8-heading-details">
      <a class="btn btn-link" [routerLink]="[{ outlets: { action: 'add-work-item' } }]">
        <span>Create work item</span>
        <i class="pficon pficon-add-circle-o"></i>
      </a>
    </div>
    <h2 class="card-pf-title">
      <a [routerLink]="[contextPath | async, 'plan']">My Work Items</a>
      <span class="badge card-f8-badge">{{myWorkItemsCount | async}}</span>
    </h2>
  </div>
  <div class="card-pf-body card-f8-body">
    <div class="blank-slate-f8-card" *ngIf="(myWorkItemsCount | async) === 0">
      <div class="blank-slate-f8-icon">
        <i class="pficon pficon-add-circle-o"></i>
      </div>
      <h3>You can view your recent work items</h3>
      <p>
        Planner will help you to create different types of work-items, allows you to assign team members and iterations.
      </p>
      <div class="blank-slate-f8-main-action">
        <button class="btn btn-primary btn-lg" [routerLink]="[{ outlets: { action: 'add-work-item' } }]">Create work item</button>
      </div>
    </div>
    <ul class="list-group analyze-overview-items-detail" *ngIf="(myWorkItemsCount | async) > 0">
      <li class="list-group-item" *ngFor="let workItem of myWorkItems | async | take: 10">
        <span almIcon [iconType]="workItem.attributes['system.state']" class="color-grey pull-left create-work-item-icon"></span>
        <span class="color-grey pull-left fa {{workItem.relationships?.baseType?.data?.attributes?.icon}} create-work-item-icon"></span>
        <span>{{workItem.id}}</span>
        <a [routerLink]="[contextPath | async, 'plan', 'detail', workItem.id]" class="create-work-item-link">
          <span *ngIf="workItem.attributes">
            {{workItem.attributes['system.title']}}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
