<div id="spacehome-my-workitems-card" class="create-work-item-widget card-pf io-card">
  <div class="card-pf-heading">
    <div class="card-pf-heading-details io-card-heading-details">
      <a id="spacehome-my-workitems-add-button" class="btn btn-link" [routerLink]="[{ outlets: { action: 'add-work-item' } }]">
        <i class="pficon pficon-add-circle-o"></i>
      </a>
    </div>
    <h2 class="card-pf-title">
      <a id="spacehome-my-workitems-title" [routerLink]="[contextPath | async, 'plan']">My Work Items</a>
      <span id="spacehome-my-workitems-badge" class="badge io-card-badge">{{myWorkItemsCount | async}}</span>
    </h2>
  </div>
  <div class="card-pf-body io-card-body">
    <div class="io-blank-slate-card" *ngIf="(myWorkItemsCount | async) === 0">
      <div class="io-blank-slate-icon">
        <i class="pficon pficon-add-circle-o"></i>
      </div>
      <h3>You can view your recent work items</h3>
      <p>
        Planner will help you to create different types of work-items, allows you to assign team members and iterations.
      </p>
      <div class="io-blank-slate-main-action">
        <button id="spacehome-my-workitems-create-button" class="btn btn-primary btn-lg" [routerLink]="[{ outlets: { action: 'add-work-item' } }]">Create work item</button>
      </div>
    </div>
    <ul id="spacehome-my-workitems-list" class="list-group list-view-pf list-view-pf-view" *ngIf="(myWorkItemsCount | async) > 0">
      <li class="list-group-item" *ngFor="let workItem of myWorkItems | async | take: 6">
        <div class="list-view-pf-main-info">
          <div class="list-view-pf-body">
            <div class="list-view-pf-description">
              <div class="list-group-item-text">
                <span almIcon [iconType]="workItem.attributes['system.state']" class="color-grey pull-left create-work-item-icon"></span>
                <span class="color-grey pull-left fa {{workItem.relationships?.baseType?.data?.attributes?.icon}} create-work-item-icon"></span>
                <span>{{workItem.id}}</span>
                <span class="work-item-title" *ngIf="workItem.attributes">
                  <a [routerLink]="[contextPath | async, 'plan', 'detail', workItem.id]" class="create-work-item-link">
                    {{workItem.attributes['system.title']}}
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
