<header class="toolbar-header">
  <div class="width-100 pull-left">

    <pfng-toolbar
        [config]="toolbarConfig"
        [actionTemplate]="actionsTemplate"
        [viewTemplate]="addTemplate"
        (onFilterChange)="filterChange($event)"
        (onFilterFieldSelect)="selectFilterType($event)"
        (onFilterTypeAhead)="filterQueries($event)">
      <ng-template #actionsTemplate>
      </ng-template>
      <ng-template #addTemplate>
        <button *ngIf="loggedIn && editEnabled && wiTypes.length"
            class="btn btn-default primary-action add-button" type="button"
            (click)="createNewWorkItem($event)">
          <i class="pficon pficon-add-circle-o add-button-icon"></i>
          <span class="add-button-text">Create</span>
        </button>
      </ng-template>
    </pfng-toolbar>

  </div>
</header>
