<header class="toolbar-header">
  <div class="width-100 pull-left">

    <pfng-toolbar
        [config]="toolbarConfig"
        [actionTemplate]="actionsTemplate"
        [viewTemplate]="addTemplate"
        (onFilterChange)="filterChange($event)"
        (onFilterFieldSelect)="selectFilterType($event)"
        (onFilterTypeAhead)="filterQueries($event)">
      <template #actionsTemplate>
        <div *ngIf="context==='boardview' && (wiTypes.length!=0)" dropdown class="card-pf-time-frame-filter board-type-dropdown dropdown">
          <span class="currently-showing">Currently showing:</span>
          <span class="dropdown primary-action" dropdown>
            <button dropdownToggle
                id="wi-board-type"
                type="button"
                class="btn btn-default dropdown-toggle">
              <span class='dropdown-icon fa {{currentBoardType?.attributes?.icon}}'></span>
              <span class='dropdown-text'>
                {{currentBoardType?.attributes?.name}}
              </span>
              <span class="caret"></span>
            </button>
            <ul id="wi-board-type-dropdown" class="dropdown-menu dropdown-ul" role="menu" *dropdownMenu>
              <li class="dropdown-li" *ngFor="let type of wiTypes;" (click)="onChangeBoardType(type)">
                <a>
                  <span class='dropdown-icon fa {{type?.attributes?.icon}}'></span>
                  <span class='dropdown-text'>{{type.attributes.name}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <div *ngIf="context!=='boardview'" dropdown class="list-type-dropdown dropdown">
          <button dropdownToggle
              id="wi-list-type"
              type="button"
              class="btn btn-default dropdown-toggle">
            <span class='dropdown-text'>
              {{currentListType}}
            </span>
            <span class="caret"></span>
          </button>
          <ul id="wi-list-type-dropdown" class="dropdown-menu dropdown-ul" role="menu" *dropdownMenu>
            <li class="dropdown-li" (click)="onChangeListType('Hierarchy')">
              <a>
                <span class='dropdown-text'>Hierarchy</span>
              </a>
            </li>
            <li class="dropdown-li" (click)="onChangeListType('Flat')">
              <a>
                <span class='dropdown-text'>Flat</span>
              </a>
            </li>
          </ul>
        </div>
      </template>
      <template #addTemplate>
        <button *ngIf="loggedIn && editEnabled && wiTypes.length" 
            class="btn btn-default primary-action add-button" type="button" 
            (click)="showDetailType($event)">
          <i class="pficon pficon-add-circle-o add-button-icon"></i>
          <span class="add-button-text">Create</span> 
        </button>
      </template>
    </pfng-toolbar>

  </div>
</header>