@import (reference) '../../../../../assets/stylesheets/shared/osio.less';
.list-view-pf .list-group-item-heading .open-service-icon { padding-left: 6px; }
.pod-counter {
  padding-left: 4px;
  padding-right: 4px;
}
a.external-service i { padding-right: 10px; }
