<div class="combobox-container" [formGroup]="form" [class.form-group]="inline">
  <label title="organisation" [class.field-required]="field.required" [class.col-xs-12]="inline" [class.col-sm-4]="inline">{{field.label}}</label>
  <div [class.width-100]="!field.enabled" class="input-group" [style.padding]="inline ? '0 20px' : ''">
    <input type="text" title="{{field.label}}" [class.form-control-danger]="!form.valid" id="{{field.name}}"
      name="{{field.name}}" class="user-select-none combobox form-control" [class.col-xs-12]="inline" [class.col-sm-8]="inline" readonly="true"
           (click)="field.display.open = !field.display.open" [formControlName]="field.name" value="{{field.value}}">
    <ul class="dropdown-menu" [class.open]="field.display.open" [style.margin]="inline ? '0 20px' : ''">
      <li class="choice-container" (click)="selected(choice)"
        *ngFor="let choice of field.valueChoices">
        <div [class.selected]="field.value === choice.id" class="dropdown-menu-item user-select-none cursor-pointer">
          <div class="choice-item">
            <div class="choice-content">
              <div class="item-name">{{choice.name}}</div>
              <div *ngIf="choice.description" class="item-description">{{choice.description||''}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <span class="input-group-addon" (click)="field.display.open = !field.display.open">
      <span class="caret"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </span>
    <div *ngIf="form.get(field.name).touched
    && form.get(field.name).hasError('required')"
         style="position:relative;height:auto;display:block;"
         class="form-control-feedback user-select-none">
      {{field.label}} is required
    </div>
  </div>
</div>
