@import '../../../assets/stylesheets/base';

.side-panel-header {
  display: flex;
  padding-left: ($grid-gutter-width/2);
  padding-right: ($grid-gutter-width/2);
  color: $color-pf-white;
  cursor: pointer;
  background-color: $color-pf-black-900;
  border-bottom: 1px solid;
  border-bottom-color: $color-pf-black-700;
  border-left: 4px solid;
  border-left-color: transparent;
  align-items: baseline;
  justify-content: space-between;
  h3 {  margin-bottom: em(15); }
  .badge { background-color: $color-pf-black; }
  &:hover { background-color: $color-pf-black-700; }
  &.backlog-selected {
    color: $color-pf-white;
    background-color: $color-pf-black-700;
    border-left: 4px solid;
    border-left-color: $color-pf-blue;
  }
}
