<div class="experimental-bar" [class.experimental-bar-minimal]="hideBanner">
  This feature is experimental. You can manage experimental features on your <a class="btn btn-link-experimental" [routerLink]="profileLink">profile</a> page. <button class="btn btn-link-experimental" (click)="acknowledgeWarning()">Got it!</button>
  <!-- functionality to add additional information for the feature flag should be hooked up here -->
  <button class="pull-right experimental-more-info btn">
    <i class="fa fa-flask"></i>
  </button>
</div>
