<div class="container-fluid content padding-top-15 experimental-page experimental-border">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 experimental-content">
    <div class="col-md-9 col-sm-9 col-xs-9">
      <i class="fa fa-flask fa-5x"></i>
      <h2>Experimental Features</h2>
      <p>
        This is where the legal notice text would go that a user would have to read before they acknowledge (and accept) the terms of service below for using the Experimental Features.
      </p>
      <!--<form class="form-horizontal">-->
        <!--<div class="form-group">-->
          <!--<input type="checkbox" name="accept" id="accept">-->
          <!--<label for="accept" class="control-label">-->
            <!--I agree to the terms of this feature, as written above.-->
          <!--</label>-->
        <!--</div>-->
      <!--</form>-->
      <!--<button class="btn btn-lg btn-experimental" disabled>Active All Experimental Features</button>-->
    </div>
  </div>
</div>
