<div class="container content height-100">
  <div class="exp-feature-PageWrapper">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <img src="../../assets/images/profile-user.png" class="width-100"/>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
          <div class="exp-feature-page-text">
            <h2 class="padding-bottom-15">Experimental Features</h2>
            <p class="padding-bottom-10">
              this is some nice text that explains what Experimental is
            </p>
            <div class="col-sm-1 col-lg-1 padding-left-0 padding-right-0">
              <input type="checkbox" name="accept" id="accept">
            </div>
            <div class="col-sm-10 col-lg-10 padding-left-0">
              <label for="accept" class="control-label">
                I agree to use unfinished stuff
              </label>
            </div>
            <button class="btn btn-default margin-bottom-15 margin-right-10">
              Activate All Experimental Features
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
