@import '../../../../assets/stylesheets/base';

.create-work-item-icon {
  padding-top: 2px;
  padding-right: 10px;
}

.create-work-item-link {
  padding-left: 10px;
}

.margin-top-25 {
  margin-top: 25px;
}

.spaces-list-scroll {
  max-height: 625px;
  overflow-y: scroll;
}
