<!-- id -->

<span *ngIf="col === 'id'" class="margin-0">
  {{row.number}}
</span>

<!-- Type -->

<div *ngIf="col === 'type'">
  <span class="color-grey margin-right-3 type-icon
    {{row.type?.data?.attributes?.icon}}"
    title="{{row.type?.data?.attributes?.name}}">

  </span>
  <span>{{row.type?.data?.attributes?.name}}</span>
</div>

<!-- Title -->
<div class="width-100"
  *ngIf="col === 'title'">
  <div class="wi-detail-title">
    <p class="truncate pointer"
        [class.bold]="row.bold"
        (click)="onPreview($event, row['id'])"> {{row.title}} </p>
  </div>
  <div class="dib text-right wi-detail-icon">
    <a class="fa fa-list-alt padding-v-5 pointer"
    (click)="onDetail($event, row['id'])"></a>
  </div>
</div>
<!-- State -->

<div *ngIf="col === 'state'">
  <span class="padding-right-5 padding-top-4" almIcon [iconType]="row.state">
  </span>
  <span>
    {{row.state}}
  </span>
</div>

<!-- Label -->

<div *ngIf="col === 'label'">
  <f8-label
      [labels]="row?.labels ? row?.labels : []"
      [truncateAfter]='4'
      [allowDelete]="false"
      (onLabelClick)="labelClick($event)"></f8-label>
</div>

<!-- Iteration -->
  <span *ngIf="col === 'iteration'">
    {{row.iteration.attributes?.parent_path === '/' ? 'NA' : row.iteration.attributes?.name}}
  </span>

<!-- Creator -->

<div *ngIf="col === 'creator'" class="user-avatar">
  <img placement="left"
        tooltip="{{row.creator?.attributes?.fullName}}"
        src="{{row.creator?.attributes?.imageURL + '&s=23'}}"
        onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=23'" />
</div>

<!-- Assignee -->
<div *ngIf="col === 'assignees'">
  <f8-assignee
    [showFullName]="false"
    [truncateAfter]="3"
    [assignees]="row.assignees ? row.assignees : []"
  ></f8-assignee>
</div>
