<div [@slideInOut]="panelState" class="detail-panel">
  <div class="detail-container" *ngIf="workItem" id="workItemDetail_Wrapper">
    <form *ngIf="active"
          #almWorkItemDetailForm="ngForm"
          class="form-horizontal"
          id="wi-detail-form">
      <fieldset>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 mobile-bar ">
          <div class="dropdown-kebab-pf detail-type-dropdown col-sm-8">
            <span class="wi-type-icon fa {{workItem.relationships?.baseType?.data?.attributes?.icon}} fa-2x"></span>
            <span *ngIf="workItem.id" class="detail-id" id="wi-detail-id">{{workItem.id}}</span>
          </div>
            <!--Commenting type drop down related tests for issue 635
            <div class="pull-left dropdown-kebab-pf detail-type-dropdown" dropdown>
              <span dropdown-open class="wi-type-icon" almIcon [iconType]="workItem.relationships.baseType.data.id"></span>
              <ul *ngIf="loggedIn" id="wi-type-dropdown" class="dropdown-menu mobMarginL20" aria-labelledby="dropdownKebabRight">
              <li *ngFor="let type of workItemTypes" (click)="onChangeType(type.name)">
                <a>
                  <span class="wi-type-icon dropdown-icon" almIcon [iconType]="type.name"></span>
                  <span class="dropdown-text">
                    {{type.name.substring(7, type.length)}}
                  </span>
                </a>
              </li>
            </ul>
          </div>-->
          <div class="col-sm-4">
            <span class="pull-right">
              <span *ngIf="workItem.id" class="detail-created-date">
                  Created <span id="created_at" [innerHTML]="workItem.attributes['system.created_at'] ? (workItem.attributes['system.created_at'] | almMomentTime) : 'Creating now!'"></span>
              </span>
              <span class="pficon-close detail-close" (click)="closeDetails()"></span>
            </span>
          </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 truncate-ellipsis">
          <div class="col-md-8 col-sm-7 col-xs-12 wi-detail-title-blk">
            <div *ngIf="!headerEditable" (click)='openHeader()'
              id="title-click-div">
              <h2 *ngIf="!loggedIn" id="wi-detail-title-ne" class="detail-title truncate form-control-static">{{ workItem.attributes['system.title'] }}</h2>
              <h2 *ngIf="loggedIn && workItem.id" id="wi-detail-title-click" class="detail-title truncate">{{ workItem.attributes['system.title'] }}</h2>
              <span *ngIf="loggedIn && workItem.id"
                class="pficon-edit marginL10 fl detail-title-edit-ico"
                id="workItemTitle_btn_edit"></span>
            </div>
            <div *ngIf="(loggedIn && headerEditable) || (loggedIn && !workItem.id)" id="wi-title-div">
                <h2 almEditable
                    (onUpdate)="checkTitle($event)"
                    (keyup.enter)="onUpdateTitle()"
                    (keydown.enter)="preventDef($event)"
                    id="wi-detail-title"
                    class="detail-title-edit"
                    [innerText]="workItem.attributes['system.title'] | almTrim"
                    #title >
                </h2>
                <aside class="col-md-12 col-sm-12 col-xs-12">
                  <!--Cancel icon-->
                  <button id="workItemTitle_btn_cancel"
                      class="pull-right btn btn-default detail-action-btn"
                      [ngClass]="{disabled : (!workItem.id)}"
                      (click)="workItem.id && closeHeader()">
                    <span class="fa fa-close"></span>
                  </button>
                  <!--Save icon-->
                  <button id="workItemTitle_btn_save"
                      class="pull-right btn btn-default detail-action-btn"
                      [ngClass]="{disabled : validTitle == false}"
                      (click)="validTitle && onUpdateTitle()" >
                      <span class="fa fa-check"></span>
                  </button>
                </aside>
                <!--Error message for title-->
                <p [hidden]="validTitle"
                    class="clearfloat alert alert-danger">
                    Title is a required field
                </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-5 col-xs-5 wi-state-btn pull-right padding0">
            <div dropdown class="card-pf-time-frame-filter detail-status-dropdown">
              <button dropdownToggle
                id="wi-detail-state"
                type="button"
                class="btn btn-default col-md-12 col-sm-12 col-xs-12">
                <span class='dropdown-icon' almIcon [iconType]="workItem.attributes['system.state']"></span>
                <span class='dropdown-text'>
                  {{workItem.attributes['system.state']}}
                </span>
                <span *ngIf="loggedIn" class="caret pull-right"></span>
              </button>
              <ul *ngIf="loggedIn" id="wi-status-dropdown" class="dropdown-menu-right dropdown-ul" role="menu" dropdownMenu>
                <li class="dropdown-li" (click)="onChangeState(state)"
                  *ngFor="let state of workItem.relationships?.baseType?.data?.attributes?.fields['system.state'].type.values;"
                >
                  <a>
                    <span class='dropdown-icon' almIcon [iconType]="state"></span>
                    <span class='dropdown-text'>{{state}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Assignee -->
        <div class="form-group">
          <div class="detail-assignee-wrap">
              <label class="col-sm-2">
                {{workItem.relationships?.baseType?.data?.attributes?.fields['system.assignees']?.label}}
              </label>
              <span
                *ngIf="!workItem.relationships?.assignees?.data?.length"
                (click)="activeSearchAssignee()"
                class="pull-left fa fa-user-plus user-assign-icon">
              </span>
              <img
                *ngIf="workItem.relationships?.assignees?.data?.length"
                (click)="activeSearchAssignee()"
                class="pull-left user-assign-avatar"
                placement="bottom"
                tooltip="{{workItem.relationships?.assignees?.data[0]?.attributes?.fullName}}"
                src="{{workItem.relationships?.assignees?.data[0]?.attributes?.imageURL + '&s=20'}}"
                onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=20'" />

              <div class="pull-left detail-assignee-name">
                  <span *ngIf="!searchAssignee && !workItem.relationships?.assignees?.data?.length" (click)="activeSearchAssignee()" class="placeholder pointer"> Unassigned </span>
                  <span *ngIf="!searchAssignee && workItem.relationships?.assignees?.data?.length" (click)="activeSearchAssignee()" class="pointer" id="WI_details_assigned_user">
                    {{workItem.relationships?.assignees?.data[0] | almUserName:'Assignee not found' }}
                  </span>
                  <div *ngIf="searchAssignee" class="user-search" >
                    <div class="list-container">
                      <span class="fa fa-search user-search-icon"> </span>
                      <input id="userAssigneeSearchInput" #userSearch (keyup)="filterUser($event)"
                        autocomplete="off" />
                      <ul class="item-ul no-padding user-list" #userList>
                        <li *ngIf="!usersLoaded" class="textCenter"><i class="fa fa-spinner fa-pulse"></i></li>
                        <li
                          class="item-li"
                          [class.first-item] = "filteredUsers && filteredUsers.length"
                          [class.only-first-item] = "!filteredUsers || !filteredUsers.length"
                          *ngIf="loggedInUser"
                          [attr.data-value]="loggedInUser.id"
                          (click)="assignUser(loggedInUser)">
                            <!-- <span class="pull-left fa fa-user user-assign-icon active"></span> -->
                            <img
                              class="pull-left user-assign-avatar"
                              src="{{loggedInUser.attributes?.fullName}}"
                              src="{{loggedInUser.attributes?.imageURL + '&s=20'}}"
                              onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=20'"/>
                            <span [innerHTML]="loggedInUser.attributes?.fullName + ' (me)'"></span>
                        </li>
                        <li
                          class="item-li"
                          *ngFor="let user of filteredUsers;"
                          [attr.data-value]="user.id"
                          (click)="assignUser(user)">
                            <!-- <span class="pull-left fa fa-user user-assign-icon active"></span> -->
                            <img
                              class="pull-left user-assign-avatar"
                              src="{{user.attributes?.fullName}}"
                              src="{{user.attributes?.imageURL + '&s=20'}}"
                              onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=20'"/>
                            <span [innerHTML]="user.attributes?.fullName | almSearchHighlight: userSearch.value"></span>
                        </li>
                      </ul>
                      <ul class="item-ul no-padding">
                        <li class="action-li">
                            <button class="btn btn-link action-item" (click)="unassignUser()">Unassign</button>
                            <button class="btn btn-link action-item" (click)="cancelAssignment()">Cancel</button>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <!--Creator-->
        <div class="form-group">
          <label class="col-sm-2">{{workItem.relationships?.baseType?.data?.attributes?.fields['system.creator']?.label}}</label>
          <span *ngIf="!workItem.relationships?.creator?.data"
            class="fa pficon-user user-creator-icon" id="user_creator_icon">
          </span>
          <img *ngIf="workItem.relationships?.creator?.data"
            class="user-avatar"
            placement="bottom"
            tooltip="{{workItem.relationships.creator.data.attributes?.fullName}}"
            src="{{workItem.relationships.creator.data.attributes?.imageURL + '&s=20'}}"
            id="WI_details_reporter_img" />
          <div class="marginR10" style="display: inline-block;">
              <span id="WI_details_reporter_user">
                {{workItem.relationships?.creator?.data | almUserName:'Creator not found'}}
              </span>
          </div>
        </div>
        <!-- Areas -->
        <div class="form-group detail-area-wrap">
          <label class="col-sm-2" id="area_label">
            {{workItem.relationships?.baseType?.data?.attributes?.fields['system.area']?.label}}
          </label>
          <div class="col-sm-10 detail-area-name pull-left">
              <div *ngIf="!searchArea" (click)="activeSearchArea()"
                class="pointer" id="WI_details_area">
                {{ workItem.relationships?.area?.data?.attributes?.name || "None" }}
              </div>
              <div style="display: flex;">
                <div *ngIf="searchArea" class="area-search">
                  <div class="list-container">
                    <span class="fa fa-search area-search-icon"> </span>
                    <input id="areaSearchInput" #areaSearch (keyup)="filterArea($event)"
                      autocomplete="off" />
                    <ul class="item-ul area-list" #areaList>
                      <li *ngIf="!areas.length" class="textCenter"><i class="fa fa-spinner fa-pulse"></i></li>
                      <li *ngIf="!filteredAreas.length">No matches found.</li>
                      <li
                        class="item-li"
                        *ngFor="let area of filteredAreas;"
                        [attr.data-value]="area.id"
                        (click)="showAreaOnInput(area)" [id]="area.id">
                          <span [innerHTML]="area.attributes?.name | almSearchHighlight: areaSearch.value"></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div *ngIf="searchArea" class="btn-bar"  >
                  <button class="btn btn-lg btn-default" type="button" (click)=setArea()
                    id="save_area" [disabled]="!filteredAreas.length || !selectedArea">
                    <span class="fa fa-check" ></span>
                  </button>
                  <button class="btn btn-lg btn-default"  type="button" (click)=closeAreaDropdown()>
                    <span class="pficon pficon-close" id="close_area" ></span>
                  </button>
                </div>
              </div>
          </div>
        </div>
        <!--Iteration-->
        <div class="form-group">
          <label class="col-sm-2">
            {{workItem.relationships?.baseType?.data?.attributes?.fields['system.iteration']?.label}}
          </label>
          <div class="pull-left detail-iteration-name">
            <span *ngIf="!searchIteration" (click)="lookupIterations()" class="pointer" id="iteration-assocaited">
               {{ workItem.relationships?.iteration?.data?.attributes?.name || "None" }}
            </span>
            <span *ngIf="searchIteration"
              id="WI_details_iteration" dropdown>
              <button class="btn btn-default" type="button" #dropdownButton
                id="WI_details_iteration_dropdownbtn" data-toggle="dropdown" dropdownToggle>
                {{ workItem.relationalData?.iteration?.attributes.name|| "None" }} <span class="caret"></span>
              </button>
              <ul role="menu" aria-labelledby="WI_details_iteration_dropdown" dropdownMenu>
                <li *ngIf="!iterations.length" class="textCenter"><i class="fa fa-spinner fa-pulse"></i></li>
                <li *ngFor="let iteration of iterations;" role="presentation">
                  <a role="menuitem" tabindex="-1" (click)="selectIteration(iteration)">
                    {{ iteration.attributes.name }}
                  </a>
                </li>
              </ul>
              <button class="btn btn-lg btn-default" type="button" (click)=assignIteration()
                [disabled]="!selectedIteration" id="assign-iteration-savebtn">
                <span class="fa fa-check"></span>
              </button>
              <button class="btn btn-lg btn-default" type="button" (click)=closeIteration() id="assign-iteration-closebtn">
                <span class="pficon pficon-close"></span>
              </button>
            </span>
          </div>
        </div>

        <!-- Extra fields Start -->
        <div *ngFor="let attributeDesc of dynamicFormDataArray" class="form-group">
          <alm-dynamic-field [attributeDesc]="attributeDesc" [form]="dynamicFormGroup" (onUpdate)="dynamicFieldUpdated($event)"></alm-dynamic-field>
        </div>
        <!-- Extra fields End -->

        <!-- Description Start -->
        <markdown-control id="wi-detail-desc" [markdownValue]="descText" (onUpdate)="descUpdate($event)"></markdown-control>
        <!-- Description End -->

        <div class="form-group">
          <p id="start-coding-link" class="form-control-static start-coding">
            <a *ngIf="loggedIn && workItem.relationships?.codebase?.links?.meta?.edit"  target="_blank" href="{{workItem.relationships?.codebase?.links?.meta?.edit}}">&#60;&#47;&#62; Start coding</a>
          </p>
        </div>
      </fieldset>
    </form>
    <div *ngIf="workItem.id" class="work-item-section">
      <alm-work-item-link [workItem]="workItem" [loggedIn]="loggedIn"></alm-work-item-link>
      <alm-work-item-comment [workItem]="workItem" [loggedIn]="loggedIn"></alm-work-item-comment>
    </div>
  </div>
</div>
