@import '../../../assets/stylesheets/base';

.detail-container {
  .user-avatar {
    cursor: pointer;
    margin-right: em(6);
    height: em(20);
    width: em(20);
  }
  .common-wrap{
    padding: em(20);
    .user-label{
      margin-right: em(20);
    }
    .user-creator-icon {
      padding: em(3);
      color: $color-pf-black-500;
      border: 1px dashed $color-pf-black;
      cursor: pointer;
      margin-right: em(6);
    }
  }
  .separator{
    padding-top: em(10);
    border-top: 1px solid #ededed;
  }
  width: $width100;
  font-size: rem(12);
  float: left;
  .note{
    color: $color-pf-black-500;
  }
  .detail-type-dropdown {
    position: relative;
  }
  .detail-id {
    font-weight: 700;
    margin:0;
    padding-left: em(20);
    line-height: 1 !important;
  }
  .detail-close {
    float: right;
    cursor: pointer;
    font-size: em(14);
  }
  .created-wrap {
    margin-right: em(20);
    line-height: 1;
    .created-label{
      margin-right: em(10);
    }
  }
  .wi-detail-title-blk{
    padding: em(20) em(0) em(10);
    .detail-title {
      float: left;
      max-width: calc(100% - 25px);
      margin:0;
      line-height: 1.5;
      padding: em(2) em(4.5);
    }
    .detail-title-edit-ico {
      line-height: 2;
      cursor: pointer;
    }
    .detail-title-edit {
      min-height: em(25);
      height: auto;
      margin: 0;
      line-height: 1.5;
    }
    aside{
      padding: em(5) 0 0;
    }
    .clearfloat{
      clear: both;
    }
    .detail-title-edit-ico {
      display: none;
      position: absolute;
      right: em(9);
      z-index: 10;
      top: em(18);
      cursor: pointer;
    }
    &:hover {
      background-clip: content-box;
      border-color: $color-pf-black-400;
      .detail-title-edit-ico {
        display: block;
      }
    }
    &:focus{
      border-color:$color-pf-blue;
    }
  }
  .wi-state-btn{
    max-width: em(132);
    padding: em(20) 0;
    .detail-status-dropdown {
      text-align: $textRight;
      .dropdown-icon {
        float: left;
        margin-right: em(5);
        font-size: em(12);
        margin-top: em(5);
      }
      .dropdown-text {
        float: left;
        text-transform: capitalize;
        text-align:left;
      }
      .caret{
        margin-top: em(5);
      }
      .dropdown-ul {
        min-width: em(132);
        width: em(132);
        top: em(25);
        .dropdown-li {
          width: $width100;
          float: left;
          a{
            width: $width100;
            float: left;
            padding: em(2) em(10);
          }
        }
      }
    }
  }

  .detail-assignee-wrap {
    .user-label{
      margin-right: em(15);
    }
    .user-assign-icon {
      padding: em(3);
      color: $color-pf-black-500;
      border: 1px dashed $color-pf-black;
      cursor: pointer;
      margin-right: em(6);
    }
    .user-assign-avatar {
      cursor: pointer;
      margin-right: em(6);
      height: em(20);
      width: em(20);
    }
    .active {
      color: $color-pf-black;
      padding: em(5);
      border-style: solid;
    }
    .detail-assignee-name{
      margin-left: em(5);
      .pficon-user{
        font-size: em(28);
      }
      .placeholder {
        font-style: italic;
        color: $color-pf-black-400;
      }
    }
  }

  .detail-iteration-wrap {
    .iteration-label {
      margin-right: em(16);
    }
  }

  .detail-description-wrap {
    margin-top: em(10);
     .view-switch-btn {
        margin-bottom: 10px;
     }
     .detail-description {
       padding: 0;
      .detail-desc-div-wrap {
        background-color: $color-pf-black-150;
        .desc-not-found {
          p {
            font-style: italic;
            color: $color-pf-black-400;
          }
        }
        .detail-desc-div {
          min-height: em(50);
          background-color: $color-pf-white;
          padding-right: em(30);
          border: 1px solid $color-pf-white;
          p {
            padding: em(5) em(10);
            margin: 0;
            outline: 0;
          }
          .edit-icon {
            display: none;
            position: absolute;
            right: em(9);
            z-index: 10;
            top: em(45);
            cursor: pointer;
          }
          &:hover {
            background-clip: content-box;
            border-color: $color-pf-black-400;
            .edit-icon {
              display: block;
            }
          }
        }
      }
    }
  }

  .detail-desc-action {
    margin-top: em(10);
  }
  .detail-action-btn {
    font-size: em(14);
    cursor: pointer;
    width:em(42);
    text-align: $textCenter;
    padding: em(5);
    margin-left: em(5);
  }
  .desc-html-view {
    padding: em(5) em(10);
  }
  .desc-editable {
    @include box-shadow(inset 0 1px 1px $color-pf-black-100,0 0 8px $color-pf-blue-300);
    @include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s);
    border: 1px solid $color-pf-blue-400 !important;
    padding-right: em(30) !important;
    background-clip: content-box !important;

    .edit-icon {
      display: block !important;
    }
    p {
      padding: em(5) em(10) !important;
    }
  }

  /**
    This is for 'start coding' button
  **/
  .start-coding {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
}

//detail panel
.detail-panel {
  background: $color-pf-white;
  position: fixed;
  left: auto;
  top: em(34);
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: em(250);
  z-index: 100;
  padding: em(20) 0;
  border-left: 1px solid darken($color-pf-white, 20%);
  overflow-y: scroll;
}
/* Commenting type drop down related tests for issue 635
.wi-type-icon {
  cursor: pointer;
}*/

.user-search {
  position: relative;
  .list-container{
    position: absolute;
    min-width: em(200);
    z-index: 10;
    background-color: $color-pf-black-100;
    border: 1px solid $color-pf-black-500;
    .user-search-icon {
      position: absolute;
      line-height: em(30);
      padding-left: em(5);
      height: inherit;
      color: $color-pf-black-500;
    }

    input {
      outline: none;
      width: $width100;
      height: em(30);
      border: none;
      border-bottom: 1px solid $color-pf-black-500;
      padding-left: em(20);
    }

    .item-ul {
      background: $color-pf-white;
      list-style: none;
      margin-bottom: 0;
      .item-li {
        cursor: pointer;
        padding: em(5);
        width: $width100;
        float: left;
        &:hover {
          background-color: $color-pf-black-300;
        }
      }
      .only-first-item {
        span {
          font-weight: 600;
        }
      }
      .first-item {
        border-bottom: 1px dashed $color-pf-black-500;
        span {
          font-weight: 600;
        }
      }
      .selected {
        background-color: $color-pf-black-300;
      }
      .action-li {
        display: flex;
        justify-content: space-between;
        padding: em(5);
        .action-item {
          cursor: pointer;
          color: $color-pf-black-500;
        }
      }
    }
    .user-list {
      max-height: em(150);
      overflow-y: scroll;
      border-bottom: 1px solid $color-pf-black-500;
    }
  }
}

@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .detail-container {
    .mobile-bar {
      background-color:$color-pf-black;
      color: $color-pf-white;
      padding: em(10) em(20);
    }
    .detail-type-dropdown {
      position: relative;
    }
    .wi-state-btn{
      padding-top: 0;
    }
  }

  .detail-panel {
    width: $width100;
    padding: 0;
    top: 0;
  }

  .user-search {
    height: 100%;
    width: $width100;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    .list-container {
      top: em(144);
      width: 80%;
      @include transform(translateX(-50%));
      left: 50%;
      .user-list {
        max-height: em(250);
      }
    }
  }
}
