@import '../../../assets/stylesheets/base';

//detail panel
.detail-panel {
  background: $color-pf-white;
  position: fixed;
  left: auto;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: em(250);
  border-left: 1px solid darken($color-pf-white, 20%);
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: -4px 0px 2px -2px $color-pf-black-300;
  -webkit-box-shadow: -4px 0px 2px -2px $color-pf-black-300;
  -moz-box-shadow: -4px 0px 2px -2px $color-pf-black-300;
  label {
    font-weight: 400;
  }
}
.detail-container {
  width: 100%;
  .detail-panel-header {
    background-color: $color-pf-black-200;
    border-bottom: 1px solid $color-pf-black-300;
    height: 145px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .top-bar {
    margin-bottom: 0;
  }
  .user-avatar {
    cursor: pointer;
    margin-right: em(6);
    height: em(20);
    width: em(20);
  }
  .common-wrap{
    padding: em(20);
    .user-label{
      margin-right: em(20);
    }
    .user-creator-icon {
      padding: em(3);
      color: $color-pf-black-500;
      border: 1px dashed $color-pf-black;
      cursor: pointer;
      margin-right: em(6);
    }
  }
  .note{
    color: $color-pf-black-500;
  }
  .detail-type-dropdown {
    .saving-title {
      padding-left: 0.6em;
      font-size: 16px;
      vertical-align: bottom;
    }
  }
  .detail-id {
    font-weight: 700;
    margin: 0;
    margin-left: 5px;
    display: inline-block;
  }
  .detail-created-date {
    text-align: right;
    float: right;
    margin-right: 10px;
  }
  .detail-close {
    float: right;
    margin-left: 8px;
    cursor: pointer;
    font-size: em(18);
  }
  .wi-detail-title-blk{
    .detail-title {
      font-weight: 500;
      max-width: calc(100% - 25px);
      line-height: 1.5;
      border: 1px solid transparent;
      padding-left: 2px;
    }
    .detail-title-edit-ico {
      line-height: 2;
      cursor: pointer;
    }
    .edit-title-alignment {
      display: inline-flex;
    }
    .detail-title-edit {
      background-color: $color-pf-white;
      font-weight: 500;
      line-height: 1.5;
      padding-left: 2px;
      border: 1px solid $color-pf-blue-400;
      width: 550px;
      resize: none;
      height: 35px;
      overflow: hidden;
    }
    .title-error {
      position: absolute;
      top: 55px;
      color: $color-pf-red;
    }
    aside{
      padding: em(5) 0 0;
    }
    .clearfloat{
      clear: both;
    }
    .detail-title-edit-ico {
      display: none;
      position: absolute;
      right: em(9);
      z-index: 10;
      top: em(18);
      cursor: pointer;
    }
    &:hover {
      background-clip: content-box;
      border-color: $color-pf-blue-400;
      cursor: pointer;
      .detail-title-edit-ico {
        display: block;
      }
    }
    &:focus{
      border-color:$color-pf-blue;
    }
  }
  .wi-state-btn{
    max-width: em(132);
    padding: em(20) 0;
    .detail-status-dropdown {
      text-align: $textRight;
      .dropdown-icon {
        float: left;
        margin-right: em(5);
        font-size: em(12);
        margin-top: em(5);
      }
      .dropdown-text {
        float: left;
        text-transform: capitalize;
        text-align:left;
      }
      .caret{
        margin-top: em(5);
      }
      .dropdown-ul {
        min-width: em(132);
        width: em(132);
        top: em(25);
        .dropdown-li {
          width: $width100;
          float: left;
          a{
            width: $width100;
            float: left;
            padding: em(2) em(10);
          }
        }
      }
    }
  }

  .item-action-block {
    margin-left: 30px;
    margin-top: 30px;
    .detail-assignee-wrap {
      height: 30px;
      .control-label {
        font-weight: 700;
        text-align: left;
      }
      .user-label{
        margin-right: em(15);
      }
      .user-assign-icon {
        padding: em(3);
        color: $color-pf-black-500;
        border: 1px dashed $color-pf-black;
        cursor: pointer;
        margin-right: em(6);
      }
      .user-assign-avatar {
        cursor: pointer;
        margin-right: em(6);
        height: em(20);
        width: em(20);
      }
      .active {
        color: $color-pf-black;
        padding: em(5);
        border-style: solid;
      }
      .detail-assignee-name{
        .placeholder {
          color: $color-pf-blue-400;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .detail-creator-wrap, .detail-assignee-wrap, .detail-area-wrap {
      height: 30px;
      .control-label {
        font-weight: 700;
        text-align: left;
      }
      [noValueLabel="none"] {
        color: $color-pf-blue-400;
      }
    }
    .detail-iteration-wrap {
      height: 30px;
      .control-label {
        font-weight: 700;
        text-align: left;
      }
      .iteration-label {
        margin-right: em(16);
      }
    }
    /**
      This is for 'start coding' button
    **/
    .start-coding {
      display: flex;
      justify-content: flex-end;
      padding: 0 30px;
    }
    .work-item-section {
      margin-left: -47px;
    }
  }
  .dynamic-fields-wrap, .description-fields-wrap, .start-coding-wrap {
    margin-left: 30px;
    .control-label {
      font-weight: 700;
      text-align: left;
    }
  }
}
.user-search {
  position: relative;
  .list-container{
    margin-top: -5px;
    position: absolute;
    min-width: em(200);
    z-index: 10;
    background-color: $color-pf-white;
    border: 1px solid $color-pf-black-500;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    border-radius: 1px;
    .user-search-icon {
      position: absolute;
      line-height: em(30);
      padding-left: em(5);
      height: inherit;
      color: $color-pf-black-500;
    }

    input {
      outline: none;
      width: 100%;
      height: em(30);
      border: none;
      border-bottom: 1px solid $color-pf-blue-400;
      box-shadow: 0 0px 6px $color-pf-blue-400;
      padding-left: em(20);
    }

    .item-ul {
      background: $color-pf-white;
      list-style: none;
      margin-bottom: 0;
      .item-li {
        cursor: pointer;
        padding: em(5);
        width: $width100;
        float: left;
        &:hover {
          background-color: $color-pf-black-300;
        }
      }
      .only-first-item {
        span {
          font-weight: 600;
        }
      }
      .first-item {
        border-bottom: 1px dashed $color-pf-black-500;
        span {
          font-weight: 600;
        }
      }
      .selected {
        background-color: $color-pf-black-300;
      }
      .action-li {
        display: flex;
        justify-content: space-between;
        padding: em(5);
        margin-left: -15px;
        .action-item {
          cursor: pointer;
          color: $color-pf-black-500;
        }
      }
    }
    .user-list {
      max-height: em(150);
      overflow-y: scroll;
      border-bottom: 1px solid $color-pf-black-500;
    }
  }
}

@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .detail-container {
    .top-bar {
      background-color:$color-pf-black;
      color: $color-pf-white;
      padding: em(10) em(20);
    }
    .detail-type-dropdown {
      position: relative;
    }
    .wi-state-btn{
      padding-top: 0;
    }
  }

  .detail-panel {
    width: $width100;
    padding: 0;
    top: 0;
  }

  .user-search {
    height: 100%;
    width: $width100;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    .list-container {
      top: em(144);
      width: 80%;
      @include transform(translateX(-50%));
      left: 50%;
      .user-list {
        max-height: em(250);
      }
    }
  }
}

.user-avatar {
  @include user-avatar;
}

.detail-action-btn {
  @include detail-action-btn;
  height: 35px;
  margin-top: 20px;
}
.none-assigned {
  color: $color-pf-blue;
}
