@import '../../../assets/stylesheets/base';

//detail panel
.detail-panel {
  background: $color-pf-white;
  position: fixed;
  left: auto;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 50%;
  min-width: em(250);
  // z-index: 0;
  padding: em(20) 0 em(20) em(40);
  border-left: 1px solid darken($color-pf-white, 20%);
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: -4px 0px 2px -2px $color-pf-black-300;
  -webkit-box-shadow: -4px 0px 2px -2px $color-pf-black-300;
  -moz-box-shadow: -4px 0px 2px -2px $color-pf-black-300;
  label {
    font-weight: 400;
  }
  .form-group {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.detail-container {
  width: $width100;
  .user-avatar {
    cursor: pointer;
    margin-right: em(6);
    height: em(20);
    width: em(20);
  }
  .common-wrap{
    padding: em(20);
    .user-label{
      margin-right: em(20);
    }
    .user-creator-icon {
      padding: em(3);
      color: $color-pf-black-500;
      border: 1px dashed $color-pf-black;
      cursor: pointer;
      margin-right: em(6);
    }
  }
  .note{
    color: $color-pf-black-500;
  }
  .detail-type-dropdown {
    position: relative;
    margin-left: -50px;
  }
  .detail-id {
    font-weight: 700;
    margin:0;
    padding-left: .6em;
    line-height: 1 !important;
    font-size: $pf-icon-2x;
  }
  .detail-created-date {
    text-align: right;
  }
  .detail-close {
    position: fixed;
    top: 25px;
    right: 40px;
    cursor: pointer;
    font-size: em(18);
  }
  .wi-detail-title-blk{
    padding: em(20) em(0) 0;
    margin-left: -10px;
    .detail-title {
      max-width: calc(100% - 25px);
      margin:0;
      line-height: 1.5;
      padding-left: 7px;
      border: 1px solid transparent;
      margin-bottom: 31px;
    }
    .detail-title-edit-ico {
      line-height: 2;
      cursor: pointer;
    }
    .detail-title-edit {
      margin: 0;
      line-height: 1.5;
      padding-left: 7px;
      border: 1px solid $color-pf-black-400;
    }
    aside{
      padding: em(5) 0 0;
    }
    .clearfloat{
      clear: both;
    }
    .detail-title-edit-ico {
      display: none;
      position: absolute;
      right: em(9);
      z-index: 10;
      top: em(18);
      cursor: pointer;
    }
    &:hover {
      background-clip: content-box;
      border-color: $color-pf-black-400;
      .detail-title-edit-ico {
        display: block;
      }
    }
    &:focus{
      border-color:$color-pf-blue;
    }
  }
  .wi-state-btn{
    max-width: em(132);
    padding: em(20) 0;
    .detail-status-dropdown {
      text-align: $textRight;
      .dropdown-icon {
        float: left;
        margin-right: em(5);
        font-size: em(12);
        margin-top: em(5);
      }
      .dropdown-text {
        float: left;
        text-transform: capitalize;
        text-align:left;
      }
      .caret{
        margin-top: em(5);
      }
      .dropdown-ul {
        min-width: em(132);
        width: em(132);
        top: em(25);
        .dropdown-li {
          width: $width100;
          float: left;
          a{
            width: $width100;
            float: left;
            padding: em(2) em(10);
          }
        }
      }
    }
  }

  .detail-assignee-wrap {
    .user-label{
      margin-right: em(15);
    }
    .user-assign-icon {
      padding: em(3);
      color: $color-pf-black-500;
      border: 1px dashed $color-pf-black;
      cursor: pointer;
      margin-right: em(6);
    }
    .user-assign-avatar {
      cursor: pointer;
      margin-right: em(6);
      height: em(20);
      width: em(20);
    }
    .active {
      color: $color-pf-black;
      padding: em(5);
      border-style: solid;
    }
    .detail-assignee-name{
      .placeholder {
        font-style: italic;
        color: $color-pf-black-400;
      }
    }
  }

  .detail-iteration-wrap {
    .iteration-label {
      margin-right: em(16);
    }
  }
  /**
    This is for 'start coding' button
  **/
  .start-coding {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
  }
  .work-item-section {
    margin-left: -47px;
  }
}
/* Commenting type drop down related tests for issue 635
.wi-type-icon {
  cursor: pointer;
}*/

.user-search {
  position: relative;
  .list-container{
    position: absolute;
    min-width: em(200);
    z-index: 10;
    background-color: $color-pf-black-100;
    border: 1px solid $color-pf-black-500;
    .user-search-icon {
      position: absolute;
      line-height: em(30);
      padding-left: em(5);
      height: inherit;
      color: $color-pf-black-500;
    }

    input {
      outline: none;
      width: $width100;
      height: em(30);
      border: none;
      border-bottom: 1px solid $color-pf-black-500;
      padding-left: em(20);
    }

    .item-ul {
      background: $color-pf-white;
      list-style: none;
      margin-bottom: 0;
      .item-li {
        cursor: pointer;
        padding: em(5);
        width: $width100;
        float: left;
        &:hover {
          background-color: $color-pf-black-300;
        }
      }
      .only-first-item {
        span {
          font-weight: 600;
        }
      }
      .first-item {
        border-bottom: 1px dashed $color-pf-black-500;
        span {
          font-weight: 600;
        }
      }
      .selected {
        background-color: $color-pf-black-300;
      }
      .action-li {
        display: flex;
        justify-content: space-between;
        padding: em(5);
        margin-left: -15px;
        .action-item {
          cursor: pointer;
          color: $color-pf-black-500;
        }
      }
    }
    .user-list {
      max-height: em(150);
      overflow-y: scroll;
      border-bottom: 1px solid $color-pf-black-500;
    }
  }
}
.detail-area-name {
  padding-left: 0;
}
.detail-area-wrap {
  #WI_details_area {
    width: $width100;
  }
  .area-search {
    position: relative;
    width: 40%;
    height: 1px;
    .list-container {
      min-width: em(200);
      z-index: 10;
      background-color: $color-pf-black-100;
      border: 1px solid $color-pf-black-500;
      .area-search-icon {
        position: absolute;
        line-height: em(30);
        padding-left: em(5);
        height: inherit;
        color: $color-pf-black-500;
      }

      input {
        outline: none;
        width: $width100;
        height: em(30);
        border: none;
        border-bottom: 1px solid $color-pf-black-500;
        padding-left: em(20);
      }

      .item-ul {
        background: $color-pf-white;
        list-style: none;
        margin-bottom: 0;
        padding-left: em(10);
        .item-li {
          cursor: pointer;
          padding: em(5);
          width: $width100;
          float: left;
          &:hover {
            background-color: $color-pf-black-300;
          }
        }
        .only-first-item {
          span {
            font-weight: 600;
          }
        }
        .first-item {
          border-bottom: 1px dashed $color-pf-black-500;
          span {
            font-weight: 600;
          }
        }
        .selected {
          background-color: $color-pf-black-300;
        }
        .action-li {
          display: flex;
          justify-content: space-between;
          padding: em(5);
          .action-item {
            cursor: pointer;
            color: $color-pf-black-500;
          }
        }
      }
      .area-list {
        max-height: em(150);
        overflow-y: scroll;
        border-bottom: 1px solid $color-pf-black-500;
      }
    }
  }
  .btn-bar {
    margin-left: 5px;
    span {
      z-index: 11;
    }
  }

}

@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .detail-container {
    .mobile-bar {
      background-color:$color-pf-black;
      color: $color-pf-white;
      padding: em(10) em(20);
    }
    .detail-type-dropdown {
      position: relative;
    }
    .wi-state-btn{
      padding-top: 0;
    }
  }

  .detail-panel {
    width: $width100;
    padding: 0;
    top: 0;
  }

  .user-search {
    height: 100%;
    width: $width100;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    .list-container {
      top: em(144);
      width: 80%;
      @include transform(translateX(-50%));
      left: 50%;
      .user-list {
        max-height: em(250);
      }
    }
  }
}

.user-avatar {
  @include user-avatar;
}

.detail-action-btn {
  @include detail-action-btn;
}
