<div class="edit-space-description-widget">
  <div class="col-sm-3 f8-space-masthead-space-info">
    <div>
      <span class="f8-space-masthead-name">{{space?.attributes.name}}</span> <span class="f8-space-masthead-owner">{{spaceOwner | async}}</span>
    </div>
    <span class="pficon pficon-users fa-lg"></span> {{collaboratorCount | async}}
    <ng-container *ngIf='userOwnsSpace; else userDoesNotOwnSpaceHeaderInfo'>
      <span class="f8-space-masthead-vertical-divider-collab"></span>
      <a class="add-collaborators-link" [routerLink]="['/', loggedInUser?.attributes?.username, space?.attributes.name, 'settings', 'collaborators']">
        <span class="pficon pficon-add-circle-o fa-lg"></span> Add Collaborator
      </a>
    </ng-container>
    <ng-template #userDoesNotOwnSpaceHeaderInfo>
      <span id="space-description-collaborators-placeholder">Collaborator{{(collaboratorCount | async) > 1 ? 's' : ''}}</span>
    </ng-template>
  </div>
  <div *ngIf="userOwnsSpace || space?.attributes.description" class="f8-space-masthead-vertical-divider"></div>
  <div class="col-sm-9 f8-space-masthead-description">
    <!-- There must be no spaces here, otherwise we end up with random whitespace in the editable-->
    <div *ngIf="userOwnsSpace; else userDoesNotOwnSpaceDescription" class="form-group">
      <div class="f8-space-masthead-description-title"></div>
      <textarea row="3"
                placeholder="Description goes here"
                class="space-description form-control"
                *ngIf="isEditing && (isEditable() | async)"
                (keyup.enter)="onUpdateDescription(description.value)"
                (keydown.enter)="preventDef($event)"
                #description>{{space?.attributes.description}}</textarea>
      <div class="f8-space-masthead-description-edit-buttons" *ngIf="isEditing">
        <button id="_btn_cancel_description"
                class="pull-right btn btn-default edit-space-description-btn"
                (click)="stopEditingDescription()">
          Cancel
        </button>
        <!--Save icon-->
        <button id="workItemTitle_btn_save_description"
                class="pull-right btn btn-primary edit-space-description-btn "
                (click)="saveDescription()" >
          Save
        </button>
      </div>
      <p *ngIf="!isEditing || !(isEditable() | async)" (click)="startEditingDescription()" class="f8-space-masthead-description-body edit-space-description-pencil truncate-multiline">
        {{space?.attributes.description || "Enter a description"}}
      </p>
    </div>
    <ng-template #userDoesNotOwnSpaceDescription>
      <p class="truncate-multiline">{{ space?.attributes.description }}</p>
    </ng-template>
  </div>
</div>
