@import '../../../assets/stylesheets/base';

.edit-space-description-widget {
    max-height: 245px;
    h2 {
      text-transform: capitalize;
    }
    .space-description {
        margin:rem(10) 0;
        resize: none;
    }
}

.edit-space-description-btn {
  cursor: pointer;
  width: em(42);
  text-align: $textCenter;
  padding: 0 !important;
  margin-left: em(5);
}

.edit-space-description-span {
  line-height: 1.5;
  &:hover {
    &:after {
      padding-left: 20px;
      font-family: 'PatternFlyIcons-webfont';
      content: '\E60A';
    }
  }
}
