<alm-slide-out-panel [panelState]="panelState" (panelStateChange)="togglePanel($event)">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="spacePath" class="col-sm-2 control-label" disabled>Space Path</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="spacePath" name="spacePath" disabled
               [ngModel]="context.path">
      </div>
    </div>
    <div class="form-group">
      <label for="gitHubRepo" class="col-sm-2 control-label required-pf">GitHub Repository</label>
      <div class="col-sm-9"
           [ngClass]="{'has-error': gitHubRepoInvalid === true || gitHubRepoDuplicated === true}">
        <input type="text" class="form-control" id="gitHubRepo" name="gitHubRepo"
               placeholder="almighty/almighty-core"
               [(ngModel)]="gitHubRepo" (ngModelChange)="resetFetch()">
        <span class="help-block" *ngIf="gitHubRepoInvalid === true">Invalid GitHub repository</span>
        <span class="help-block" *ngIf="gitHubRepoDuplicated === true">Duplicated GitHub repository</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <button type="submit" class="btn btn-primary"
                (click)="fetchCodebase($event)">Sync</button>
      </div>
    </div>
    <div *ngIf="gitHubRepoDetails !== undefined && gitHubRepoFullNameInvalid !== true">
      <hr class="col-sm-11">
      <div class="form-group">
        <label for="created" class="col-sm-2 control-label" disabled>Created</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="created" name="created" disabled
                 [ngModel]="gitHubRepoDetails.created_at | date:'medium'">
        </div>
      </div>
      <div class="form-group">
        <label for="updated" class="col-sm-2 control-label" disabled>Last Updated</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="updated" name="updated" disabled
                 [ngModel]="gitHubRepoDetails.updated_at | date:'medium'">
        </div>
      </div>
      <div class="form-group">
        <label for="pushed" class="col-sm-2 control-label" disabled>Last Commit</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="pushed" name="pushed" disabled
                 [ngModel]="gitHubRepoDetails.pushed_at | date:'medium'">
        </div>
      </div>
      <div class="form-group">
        <label for="license" class="col-sm-2 control-label" disabled>License</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="license" name="license" disabled
                 [ngModel]="license">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
          <button type="submit" class="btn btn-primary"
                  (click)="addCodebase($event)">Associate Repository to Space</button>
        </div>
      </div>
    </div>
  </form>
</alm-slide-out-panel>
