@import '../../assets/stylesheets/base';

.filter-pf {
  a {
    cursor: pointer;
  }
}
.filter-pf.filter-fields {
  .form-group {
    padding-left: 0;
    width: 275px;
  }
}
.filter-select {
  .btn-default {
    background-color: #fff; //@color-pf-white;
    background-image: none;
    color: #8b8d8f; //@color-pf-black-500;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
  }
}
.input-group {
  .input-group-btn {
    .dropdown-menu>.selected>a {
      background-color: #0088ce !important; //@color-pf-blue !important;
      border-color: #0076b7 !important;
      color: #fff; //@color-pf-white !important;
    }
  }
}
