.blanker {
  background: url("/assets/img/white.png");
  background-repeat: repeat repeat;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
}

.f8background {
  background: url("/assets/img/signup-bg.png");
  background-repeat: no-repeat;
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 960px;
  height: 720px;
}

.login {
  z-index: 1001;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 550px;
  .panel {
    padding-bottom: 15px;
    padding: 5px;
  }

  input {
    margin-bottom: 3px;
  }

  small {
    font-size: xx-small;
  }
}
