<div class="col-md-12 col-sm-12 col-xs-12">
    <form role="form" #signupForm="ngForm" (ngSubmit)="save()" *ngIf="profile.current">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="fullName"><h4>Full Name</h4></label>
            <div class="form-group">
                <div class="search-pf-input-group">
                    <input id="fullName" name="fullName" type="text" class="form-control" placeholder="Enter your full name" [(ngModel)]="profile.current.fullName" #fullName="ngModel" required />
                </div>
            </div>
            <div *ngIf="fullName.errors && (fullName.dirty || fullName.touched)" class="alert alert-danger">
                <div [hidden]="!fullName.errors.required">
                    Full name is required
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="bio"><h4>Bio</h4></label>
            <div class="form-group">
                <div class="search-pf-input-group">
                    <input id="bio" name="bio" type="text" class="form-control" placeholder="Enter your bio" [(ngModel)]="profile.current.bio" />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="bio"><h4>Username</h4></label>
            <div class="form-group">
                <div class="search-pf-input-group">
                    <input id="username" name="username" type="text" class="form-control" placeholder="Enter your username" [(ngModel)]="profile.current.username" required #username="ngModel" />
                </div>
            </div>
            <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
                <div [hidden]="!username.errors.required">
                    Username is required
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="url"><h4>URL</h4></label>
            <div class="form-group">
                <div class="search-pf-input-group">
                    <input id="url" name="url" type="text" class="form-control" placeholder="Enter your url" [(ngModel)]="profile.current.url" />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="url"><h4>Email</h4></label>
            <div class="form-group">
                <div class="search-pf-input-group">
                    <input id="email" name="email" type="text" class="form-control" placeholder="Enter your email" [(ngModel)]="profile.current.primaryEmail" required #email="ngModel" />
                </div>
            </div>
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                    Email is required
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn marginR10 pull-right btn-primary" [disabled]="!signupForm.form.valid" type="submit" value="0">Complete Registration</button>
        </div>
    </form>
    <div *ngIf="!profile.current">
        <h3>Please wait, loading user details from OAuth Provider...</h3>
    </div>

</div>