<div class="modal-header">
  <button class="close" aria-label="Close" type="button"
          (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <dt class="modal-title">Welcome to your <strong>{{space}}</strong> space.</dt>
</div>

<section style="min-height: 450px" class="forge-section container-fluid">
  <div class="row">
    <div class="col-sm-12 wizard-step-sub-title">
      <h1 class="textCenter">
        <b>How would you like to get started?</b>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="importCodeButton" class="col-sm-6 panel-item" (click)="select('import')">
        <div class="col-sm-6">
          <h3>Import existing <b>code</b></h3>
        </div>
        <div class="col-sm-6">
          <i class="pficon pficon-import fa-3x"></i>
        </div>
      </div>
      <div id="forgeQuickStartButton" class="col-sm-6 panel-item" (click)="select('quickstart')">
        <div class="col-sm-6">
          <h3>Create a new <b>Quickstart</b> project</h3>
        </div>
        <div class="col-sm-6">
          <i class="pficon fa-3x pficon-screen"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 wizard-step-tool-bar">
        <a id="noThanksButton" class="btn btn-primary" (click)="cancel()">
          No thanks, take me to the {{space}} dashboard
        </a>
      </div>
    </div>
    <div class="row" *ngIf="appLauncherEnabled">
      <div class="col-sm-12 text-center">
        <button class="btn btn-link"
              type="button"
              (click)="showAddAppOverlay(); cancel();"
              aria-label="Open New Import Experience">New Import Experience</button>
      </div>
    </div>
  </div>
</section>
