<div id="apps" class="">

  <div class="cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h3>
          <b>Applications</b>
        </h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h3>
          <b>Environments</b>
        </h3>
      </div>
    </div>
  </div>

  <div class="cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-md-2"></div>
      <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let environment of environments | async">
        <h4 class="env-card-title">
          {{environment.name}}
        </h4>
      </div>
    </div>
  </div>

  <div class="cards-pf" *ngFor="let application of applications | async">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-2">
          <h4>
            {{application}}
          </h4>
        </div>
        <deployment-card class="col-xs-6 col-sm-4 col-md-3" [applicationId]="application" [environment]="environment" *ngFor="let environment of environments | async"></deployment-card>
      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-body cards-pf resource-card">
      <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
          <div class="col-xs-12 col-sm-4 col-md-2">
            <h3>
              <b>
                <a class="resource-title" (click)="resourcesCollapsed = !resourcesCollapsed">
                  <span class="fa fa-angle-down"></span>&nbsp;&nbsp;Resource Usage
                </a>
              </b>
            </h3>
          </div>
          <div [collapse]="resourcesCollapsed">
            <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let environment of environments | async">
              <div class="card-pf">
                <div class="card-pf-body resource-card-body">
                  <div class="progress-container progress-description-left progress-label-right">
                    <div class="progress-description">
                      CPU (Cores)
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"
                        data-toggle="tooltip" title="70% Used">
                        <span>
                          <b>7 of 10</b>
                        </span>
                      </div>
                      <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                        style="width: 30%;" data-toggle="tooltip" title="30% Available">
                        <span class="sr-only">
                          30% Available
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="progress-container progress-description-left progress-label-right">
                    <div class="progress-description">
                      Memory (MB)
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%;"
                        data-toggle="tooltip" title="256 MB Used">
                        <span>
                          <b>256 of 400</b>
                        </span>
                      </div>
                      <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"
                        style="width: 36%;" data-toggle="tooltip" title="144 MB Available">
                        <span class="sr-only">
                          36% Available
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="progress-container progress-description-left progress-label-right">
                    <div class="progress-description">
                      Network (KiB/s)
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"
                        data-toggle="tooltip" title="1.2">
                        <span>
                          <b>1.2</b>
                        </span>
                      </div>
                      <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="width: 50%;" data-toggle="tooltip" title="1.2 KiB/s Available">
                        <span class="sr-only">
                          50% Available
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
