<div id="apps" class="">

  <div class="cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-md-2"><h3><strong>Applications</strong></h3></div>
      <div class="col-xs-12 col-sm-4 col-md-2"><h3><strong>Environments</strong></h3></div>
    </div>
  </div>

  <div class="cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-md-2"></div>
      <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let environment of environments">
        <h4 style="text-transform: capitalize;">{{ environment.name }}</h4>
      </div>
    </div>
  </div>

  <div class="cards-pf" *ngFor="let application of applications">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-2">
          <h4>{{ application }}</h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3" *ngFor="let environment of environments">
          <div class="card-pf">
            <div class="card-pf-body">
              <span class="pficon pficon-ok"></span>
              <span>6 Pods</span>
              <span>1.0.2</span>
              <div class="pull-right dropdown-kebab-pf dropdown" dropdown>
                <button class="btn btn-link pull-right dropdown-toggle" [id]="'kebab-' + environment + '-' + application"
                  type="button" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown" dropdownToggle>
                  <span class="fa fa-ellipsis-v"></span>
                </button>
                <ul class="dropdown-menu-right dropdown-menu" [attr.aria-labelledby]="'kebab-' + environment + '-' + application" role="menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body cards-pf" style="background: lightgrey;">
      <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
          <div class="col-xs-12 col-sm-4 col-md-2" style="margin-top: -20px; margin-left: -40px; margin-right: 30px;">
            <h3><strong><a style="color: black; cursor: pointer;"
              (click)="resourcesCollapsed = !resourcesCollapsed"><span class="fa fa-angle-down"></span>&nbsp;&nbsp;Resource Usage</a></strong></h3>
          </div>
          <div [collapse]="resourcesCollapsed">
            <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let environment of environments">
              <div class="card-pf">
                <div class="card-pf-heading">
                  <h2 class="card-pf-title">
                    {{environment.name}}
                  </h2>
                </div>
                <div class="card-pf-body" style="font-size: 12px;">
                  <div class="progress-container progress-description-left progress-label-right">
                    <div class="progress-description">
                      CPU (Cores)
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"
                        data-toggle="tooltip" title="70% Used">
                        <span><strong>7 of 10</strong></span>

                      </div>
                      <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                        style="width: 30%;" data-toggle="tooltip" title="30% Available">
                        <span class="sr-only">30% Available</span>
                      </div>
                    </div>
                  </div>
                  <div class="progress-container progress-description-left progress-label-right">
                    <div class="progress-description">
                      Memory (MB)
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%;"
                        data-toggle="tooltip" title="256 MB Used">
                        <span>
                          <strong>256 of 400</strong></span>
                      </div>
                      <div class="progress-bar progress-bar-remaining" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"
                        style="width: 36%;" data-toggle="tooltip" title="144 MB Available">
                        <span class="sr-only">36% Available</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
