<div class='kube-resource-list'>

  <fabric8-loading [loading]="loading">
    <div class='list-group-item buildconfig' *ngFor='let buildconfig of buildconfigs'>
      <div class='list-view-pf-checkbox' *ngIf="!hideCheckbox">
        <input type='checkbox'>
      </div>
      <div class='list-view-pf-actions'>
        <div class='pull-right dropdown-kebab-pf dropdown' dropdown>
          <button class='btn btn-link dropdown-toggle' type='button' id='dropdownKebabRight9' aria-haspopup='true' aria-expanded='true' dropdownToggle>
              <span class='fa fa-ellipsis-v'></span>
            </button>
          <ul class='dropdown-menu-right dropdown-menu' aria-labelledby='dropdownKebabRight9' role="menu" *dropdownMenu>
            <li>
              <a (click)="startBuild(buildconfig)" title="Start this Build">Start Build</a>
            </li>
            <li class="divider"></li>
            <li *ngIf="buildconfig.lastBuildPath">
              <a routerLink="{{buildconfig.lastBuildPath}}"  title="view last build">
                View last build
              </a>
            </li>
            <li *ngIf="buildconfig.openShiftConsoleUrl">
              <a [href]="buildconfig.openShiftConsoleUrl" target="openshift"
                 title="View this BuildConfig in the OpenShift Console">OpenShift Console</a>
            </li>
            <li>
              <a [routerLink]="[buildconfig.id, 'edit']">Edit</a>
            </li>
            <div *ngIf="pipeline.jenkinsJobUrl">
              <li class="divider"></li>
              <li>
                <a href="{{buildconfig.jenkinsJobUrl}}"  title="open the Jenkins Job for this build" target="jenkins">
                  Open Jenkins Job
                </a>
              </li>
            </div>
            <li class="divider"></li>
            <li>
              <a (click)="openDeleteDialog(deleteBuildConfigModal, buildconfig)" title="Delete this BuildConfig">Delete</a>
            </li>
          </ul>
        </div>

      </div>
      <div class='list-view-pf-main-info'>
        <div class='list-view-pf-left'>
          <span class="{{buildconfig.iconStyle}}" title="{{buildconfig.statusPhase}}"></span>
        </div>
        <div class='list-view-pf-body'>
          <div class='list-view-pf-description'>
            <div class='list-group-item-heading'>
              <a [routerLink]="[buildconfig.id]" class="card-title" title="view buildconfig">{{ buildconfig.name }}</a>


            </div>
            <div class='list-group-item-text'>
              <a *ngIf="buildconfig.gitUrl" href="{{buildconfig.gitUrl}}">{{buildconfig.gitUrl}}</a>
            </div>
          </div>
          <div class='list-view-pf-additional-info'>
            <div class='list-view-pf-additional-info-item' title="created time">
              <span *ngIf="buildconfig.creationTimestamp">
                {{buildconfig.creationTimestamp | amTimeAgo}}
              </span>
            </div>
            <div class='list-view-pf-additional-info-item' title="build type">
              {{buildconfig.type}}
            </div>
            <div class='list-view-pf-additional-info-item'>
              <a routerLink="{{buildconfig.lastBuildPath}}" *ngIf="buildconfig.lastBuildPath" title="view last build">
                #{{buildconfig.lastVersion}}
              </a>
            </div>
            <div class='list-view-pf-additional-info-item' title="build duration">
              <span *ngIf="buildconfig.duration">
                {{buildconfig.duration | amDuration: 'second'}}
              </span>
            </div>
<!--
            <div class='list-view-pf-additional-info-item' title="labels" *ngFor='let entry of buildconfig.labels | entries'>
              {{entry.key}}: {{entry.value}}
            </div>
-->
          </div>
        </div>
      </div>
    </div>
  </fabric8-loading>
</div>

<modal #deleteBuildConfigModal title="Delete BuildConfig">
  <modal-content>
    <delete-buildconfig-dialog></delete-buildconfig-dialog>
  </modal-content>
</modal>


