@import "../../../../../assets/stylesheets/custom";
@import "../../../../../assets/stylesheets/mixins";
@import "../../../../../assets/stylesheets/color-variables";

.link-container {
   width: 100%;
   float: left;
   .link-header{
        display: flex;
        flex: 1;
        background: $color-pf-black-200;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: $pad5;
        .content__title{
            padding-left: $pad10;
        }
        .link-header-nav{
            flex: 1 0 auto;
            padding: $pad5 $pad10;
            float: left;
            border-right: 1px solid $color-pf-black-400;
            text-align: center;
            span{
                float: left;
            }
            .link-header-nav-text{
                padding: $pad5;
            }
        }
    }
    .link-content{
        width:100%;
        float: left;
        background: $color-pf-white;
        border-bottom: 1px solid $color-pf-black-200;
        .link-content-create-link{
            text-align: $textCenter;
            .add-circle-icon{
                color: $color-pf-black-400;
                font-size: 4em;
            }
            h2{
                color: $color-pf-black-500;
                font-weight: 500;
                margin: $pad5 0;
            }
            .create-link-btn{
                padding-left: $pad10;
                padding-right: $pad10;
            }
        }
        .link-item-hdr{
            background: $color-pf-black-100;
            padding: $pad10 $pad20;
            p{
                margin: 0;
                padding: 0 $pad20;
            }
        }
        .link-list-header{
            border-bottom: 1px solid $color-pf-black-200;
            width: 100%;
            float: left;
            margin: 0 $margin20;
            padding: $pad5 0;
        }
        .link-dropdown {
            min-width: 100%;
        }
        .link-list{
            padding: 0 $pad20;
            .link-list-group-list{
                width:100%;
                float: left;
                padding: 0;
                list-style: none;
                .link-list-group-list-item{
                    float: left;
                    width: 100%;
                    span,a{  
                        padding: 0;
                        .list-close-icon{
                            color: $color-pf-white;
                            padding-top: $pad5;
                        } 
                    }
                    span:first-child{
                        padding-right: $pad20;
                    }
                    &:hover{
                        background: $color-pf-black-300;
                        span,a{
                            padding: 0 $pad5;
                            .list-close-icon{
                                color: $color-pf-black-600;
                            }
                        }
                    }
                }
            }
        }
    }
}

// .link-header > div{
//     margin: 15px;
// }
@media (max-width: $screen-md-min){
    .link-container {
        .link-header{
            .content__title{
                padding-left: $pad5;
            }
            .link-header-nav{
                 padding: $pad5;
                span{
                    float: none;
                    display: block;
                    line-height: 1.2;
                }
                .link-header-nav-text{
                    padding: $pad0;
                }
            }
        }
    }
}