<div id="analyze-overview" class="container-fluid analyze-overview-wrapper">
  <div class="row margin-top-15">
    <div class="col-xs-12 col-sm-10">
      <fabric8-edit-space-description-widget></fabric8-edit-space-description-widget>
    </div>
    <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0">
      <button id="analyze-overview-add-to-space-button" class="btn btn-primary btn-lg pull-right" (click)="openForgeWizard(addSpace)">Add to space</button>
    </div>
  </div>
  <div class="cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-md-4">
        <fabric8-add-codebase-widget (addToSpace)="openForgeWizard(addSpace)"></fabric8-add-codebase-widget>
      </div>
      <div class="col-xs-12 col-md-8">
        <fabric8-analytical-report-widget></fabric8-analytical-report-widget>
      </div>
    </div>
  </div>
  <div class="cards-pf">
    <div class="row row-cards-pf padding-top-0">
      <div class="col-xs-12 col-md-4">
        <fabric8-create-work-item-widget></fabric8-create-work-item-widget>
      </div>
      <div class="col-xs-12 col-md-4">
        <fabric8-pipelines-widget (addToSpace)="openForgeWizard(addSpace)"></fabric8-pipelines-widget>
      </div>
      <div class="col-xs-12 col-md-4">
        <fabric8-environment-widget></fabric8-environment-widget>
      </div>
    </div>
  </div>
</div>

<!-- Forge wizard modal -->
<ng-template #addSpace>
    <flow-selector (onSelect)="selectFlow($event)" (onCancel)="closeModal()" [space]="space.attributes.name" [style.display]="selectedFlow !== 'selectFlow' ? 'none': ''"></flow-selector>
    <import-wizard (onCancel)="closeModal()" [style.display]="selectedFlow !== 'import' ? 'none': ''"></import-wizard>
    <quickstart-wizard (onCancel)="closeModal()" [style.display]="selectedFlow !== 'quickstart' ? 'none': ''"></quickstart-wizard>
</ng-template>
