<alm-app-header></alm-app-header>
<div id="board_topWorkItems" class="container-fluid container-cards-pf">
  <h3>Top WorkItems</h3>
  <div class="grid grid-pad">
    <div *ngFor="let workItem of workItems; let count = index" (click)="gotoDetail(workItem)" class="col-1-4" id="{{'board_topWorkItemList_'+count}}">
      <div class="module workItem">
        <h4>{{workItem.fields['system.title']}}</h4>
      </div>
    </div>
  </div>
  <alm-work-item-search></alm-work-item-search>
</div>
<alm-app-footer></alm-app-footer>
