<div class="container-fluid work-item-page">
  <main class="row">
    <aside>
      <div class="contents">
        <side-panel
          [iterations]="iterations">
        </side-panel>
      </div>
    </aside>
    <section>
      <toolbar-panel
        context="boardview"
        [wiTypes]="workItemTypes"></toolbar-panel>
      <div class="contents posRel">
        <div id="board_topWorkItems" class="flex-container flex-grow-1 in-column-direction boardWrapper">
          <div class="board" *ngIf="readyToInit">
            <!-- board columns -->
            <div class="board-lane" *ngFor='let lane of lanes'>
              <section class="flex-container in-column-direction board-lane-column" [attr.data-state]="lane.option">
                <div class="lane-header">
                  <span class="dib">{{lane.option}}</span>
                  <span class="issueCount dib" >{{lane.workItems | arrayCount}}</span>
                </div>

                <div class="boardlaneWrapper"
                  almInfiniteScroll
                  [eachElementHeightInPx]='contentItemHeight'
                  (initItems)='initWiItems($event, lane)'
                  (fetchMore)='fetchMoreWiItems(lane)' >

                  <div *ngIf="lane.option == 'new'">
                      <div *ngIf="loggedIn" class="boardQuickAddContainer flex-container in-column-direction">
                          <alm-work-item-quick-add [wilistview] = "'wi-card-view'" (close)="close($event)"></alm-work-item-quick-add>
                      </div>
                  </div>
                  <div [dragula]='"first-bag"' class="card-wrapper">
                    <div class="board-card flex-container in-column-direction flex-grow-1" *ngFor='let item of lane.workItems' routerLink="./detail/{{item.id}}" [attr.data-id]="item.id" (mousedown)="getWI(item)">
                      <div class="row-wrapper">
                        <div class="">
                          <span class="wi-type-icon fa {{item.relationships?.baseType?.data?.attributes?.icon}}"></span>
                          <span class=""> {{item.id}} </span>
                        </div>
                        <span dropdown>
                          <button class="btn btn-link color-grey" type="button" dropdownToggle>
                            <span class="fa fa-ellipsis-v"></span>
                          </button>
                          <ul class="dropdown-menu-right" dropdownMenu>
                            <li><a class="workItemList_MoveTop">Move to Top</a></li>
                            <li><a class="workItemList_MoveBottom">Move to Bottom</a></li>
                            <li class="divider" role="presentation"></li>
                            <li><a class="workItemList_Open" routerLink="./detail/{{item.id}}">Open</a></li>
                            <li><a class="workItemList_Delete">Delete</a></li>
                            <li><a class="workItemList_Backlog">Move to Backlog</a></li>
                          </ul>
                        </span>
                      </div>
                      <div class="row-wrapper">
                        <div class="">
                          <p class="multiline-truncation">{{ item.attributes['system.title'] }}</p>
                        </div>
                        <div class="user-avatar">
                          <img
                            *ngFor="let wItem of item.relationships.assignees.data"
                            placement="bottom"
                            tooltip="{{wItem?.attributes?.fullName}}"
                            src="{{wItem?.attributes?.imageURL + '&s=20'}}"
                            onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=20'" />
                          <span *ngIf="!item.relationships?.assignees?.data?.length" class="pficon-user not-assigned-user-icon"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>
