@import '../../../assets/stylesheets/base';

.boardWrapper {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 100%;
  .board {
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: em(10);
    .board-lane {
      width: em(300);
      margin: 0 em(5);
      height: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      .board-lane-column {
        background: $color-pf-black-200;
        @include Border(1px, solid ,$color-pf-black-300);
        padding: em(0);
        height: 100%;
        padding-bottom: 0;
        .lane-header {
          text-align: $textCenter;
          position: absolute;
          width: $width100;
          float: left;
          z-index: 11;
          background: $color-pf-black-200;
          padding: em(7) 0 em(3) 0;
          .issueCount {
            background: $color-pf-white;
            padding: 0 em(8);
            margin-left: em(5);
            font-size: em(11);
            font-weight: 500;
          }
        }
        .boardLaneWrapper {
          width: $width100;
          float: left;
          height: calc( 100% - 2.5em );
          overflow-y: auto;
          padding: em(0) em(15);
          margin-top: 2.5em;
          .boardQuickAddContainer {
            width: $width100;
            float: left;
          }
          .board-card {
            width: $width100;
            float: left;
            @include Border(1px, solid , $color-pf-black-400);
            background: $color-pf-white;
            padding: em(15);
            margin: em(5) 0;
            > aside {
              width: $width100;
              float: left;
              margin-bottom: em(5);
              p {
                margin: 0;
              }
              .wi-type-icon {
                padding: em(7) em(6);
                font-size: em(10);
                margin-right: em(2);
              }
              .multiline-truncation {
                @include multiline-truncate($line-height: 1.5em, $line-count: 3, $bg-color: $color-pf-white);
              }
              .user-avatar {
                padding-right: em(5);
              }
            }
          }
        }
      }
    }
  }
}
