@import '../../../assets/stylesheets/base';
@import '../../../assets/stylesheets/dragula';

.boardWrapper {
  position: relative;
  .board {
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem(10) 0;
    .board-lane {
      width: rem(300);
      margin: 0 rem(5);
      height: 100%;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      .board-lane-column {
        background: $color-pf-black-200;
        @include Border(1px, solid, $color-pf-black-300);
        padding: em(0);
        height: 100%;
        padding-bottom: 0;
        .boardlaneWrapper{
          padding: em(0) rem(15);
          overflow: auto;
          width: $width100;
          height: calc( 100% - 2.5rem );
          .board-card {
            @include Border(1px, solid , $color-pf-black-400);
            background: $color-pf-white;
            padding: rem(15);
            margin: rem(5) 0;
            >div {
              p {
                margin: 0;
              }
              .wi-type-icon {
                padding: em(0) em(6);
                font-size: em(12);
              }
              .multiline-truncation {
                @include multiline-truncate($line-height: 1.5em, $line-count: 3, $bg-color: $color-pf-white);
              }
              .user-avatar {
                padding-right: em(5);
              }
            }//div ended
            .row-wrapper {
              display: flex;
              justify-content: space-between;
            }
          }//boardcard ended
        }//boardlaneWrapper ended
        .lane-header {
          text-align: $textCenter;
          flex: 0 0 auto;
          width: $width100;
          background: $color-pf-black-200;
          padding: em(7) 0 em(3) 0;
          .issueCount {
            background: $color-pf-white;
            padding: 0 em(8);
            margin-left: em(5);
            font-size: em(11);
            font-weight: 500;
          }// issue-count ended
        }// lane-header ended
      }//boad-lane-column ended
     }//board-lane ended
    }
    .card-wrapper {
      height: 100%;
    }
  }

.work-item-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  .container-modal {
    border: solid 0 red;
    background-color: $color-pf-black-100;
    position: absolute;
    padding: $grid-gutter-width/2;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    overflow-y: auto;
    .container-modal-header {
      margin: 0;
      margin-bottom: $grid-gutter-width/2;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    &.container-cards-pf {
      .card-pf-title {
        text-transform: capitalize;
      }
      .card-pf-info {
        min-height: 4.5em;
        @include multiline-truncate($line-height: 1.5em, $line-count: 3, $bg-color: $color-pf-white);
      }
    }
  }

  .dropdown {
    a {
      cursor: pointer;
    }
  }
  .with-cursor-pointer {
    cursor: pointer;
  }
  .with-color-blue {
    color: $color-pf-blue-400;
  }
  >main {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    border-top: 1px solid $color-pf-black-300;
    >aside {
      flex: 3;
      display: flex;
      flex-direction: column;
      background-color: $color-pf-black-200;
      border-right: 1px solid $color-pf-black-300;
      position: relative;
      align-items: stretch;
      .contents {
        //@extend .fill-container;
        flex: 1;
        display: flex;
        overflow: auto;
        align-items: stretch;
      }
    }
    >section {
      flex: 9;
      display: flex;
      flex-direction: column;
      border: solid 0px red;
      position: relative;
      align-items: stretch;
      >header {
        padding: 0 rem(20);
        border-bottom: 1px solid $color-pf-black-300 !important;
        .toolbar-pf {
          border-color: transparent;
          .toolbar-pf-actions {
            border-color: transparent;
            .form-group {
              border-right: none;
              &:first {
                border-left: none;
              }
            }
            .toolbar-pf-action-right {
              .pficon-add-circle-o{
                @extend .with-color-blue;
                font-size: ceil(($font-size-base * 1.2)) ;
              }
            }
          }
          // ensure icons dont fold around inputs
          .wi-input-filter-dropdown {
            position: relative;
            .wi-input-filter-dropdown-list {
              width: 100%;
              top: 2.5rem;
              padding: 0.25rem;
            }
            >div {
              position: relative;
              //HACK:prevents caret icon from folding to a new line
              >input {
                margin-right: -2.0rem;
              }
              //HACK:positions the caret in right margin are of input
              >span.caret::before {
                z-index: 2;
                display: inline-block;
                height: 1.5rem;
                line-height: 1.5rem;
                width: 1.5rem;
              }
            }
          }
        }
      }
      .contents {
        //@extend .fill-container;
        flex: 1;
        display: flex;
        overflow: auto;
        align-items: stretch;
      }
    }
  }
}
.active-lane {
  border: 2px solid $color-pf-blue-300!important;
}

.not-assigned-user-icon {
  @include not-assigned-user-icon;
}

.user-avatar {
  @include user-avatar;
}

.gu-mirror {
  padding: em(15);
  .row-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
