@import '../../../assets/stylesheets/base';

.quickAdd_container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: $color-pf-black-200;
  border-top: 1px solid darken($color-pf-white, 20%);
  text-align: $textLeft;
  cursor: pointer;

  .dropup {
    .dropdown-menu {
      margin-left: 16px;
      i {
        margin-top: 5px;
        width: 15px;
      }
    }
  }

  .addWorkItem {
    padding: em(18);
    color: $navbar-pf-border-color;
    height: 69px; //height is given to avoid jumping between this block and addWorkItemBlk
    .quick-add-label {
      padding-left: em(5);
    }
    .workItemQuickAdd_saveBtn {
      display: inline-block;
      margin:0;
      &:hover{
        text-decoration: none;
      }

    }
    i {
      color: $navbar-pf-border-color;
      display: inline-block;
      &:hover {
        color: $navbar-pf-border-color;
      }
    }
  }
  .addWorkItemBlk {
    padding: 20px;
    position: relative;
    .work-item-selector {
      display: inline-flex;
      height: 28px;
    }
    .workItemQuickAdd_IconType {
      width:em(24);
      height: em(25);
      float: left;
      position: relative;
      i{
        font-size:em(14);
      }
    }
    .workItemQuickAdd_story {
      #exampleDesc{
        max-height: 100px;
      }
    }
    .workItemQuickAdd_AddBlk {
      .workItemQuickAdd_Add {
        min-width: em(30) !important;
        height: 27px;
        i {
          font-size: em(14);
        }
      }
      .closeQuickAdd {
        min-width: em(30) !important;
        margin-left: em(5);
        height: 27px;
        padding: em(5);
        i {
          font-size: em(14);
          vertical-align: top;
        }
      }
    }
    .icon-btn {
      // font-size: em(24);
      text-decoration: none;
    }
    .icon-btn {
      cursor: pointer;
    }
  }
}

// .quickAdd_container2 {
.board-quick-add-card {
  position: relative;
  width: 100%;
  float: left;
  // border: 2px solid $color-pf-black-300;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  .addWorkItem{
    background: $color-pf-white;
    border: 2px solid $color-pf-black-400;
    text-align: center;
    padding: em(10) em(15);
    .workItemQuickAdd_saveBtn{
      i{
        font-size: em(18);
        color: $color-pf-blue-400;
      }
    }
  }
  .addWorkItemBlk {
    margin: em(5) 0;
    background:$color-pf-white;
    border: 1px solid $color-pf-black-300;
    .board-inputs {
      margin-top: 40px;
      i {
        padding-top: 5px;
        padding-left: 10px;
      }
    }
    .board-description {
      margin-top: 5px;
      height: 29px;
      width: 100%;
    }
    .workItemQuickAdd_Add{
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: -10px;
    }
    .closeQuickAdd{
      position: absolute;
      top: 10px;
      right: 15px;
      color: $color-pf-black;
    }
    .icon-btn{
      border: 2px solid $color-pf-blue-400;
    }
  }
}
.add{
  background: $color-pf-white;
}
@media (max-width: $grid-float-breakpoint){
  .quickAdd_container {
    text-align: center;
    .addWorkItem{
      padding: em(10);
      i,h4{
        display: block;
      }
      i{
        margin-bottom: em(5);
      }
    }
    .addWorkItemBlk {
      padding:em(10);
    }
  }
}
@-moz-document url-prefix() {
  .workItemQuickAdd_story{
    textarea.form-control {
      max-height: em(26) !important;
    }
  }
}
