@import (reference) '../../../assets/stylesheets/_base';

.f8-quickadd {
  height: 69px; //height is given to avoid jumping between this block and addWorkItemBlk
  text-align: left;
  background: @color-pf-black-200;
  border-top: 1px solid;
  border-top-color: @color-pf-black-300;
  cursor: pointer;
  &__addwi {
    padding: 21px 0;
    color: @navbar-pf-border-color;
    &-savebtn {
      display: inline-block;
      margin: 0;
      &:hover { text-decoration: none; }
    }
    i {
      display: inline-block;
      color: @navbar-pf-border-color;
      &:hover { color: @navbar-pf-border-color; }
    }
  }
  &__wiblk {
    position: relative;
    padding: 20px 0;
    .dropdown-kebab-pf {
      button[data-toggle='dropdown'] {
        display: inline-flex;
        height: 26px;
      }
      .dropdown-menu {
        margin-left: 16px;
        i {
          width: 15px;
          margin-top: 5px;
        }
      }
    }
    &-story {
      padding-right: 70px;
      padding-left: 40px;
      textarea[class='f8-quickadd-desc'] {
        max-height: 100px;
        height: 26px !important;
        padding-top: 0;
      }
    }
    &-btn {
      &-add {
        min-width: 30px !important;
        height: 27px;
        i { font-size: 14px; }
      }
      &-close {
        min-width: 30px !important;
        height: 27px;
        padding: 5px;
        margin-left: 10px;
        i {
          font-size: 14px;
          vertical-align: top;
        }
      }
    }
  }
}

// .quickAdd_container2 {
.f8-quickadd-card {
  float: left;
  position: relative;
  box-shadow: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 0;
  background: none;
  &__addwi {
    background: @color-pf-white;
    text-align: center;
    padding: 10px 15px;
    .Border(2px, solid, @color-pf-black-400);
    &-savebtn {
      i {
        font-size: 18px;
        color: @color-pf-blue-400;
      }
    }
  }
  &__wiblk {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    background: @color-pf-white;
    .Border(2px, solid, @color-pf-black-400);
    textarea[class="f8-quickadd-desc"] {
      width: 100%;
      height: 29px;
      margin-top: 5px;
    }
    &-btn-add {
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: -10px;
    }
    &-btn-close {
      position: absolute;
      top: 10px;
      right: 15px;
      color: @color-pf-black;
    }
  }
}
@media (max-width: @grid-float-breakpoint) {
  .f8-quickadd { text-align: center;
    &__addwi { padding: 10px;
      i,
      h4 { display: block; }
      i { margin-bottom: 5px; }
    }
    &__wiblk { padding: 10px; }
  }
}
@-moz-document url-prefix() {
  .f8-quickadd__wiblk-story {
    textarea[class="f8-quickadd-desc"] { max-height: 26px !important; }
  }
}
