<div class="col-md-12 col-sm-12 col-xs-12 quickAdd_container "
  id="workItemQuickAdd_container"
  *ngIf="wilistview === 'wi-list-view'" >
  <div class="col-md-12 col-sm-12 col-xs-12 addWorkItem"
    (click)="toggleQuickAdd()"
    [ngClass]="{'db' : showQuickAddBtn, 'dn' : !showQuickAddBtn}">
    <a class="workItemQuickAdd_saveBtn">
      <i class='pficon-add-circle-o dib'></i>
    </a>
    <span class="quick-add-label">Create Work Item</span>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 addWorkItemBlk "
    *ngIf="showQuickAdd">
    <!-- type dropdown -->
    <div class="dropdown-kebab-pf pull-left" dropdown [dropup]="true">
      <button class="btn btn-default dropdown-toggle work-item-selector"
        type="button"
        dropdownToggle>
        <i class="fa pull-left"
          [ngClass]="selectedType?selectedType.attributes.icon:''"></i>
        <span class="fa fa-angle-up"></span>
      </button>
      <ul class="dropdown-menu"
        role="menu"
        aria-labelledby="dropdownKebab"
        *dropdownMenu>
        <li *ngFor="let type of availableTypes"
            role="menuitem"
            (click)="selectType($event, type)">
          <a class="dropdown-item" href="#">
            <i class="fa pull-left"
              [ngClass]="type.attributes.icon"></i>&nbsp;{{type.attributes.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="workItemQuickAdd_story">
      <div class="col-md-6 col-sm-6 col-xs-12 workItemQuickAdd_storyInput">
        <input class="form-control col-md-12 col-sm-12 col-xs-12"
          id="exampleInput"
          type="text"
          placeholder="Work Item Title"
          #quickAddTitle
          [(ngModel)]="workItem.attributes['system.title']"
          (keyup.enter)="save($event)"
          (keyup)="checkTitle()"  required/>
      </div>
      <div class="col-md-6 col-sm-6 mobdn">
        <textarea
          class="form-control pull-left"
          id="exampleDesc"
          type="text"
          rows="1"
          placeholder="Work Item Description"
          #quickAddDesc
          [(ngModel)]="workItem.attributes['system.description']"
          [style.height]="descHeight"
          [style.resize]="descResize"
          (keydown.enter)="save($event)"
          (keyup.enter)="preventDef($event)"
          (keyup)="checkDesc()">
        </textarea>
      </div>
    </div>
    <div class="workItemQuickAdd_AddBlk pull-right">
      <button class="btn btn-primary pull-left workItemQuickAdd_Add"
        #quickAddSubmit
        [ngClass]="{'icon-btn': validTitle,'disabled':!validTitle}"
        (click)="save($event)">
        <i class="fa fa-check"></i>
      </button>
      <span class="btn btn-default pull-right closeQuickAdd"
        (click)="toggleQuickAdd()">
        <i class="pficon-close"></i>
      </span>
    </div>
  </div>
</div>

<!-- Quick ADD Template for Board View -->
<div class="board-quick-add-card card-pf"
  id="workItemQuickAdd_container"
  *ngIf="wilistview === 'wi-card-view'" >
  <div class="col-sm-12 addWorkItem"
    (click)="toggleQuickAdd()">
    <a class="workItemQuickAdd_saveBtn">
      <i class='pficon-add-circle-o dib'></i>
    </a>
  </div>
  <div class="col-sm-12 card-pf card-pf-view addWorkItemBlk"
    *ngIf="showQuickAdd">
    <div class="row">
      <button class="btn btn-link closeQuickAdd"
        (click)="toggleQuickAdd()">
        <i class="pficon pficon-close"></i>
      </button>
    </div>
    <div class="row board-inputs">
      <div class="col-sm-2">
        <i class="fa" [ngClass]="selectedType?selectedType.attributes.icon:''"></i>
      </div>
      <div class="col-sm-10">
        <input class="form-control board-title col-sm-12"
          id="exampleInput"
          type="text"
          placeholder="Work Item Title"
          #quickAddTitle
          [(ngModel)]="workItem.attributes['system.title']"
          (keyup.enter)="save($event)"
          (keyup)="checkTitle()"
          required/>
      </div>
      <div class="col-sm-12 no-padding">
        <textarea
          class="form-control board-description pull-left"
          id="exampleDesc"
          type="text"
          rows="1"
          placeholder="Work Item Description"
          #quickAddDesc
          [(ngModel)]="workItem.attributes['system.description']"
          (keydown.enter)="save($event)"
          (keyup.enter)="preventDef($event)"
          (keyup)="checkDesc()"
          [style.height]="descHeight"
          [style.resize]="descResize">
        </textarea>
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-10">
      <button class="btn btn-primary workItemQuickAdd_Add"
        #quickAddSubmit
        [ngClass]="{'icon-btn': validTitle,'disabled':!validTitle}"
        (click)="save($event)">
        <i class="fa fa-check"></i>
      </button>
    </div>
  </div>
</div>
