@import '../../assets/stylesheets/_base';

/* overriding pf base so that blank slate fills entire parent container */
.blank-slate-pf {
  height:100%;
  margin-bottom: 0px;
  button {
    margin-right: 4px;
  }
}

/* overriding pf base so that buttons have spaces between them */
.pf-expand-placeholder {
  margin-right: 15px;
}
