<div class="list-view-pf-actions"
     *ngIf="(actionButtons && actionButtons.length > 0) || (menuActions && menuActions.length > 0)">
  <button class="btn btn-default {{actionButton.class}}"
          ngFor="let actionButton of actionButtons"
          title="{{actionButton.title}}"
          [ngClass]="{'disabled' : checkDisabled(item) || !enableButtonForItem(actionButton, item)}"
          (click)="handleButtonAction(actionButton, item)">
    <!-- Todo: ng-include src="actionButton.include" -->
    <div *ngIf="actionButton.include" class="actionButton.includeClass"></div>
    <span *ngIf="!actionButton.include">{{actionButton.name}}</span>
  </button>
  <div class="{{dropdownClass}} pull-right dropdown-kebab-pf
                        {{getMenuClassForItem(item)}} {{hideMenuForItem(item) ? 'invisible' : ''}}"
       id="kebab_{{index}}"
       *ngIf="menuActions && menuActions.length > 0" dropdown>
    <button class="btn btn-link" type="button"
            id="dropdownKebabRight_{{index}}"
            [ngClass]="{'disabled': checkDisabled(item)}"
            (click)="setupActions(item, $event)" dropdownToggle>
      <span class="fa fa-ellipsis-v"></span>
    </button>
    <ul class="dropdown-menu-right {{index}}" aria-labelledby="dropdownKebabRight_{{index}}" dropdownMenu>
      <li ngFor="let menuAction of menuActions"
          *ngIf="menuAction.visible !== false"
          role="{{menuAction.separator === true ? 'separator' : 'menuitem'}}"
          [ngClass]="{'divider': (menuAction.separator === true),
                      'disabled': (menuAction.disabled === true)}">
        <a *ngIf="menuAction.separator !== true" title="{{menuAction.title}}"
           (click)="handleMenuAction(menuAction, item)">
          {{menuAction.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
