@import '../../assets/stylesheets/_base';

/* Overridding Fabric8's min button width */
.list-view-pf-actions {
  button {
    margin-left: 0;
  }
  .dropdown-kebab-pf .btn {
    min-width: initial;
  }
}

/* Margin for group heading */
.list-view-pf-view {
  //margin-top: 75px;
}

/* Group heading above list view */
.list-group-heading {
  font-size: $font-size-base;
  font-weight: initial;
  line-height: 1.3;
  pointer-events: none;
  position: absolute;
  top: -40px;
  @media (max-width: 992px) { // @screen-md-min
    display: none;
  }
}

/* overriding pf base so that buttons have spaces between them */
.pf-expand-placeholder {
  margin-right: 15px;
}
