<div class="wrapper">
  <div class="sidebar-wrapper">
    <div class="sidebar-nav" (collapsed)="collapsed($event)" (expanded)="collapsed($event)" [collapse]="!isCollapsed">
      <div class="open">
        <a (click)="isCollapsed = !isCollapsed"><span class="fa fa-angle-right"></span></a>
      </div>
    </div>
    <div class="sidebar-nav panel panel-default" (collapsed)="collapsed($event)" (expanded)="collapsed($event)" [collapse]="isCollapsed">
      <div class="close">
        <a (click)="isCollapsed = !isCollapsed"><span class="fa fa-angle-left"></span></a>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" [class.active]="currentList == 'backlog'">
            <a (click)="selectList('backlog')">
              Backlog items
            </a>
          </li>
          <li class="list-group-item">
            Current
            <ul class="sub list-group">
              <li class="list-group-item" [class.active]="currentList == 'sprint1'">
                <a (click)="selectList('sprint1')">
                  Sprint 1
                </a>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            Future
            <div class="">
              <ul class="sub list-group">
                <li class="sub list-group-item" [class.active]="currentList == 'sprint2'">
                  <a (click)="selectList('sprint2')">
                    Sprint 2
                  </a>
                </li>
                <li class="list-group-item" [class.active]="currentList == 'sprint3'">
                  <a (click)="selectList('sprint3')">
                    Sprint 3
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper content">
    <div class="page-content">
      <div class="container">
        <div id="backlog" class="row">
          <h1>TODO</h1>
        </div>
      </div>
    </div>
  </div>
</div>