<div class='kube-resource-list'>

  <fabric8-loading [loading]="loading">
    <div class='list-group-item service' *ngFor='let service of services'>
      <div class='list-view-pf-checkbox' *ngIf="!hideCheckbox">
        <input type='checkbox'>
      </div>
      <div class='list-view-pf-actions'>
        <div class='pull-right dropdown-kebab-pf dropdown' dropdown>
          <button class='btn btn-link dropdown-toggle' type='button' id='dropdownKebabRight9' aria-haspopup='true' aria-expanded='true' dropdownToggle>
              <span class='fa fa-ellipsis-v'></span>
            </button>
          <ul class='dropdown-menu-right dropdown-menu' aria-labelledby='dropdownKebabRight9' role="menu" *dropdownMenu>
            <li *ngIf="service.openShiftConsoleUrl">
              <a [href]="service.openShiftConsoleUrl" target="openshift" title="View this Service in the OpenShift Console">OpenShift Console</a>
            </li>
            <li>
              <a [routerLink]="[prefixPath(service.id), 'edit']">Edit</a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="openDeleteDialog(deleteServiceModal, service)" title="Delete this Service">Delete</a>
            </li>
          </ul>
        </div>

      </div>
      <div class='list-view-pf-main-info'>
        <div class='list-view-pf-left'>
          <img class='list-view-pf-icon-sm' src="{{service.icon}}" height="30" width="30"/>
        </div>
        <div class='list-view-pf-body'>
          <div class='list-view-pf-description'>
            <div class='list-group-item-heading'>
              <a [routerLink]="[prefixPath(service.id)]" class="card-title" title="view service">{{ service.name }}</a>
            </div>
            <div class='list-group-item-text'>
              <span class='open-service-icon'>
                <a target="service"
                   class="external-service"
                   *ngIf="service.exposeUrl"
                   [href]="service.exposeUrl"
                   title="Open this service's service in a separate browser tab">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </span>

              {{service?.spec?.clusterIP || ''}}
            </div>
          </div>
          <div class='list-view-pf-additional-info'>
            <div class='list-view-pf-additional-info-item' title="created time">
              {{service.creationTimestamp | amTimeAgo}}
            </div>
            <div class='list-view-pf-additional-info-item'>
              <k8s-labels [labels]="service.labels"></k8s-labels>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fabric8-loading>
</div>

<modal #deleteServiceModal title="Delete Service">
  <modal-content>
    <delete-service-dialog></delete-service-dialog>
  </modal-content>
</modal>


