<div class="container content padding-top-15">
  <div class="row">
    <h1>Profile</h1>
    <!-- left column -->
    <div class="col-xs-12 col-sm-3 col-md-2">
      <!--<div class="row">-->
        <div>
          <div *ngIf="(context.user.attributes.imageURL !== undefined && context.user.attributes.imageURL.length !== 0); then showImageURL else addImageURL"></div>
          <ng-template #showImageURL>
              <img src="{{context.user.attributes.imageURL}}" class="img-responsive profile-img icon-user">
          </ng-template>
          <ng-template #addImageURL>
            <a href="javascript:void(0)"
                [routerLink]="['/', context?.user?.attributes?.username, '_update']"
                [queryParams]="{ imageUrl: true }">
              <img src="../../../assets/images/profile-user.png" class="img-responsive profile-img-none">
              <span class="pficon pficon-edit edit-profile-img"></span>
            </a>
          </ng-template>
          <h3 class="col-sm-12 profile-wrapper-username">{{context?.user?.attributes?.fullName}}</h3>
          <p class="col-sm-12 profile-wrapper-username">
            {{context?.user?.attributes?.username}}
          </p>
          <hr>
          <div *ngIf="(context.user.attributes.email !== undefined && context.user.attributes.email.length !== 0); then showEmail else addEmail"></div>
          <ng-template #showEmail>
            <p class="col-sm-12 profile-wrapper-email truncate">
              <span class="fa fa-envelope"></span>
              <a href="mailto:{{context.user.attributes.email}}" class="margin-left-5 margin-right-5">{{context.user.attributes.email}}</a>
            </p>
          </ng-template>
          <ng-template #addEmail>
            <p class="col-sm-12 profile-wrapper-email">
              <span class="fa fa-envelope"></span>
              <a href="javascript:void(0)"
                 [routerLink]="['/', context?.user?.attributes?.username, '_update']"
                 [queryParams]="{ email: true }">Add an email</a>
            </p>
          </ng-template>
          <div *ngIf="(context.user.attributes.url !== undefined && context.user.attributes.url.length !== 0); then showUrl else addUrl"></div>
          <ng-template #showUrl>
            <p class="col-sm-12 profile-wrapper-url truncate">
              <span class="fa fa-external-link"></span>
              <a href="{{context.user.attributes.url}}" target="_blank"
                 class="margin-left-5 margin-right-5">{{context.user.attributes.url}}</a>
            </p>
          </ng-template>
          <ng-template #addUrl>
            <p class="col-sm-12 profile-wrapper-url">
              <span class="fa fa-external-link"></span>
              <a href="javascript:void(0)"
                 [routerLink]="['/', context?.user?.attributes?.username, '_update']"
                 [queryParams]="{ url: true }">Add a url</a>
            </p>
          </ng-template>
          <div *ngIf="(context.user.attributes.bio !== undefined && context.user.attributes.bio.length !== 0); then showBio else addBio"></div>
          <ng-template #showBio>
            <p class="col-sm-12 profile-wrapper-bio">{{context.user.attributes.bio}}</p>
          </ng-template>
          <ng-template #addBio>
            <p class="col-sm-12 profile-wrapper-bio">
              <a href="javascript:void(0)"
                 [routerLink]="['/', context?.user?.attributes?.username, '_update']"
                 [queryParams]="{ bio: true }">Add a bio</a>
            </p>
          </ng-template>
        </div>
      <!--</div>-->
    </div>
    <!-- center column -->
    <div class="col-xs-12 col-sm-8 col-md-8 nav-tabs-area">
      <tabset #staticTabs>
        <tab heading="Activity">
          <div class="overview-nav-tab-content">
            <alm-activity></alm-activity>
          </div>
        </tab>
        <tab>
          <template tabHeading>
            Spaces <!--<span class="badge" *ngIf="spaces?.length !== 0">{{spaces.length}}</span>-->
          </template>
          <div class="overview-nav-tab-content">
            <alm-spaces></alm-spaces>
          </div>
        </tab>
        <tab heading="Work Items">
          <div class="overview-nav-tab-content">
            <alm-work-items></alm-work-items>
          </div>
        </tab>
      </tabset>
    </div>
    <!-- right column -->
    <button class="col-xs-12 col-sm-1 col-md-2 btn btn-lg btn-default profile-update-button"
            (click)="routeToUpdateProfile()">Update Profile</button>
  </div>
</div>
