<div id="overview" class="container content">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <img src="https://avatars2.githubusercontent.com/u/157761?v=3&s=460" width="150" height="250" />
      </div>
      <div class="row">
        <h2>Pete Muir</h2>
      </div>
      <div class="row">
        <p>
          pmuir
        </p>
        <p>
          I like writing clever one-line bios about myself. See? I just did.
        </p>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <h1>Pinned Collaboration Spaces</h1>
        <p>Customize</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                Bobo
              </p>
              <p>
                Microservices architected search engine
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <a [routerLink]="['/analyze']">BalloonPopGame</a>
              </p>
              <p>
                Balloon popping fun for everyone!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                fabric8io
              </p>
              <p>
                Fabric8 is an open source integrated development platform for Kubernetes
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>