@import '../../../assets/stylesheets/_base';

.markdown-mark {
  width: 20px;
  margin-bottom: 4px;
}
.control-label {
  font-weight: 700;
  text-align: left;
}
// Show More and Show Less buttons for the text field
.show-more-state { padding-left: 0;
  &::before { margin-right: 2px; }
}
.show-less { max-height: 192px;
  .detail-text { padding-left: 0;
    .detail-text-div-wrap {
      .detail-text-div {
        &.text-editable {
          max-height: 153px;
          overflow-y: scroll;
        }
      }
    }
  }
}
.hide { display: none; }
.arrow-up {
  &::before{
    margin-right: 2px;
    content: 'Show More';
  }
}
.arrow-down {
    margin-right: 2px;
  &::before {
    content: 'Show Less';
  }
}
// rvepx extra margin when code is entered into the text field
pre { margin: 0; }
.btn-cancel {
  // margin-right: 20px;
}
.detail-action-btn { width: 40px; }
.markdown-test-btn-save { margin-right: 10px; }
.detail-text-wrap {
  padding-left: 0;
  // margin-left: 20px;
  overflow: hidden;
  .view-switch-btn { margin-bottom: 10px; }
  .detail-text { padding-left: 0;
    .text-switcher {
      position: fixed;
      right: 20px;
      min-height: 39px;
      margin-top: -34px;
      margin-right: 25px;
      margin-left: 20px;
      border-bottom: 1px solid;
      border-bottom-color: transparent;
      // sets blue border for the navigation tabs
      // to match border around text field
      .nav-tabs { border-bottom: none;
        li {
          &.active {
            a {
              border-bottom-color: @color-pf-white;
              .Border(1px, solid, @color-pf-blue-400);
            }
          }
        }
      }
    }
    .detail-text-div-wrap { background-color: @color-pf-black-150;
      // margin-left: 20px;
      .text-not-found {
        p {
          font-style: italic;
          color: @color-pf-black-400;
        }
      }
      .detail-text-div {
        min-height: 50px;
        padding-right: 30px;
        background-color: @color-pf-white;
        .Border(1px, solid, @color-pf-white);
        &::-webkit-scrollbar {
          width: 7px;
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0,.5);
          -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
             -moz-box-shadow: 0 0 1px rgba(255,255,255,.5);
               -o-box-shadow: 0 0 1px rgba(255,255,255,.5);
                  box-shadow: 0 0 1px rgba(255,255,255,.5);
          .borderRadius(4px);
        }
        &.text-editable {
          .text { padding-left: 5px; }
          .text-html-view { padding-left: 5px; }
        }
        p {
          margin: 0;
          outline: 0;
        }
        .edit-icon { display: none; }
        &:hover {
          cursor: pointer;
          background-clip: content-box;
          .edit-icon {
            position: absolute;
            right: 28px;
            top: 1px;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.detail-text-action { margin-top: 10px; }
.text-editable {
  padding-right: 30px !important;
  background-clip: content-box !important;
  .Border(1px, solid, @color-pf-blue-400)!important;
}
