@import '../../assets/stylesheets/base';

.dashboardWrapper{
    padding-top: em(50);
    background: $color-pf-black-150;
    .dashboard-blocks-list{
        width: $width100;
        height: 100%;
        float: left;
        -webkit-display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        padding: 0;
        height: em(780);
        li{
            flex: 2 1 auto;
            list-style: none;
            background: $color-pf-white;
            margin: em(7) 0;
            padding: em(10);
            width: calc(37% - 1.5em);
            &:last-child{
                flex: 1 1 100%;
                width: calc(25% - 1.5em);
            }
            &:nth-last-child(2){
                flex: 1 1 100%;
            }
            > div{
                width: $width100;
                float:left;
                h4{
                    font-weight: 100;
                    color: $color-pf-black-800;
                }
                p{
                    color: $color-pf-black-600;
                }
                a{
                    color: $color-pf-black-600;
                    display: block;
                    font-size: em(14);
                    &:hover{
                        color: $color-pf-black;
                        text-decoration: none;
                    }
                }
            }
        }
        .welcomeWrapper{
            height: em(160);
            max-height: em(160);
        }
        .recentChatsWrapper{
            max-height: em(360);
            .joinChatBlock{
                text-align: $textCenter;
                .icon-chat-commenting{
                    font-size: em(144);
                    color: $color-pf-black-200;
                    line-height: 1.2;
                    @extend .dib;
                }
                span{
                    color: $color-pf-black-400;
                    width: $width100;
                    float: left;
                    text-align: $textCenter;
                    padding: em(15) 0;
                    font-size: em(16);
                }
            }
        }
        .recentProjectsWrapper{
            h4{
                width: $width100;
                float: left;
                i{
                    color: $color-pf-black-400;
                    font-weight: 100;
                }
            }
            .projectsListBlock{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding:0;
                width: $width100;
                float:left;
                margin-top:em(15);
                li{
                    padding: 0 em(10) 0 0;
                    flex: 1 1 50%;
                    @extend .truncate;
                }
            }
        }
        .newsUpdateWrapper{
            .newsUpdateBlock{
                width: $width100;
                float: left;
                padding: 0;
                li{
                    width: $width100;
                    float: left;
                    padding: 0;
                    font-size: em(14);
                    .newsTitle, .newsText{
                        width: $width100;
                        float: left;
                        margin:0;
                        a{
                            font-size: em(12);
                            @extend .dib;
                        }
                    }
                }
            }
        }
        .resourceUsageWrapper{
            .resourcesBlock{
                width: $width100;
                float: left;
                padding: 0;
                li{
                    width: $width100;
                    float: left;
                    padding: 0;
                    h4{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
@media (max-width: $grid-float-breakpoint){
    .dashboardWrapper{
        .dashboard-blocks-list{
            height: auto;
            li{
                width: $width100;
                &:last-child, &:nth-last-child(2){
                    width: $width100;
                    flex-basis: auto;
                }
            }
        }
    }
}
