<section class="col-md-12 col-sm-12 col-xs-12 dashboardWrapper">
    <ul class="dashboard-blocks-list">
        <!-- Welcome Block -->
        <li class="welcomeWrapper">
            <div>
                <h4>Welcome</h4>
                <p>Set up your Dashboard and start creating your awesome products!</p>
                <a (click)="createProjectDialog.open()">Create a New Project</a>
                <a href="#">Join a Project</a>
            </div>
        </li>
        <!-- Recent Projects -->
        <li class="recentProjectsWrapper">
            <div>
                <h4>
                    <span class="pull-left">Recent Projects</span>
                    <a href="#" class="pull-right">
                        <i class="fa fa-plus pull-left"></i>
                    </a>
                </h4>
                <ul class="projectsListBlock">
                    <li>Project NameProject NameProject NameProject Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                    <li>Project Name</li>
                </ul>
            </div>
        </li>

        <!-- News + Update -->
        <li class="newsUpdateWrapper">
            <div>
                <h4>News + Updates</h4>
                <ul class="newsUpdateBlock">
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                    <li>
                        <p class="newsTitle">Update to 4.0</p>
                        <p class="newsText">See the exciting changes to our IDE <a href="#">here</a></p>
                    </li>
                </ul>
                <a href="#" class="pull-right">See All</a>
            </div>
        </li>
        <!-- Resource Usage -->
        <li class="resourceUsageWrapper">
            <div>
                <h4>Resource Usage</h4>
                <ul class="resourcesBlock">
                    <li>
                        <h4 class="resourceTitle">Pipeline</h4>
                        <p class="resourceText">124 of 200 minutes</p>
                    </li>
                    <li>
                        <h4 class="newsTitle">Environments</h4>
                        <p class="newsText">27,784 of 50,000 minutes</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>

<!-- Create Project modal -->

<modal #createProjectDialog title="Create New Project">
    <modal-content>
        <project-dialog></project-dialog>
    </modal-content>
</modal>
