<section class="col-md-12 col-sm-12 col-xs-12 dashboardWrapper">
    <ul class="dashboard-blocks-list">
        <!-- Welcome Block -->
        <li class="welcomeWrapper">
            <div>
                <h4>Welcome</h4>
                <p>Set up your Dashboard and start creating your awesome products!</p>
                <a href="#">Create a New Project</a>
                <a href="#">Join a Project</a>
            </div>
        </li>
        <!-- Recent Chats -->
        <li class="recentChatsWrapper">
            <div>
                <h4>Recent Chats</h4>
                <div class="joinChatBlock">
                    <i class="fa fa-commenting icon-chat-commenting"></i>
                    <span>Join the conversation !</span>
                </div>
            </div>
        </li>
    </ul>
</section>