<div id="forgot-password" class="content container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Reset your password</h1>
      <div class="panel panel-default">
        <div class="panel-body" *ngIf="!emailSent">
          <form>
            <div class="form-group">
              <label for="username" class="col-md-12">
            Enter your email address and we will send you a link to reset your password.
          </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                  <input id="username" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary center-block" (click)="sendEmail()">Send password reset email</button>
            </div>
          </form>
        </div>
        <div class="panel-body" *ngIf="emailSent">
          <form>
            <div class="form-group">
              <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary center-block" [routerLink]="['/signin']">Return to sign in</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
