<deployments-donut-chart [colors]="colors" [mini]="mini" [pods]="pods | async" [desiredReplicas]="desiredReplicas" [idled]="isIdled">
</deployments-donut-chart>
<div column class="deployment-donut-scale-controls fade-inline" *ngIf="!isIdled && !mini">
  <div>
    <a id="scaleUp" (click)="$event.stopPropagation(); scaleUp()" [ngClass]="{ disabled: !scalable }" [attr.title]="!scalable ? undefined : 'Scale up'"
      [attr.aria-disabled]="!scalable ? 'true' : undefined" role="button">
      <i class="fa fa-chevron-up"></i>
      <span class="sr-only">Scale up</span>
    </a>
  </div>
  <div>
    <!-- Remove the title when disabled because the not-allowed styled cursor overlaps the tooltip on some browsers. -->
    <a id="scaleDown" (click)="$event.stopPropagation(); scaleDown()" [ngClass]="{ disabled: !scalable || desiredReplicas === 0 }" [attr.title]="!scalable || desiredReplicas === 0 ? undefined : 'Scale down'"
      [attr.aria-disabled]="!scalable || desiredReplicas === 0 ? 'true' : undefined" role="button">
      <i class="fa fa-chevron-down"></i>
      <span class="sr-only">Scale down</span>
    </a>
  </div>
</div>
<div class="deployments-donut-legend" *ngIf="!mini">
  <div *ngFor="let column of (pods | async).pods">
    <div class="deployments-donut-square" [style.background]='colors[column[0]]'></div>{{ column[1] > 0 ? column[1] + ' ' + column[0] : '' }}
  </div>
</div>
