.content {}

.avatar {
  font-size: 18px;
  margin-right: 10px;
}

.heading {
  &.list-group {
    border-top: none;
    margin-left: 60px;
    .list-group-item-heading {
      margin-right: 150px;
    }
  }
}

.list-view-pf-expand {
  margin-top: 15px;
}
