<div id="email" class="content container">
  <h2>Email</h2>

  <div class="row">
    <div class="well">
      Your <strong>primary fabric8.io email address</strong> will be used for account-related notifications as well as any
      web-based fabric8.io Git operations (e.g. edits and merges).
    </div>
  </div>
  <div class="emails row">
    <div class="row" *ngFor="let e of profile.current.emails">
      <div class="col-md-8">
        <span class="grey">{{e}}</span> <span *ngIf="e === profile.current.primaryEmail" class="btn btn-success label">Primary</span>        <span *ngIf="e === profile.current.primaryEmail && profile.current.primaryEmailPrivate" class="btn btn-primary label">Private</span>
      </div>
      <div class="col-md-2">
        <button type="button" (click)="makePrimary(e)" *ngIf="e !== profile.current.primaryEmail" class="btn btn-default">Set as primary</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-link" (click)="del(e)" *ngIf="e !== profile.current.primaryEmail">
          <span  class="pficon pficon-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <form (ngSubmit)="add()" name="addEmail">
      <div class="form-group">
        <div class="col-md-2">
          <label for="addemail">Add email address</label>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="search-pf-input-group">
            <input id="addemail" type="text" class="form-control" name="addemail" [(ngModel)]="email">
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    </form>
    <div class="form-group">
      <form name="privateEmail">
        <div class="col-md-1">
          <input class="form-control" type="checkbox" id="private" name="private" [checked]="profile.current.primaryEmailPrivate" (change)="updatePrivateEmail($event)">
        </div>
      </form>
      <div class="col-md--4">
        <label for="private">Keep my primary email address private.</label>
        <span class="help-block">We will use <a href="mailto:{{profile.current.primaryEmail}}">{{profile.current.primaryEmail}}</a> when performing web-based Git operations and sending email on your behalf. If you want command-line Git operations to use your private email you must set your email in Git.</span>
      </div>
    </div>
  </div>
  <h2>Email preferences</h2>
  <div class="row">
    <form (ngSubmit)="savePreferences()" name="emailPref">
      <div class="col-md-6 radio">
        <div class="col-md-12">
          <input id="allEmail" type="radio" name="pref" [(ngModel)]="profile.current.emailPreference" [value]="'all'">
          <label for="allEmail" class="">Receive all emails, except those I unsubscribe from.</label>
          <span class="help-block">We'll occasionally contact you with the latest news and happenings from fabric8.io.</span>
        </div>
      </div>
      <div class="col-md-6 radio">
        <div class="col-md-12">
          <input id="accountOnly" type="radio" name="pref" [(ngModel)]="profile.current.emailPreference" [value]="'accountOnly'">
          <label for="accountOnly" class="">Only receive account related emails, and those I subscribe to.</label>
          <span class="help-block">We'll only send you legal or administrative emails, and any emails you’ve specifically subscribed to.</span>
        </div>
      </div>
      <button class="btn btn-default pull-right" type="submit">Save email preferences</button>
    </form>
  </div>
</div>
