<div id="email" class="content container">
  <h2>Email</h2>

  <div class="row">
    <div class="well">
      Your <strong>primary fabric8.io email address</strong> will be used for account-related notifications as well as any
      web-based fabric8.io Git operations (e.g. edits and merges).
    </div>
  </div>
  <div class="emails row">
    <div class="row">
      <div class="col-md-8">
        <span class="grey">pmuir@example.com</span> <span class="btn btn-success label">Primary</span> <span class="btn btn-primary label">Private</span>
      </div>
      <div class="col-md-offset-2 col-md-2">
        <span class="pficon pficon-delete"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <span class="grey">pmuir@gmail.com</span>
      </div>
      <div class="col-md-2">
        <span class="btn btn-default">Set as primary</span>
      </div>
      <div class="col-md-2">
        <span class="pficon pficon-delete"></span>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-md-2">
        <label for="addemail">Add email address</label>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="search-pf-input-group">
          <input id="addemail" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <button class="btn btn-default">Add</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md=1">
        <input class="form-control" type="checkbox" id="private">
      </div>
      <label for="private">Keep my email address private.</label>
      <span class="help-block">We will use <a href="mailto:pmuir@users.noreply.fabric8.io">pmuir@users.noreply.fabric8.io</a> when performing web-based Git operations and sending email on your behalf. If you want command-line Git operations to use your private email you must set your email in Git.</span>
    </div>
  </div>
  <h2>Email preferences</h2>
  <div class="row">
    <div class="col-md-6 radio">
      <div class="col-md-12">
        <input id="allEmail" type="radio" name="emailPreferences" checked>
        <label for="allEmail" class="">Receive all emails, except those I unsubscribe from.</label>
        <span class="help-block">We'll occasionally contact you with the latest news and happenings from fabric8.io.</span>
      </div>
    </div>
    <div class="col-md-6 radio">
      <div class="col-md-12">
        <input id="accountOnly" type="radio" name="emailPreferences">
        <label for="accountOnly" class="">Only receive account related emails, and those I subscribe to.</label>
        <span class="help-block">We'll only send you legal or administrative emails, and any emails you’ve specifically subscribed to.</span>
      </div>
    </div>
    <button class="btn btn-default pull-right">Save email preferences</button>
  </div>