@import (reference) '../../../assets/stylesheets/_base';
.io-card-pipeline-column {
  &-name, &-build { padding-left: 10px; }
}
.io-card__pipeline-column {
  width: ~"calc(65% - 40px)";
  .truncate;
  &-start {
    width: ~"calc(60% - 40px)";
    .truncate;
  }
  &-status {
    width: ~"calc(30% - 40px)";
    .truncate;
  }
}
