@import (reference) '../../../../../assets/stylesheets/shared/osio.less';

.icon {
  background-size: 100% 100%;
  background: no-repeat center;
  margin: auto;
  width: 80px;
  height: 80px;
}

.Node {
  .icon;
  .icon-stack.icon-stack-nodejs;
  width: 120px;
}

.Spring {
  .icon;
  .icon-stack.icon-stack-spring;
}

.WildFly {
  .icon;
  .icon-stack.icon-stack-wildfly;
}

.Vert-x {
  .icon;
  .icon-stack.icon-stack-vertx;
  background-position-y: center;
}

@red_berry: #8e0000;
@red_base: #c00;
@black_10: rgba(0, 0, 0, .1);
@white: #fff;
@black_20: rgba(0, 0, 0, .2);

.ribbon-base {
  position: absolute;
  z-index: 0;
  content: '';
  display: block;
  border: 5px solid @red_berry;
}

.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  span {
    position: absolute;
    display: block;
    width: 220px;
    padding: 9px 0;
    background-color: @red_base;
    box-shadow: 0 5px 10px @black_10;
    color: @white;
    font: 700 11px/1 Overpass, sans-serif;
    text-shadow: 0 1px 1px @black_20;
    text-align: center;
  }
}
.ribbon:before {
  .ribbon-base;
}
.ribbon:after {
  .ribbon-base;
}
.ribbon-top-right {
  top: -10px;
  right: -10px;
  span {
    left: -45px;
    top: 30px;
    transform: rotate(45deg);
  }
  &:before {
    border-top-color: transparent;
    border-right-color: transparent;
    top: 0;
    left: 0;
  }
  &:after {
    border-top-color: transparent;
    border-right-color: transparent;
    bottom: 0;
    right: 0;
  }
}
