<div class="row row-cards-pf center" *ngIf="service">

  <div class="col-xs-12">
    <span class="name">
      <span class="pull-right">created {{service.creationTimestamp | amTimeAgo}}</span>
      <h2 class="card-pf-title">
        <img src="{{service.icon}}" width="30" height="30"/>&nbsp; {{service.name}}
        &nbsp;
        <a *ngIf="service.openShiftConsoleUrl" [href]="service.openShiftConsoleUrl" target="openshift" title="Open in the OpenShift console">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </h2>
    </span>
  </div>

  <div class="col-xs-12">
    <h3>Configuration</h3>

    <dl class="dl-horizontal left" *ngIf="service?.spec">
      <dt>Selectors:</dt>
      <dd title="selector" *ngFor='let entry of service.spec.selector | entries'>
        {{entry.key}}: {{entry.value}}
      </dd>
      <dt>Labels:</dt>
      <dd title="labels" *ngFor='let entry of service.labels | entries'>
        {{entry.key}}: {{entry.value}}
      </dd>
      <dt>Type:</dt>
      <dd title="type">
        {{service.spec.type}}
      </dd>
      <dt>Cluster IP:</dt>
      <dd title="cluster IP">
        {{service.spec.clusterIP}}
      </dd>

      <div *ngIf="service.spec.ports">
        <dt class="service-template-key"><i class="fa fa-plug" aria-hidden="true"></i>
          Ports:
        </dt>
        <!--
                <span *ngFor="let port of container.ports | orderBy: 'containerPort'">
        -->
        <dd *ngFor="let port of service.spec.ports">
          <span class="nowrap"><span title="port the service listens on">{{port.port}}/{{port.protocol}}</span> => <span title="target port in the container">{{port.targetPort}}</span></span>
        </dd>
      </div>
    </dl>
  </div>
</div>
