@import (reference) '../../../../assets/stylesheets/shared/osio.less';

#feature-opt-in-special-icon,.feature-title,.feature-description {
  font-family: 'Open Sans';
}

#feature-opt-in-special-icon {
  line-height: 1.2;
}

.feature-title {
  font-weight: bold;
  font-size: @font-size-base;
  margin-bottom: 0;
}

.feature-description {
  margin-bottom: 0;
  font-size: .85em;
}

.feature-opt-in-label {
  display: block;
  margin-bottom: 0;
  font-weight: normal;
}
