<div class="container-fluid container-cards-pf">
  <div class="col-xs-10 col-sm-6">
    <div class="card-pf list-group form-group list-view-pf list-view-pf-view">
      <label class="feature-opt-in-label" for="released">
        <div class="row">
          <div class="list-group-item">
            <div class="list-view-pf-checkbox">
              <input id="released" type="radio" name="No Pre-Production Features" value="released" [(ngModel)]="featureLevel" (ngModelChange)="updateProfile()">
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa fa-globe list-view-pf-icon-sm"></span>
              </div>
              <div class="list-view-pf-body">
                <div>
                  <p class="feature-title">Production Only Features</p>
                  <p class="feature-description">This is the default and current release version of the product.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
      <label class="feature-opt-in-label" for="beta">
        <div class="row">
          <div class="list-group-item">
            <div class="list-view-pf-checkbox">
              <input id="beta" type="radio" name="Beta Features" value="beta" [(ngModel)]="featureLevel" (ngModelChange)="updateProfile()">
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa list-view-pf-icon-sm" id="feature-opt-in-special-icon"> ß </span>
              </div>
              <div class="list-view-pf-body">
                <div>
                  <p class="feature-title">Beta Features</p>
                  <p class="feature-description">Experience various features that are ready for beta testing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
      <label class="feature-opt-in-label" for="experimental">
        <div class="row">
          <div class="list-group-item">
            <div class="list-view-pf-checkbox">
              <input id="experimental" type="radio" name="Experimental Features" value="experimental" [(ngModel)]="featureLevel" (ngModelChange)="updateProfile()">
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa fa-flask list-view-pf-icon-sm"></span>
              </div>
              <div class="list-view-pf-body">
                <div>
                  <p class="feature-title">Experimental Features</p>
                  <p class="feature-description">This is the default and current release version of the product.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
      <label class="feature-opt-in-label" for="internal">
        <div class="row">
          <div class="list-group-item">
            <div class="list-view-pf-checkbox">
              <input id="internal" type="radio" name="Internal Features" value="internal" [(ngModel)]="featureLevel" (ngModelChange)="updateProfile()">
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa fa-lock list-view-pf-icon-sm"></span>
              </div>
              <div class="list-view-pf-body">
                <div>
                  <p class="feature-title">Internal Experimental Features</p>
                  <p class="feature-description">These experimental features are released to internal employees only.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
