<div class="container-fluid container-cards-pf">
  <div class="col-xs-12 col-sm-12">
      <pfng-list
        [config]="listConfig"
        [expandTemplate]="untoggledTemplate"
        [items]="items"
        [itemTemplate]="itemTemplate"
        (onSelectionChange)="updateProfile($event)">

        <ng-template #itemTemplate let-item="item">
          <div *ngIf="item.displayed" class="list-pf-main-content">
            <div class="list-pf-left">
              <span class="fa fa-flask list-pf-icon list-pf-icon-small icon-{{item.name}}" ></span>
            </div>
            <div class="list-pf-main-content">
              <div>
                <p class="feature-title">{{item.title}}</p>
                <p class="feature-description">{{item.description}}</p>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #untoggledTemplate let-item="item" let-index="index">
          <div class="col-sm-5">
            <h1 class="feature-details-title">
              There are currently {{item.features.length}} {{item.name}} features
            </h1>
            <div class="feature-details-description" [innerHTML]="item.detailDescription"></div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <div class="feature-details-description">
              <ul>
                <li *ngFor="let feature of item.features"><strong>{{feature?.attributes?.name}}</strong>: {{feature?.attributes?.description}}.</li>
              </ul>
            </div>
          </div>
        </ng-template>
      </pfng-list>
  </div>
</div>


