@import "../../assets/stylesheets/color-variables";
@import "../../assets/stylesheets/custom";
@import "../../assets/stylesheets/mixins";

.work-item-page {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  flex-direction: column;
  .types-modal {
    background-color: $color-pf-black-100;
    position: absolute;
    top: em(88);
    left: 0;
    right: 0;
    bottom: 0;
    width: $width100;
    z-index: 11;
    overflow-y: scroll;
    .container-cards-pf {
      margin-top: 0;
      .detail-close {
        margin-top: em(10);
        padding: em(11.2) em(12.9);
        font-size: em(14);
      }
      .card-pf-title{
        text-transform: capitalize;
      }
      .card-pf-info{
        min-height: 4.5em;
        @include multiline-truncate($font-size: em(14), $line-height: 1.5, $lines-to-show: 3, $trunc-bg: transparent) ;
      }
    }
  }
  .wi-full-width {
    width: $width100;
  }
  .toolbar-pf {
    .list-action {
      .list-type {
        font-weight: 700;
        margin-left: em(10);
      }
      span {
        @include Border(em(1), solid, transparent);
        padding: em(1) em(10);
      }
      .form-group:first-child{
        padding-left: 0;
      }
      .move-dropdown {
        a {
          cursor: pointer;
        }
      }

      .add-detailed-wi {
        cursor: pointer;
        float: right;
        position: relative;
        i {
          font-size: em(16);
          line-height: 1.5;
          color: $color-pf-blue-400;
        }
      }
    }
    .selected-filters {
      padding: em(3) em(10);
      margin: em(5);
      color: $color-pf-white;
      background-color: $color-pf-black-600;
      display: inline-block;
      .icon {
        margin-left: em(3);
        cursor: pointer;
      }
    }
    .close-filter {
      display: inline-block;
      color: $color-pf-blue;
      margin-left: em(5);
      cursor: pointer;
    }
  }

  .main-container {
    flex-basis: 0;
    flex: 1;
    height: 10px;
    display: flex;
    align-items: flex-start;
    .side-bar {
      height: 100%;
      flex: 2;
      min-width: em(360);
      background-color: $color-pf-black-200;
      border-right: 1px solid $color-pf-black-300;
      .fab-planner-iteration {
        height: 100%;
        display: flex;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
      }
    }
    .container-body {
      height: 100%;
      flex: 6;
    }
  }
}

@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .types-modal{
    .wiTypeList{
    li {
      width: calc(50% - 1.667em);
      }
    }
  }
  .work-item-page{
    .toolbar-pf {
      .form-group{
        display: table-cell;
        float: left;
        padding-right: em(20);
        margin-bottom: 0;
      }
    }
  }
}
