@import "../../assets/stylesheets/color-variables";
@import "../../assets/stylesheets/custom";
@import "../../assets/stylesheets/mixins";

.work-item-page {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  flex-direction: column;

  .types-modal {
      background-color: $color-pf-white;
      position: absolute;
      top: em(88);
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: 11;
      overflow-y: scroll;
      .xl-font{
        font-size: em(30);
      }
      .wiTypeList{
        list-style: none;
        li{
            height: em(180);
            border: 1px solid $color-pf-black-200;
            position: relative;
            color: $color-pf-black;
            cursor: pointer;
            width: calc(25% - 1.667em);
            margin: em(10);
            float: left;
            .wiTypeListBlk{
              position: absolute;
              top:50%;
              left: 50%;
              @include transform(translate(-50%, -50%));
              text-align: $textCenter;
            }
          }
        li:hover {
          color:  $color-pf-blue-400;
        }
      }
    }

  .work-item-action-bar {
    display: flex;
    display: -webkit-flex;
    flex-direction: inherit;
    .list-action {
      height: em(50);
      display: flex;
      align-items: center;
      background-color: $color-pf-black-300;
      justify-content: flex-start;
      .list-type {
        font-weight: 700;
        margin-left: em(10);
      }
      span {
        border-color: transparent;
        border-style: solid;
        border-width: 1px 0;
        padding: 1px 10px;
      }
      .move-dropdown {
        a {
          cursor: pointer;
        }
        margin-left: em(10);
      }
      .filter-dropdown {
        margin-left: em(10);
        margin-right: auto;
      }

      .add-detailed-wi {
        font-size: em(20);
        width: em(26);
        height: em(26);
        background: $color-pf-blue-400;
        color: $color-pf-white;
        cursor: pointer;
        -moz-border-radius: em(13);
        -webkit-border-radius: em(13);
        border-radius: em(13);
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin-right: 20px;
        span {
          position: relative;
        }
      }
    }
    .selected-filters {
      padding: 3px 10px;
      margin: 5px;
      color: $color-pf-white;
      background-color: $color-pf-black-600;
      display: inline-block;
      .icon {
        margin-left: em(3);
        cursor: pointer;
      }
    }
    .close-filter {
      display: inline-block;
      color: $color-pf-blue;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .main-container {
    flex-basis: 0;
    flex: 1;
    height: 10px;
    display: flex;
    align-items: flex-start;
    .side-bar {
      height: 100%;
      flex: 1;
    }
    .container-body {
      height: 100%;
      flex: 6;
    }
  }
}


@media (max-width: $grid-float-breakpoint){
  /*Toggle the details panel's width and left margin*/
  .types-modal{
    .wiTypeList{
    li {
      width: calc(50% - 1.667em);
      }
    }
  }
}
