@import '../../assets/stylesheets/base';
.work-item-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    .container-modal {
        border: solid 0 red;
        background-color: $color-pf-black-100;
        position: absolute;
        padding: $grid-gutter-width/2;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
        overflow-y: auto;
        .container-modal-header {
            margin: 0;
            margin-bottom: $grid-gutter-width/2;
            background-color: $color-pf-blue;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            >.header-text {
                color: $color-pf-white;
            }
        }
        &.container-cards-pf {
            .card-pf-title {
                text-transform: capitalize;
            }
            .card-pf-info {
                min-height: 4.5em;
                @include multiline-truncate($line-height: 1.5em, $line-count: 3, $bg-color: $color-pf-white);
            }
        }
    }
    >header {
        .toolbar-pf {
            border-color: transparent;
            .toolbar-pf-actions {
                border-color: transparent;
                .form-group {
                    border-left: solid 1px $color-pf-black-300;
                    border-right: none;
                    &:first {
                        border-left: none;
                    }
                }
            }
            // ensure icons dont fold around inputs
            .wi-input-filter-dropdown {
                position: relative;
                .wi-input-filter-dropdown-list {
                    width: 100%;
                    top: 2.5rem;
                    padding: 0.25rem;
                }
                >div {
                    position: relative;
                    //HACK:prevents caret icon from folding to a new line
                    >input {
                        margin-right: -2.0rem;
                    }
                    //HACK:positions the caret in right margin are of input
                    >span.caret::before {
                        z-index: 100;
                        display: inline-block;
                        height: 1.5rem;
                        line-height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
        }
    }
    .dropdown {
        a {
            cursor: pointer;
        }
    }
    .with-cursor-pointer {
        cursor: pointer;
    }
    .with-color-blue {
        color: $color-pf-blue-400;
    }
    >main {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: stretch;
        border-top: 1px solid $color-pf-black-300;
        >aside {
            flex: 3;
            display: flex;
            flex-direction: column;
            background-color: $color-pf-black-200;
            border-right: 1px solid $color-pf-black-300;
            position: relative;
            .contents {
                @include fill-container;
                display: flex;
                overflow: auto;
                align-items: stretch;
            }
        }
        >section {
            flex: 9;
            display: flex;
            flex-direction: column;
            border: solid 0px red;
            position: relative;
            .contents {
                @include fill-container;
                display: flex;
                overflow: auto;
                align-items: stretch;
            }
        }
    }
}
