<div class="work-item-page">
  <!-- select WI type page -->
  <div *ngIf="loggedIn && showTypesOptions" class="types-modal">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
          <h2 class="pull-left">Choose a new work item type </h2>
          <i class="pficon-close detail-close pull-right" (click)="closePanel()"></i>
        </div>
        <div *ngFor="let type of workItemTypes" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" (click)="onChangeType(type.name)">
          <div class="card-pf card-pf-view card-pf-view-select">
          <div class="card-pf-body">
            <div class="card-pf-top-element">
              <i almIcon [iconType]="type.name" class="card-pf-icon-circle"></i>
            </div>
            <h2 class="card-pf-title text-center">
              {{type.name}}
            </h2>
            <p class="card-pf-info">Definition goes here. Lorem Ipsum dolor sit amet, consectetur adpisicing</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- select WI type page ends -->
  <div class="container-fluid wi-full-width">
    <div class="row toolbar-pf">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="list-action toolbar-pf-actions">
          <!--Move a work item up / down -->
          <div class="form-group">
            <div class="dropdown move-dropdown" dropdown>
              <button class="btn btn-default dropdown-toggle" type="button" id="wi_filter_dropdown" data-toggle="dropdown" dropdown-open>
                Move
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="wi_filter_dropdown">
                <li>
                  <a role="menuitem" tabindex="-1" (click)="moveItem('top')">Move to Top</a>
                </li>
                <li>
                  <a role="menuitem" tabindex="-1" (click)="moveItem('bottom')">Move to Bottom</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                  <a role="menuitem" tabindex="-1" (click)="moveItem('up')">Move Up</a>
                </li>
                <li>
                  <a role="menuitem" tabindex="-1" (click)="moveItem('down')">Move Down</a>
                </li>
              </ul>
            </div>
          </div>
          <!--Filter-->
          <div class="form-group">
            <div class="dropdown filter-dropdown" dropdown>
              <button class="btn btn-default dropdown-toggle" type="button" id="wi_filter_dropdown" data-toggle="dropdown" dropdown-open>
                Filter Method
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="wi_filter_dropdown">
                <li *ngIf="!filters.length">
                  <span>No filters available</span>
                </li>
                <li *ngFor="let filter of filters;" role="presentation" (click)="activeFilter(filter.id)">
                  <a role="menuitem" tabindex="-1">{{filter.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- ADD a Work Item FAB -->
          <div class="toolbar-pf-action-right">
            <div *ngIf="loggedIn" class="add-detailed-wi"
                tooltipPlacement="bottom" tooltip="Add A Work Item"
                (click)="showTypes()">
              <i class="fa fa-plus icon"></i>
            </div>
          </div>
        </div>

        <div #activeFiltersDiv>
          <span #activeFilters class="selected-filters"
            *ngFor="let filter of filters | almArrayFilter:{active: true};">
            {{filter.name}}
            <i (click)="deactiveFilter(filter.id)" class="fa fa-close icon"></i>
          </span>
          <span class="close-filter"
            (click)="deactiveAllFilters()"
            *ngIf="(filters | almArrayFilter:{active: true}).length">
            Clear All Filters
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="side-bar">
      <fab-planner-iteration class="fab-planner-iteration"></fab-planner-iteration>
    </div>
    <div class="container-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
