<div class="container-fluid row f8-wi-container " #containerHeight>
	<div class="lock-overlay-list"
		*ngIf="uiLockedAll">
		<div class="spinner-container">
			<h2 class="spinner"></h2>
			<h2>Loading ...</h2>
			<h4>Please wait, we are loading your data.</h4>
		</div>
	</div>

	<work-item-preview-panel #quickPreview
	 [context]="'query'">
	</work-item-preview-panel>

	<div #querySearch class="f8-query__input-wrapper">
		<span
			*ngIf="searchQuery !== '' && !query.disabled"
			class="pficon-close close f8-query__clear-button"
			tooltip="Press ctrl+backspace to clear"
			placement="left"
			(click)="searchQuery='';"
			></span>
		<input #query class="f8-query__input"
			[disabled]="disableInput"
			(keydown)="fetchWorkItemForQuery($event, query.value)"
			[(ngModel)]="searchQuery"
				placeholder="Enter your Query...">
		<span class="f8-query__input-hint">Press Enter to Search....</span>
		<div>
			<ng-container *ngFor="let breadcrumb of breadcrumbs">
			>&nbsp;<span class="pointer breadcrumbs"
							(click)="navigateToQuery(breadcrumb)">
				<ng-container *ngIf="breadcrumb.q">Query</ng-container>
				<ng-container *ngIf="breadcrumb.parentId">{{ breadcrumb.parentId }}</ng-container>
				</span>
			</ng-container>&nbsp;>&nbsp;<span class="current-query">{{ currentQuery }}</span>
		</div>
	</div>

	<div class="f8-wi-list">
		<div
			class="f8-wi-list-wrap"
			*ngIf="workItemsSource | async as workitems"
			#listContainer>
				<ngx-datatable #myTable
					*ngIf="!!workitems.length"
					class="material fullscreen"
					[columnMode]="'force'"
					[scrollbarH]="true"
					[scrollbarV]="true"
					[rows]="workitems"
					[rowHeight]="contentItemHeight"
					[sorts]="[{prop: 'order', dir: 'desc'}]"
					[selected]="selectedRows"
					[selectionType]="'single'"
					>
					<!-- FLAT LIST -->
					<!-- columns number-assignees -->
					<ngx-datatable-column
						*ngFor="let c of (columns | filterColumn:'display')"
						[name]="c.name"
						[resizeable]="false"
						[width]="c.width"
						[sortable]="c.name === 'Title'"
						[cellClass]="'cell-class'"
						[headerClass]="'header-cell'">
							<ng-template let-row="row"
								ngx-datatable-cell-template>
									<work-item-cell
										[row]="row"
										[col]="c.prop"
										[context]="'query'"
										(onQuickPreview)="onPreview($event)"
										(onChildExploration)="onChildExploration($event)"
										[class.f8-wi__table-config]="c.prop === 'label' || c.prop === 'assignees'"
										[class.planner-hack-title-truncate]="c.prop === 'title'">
									</work-item-cell>
							</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>

				<pfng-empty-state
        	*ngIf="!(workitems)?.length && !uiLockedList"
					[config]="emptyStateConfig">
				</pfng-empty-state>
		</div>
	</div>
</div>
