<div class="wizard">
  <div class="wizard-step wizard-step-create-space" [class.active]="workflow.isStepActive({name:steps.space})">
    <form role="form" #spaceForm="ngForm" (ngSubmit)="createSpace()" novalidate>
      <header class="container-fluid">
        <div class="row">
          <div class="col-xs-12 wizard-step-title">
            <div></div>
            <h2>Create a new space</h2>
            <span (click)="workflow-cancel()" class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
      </header>
      <section class="container-fluid padding-top-standard-offset">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="name" class="control-label col-xs-4">Name</label>
                <div class="col-xs-8">
                  <input id="name" name="name" type="text" class="form-control" placeholder="Enter a unique name for your space" [(ngModel)]="configurator.space.name"
                    #name="ngModel" required uniqueSpaceName validSpaceName/>
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">
                      Name is required
                    </div>
                    <div [hidden]="!name.errors.minLength">
                      Name must be at least {{name.errors.minLength?.min}} characters long.
                    </div>
                    <div [hidden]="!name.errors.maxLength">
                      Name cannot be more than {{name.errors.maxLength?.max}} characters long.
                    </div>
                    <div [hidden]="!name.errors.unique">
                      Name '{{name.errors.unique?.requestedName}}'' is already in use as {{name.errors.unique?.existingSpace.relationalData.creator.attributes.username}}/{{name.errors.unique?.existingSpace.attributes.name}}.
                    </div>
                    <div [hidden]="!name.errors.invalid">
                      Name must contain only letters (upper case or lower case), numbers, spaces, underscores (_) or hyphens(-). It cannot start or end with a space, an underscore or a hyphen.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-4 ">Development Process</label>
                <div class="col-xs-8">
                  <select class="form-control" id="developmentProcess" [(ngModel)]="configurator.space.process" name="developmentProcess">
                    <option *ngFor="let p of dummy.processTemplates" [ngValue]="p">{{p.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div *ngIf="configurator.space.process" class="col-xs-offset-4 col-xs-8">
                  {{configurator.space.process.description}}
                </div>
                <div class="col-xs-8 col-xs-offset-4">
                  This space will be <strong>public</strong>, which means that anyone can access this code and participate
                  in creating the product.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="container-fluid">
        <div class="row">
          <div class="col-xs-12 wizard-step-tool-bar with-items-at-end">
            <button class="btn btn-default margin-right-5" type="button" (click)="workflow.gotoNextStep()">Forge
            </button>
            <!--<button  class="btn btn-default margin-right-5" type="button" (click)="workflow.cancel()">Cancel</button>-->
            <button class="btn btn-default" [disabled]="!spaceForm.form.valid" type="submit">Create Space</button>
          </div>
        </div>
      </footer>
    </form>
  </div>
  <div class="wizard-step" [class.active]="workflow.isStepActive({name:steps.forge})">
    <header class="container-fluid">
      <div class="row">
        <div class="col-xs-12 wizard-step-title">
          <div></div>
          <h2>Your <strong>{{configurator.space.attributes.name | spaceName}}</strong> Space is ready! What would you like to do ?
          </h2>
          <span (click)="workflow-cancel()" class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
    </header>
    <section class="container-fluid flex-container in-column-direction with-content-stretch padding-standard-offset ">
      <div class="row flex-grow-1 flex-container">
        <div class="col-xs-12 flex-grow-1 flex-container in-row-direction with-content-stretch">
          <div class="section-column">
            <header>
              <h3>I'd like to start by Planning my work.</h3>
            </header>
            <section><span><br></span></section>
            <footer><a class="btn btn-default">Planning</a></footer>
          </div>
          <div class="section-column">
            <header>
              <h3>I'd like to start by Coding from scratch.</h3>
            </header>
            <section><span><br></span></section>
            <footer><a class="btn btn-default">New Code</a></footer>
          </div>
          <div class="section-column">
            <header>
              <h3>I'd like to start by Importing existing code.</h3>
            </header>
            <section><span><br></span></section>
            <footer class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <div class="button-bar pull-right">
                    <a class="btn btn-default" (click)="workflow.gotoNextStep({name:steps.forgeImportGit})">Import
                      Code</a>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="section-column">
            <header>
              <h3>I'd like to use a wizard or QuickStart.</h3>
            </header>
            <section><span><br></span></section>
            <footer class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <div class="button-bar pull-right">
                    <a class="btn btn-default" (click)="workflow.gotoNextStep({name:steps.forgeStarter})">Wizard</a>
                    <a class="margin-top-5 btn btn-default" (click)="workflow.gotoNextStep({name:steps.forgeQuickStart})">Quick Start</a>
                  </div>
                </div>
              </div>
            </footer>
          </div>

        </div>
      </div>
    </section>
    <footer class="container-fluid">
      <div class="row">
        <div class="col-xs-12 wizard-step-tool-bar with-items-in-center">
          <a class="btn btn-default" (click)="workflow.finish()">Take me to the
            {{configurator.space.attributes.name | spaceName}} space</a>
        </div>
      </div>
    </footer>
  </div>
  <forge-app-generator class="wizard-step" [class.active]="workflow.isStepActive({name:steps.forgeStarter})" title="New Project Wizard "
    commandName="{{commands.forgeStarter}}" stepName="{{steps.forgeStarter}}" [workflow]="workflow">
  </forge-app-generator>
  <forge-app-generator class="wizard-step" [class.active]="workflow.isStepActive({name:steps.forgeQuickStart})" title="Quick Start"
    commandName="{{commands.forgeQuickStart}}" stepName="{{steps.forgeQuickStart}}" [workflow]="workflow">
  </forge-app-generator>
  <forge-app-generator class="wizard-step" [class.active]="workflow.isStepActive({name:steps.forgeImportGit})" title="Import Code"
    commandName="{{commands.forgeImportGit}}" stepName="{{steps.forgeImportGit}}" [workflow]="workflow">
  </forge-app-generator>
</div>
