@import '../../assets/stylesheets/base';

$icon-path: '../../assets/icon/';
@import '../../assets/stylesheets/icons';

// wizard
$wizard-spacing:$grid-gutter-width/2;
$wizard-header-color:$color-pf-black-100;
$wizard-header-divider-color: $color-pf-black-300;
$wizard-footer-color: $color-pf-white;
$wizard-footer-divider-color: $color-pf-black-300;
//noinspection SassScssResolvedByNameOnly
$wizard-padding: $grid-gutter-width / 2;

$wizard-spacing: 0px;
// shadow distance from element
$wizard-shadow-offset: 3px;
// makes shadow bigger
$wizard-shadow-spread-radius: 3px;
// makes shadows edge blury
$wizard-shadow-blur-radius: 3px;
//noinspection SassScssResolvedByNameOnly
$wizard-section-column-background-color: $color-pf-white;// $btn-primary-bg;
$wizard-layout-block-background-color: $color-pf-white;
//noinspection SassScssResolvedByNameOnly
$wizard-layout-block-header-border-color: $color-pf-black-100;// $color-pf-blue-300;
//noinspection SassScssUnresolvedVariable,SassScssUnresolvedVariable
$wizard-layout-block-shadow-color: darken($navbar-default-bg, 10%);
//noinspection SassScssUnresolvedVariable,SassScssUnresolvedVariable
$wizard-block-header-color: $color-pf-white;

// make styles apply to host element and all child elements , including child components
:host /deep/ {

  //ensure consistent padding on bootstrap rows
  //startswith col-
  [class^="col-"]
  {
    padding-left:$grid-gutter-width/2;
    padding-right:$grid-gutter-width/2;
  }
  //contains col-
  [class*=" col-"]
  {
    padding-left:$grid-gutter-width/2;
    padding-right:$grid-gutter-width/2;
  }


  flex:1;
  display:flex;
  //align-content: stretch;
  position:relative;
  width:100%;

  @mixin wizard-step-child-elements {
    // position buttons

    >header {
      position:relative;
      background-color: $wizard-header-color;
      // border-bottom:solid 1px $wizard-header-divider-color;
      &.container-fluid {
          padding-left:$wizard-spacing + $debug-border ;
          padding-right:$wizard-spacing + $debug-border ;
          margin-left:0px;
          margin-right:0px;
          >.row {
            margin-left:-($wizard-spacing + $debug-border) ;
            margin-right:-($wizard-spacing + $debug-border);
          }
      }
      &.container {
          width:100%;
      }
      &.forge-header {
        background-color: $color-pf-black-200;
        .row {
          &:first-of-type {
            background-color: $color-pf-white !important;
            border-bottom:solid 1px $color-pf-black-300;
          }
        }
        .wizard-step-sub-title {
          background-color: $color-pf-black-200;

        }

      }
    }
    >section {
      flex:1;
      // when using flex here it is important to stretch the content:
      // and choose the direction as column
      // display:flex;
      // flex-direction: column;
      // align-content: stretch;
      position:relative;
      margin:0px;
      padding:0px;
      width:auto;
      &.container-fluid {
        // Bug: there is an issue with this element, if the border/padding sum
        // is less than 5px, content overflows and horizontal scroll bars kick
        // in and it overflows the container. This is caused by a margin of 20px
        // when it should be $grid-gutter-width / 2
        .form-horizontal {
          //padding-right:5px;
          margin-left:-($grid-gutter-width / 2);
          margin-right:-($grid-gutter-width / 2);
        }
        .form-group {
          //padding-right:5px;
          margin-left:0;//-$wizard-spacing;
          margin-right:0;//-$wizard-spacing;
        }
        padding-left:$wizard-spacing  + $debug-border;
        padding-right:$wizard-spacing + $debug-border;
        position:relative;
        >.row {
          margin-left:-($wizard-spacing + $debug-border) ;
          margin-right:-($wizard-spacing + $debug-border);
          padding:0;
          width:auto;
          position:relative;
        }
      }
      &.container {
        padding-left:$wizard-spacing + $debug-border;
        padding-right:$wizard-spacing + $debug-border;
        width:100%;
        margin-left:0px;
        margin-right:0px;
      }
      &.forge-section {
        background-color: $color-pf-black-200;
      }
    }
    >footer {
      position:relative;
      border-top:solid 1px $wizard-footer-divider-color;
      background-color: $wizard-footer-color;
      &.container-fluid {
        padding-left:$wizard-spacing + $debug-border ;
        padding-right:$wizard-spacing + $debug-border ;
        margin-left:0px;
        margin-right:0px;
        >.row {
          margin-left:-($wizard-spacing + $debug-border) ;
          margin-right:-($wizard-spacing + $debug-border);
        }
      }
      &.container {
        width:100%;
      }
    }
  };

  .wizard {
    flex:1;
    display:flex;
    //align-content: stretch;
    position:relative;
    //width:100% !important;
    // only applies to rows in the wizard
    .row {
      padding-top:0px;
    }
    // only applies to buttons in the wizard
    .btn {
      min-width: 90px;
    }
    .wizard-step {
      position:relative;
      //width:100% !important;
      // at least 50% of view height
      //min-height: 50vh;
      flex:1;
      // by default the step is not visible but becomes
      // visible when the active class is applied.
      display:none;
      &.active {
        display:flex;
        flex-direction: column;
        align-content: stretch;
        width:100% !important;
        //align-content: stretch;
      }
      @include wizard-step-child-elements;
      // for cases where the step has a form element
      >form {

        flex:1;
        display:flex;
        flex-direction: column;
        //align-content: stretch;
        position:relative;
        @include wizard-step-child-elements;

      }

      .wizard-step-title {
        position:relative;
        display:flex;
        //main axis
        justify-content: space-between;
        //cross axis
        align-items: center;
        //main axis direction
        flex-direction: row;
        .text{
          font-weight: 600;
        }
      }
      .wizard-step-sub-title {
        background-color:$color-pf-white;
        display:flex;
        justify-content: center;
        .text {
          font-weight: 600;
        }
      }
      .wizard-step-tool-bar {
        position:relative;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top:$wizard-spacing;
        padding-bottom:$wizard-spacing;
        &.with-items-at-end{
          justify-content: flex-end;
        }
        &.with-items-at-start{
          justify-content: flex-start;
        }
        &.with-items-in-center{
          justify-content:center;
        }
        &.with-items-space-between{
          justify-content:space-between;
        }
        &.with-items-space-around{
          justify-content:space-around;
        }
        //will stretch auto sized items
        &.with-items-stretch{
          justify-content:stretch;
        }
      }
    }
  }

  .wizard-step {
    section {
      &.layout-block-container {
        margin: 0;
        padding-top: $wizard-spacing;
        padding-bottom: $wizard-spacing;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
      }
      .layout-block {
        position: relative;
        display: flex;
        padding-top: $wizard-spacing;
        margin: $wizard-spacing;
        min-width: 150px;
        border: solid 1px white;
        box-shadow: $wizard-shadow-offset $wizard-shadow-offset $wizard-shadow-blur-radius $wizard-shadow-spread-radius $wizard-layout-block-shadow-color;
        &:hover {
          box-shadow: $wizard-shadow-offset $wizard-shadow-offset $wizard-shadow-blur-radius $wizard-shadow-spread-radius darken($wizard-layout-block-shadow-color, 10%);
        }
        &:active {
          padding-top: $wizard-spacing + 1px;
          padding-left: 1px;
          border-bottom: 0;
          border-right: 0;
          box-shadow: $wizard-shadow-offset $wizard-shadow-offset $wizard-shadow-blur-radius $wizard-shadow-spread-radius darken($wizard-layout-block-shadow-color, 20%);
        }
        .layout-block-icon {
          margin-left: auto;
          margin-right: auto;
        }
        .layout-block-title {
          font-size: smaller;
          font-weight: bolder;
        }
        > footer {
          text-align: center;
        }
        > header {
          text-align: center;
        }
        // setting specific to space stack
        &.layout-block-stack {
          padding-top: 0;
          flex-direction: column;
          flex-grow: 1;
          > header {
            border-top: 2px solid $wizard-layout-block-header-border-color;
            min-height: 2px;
          }
        }
        // settings specific to pipeline selection
        &.layout-block-pipeline {
          $stage-padding: 3px;
          padding-top: 0;
          flex-direction: column;
          flex-grow: 1;
          min-width: 200px;
          min-height: 170px;
          > header {
            background-color: $wizard-block-header-color;
            padding: $wizard-spacing;
            border-top: 3px solid $wizard-layout-block-header-border-color;
          }
          .stage-block {
            span.task-block {
              color: white;
              background-color: green;
              border-radius: 1.0rem;
              padding: $stage-padding 1.0rem;
              margin-right: $stage-padding;
              font-size: x-small;
            }
          }
          span.environment-block {
            color: white;
            background-color: gray;
            border-radius: 1.0rem;
            padding: $stage-padding 1.0rem;
            margin-right: $stage-padding;
            font-size: x-small;
          }
        }
      }
      .panel{
        display:flex;
        flex-grow:1;
        flex-direction: row;
        justify-content: center;
        flex-wrap : wrap;
        background-color: transparent;
        box-shadow: none;

        .panel-item {
          // this is a flex container for its children
          display: flex;
          //
          flex-grow: 1;
          //starting width
          max-width: 180px;
          flex-basis: 180px;
          // but it can grow
          flex-grow: 1;
          //or shrink
          flex-shrink:1;
          // content flex from top to bottom
          flex-direction: column;
          //padding: $wizard-spacing;
          margin: ($grid-gutter-width / 4);
          //margin-right: $wizard-padding;
          border:solid 2px transparent;
          box-shadow: $wizard-shadow-offset  $wizard-shadow-blur-radius $wizard-shadow-spread-radius $wizard-layout-block-shadow-color;

          background-color: $wizard-section-column-background-color;
          > header {
            padding-top: $wizard-padding;
            text-align: center;
            color: $color-pf-black;
            font-weight: normal;
          }
          > section {
            text-align: center;
            flex-grow: 1;
            padding-top: $wizard-padding;
          }
          > div {
            text-align: center;
            flex-grow: 1;
            padding-top: $wizard-padding;
          }
          > footer {
            text-align: center;
            height: auto;
            padding-bottom: $wizard-padding;
          }

          &:hover {
            border: solid 2px $color-pf-blue-300;
            box-shadow: $wizard-shadow-offset  $wizard-shadow-blur-radius $wizard-shadow-spread-radius darken($wizard-layout-block-shadow-color, 10%);
          }
          &:active {
            padding-top: $wizard-spacing + 1px;
            padding-left: $wizard-spacing - 1px;
            margin-bottom:(($grid-gutter-width / 4) - 1px);

            > header {
              padding-top: $wizard-padding + 1px;
              margin-bottom:-1px;

            }
            > section {
              padding-top: $wizard-padding + 1px;
              margin-bottom:-1px;

            }
            > div {
              padding-top: $wizard-padding + 1px;
              margin-bottom:-1px;
            }
            > footer {
              padding-top: 1px;
              margin-bottom:-1px;

            }

            border: solid 2px $color-pf-blue-400;
            box-shadow: $wizard-shadow-offset  $wizard-shadow-blur-radius $wizard-shadow-spread-radius darken($wizard-layout-block-shadow-color, 20%);
          }


        }

      }
    }
  }
}

