@import '../../assets/stylesheets/base';

$icon-path: '../../assets/icon/';
@import '../../assets/stylesheets/icons';
@import '../../assets/stylesheets/shared/_layout';

//noinspection SassScssResolvedByNameOnly
$wizard-padding: $grid-gutter-width / 2;
$wizard-spacing: 5px;
// shadow distance from element
$wizard-shadow-offset: 1px;
// makes shadow bigger
$wizard-shadow-spread-radius: 1px;
// makes shadows edge blury
$wizard-shadow-blur-radius: 5px;
//noinspection SassScssResolvedByNameOnly
$wizard-section-column-background-color: $btn-primary-bg;
$wizard-layout-block-background-color: #fff;
//noinspection SassScssResolvedByNameOnly
$wizard-layout-block-header-border-color: $color-pf-blue-300;
//noinspection SassScssUnresolvedVariable,SassScssUnresolvedVariable
$wizard-layout-block-shadow-color: darken($navbar-default-bg, 10%);
//noinspection SassScssUnresolvedVariable,SassScssUnresolvedVariable
$wizard-block-header-color: $color-pf-white;

.wizard-step {
  section {
    &.layout-block-container {
      margin: 0;
      padding-top: $wizard-spacing;
      padding-bottom: $wizard-spacing;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
    }
    .layout-block {
      position: relative;
      display: flex;
      padding-top: $wizard-spacing;
      margin: $wizard-spacing;
      min-width: 150px;
      border: solid 1px white;
      box-shadow: $wizard-shadow-offset $wizard-shadow-offset $wizard-shadow-blur-radius $wizard-shadow-spread-radius $wizard-layout-block-shadow-color;
      &:hover {
        box-shadow: $wizard-shadow-offset $wizard-shadow-offset $wizard-shadow-blur-radius $wizard-shadow-spread-radius darken($wizard-layout-block-shadow-color, 10%);
      }
      &:active {
        padding-top: $wizard-spacing + 1px;
        padding-left: 1px;
        border-bottom: 0;
        border-right: 0;
        box-shadow: $wizard-shadow-offset $wizard-shadow-offset $wizard-shadow-blur-radius $wizard-shadow-spread-radius darken($wizard-layout-block-shadow-color, 20%);
      }
      .layout-block-icon {
        margin-left: auto;
        margin-right: auto;
      }
      .layout-block-title {
        font-size: smaller;
        font-weight: bolder;
      }
      > footer {
        text-align: center;
      }
      > header {
        text-align: center;
      }
      // setting specific to space stack
      &.layout-block-stack {
        padding-top: 0;
        flex-direction: column;
        flex-grow: 1;
        > header {
          border-top: 2px solid $wizard-layout-block-header-border-color;
          min-height: 2px;
        }
      }
      // settings specific to pipeline selection
      &.layout-block-pipeline {
        $stage-padding: 3px;
        padding-top: 0;
        flex-direction: column;
        flex-grow: 1;
        min-width: 200px;
        min-height: 170px;
        > header {
          background-color: $wizard-block-header-color;
          padding: $wizard-spacing;
          border-top: 3px solid $wizard-layout-block-header-border-color;
        }
        .stage-block {
          span.task-block {
            color: white;
            background-color: green;
            border-radius: 1.0rem;
            padding: $stage-padding 1.0rem;
            margin-right: $stage-padding;
            font-size: x-small;
          }
        }
        span.environment-block {
          color: white;
          background-color: gray;
          border-radius: 1.0rem;
          padding: $stage-padding 1.0rem;
          margin-right: $stage-padding;
          font-size: x-small;
        }
      }
    }
    .section-column {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 5px;
      margin: 0;
      margin-right: $wizard-padding;
      &:last-of-type {
        margin-right: 0;
      }
      background-color: $wizard-section-column-background-color;
      > header {
        padding-top: $wizard-padding;
        text-align: center;
        color: white;
        font-weight: normal;
      }
      > div {
        text-align: center;
        flex-grow: 1;
        padding-top: $wizard-padding;
      }
      > footer {
        text-align: center;
        height: auto;
        padding-bottom: $wizard-padding;
      }
    }
  }
}

