<div class="row row-cards-pf center" *ngIf="namespace">

  <div class="col-xs-12">
    <span class="name">
      <span class="pull-right">created {{namespace.creationTimestamp | amTimeAgo}}</span>
      <h2 class="card-pf-title">
        <img src="{{namespace.icon}}" width="30" height="30"/>&nbsp; {{namespace.name}}
        &nbsp;
        <a *ngIf="namespace.openShiftConsoleUrl" [href]="namespace.openShiftConsoleUrl" target="openshift" title="Open in the OpenShift console">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </h2>
    </span>
  </div>

  <div class="col-xs-12">
    <h3>Configuration</h3>

    <dl class="dl-horizontal left">
      <dt>Selectors:</dt>
      <dd title="selector" *ngFor='let entry of namespace?.spec?.selector?.matchLabels | entries'>
        {{entry.key}}: {{entry.value}}
      </dd>
      <dt>Replicas:</dt>
      <dd>
        {{namespace.replicas}}&nbsp;
      </dd>

      <!-- ngIf: namespaceConfig.spec.strategy.type -->
      <div *ngIf="namespace?.spec?.strategy?.type">
        <dt>Strategy:</dt>
        <dd>{{namespace.spec.strategy.type}}</dd>
      </div>

      <!--
          TODO for NamespaceConfig
            <dt>Update Period:</dt>
            <dd>1 sec</dd>
            <dt>Interval:</dt>
            <dd>1 sec</dd>
            <dt>Timeout:</dt>
            <dd>600 sec</dd>
      -->

      <div *ngIf="namespace?.spec?.strategy?.rollingUpdate?.maxUnavailable">
        <dt>Max Unavailable:</dt>
        <dd>{{namespace?.spec?.strategy?.rollingUpdate.maxUnavailable}}</dd>
      </div>

      <div *ngIf="namespace?.spec?.strategy?.rollingUpdate?.maxSurge">
        <dt>Max Surge:</dt>
        <dd>{{namespace?.spec?.strategy?.rollingUpdate.maxSurge}}</dd>
      </div>
    </dl>
  </div>

  <div class="col-xs-12" *ngIf="namespace?.spec?.template?.spec?.containers">
    <h3>Containers</h3>

    <div class="pod-template-container" *ngFor="let container of namespace.spec.template.spec.containers">
      <dl class="dl-horizontal left">
        <dt class="component-label"><i class="fa fa-comment" aria-hidden="true"></i> Name:</dt>
        <dd>{{container.name}}</dd>

        <div *ngIf="container.image">
          <dt><span class="pficon pficon-image" aria-hidden="true"></span> Image:</dt>
          <dd>{{container.image}}</dd>
        </div>

        <!--  <div>
          <span class="fa fa-refresh" aria-hidden="true"></span>
          </div>
          <div flex="" class="word-break">
          <span class="pod-template-key">Build:</span>

          &lt;!&ndash; ngIf: build | configURLForResource &ndash;&gt;<span ng-if="build | configURLForResource" class="ng-scope">
          <a ng-href="project/demo1/browse/builds/demo1" href="project/demo1/browse/builds/demo1">demo1</a>,
          </span>&lt;!&ndash; end ngIf: build | configURLForResource &ndash;&gt;
          <a ng-href="project/demo1/browse/builds/demo1/demo1-1" href="project/demo1/browse/builds/demo1/demo1-1">
          &lt;!&ndash; ngIf: (build | annotation : 'buildNumber') &ndash;&gt;<span ng-if="(build | annotation : 'buildNumber')" class="ng-binding ng-scope">#1</span>&lt;!&ndash; end -->

        <div *ngIf="container.ports">
          <dt class="pod-template-key"><span data-icon="" aria-hidden="true"
                                             style="font-size:16px;line-height:normal"></span> Ports:
          </dt>
          <!--
                  <span *ngFor="let port of container.ports | orderBy: 'containerPort'">
          -->
          <dd *ngFor="let port of container.ports">
            <span class="nowrap">8080/TCP</span>
          </dd>
        </div>

        <div *ngIf="container.env">
          <dt class="pod-template-key"><span data-icon="" aria-hidden="true"
                                             style="font-size:16px;line-height:normal"></span> Ports:
          </dt>
          <!--
                  <span *ngFor="let port of container.ports | orderBy: 'containerPort'">
          -->
          <dd *ngFor="let port of container.ports">
            <span class="nowrap">8080/TCP</span>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
