<div class="select-dropdown-container dropdown">
  <span (click)="openDropdown()">
    <ng-container *ngTemplateOutlet="toggleButtonRef">
    </ng-container>
  </span>
  <div class="select-dropdown dropdown-menu dropdown-menu-left"
    [class.show]="displayDropdown">
    <div class="select-dropdown-header">
      <span> {{ headerText }} </span>
      <span
        class=" pull-right pficon-close close-pointer"
        (click)="closeDropdown()"></span>
    </div>
    <div
      class="select-dropdown-search"
      *ngIf="showSearch">
      <input (keyup)="searchItem(searchInput.value)"
        #searchInput
        class="select-dropdown-search-input" />
      <span class="fa fa-search search-icon"></span>
    </div>
    <ul class="select-dropdown-menu">
      <li class="item-li"
         *ngFor="let item of menuItems"
         [class.item-selected]="item.selected"
         (click)="selectItem(item)">
        <div class="dynamic-item">
          <ng-container *ngTemplateOutlet="dropdownItem; context: item" >
          </ng-container>
        </div>
        <span *ngIf="item.selected" class="fa fa-check tick"></span>
      </li>
    </ul>
    <div *ngIf="dropdownFooter" class="select-dropdown-footer">
      <ng-container *ngTemplateOutlet="dropdownFooter" >
      </ng-container>
    </div>
  </div>
</div>
