<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Loading...</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="expires" content="0"/>
  </head>

  <body>
    <script src="/_config/fabric8-ui.env.js"></script>

    <f8-app>
      <style>
      body {
        background: url(/assets/images/LoadingBackground.svg) fixed;
        background-size: cover;
        background-position: left;
        width: 100%;
        height: auto;
      }
        .preboot-header-bar-primary {
          height: 48px;
          width: 100%;
          background-color: #bbb;
          opacity: 1;
        }
        .preboot-header-bar-secondary {
          height: 25px;
          width: 100%;
          background-color: #ddd;
        }
        .preboot-container {
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .preboot-container > div {
          width: 100%;
          max-width: 600px;
        }
      </style>
      <header>
        <div class="preboot-header-bar-primary"></div>
        <div class="preboot-header-bar-secondary"></div>
      </header>
      <section>
        <div class="preboot-container container-fluid">
          <div class="progress-description">
            <div class="spinner spinner-xs spinner-inline"></div>
            <strong>Loading...</strong>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </section>
    </f8-app>

    <!--<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>-->
    <!-- Webpack Dev Server reload -->
    <!--<script src="/webpack-dev-server.js"></script>-->
    <!--<% } %>-->


  </body>
</html>
