<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0"/>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
  <script src="/_config/fabric8-ui.env.js"></script>

  <f8-app>
    Loading...
  </f8-app>

  <!--<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>-->
  <!-- Webpack Dev Server reload -->
  <!--<script src="/webpack-dev-server.js"></script>-->
  <!--<% } %>-->


</body>
</html>
