.f8background {
  background: url("/assets/img/public-bg.png");
  background-repeat: no-repeat;
  z-index: 1000;
  position: absolute;
  top: 60px;
  width: 960px;
  height: 720px;
}

.signup {
  z-index: 1001;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 60px;
  left: 550px;
  .panel {
    padding-bottom: 15px;
    padding: 5px;
  }

  input {
    margin-bottom: 3px;
  }

  small {
    font-size: xx-small;
  }
}

.socialLogin {
  .fa {
    font-size: xx-large;
    color: black;
  }
  .fa:hover {
    cursor: pointer;
  }
}

.navbar {
  height: 30px;
  z-index: 1002;
  position: absolute;
  top: 0;
  width: 100%;
  .form-group {
    padding-top: 5px;
  }
}
