<div class="f8background"></div>

<div class="navbar navbar-default">
    <div class="pull-right form-group">
        <span class="signin col-md-6">
            <a [routerLink]="['/signin']">Sign In</a>
        </span>
        <span class="search col-md-6">
            <input type="search" class="form-control" placeholder="search" />
        </span>
    </div>
</div>


<div class="signup">
    <div class="panel panel-default">
        <form>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <input id="username" type="text" class="form-control" placeholder="Pick a username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <input id="email" type="text" class="form-control" placeholder="Your email address">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <input id="password" type="password" class="form-control" placeholder="Create a password">
                    </div>
                </div>
            </div>
            <p><small>Use at least one letter, one numeral and seven characters.</small></p>
            <a class="btn btn-primary center-block" [routerLink]="['/signup']">Sign up for fabric8.io</a>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="socialLogin">
                <span>Sign in with</span> <a (click)="gitSignin()"><span class="fa fa-github"></span></a>
            </p>
        </div>
    </div>
</div>