@import '../../../../assets/stylesheets/base';

.typeahead-dropdown {
  padding-left: 0;
  .pointer {
    &:hover {
      cursor: pointer;
    }
  }
  .neutral-entry {
    color: $color-pf-blue;
  }
  .no-value-label {
    color: $color-pf-blue;
  }
  .details-dropdown {
    /* width: 100%; */
  }
  .item-ul{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: $font-size-base;
    text-align: $textLeft;
    background-color: $color-pf-white;
    @include Border(1px, solid, $color-pf-black-300);
    @include borderRadius(1px);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin-top: -1px;
    width: 100%;
    li {
      a{
        @include Border(1px, solid, transparent);
        padding: 1px 10px;
        display: block;
        clear: both;
        font-weight: 400;
        color: $color-pf-black-800;
        line-height: 1.66666667;
        white-space: nowrap;
        &:hover {
          background-image: none;
        }
        &:active {
          background-color: $color-pf-blue-400;
          border-color: $color-pf-blue-400;
          color: $color-pf-white!important;
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }
        &:hover, &:focus {
          border-color: $color-pf-blue-100;
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          text-decoration: none;
          color: $color-pf-black-700;
          background-color: $color-pf-blue-50;
        }
      }
    }
  }
}
.detail-action-btn {
  @include detail-action-btn;
}
