<div id="pipelines" class="content container">
  <alm-toolbar [config]="toolbarConfig"
               [viewsTemplate]="addOpenShiftConsoleLink"
               (onFilterChange)="filterChange($event)"
               (onSortChange)="sortChange($event)">
    <ng-template #addOpenShiftConsoleLink>
      <div class="openshift-links" placement="bottom">
        <a [href]="openshiftConsoleUrl" *ngIf="openshiftConsoleUrl" class="pull-right" title="View in the OpenShift Console" target="_blank">OpenShift Console <span class="fa fa-external-link"></span></a>
      </div>
    </ng-template>
  </alm-toolbar>
  <hr/>
  <fabric8-pipelines-list [pipelines]="pipelines" [loading]="false"></fabric8-pipelines-list>
</div>
