<div id="pipelines" class="">
  <div class="toolbar-header">
    <pfng-toolbar [config]="toolbarConfig"
                  [viewsTemplate]="addOpenShiftConsoleLink"
                  (onFilterChange)="filterChange($event)"
                  (onSortChange)="sortChange($event)">
      <ng-template #addOpenShiftConsoleLink>
        <div class="openshift-links" placement="bottom">
          <div class='pull-right dropdown-kebab-pf dropdown' dropdown>
            <button class='btn btn-link pull-right dropdown-toggle' type='button'
                    aria-haspopup='true' aria-expanded='true' dropdownToggle>
              <span class='fa fa-ellipsis-v'></span>
            </button>

            <ul class='dropdown-menu-right dropdown-menu' aria-labelledby='dropdownKebabRight9' role="menu" *dropdownMenu>
              <li>
                <a (click)="openForgeWizard()">Add to Space</a>
              </li>
              <li class="divider"></li>
              <li>
                <a [href]="openshiftConsoleUrl" *ngIf="openshiftConsoleUrl"
                   title="View in the OpenShift Console" target="_blank">Open in OpenShift Console
                </a>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </pfng-toolbar>
  </div>

  <div class="container-fluid pipeline-list-container">
    <div class="row">
      <div class="col-md-12">
        <div class="pipeline-list-view">
          <fabric8-pipelines-list [pipelines]="pipelines" [loading]="false"></fabric8-pipelines-list>
        </div>
      </div>
    </div>
  </div>
</div>

<modal #updateSpace modalClass="modal-lg chromeless-modal">
  <modal-content class="chromeless-modal-content">
    <space-wizard #spaceWizard [host]="updateSpace"></space-wizard>
  </modal-content>
</modal>
