<f8-select-dropdown
  id="f8-selector-dropdown"
  #dropdown
  *ngIf="backup.length"
  [toggleButtonRef]="toggleButtonRef"
  [dropdownItem]="dropdownItem"
  [headerText]="headerText"
  [menuItems]="menuItems"
  [showSearch]="backup.length > 5"
  [disabled]="!allowUpdate"
  (onSelect)="onSelect($event)"
  (onSearch)="onSearch($event)"
  (onOpen)="onOpen($event)"
  (onClose)="onClose($event)">
  <ng-template #toggleButtonRef>
    <span
      class="pointer"
      *ngFor="let item of _selectedItemsBackup">
      <i *ngIf="item?.icon"
        [ngClass]="['margin-right-10', item.icon]"></i>
      {{ item.value }}
    </span>
    <span *ngIf="!_selectedItemsBackup.length" class="pointer">
      {{ noValueLabel }}
    </span>
  </ng-template>
  <ng-template #dropdownItem
    let-value="value"
    let-icon="icon"
    let-stickontop="stickontop">
    <i *ngIf="icon"
      [ngClass]="['margin-right-10', icon]"></i>
    <span *ngIf="!stickontop" [innerHTML]="value | truncate: -25 | almSearchHighlight: searchValue">
    </span>
  </ng-template>
</f8-select-dropdown>
