<div id="home" class="container content">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-block" type="button" [routerLink]="['/learn']" routerLinkActive="active">Learn</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-block" type="button" (click)="createSpace.open()">Start Collaborating</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Recent Collaboration Spaces</h2>
            <div>
                <a (click)="createSpace.open()">New</a> | <a href="#">Browse</a>
            </div>
            <div class="container-fluid container-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-pf card-pf-view ">
                        <div class="card-pf-body">
                            <div class="card-pf-top-element">
                            </div>
                            <h2 class="card-pf-title text-center">
                            </h2>
                            <div class="card-pf-items">
                                <ul class="list-unstyled">
                                    <li>Bobo</li>
                                    <li>Hysterix</li>
                                    <li>fabric8io</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-pf-view-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Recent Activity</h2>
            <div class="container-fluid container-cards-pf">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-pf card-pf-view ">
                        <div class="card-pf-body">
                            <div class="card-pf-top-element">
                            </div>
                            <h2 class="card-pf-title text-center">
                            </h2>
                            <div class="card-pf-items">
                                <p>List of most recent activity for currently logged in user.</p>
                                <ul class="list-unstyled">
                                    <li>TODO: Add infinite scroll</li>
                                    <li>TODO: What does the activity look like?</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-pf-view-checkbox">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" class="x-small">
                <div class="col-md-8">
                    <h2>Resource Usage</h2>
                </div>
                <div class="col-md-4">
                    <small> 1 – Sep 30</small>
                </div>
                <div class="col-md-8">
                    <small>Pipeline</small>
                </div>
                <div class="col-md-4">
                    <small>124 of 200 minutes</small>
                </div>
                <div class="col-md-8">
                    <small>Environments</small>
                </div>
                <div class="col-md-4">
                    <small>7,184 of 18,000 RAM-minutes</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Project modal -->

<modal #createSpace title="Create new collaboration space">
    <modal-content>
        <project-dialog></project-dialog>
    </modal-content>
</modal>

