@import '../../assets/stylesheets/base';

.card-pf-view .card-pf-title {
  font-weight: 400;
}

.home-wrapper {
  background-color: $color-pf-black-150;
  height: 100%;
  padding-top: 2rem;
  .pf-icon-home {
    font-size: $pf-icon-4x;
    padding: 5rem 0 3rem;
  }
}

.home-space-list-result {
  .list-view-pf-view {
    margin-top: 10px;
  }
  .list-group {
    margin-bottom: 0px;
  }
}

.home-logo {
  max-width: 450px;
  width: 100%;
}
