@import "../../assets/stylesheets/all";
@import "../../assets/vendor/patternfly/stylesheets/patternfly/modals";
@import "../../assets/vendor/patternfly/stylesheets/bootstrap/modals";

.x-small small {
    font-size: 60%;
}

.pull-bottom {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}
