<div class="f8-link-container" id="wi-link">
  <ul class="f8-link__nav-list nav nav-tabs nav-tabs-pf">
    <li class="f8-toggle-caret"
      (click)="toggleLinkComponent()">
      <i class="fa fa-icon f8-toggle-caret-right"
       [ngClass]="{'fa-angle-down': showLinkComponent,
            'fa-angle-right': !showLinkComponent}"></i>
    </li>
    <li
      [class.active]="selectedTab === 'all'"
      (click)="selectTab('all')">
      <a>
        <span>Links</span>
        <span
          class="badge"
          id="wi-link-total"
          *ngIf="workItemLinks; else loading">
          {{workItemLinks.length}}
        </span>
        <ng-template #loading>
          <span class="spinner spinner-sm spinner-inline"></span>
        </ng-template>
      </a>
    </li>
  </ul>
  <div class="f8-link__content"
    id="wi-link-content"
    *ngIf="showLinkComponent && workItemLinks">
    <div class="f8-link__content-create-link"
      *ngIf="!workItemLinks.length && !showLinkView">
      <i class="pficon pficon-add-circle-o add-circle-icon"></i>
      <p>Work Item Links</p>
      <span class="margin-right-10 margin-left-10">There are no items linked to this issue</span>
      <button class="btn btn-primary db f8-link__create-btn"
        id="create-link-button"
        (click)="toggleLinkView()">Create Link</button>
    </div>
    <div *ngIf="workItemLinks.length || showLinkView">
      <div class="width-100 pull-left"
        *ngIf="loggedIn">
        <div class="f8-link__content-hdr"
          (click)="toggleLinkCreator()">
          <i class="fa fa-icon padding-15 pull-right f8-toggle-caret-right"
            [ngClass]="{'fa-angle-down': showLinkCreator,
            'fa-angle-right': !showLinkCreator}"></i>
          <p class="margin-0"
            id="link_item_title"
            *ngIf="workItem" >
            This item, <span [innerHTML]="workItem.title"></span>
          </p>
        </div>
        <div class="f8-link__content-editor width-100"
          id="wi-link-editor"
          *ngIf="showLinkCreator">
          <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="combobox-container">
              <div class="input-group dropdown"
                *ngIf="linkTypes.length"
                dropdown>
                <input class="combobox form-control readonly"
                  type="text" placeholder="Select Link Type"
                  [ngClass]="{'selected-value': selectedLinkType }"
                  readonly
                  [attr.value]="selectedLinkType?.name"
                  #linkTypeSelector>
                <ul class="typeahead typeahead-long dropdown-menu"
                  role="menu" *dropdownMenu>
                  <li *ngFor="let linkType of selectedTab | workItemLinkTypeFilterByTypeName:(linkTypes)">
                    <a (click)="onSelectRelation(linkType)">{{linkType.name}}</a>
                  </li>
                </ul>
                <span class="input-group-addon dropdown-toggle pointer" id="wi-link-type"
                  dropdownToggle>
                  <span class="caret"></span>
                </span>
              </div>
            </div>
          </div>
          <span class="col-xs-2 col-sm-2 col-md-2 text-right"> item</span>
          <div class="col-xs-10 col-sm-10 col-md-10 margin-top-15">
            <div class="combobox-container">
              <div class="input-group dropdown open active width-100">
                <input class="combobox form-control"
                  id="workitem-link-search" #wiSearchBox
                  placeholder="Search for work items"
                  (keyup)="searchWorkItem(wiSearchBox.value, $event)"
                  [value]="selectedValue"
                  [disabled]="!selectedLinkType"/>
                  <ul class="dropdown-menu dropdown-ul"
                    *ngIf="searchWorkItems.length"
                    #searchResultList>
                  <li class="pointer"
                      *ngFor="let workItem of searchWorkItems"
                      (click)="selectSearchResult(workItem.id, workItem.attributes['system.number'], workItem.attributes['system.title'])"
                      [attr.data-wiid]="workItem.id"
                      [attr.data-winumber]="workItem.attributes['system.number']"
                      [attr.data-wititle]="workItem.attributes['system.title']">
                      <a #searchresult>
                        <span>{{workItem.attributes['system.number']}} - </span>
                        <span [innerHTML]="workItem.attributes['system.title']"></span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 text-right margin-top-15">
            <button
              class="btn btn-xs padding-top-1 padding-bottom-2"
              id="bind-link"
              type="button"
              value="Link"
              [class.btn-default]="!selectedLinkType || !selectedWorkItemId"
              [class.btn-primary]="selectedLinkType || selectedWorkItemId"
              [disabled]="!selectedLinkType || !selectedWorkItemId ? true : false"
              (click)="createLink($event)">
              Link
            </button>
          </div>
        </div>
      </div>
      <div class="f8-link__list"
        *ngIf="workItemLinks.length">
        <p class="f8-link__list-header">Links</p>
        <div *ngFor="let linkDict of workItemLinks | groupWorkItemLinks:(workItem.id)">
          <p class="f8-link__list-type-header">{{linkDict.linkType[linkDict.linkDirection]}}</p>
          <ul class="padding-left-0">
            <li *ngFor="let wi of linkDict.workItems; let i = index"
              class="f8-link__list-item">
              <a [routerLink]="detailContext === 'preview' ? 'detail/' + wi.number : createRouterLink(wi.number, detailContext)"
                (click)="detailContext === 'detail' && onLinkClicked(wi.number)">
                <span class="f8-link__list-item-title"
                  [id]="wi.id + '-text'"
                  [innerHTML]="wi.title">
                </span>
              </a>
              <a *ngIf="loggedIn"
                (click)="deleteLink($event, linkDict.links[i], workItem)">
                <i class="pull-right pficon pficon-close list-close-icon margin-top-5"
                  id="closeLink_{{counterlink}}"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
