@import '../../../assets/stylesheets/base';
@import '../../../assets/stylesheets/shared/layout';
@import '../../../assets/stylesheets/dragula';

.boardWrapper {
  position: relative;
  .board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: rem(10);
    padding-bottom: rem(10);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    .board-lane {
      display: inline-block;
      width: rem(300);
      height: 100%;
      margin-right: rem(5);
      margin-left: rem(5);
      vertical-align: top;
      white-space: normal;
      .boardQuickAddContainer {
        margin-bottom: rem(5);
      }
      .board-lane-column {
        height: 100%;
        padding: 0;
        background: $color-pf-black-250;
        @include Border(1px, solid, $color-pf-black-300);
        .boardlaneWrapper{
          width: 100%;
          height: calc( 100% - 2.5rem );
          padding-right: rem(15);
          padding-left: rem(15);
          overflow: auto;
        }//boardlaneWrapper ended
        .lane-header {
          width: 100%;
          padding-top: em(7);
          padding-bottom: em(3);
          text-align: center;
          background-color: $color-pf-black-250;
          flex: 0 0 auto;
          .issueCount {
            padding-right: em(8);
            padding-left: em(8);
            margin-left: em(5);
            font-weight: 500;
            background-color: $color-pf-white;
          }// issue-count ended
        }// lane-header ended
      }//boad-lane-column ended
    }//board-lane ended
    .card-wrapper { height: 100%; }
  }
}
.side-panel-wrap {
  width: 340px;
  min-width: 340px;
  background-color: $color-pf-black-900;
  .side-panel-container { background-color: $color-pf-black-900; }
}
.work-item-page {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  > main { border-top: 0 solid !important; }
  .container-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: ($grid-gutter-width/2);
    margin: 0;
    overflow-y: auto;
    background-color: $color-pf-black-100;
    @include Border(0, solid, red);
    .container-modal-header {
      display: flex;
      margin: 0;
      margin-bottom: ($grid-gutter-width/2);
      align-items: baseline;
      justify-content: space-between;
    }
    &.container-cards-pf {
      .card-pf-title { text-transform: capitalize; }
    }
  }
  .dropdown {
    a {
      color: $color-pf-dark;
      cursor: pointer;
    }
  }
  .with-cursor-pointer { cursor: pointer; }
  .with-color-blue { color: $color-pf-blue-400; }
  >main {
    display: flex;
    border-top: 1px solid;
    border-top-color: $color-pf-black-300;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    >aside {
      position: relative;
      display: flex;
      background-color: $color-pf-black-200;
      border-right: 1px solid;
      border-right-color: $color-pf-black-300;
      align-items: stretch;
      flex: 3;
      flex-direction: column;
      .contents {
        display: flex;
        overflow: auto;
        flex: 1;
        align-items: stretch;
      }
    }
    >section {
      position: relative;
      display: flex;
      overflow-x: hidden!important;
      align-items: stretch;
      flex: 9;
      flex-direction: column;
      @include Border(0, solid, red);
      >header {
        padding-right: rem(20);
        padding-left: rem(20);
        border-bottom: 1px solid;
        border-bottom-color: $color-pf-black-300 !important;
        .toolbar-pf { border-color: transparent;
          .toolbar-pf-actions { border-color: transparent;
            .form-group {  border-right: none;
              &:first { border-left: none; }
            }
            .toolbar-pf-action-right {
              .pficon-add-circle-o {
                font-size: ceil(($font-size-base * 1.2));
                @extend .with-color-blue;
              }
            }
          }
          // ensure icons dont fold around inputs
          .wi-input-filter-dropdown {
            position: relative;
            .wi-input-filter-dropdown-list {
              top: 2.5rem;
              width: 100%;
              padding: .25rem;
            }
            >div {
              position: relative;
              //HACK:prevents caret icon from folding to a new line
              >input { margin-right: -2.0rem; }
              //HACK:positions the caret in right margin are of input
              >span.caret::before {
                z-index: 2;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
      .contents {
        display: flex;
        overflow-x: hidden;
        align-items: stretch;
        flex: 1;
      }
    }
  }
}
// .active-lane {
//   @include Border(2px, solid, $color-pf-blue-300!important);
// }
