@import '../../../assets/stylesheets/_base';
@import (reference) '../../../assets/stylesheets/shared/_layout';
@import (reference) '../../../assets/stylesheets/_dragula';

.work-item-page {
  position: relative;
  .calc(height; "100vh - 60px");
  >main {
    height: 100%;
    overflow: hidden;
    >aside.side-panel-wrap {
      width: 340px;
      height: 100%;
      float: left;
      overflow-x: hidden;
      background-color: @color-pf-black-900;
    }
    >section {
      height: 100%;
      padding-left: 340px;
      //toolbar styles
      > header {
        padding-right: 20px;
        padding-left: 20px;
        border-bottom: 1px solid;
        border-bottom-color: @color-pf-black-300 !important;
        .toolbar-pf { border-color: transparent;
          .toolbar-pf-actions { border-color: transparent;
            .form-group { border-right: none;
              &:first { border-left: none; }
            }
            .toolbar-pf-action-right {
              .pficon-add-circle-o { &:extend(.with-color-blue);}
            }
          }
          // ensure icons dont fold around inputs
          .wi-input-filter-dropdown { position: relative;
            .wi-input-filter-dropdown-list {
              top: 25px;
              width: 100%;
              padding: 2px;
            }
            >div { position: relative;
              //HACK:prevents caret icon from folding to a new line
              >input {  margin-right: -20px; }
              //HACK:positions the caret in right margin are of input
              >span.caret::before {
                z-index: 2;
                display: inline-block;
                width: 15px;
                height: 15px;
                line-height: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.boardWrapper {
  position: relative;
  .calc(height; '100% - 40px');
  overflow-y: scroll;
  border-top: 1px solid;
  border-top-color: @color-pf-black-300;
  .board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    .board-lane {
      display: inline-block;
      width: 300px;
      height: 100%;
      margin-right: 5px;
      margin-left: 5px;
      vertical-align: top;
      white-space: normal;
      .board-lane-column {
        height: 100%;
        padding: 0;
        background: @color-pf-black-300;
        .Border(1px, solid, @color-pf-black-300);
        .boardlaneWrapper{
          width: 100%;
          .calc(height; '100% - 33px');
          padding-right: 15px;
          padding-left: 15px;
          overflow: auto;
        }//boardlaneWrapper ended
        .lane-header {
          width: 100%;
          padding-top: 7px;
          padding-bottom: 3px;
          text-align: center;
          background-color: @color-pf-black-300;
          .issueCount {
            padding-right: 8px;
            padding-left: 8px;
            margin-left: 5px;
            font-weight: 500;
            background-color: @color-pf-white;
          }// issue-count ended
        }// lane-header ended
      }//boad-lane-column ended
    }//board-lane ended
  }
}
