<div class="container-fluid work-item-page">
  <main class="row">
    <aside class="side-panel-wrap">
      <div class="contents">
        <side-panel
          [iterations]="iterations" class="side-panel-container">
        </side-panel>
      </div>
    </aside>
    <section>
      <toolbar-panel
        context="boardview"
        [wiTypes]="workItemTypes"
        (showDetailEvent)="typeSelectPanel.openPanel()"
        [currentBoardType]="currentBoardType"
        [areas]="areas"
        [loggedInUser]="loggedInUser"></toolbar-panel>
      <div class="contents posRel">
        <div id="board_topWorkItems" class="flex-container flex-grow-1 in-column-direction boardWrapper">
          <div class="board" *ngIf="readyToInit" (touchmove)="onTouchstart($event);">
            <!-- board columns -->
            <div class="board-lane" *ngFor='let lane of lanes'>
              <section class="flex-container in-column-direction board-lane-column" [attr.data-state]="lane.option">
                <div class="lane-header">
                  <span class="dib">{{lane.option}}</span>
                  <span class="issueCount dib" >{{lane.workItems | arrayCount}}</span>
                </div>

                <div class="boardlaneWrapper"
                  almInfiniteScroll
                  [eachElementHeightInPx]='contentItemHeight'
                  (initItems)='initWiItems($event, lane)'
                  (fetchMore)='fetchMoreWiItems(lane)' >

                  <div *ngIf="lane.option == 'new'">
                    <div *ngIf="loggedIn" class="boardQuickAddContainer flex-container in-column-direction">
                      <alm-work-item-quick-add [forcedType]="currentBoardType" [wilistview]="'wi-card-view'" (close)="close($event)" (workItemCreate)="onCreateWorkItem($event)"></alm-work-item-quick-add>
                    </div>
                  </div>
                  <div [dragula]='"first-bag"' class="card-wrapper">
                    <div *ngFor='let item of lane.cardValue' [routerLink]="['./detail/' + item.id]"
                      [queryParams]="existingQueryParams" (mousedown)="getWI(item.id, lane)" (touchstart)="getWI(item.id, lane)"
                      [attr.data-id]="item.id" id={{item.id}}>
                      <card [cardValue]='item'
                            (menuClickEvent)="cardMenuClick($event, item.id, lane)"
                            ></card>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>
<detail-add-type-selector
  #typeSelectPanel
  [takeFromInput]="true"
  [wiTypes]="workItemTypes">
</detail-add-type-selector>
<fab-planner-associate-iteration-modal
    [workItem]="workItem"
    #associateIterationModal>
</fab-planner-associate-iteration-modal>

<div *ngIf="showDialog">
  <alm-dialog
    (pfDialogClick)="onButtonClick($event)"
    [dialog]='dialog'
  ></alm-dialog>
</div>
