@import (reference) '../../../assets/stylesheets/_base';
.cards-pf { background-color: @color-pf-black-300; }
.analyze-overview-wrapper {
  background-color: @color-pf-black-300;
  min-height: 100%;
  height: 100%;
}
.padding-top-0 { padding-top: 0; }
