@import '../vendor/patternfly/stylesheets/patternfly/variables';
@import '../vendor/patternfly/stylesheets/bootstrap/variables';

//@import '../vendor/patternfly/stylesheets/patternfly/_color-variables';


/*
// These variables were taken from the old variables.scss. Please figure out where they go.
//== Media queries breakpoints
$screen-xs:                                                         480px !default;
$screen-xs-min:                                                     $screen-xs !default;
$screen-phone:                                                      $screen-xs-min !default;
$screen-sm:                                                         768px !default;
$screen-sm-min:                                                     $screen-sm !default;
$screen-tablet:                                                     $screen-sm-min !default;
$screen-md:                                                         992px !default;
$screen-md-min:                                                     $screen-md !default;
$screen-desktop:                                                    $screen-md-min !default;
/!** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                                                         1200px !default;
$screen-lg-min:                                                     $screen-lg !default;
$screen-lg-desktop:                                                 $screen-lg-min !default;
$screen-xs-max:                                                     ($screen-sm-min - 1) !default;
$screen-sm-max:                                                     ($screen-md-min - 1) !default;
$screen-md-max:                                                     ($screen-lg-min - 1) !default;
//== Grid system
$grid-columns:                                                      12 !default;
$grid-gutter-width:                                                 30px !default;
// Navbar collapse
$grid-float-breakpoint:                                             $screen-sm-min !default;
$grid-float-breakpoint-max:                                         ($grid-float-breakpoint - 1) !default;
//=== Shared nav styles
$nav-link-padding:                                                  10px 15px !default;
$nav-link-hover-bg:                                                 $gray-lighter !default;
$nav-disabled-link-color:                                           $gray-light !default;
$nav-disabled-link-hover-color:                                     $gray-light !default;
*/

.app {
  font-family: Open Sans;
}

//custom variables
$width100: 100%;
$em-base-font-size: 12;
$rem-base-font-size: 10;

// positions
$textLeft: left;
$textRight: right;
$textCenter: center;

//colors
.color-grey{ color: $color-pf-black-800 !important; }

// functions
//convert px to em/rem
@function em($px) {
    @return ($px / $em-base-font-size) * 1em;
}

@function rem($px) {
    @return ($px / $rem-base-font-size) * 1rem;
}

//custom mixins
@mixin truncate() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}
@mixin transform($transform){
	-webkit-transform: $transform;
	-moz-transform:    $transform;
	-ms-transform:     $transform;
	-o-transform:      $transform;
	transform:         $transform;
}
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
	transition:         $transition;
}
@mixin borderRadius($radius) {
  border-radius: $radius;
   -o-border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}
@mixin Border($borderwidth, $borderStyle, $borderColor) {
    border-width: $borderwidth;
    border-color: $borderColor;
    border-style: $borderStyle;
    -o-border-width: $borderwidth;
    -o-border-color: $borderColor;
    -o-border-style: $borderStyle;
    -webkit-border-width: $borderwidth;
    -webkit-border-color: $borderColor;
    -webkit-border-style: $borderStyle;
    -moz-border-width: $borderwidth;
    -moz-border-color: $borderColor;
    -moz-border-style: $borderStyle;
}

//multiline truncate
@mixin multiline-truncate($line-height, $line-count, $bg-color){
  overflow: hidden;
  position: relative;
  line-height: $line-height;
  max-height: $line-height * $line-count;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '\2026';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 3em;
    margin-top: 1em;
    background: $bg-color;
  }
}

// custom classes
.containerPadd{ padding: em(96) 0 em(66) 0; }
.containerPadd-nologin{ padding-bottom: 0; }
.truncate{
    @include truncate;
}
.truncate-ellipsis{
    display: table;
    table-layout: fixed;
    white-space: nowrap;
}
.dn{ display: none; }
.dib{ display: inline-block; }
.db{ display: block; }
.textCenter{ text-align: $textCenter; }

@media (max-width: $grid-float-breakpoint){
    .mobdn{ display: none; }
    .list-view-pf {
        .list-group-item-heading{
            font-size: em(12);
        }
    }
}
@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd{ padding-top: em(11); }
  .containerPadd-nologin{ padding-bottom: 0; }
}

@import 'layout';

$color-pf-white:                 #fff;
$color-pf-dark:                  #363636;
