@import 'bootstrap/variables';
@import 'patternfly/variables';

//custom variables
$width100: 100%;
$em-base-font-size: 12;
$rem-base-font-size: 10;
// positions
$textLeft: left;
$textRight: right;
$textCenter: center;
$pf-icon-2x: 2em;
