@import '../vendor/patternfly/stylesheets/patternfly/variables';
@import '../vendor/patternfly/stylesheets/bootstrap/variables';
//@import '../vendor/patternfly/stylesheets/patternfly/_color-variables';

/*
// These variables were taken from the old variables.scss. Please figure out where they go.
//== Media queries breakpoints
$screen-xs:                                                         480px !default;
$screen-xs-min:                                                     $screen-xs !default;
$screen-phone:                                                      $screen-xs-min !default;
$screen-sm:                                                         768px !default;
$screen-sm-min:                                                     $screen-sm !default;
$screen-tablet:                                                     $screen-sm-min !default;
$screen-md:                                                         992px !default;
$screen-md-min:                                                     $screen-md !default;
$screen-desktop:                                                    $screen-md-min !default;
/!** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                                                         1200px !default;
$screen-lg-min:                                                     $screen-lg !default;
$screen-lg-desktop:                                                 $screen-lg-min !default;
$screen-xs-max:                                                     ($screen-sm-min - 1) !default;
$screen-sm-max:                                                     ($screen-md-min - 1) !default;
$screen-md-max:                                                     ($screen-lg-min - 1) !default;
//== Grid system
$grid-columns:                                                      12 !default;
$grid-gutter-width:                                                 30px !default;
// Navbar collapse
$grid-float-breakpoint:                                             $screen-sm-min !default;
$grid-float-breakpoint-max:                                         ($grid-float-breakpoint - 1) !default;
//=== Shared nav styles
$nav-link-padding:                                                  10px 15px !default;
$nav-link-hover-bg:                                                 $gray-lighter !default;
$nav-disabled-link-color:                                           $gray-light !default;
$nav-disabled-link-hover-color:                                     $gray-light !default;
*/

//custom variables
$width100: 100%;
$em-base-font-size: 12;
$rem-base-font-size: 10;
// positions
$textLeft: left;
$textRight: right;
$textCenter: center;
$color-pf-white: #FFF;
$color-pf-dark: #363636;
