@import './../vendor/patternfly/stylesheets/patternfly/color-variables';
.gu-mirror {
    position: fixed!important;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
    margin: 0!important;
    z-index: 9999!important;
    opacity: 1;
    background-color: $color-pf-blue-100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none!important;
}
.gu-unselectable {
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}
.gu-transit {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-pf-black-400;
    }
}
