$icon-path: '../assets/icon/';

.icon-pipeline
{
  margin:0;
  padding:0;
  height:100px;
  min-width:200px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: 0;
}
.icon-stack
{
  margin:0;
  padding:0;
  height:42px;
  width:42px;
  //min-width: 42px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: -10px;
  &.icon-stack-camel
  {
    background-image: url("#{$icon-path}icon-stack-camel.png");
  }

  &.icon-stack-go
  {
    background-image: url("#{$icon-path}icon-stack-go.png");
  }


  &.icon-stack-java
  {
    background-image: url("#{$icon-path}icon-stack-java.png");
  }

  &.icon-stack-microservice
  {
    background-image: url("#{$icon-path}icon-stack-microservice.png");
    //background-size:100%;
  }

  &.icon-stack-nodejs
  {
    background-image: url("#{$icon-path}icon-stack-nodejs.png");
    background-position-x: -3px;
  }

  &.icon-stack-rails
  {
    background-image: url("#{$icon-path}icon-stack-rails.png");
  }

  &.icon-stack-spring
  {
    background-image: url("#{$icon-path}icon-stack-spring.png");
  }

  &.icon-stack-swift
  {
    background-image: url("#{$icon-path}icon-stack-swift.png");
  }

  &.icon-stack-vertx
  {
    background-image: url("#{$icon-path}icon-stack-vertx.png");
    background-size: 120%;
    background-position-x: -5px;
    background-position-y: 10px;

  }

  &.icon-stack-wildfly
  {
    background-image: url("#{$icon-path}icon-stack-wildfly.png");
  }
  &.icon-stack-funktion
  {
    background-image: url("#{$icon-path}icon-stack-funktion.png");
  }
  &.icon-stack-python
  {
    background-image: url("#{$icon-path}icon-stack-python.png");
  }
  &.icon-stack-maven
  {
    background-image: url("#{$icon-path}icon-stack-maven.png");
    background-size: 110%;
    background-position-x: 0px;
    background-position-y: 10px;
  }
}



