@import "variables";
@import "color-variables";
//custom variables
$width100: 100%;
$em-base-font-size: 12;
$rem-base-font-size: 10; 

// positions
$textLeft: left;
$textRight: right;
$textCenter: center;

//colors
.color-grey{ color: $color-pf-black-800 !important; }

.no-padding{
    padding: 0;
}
// functions
//convert px to em/rem
@function em($px) {
    @return ($px / $em-base-font-size) * 1em;
}

@function rem($px) {
    @return ($px / $rem-base-font-size) * 1rem;
}

//custom mixins
@mixin truncate() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}
@mixin transform($transform){
	-webkit-transform: $transform;  
	-moz-transform:    $transform;
	-ms-transform:     $transform; 
	-o-transform:      $transform; 
	transform:         $transform;
}
@mixin transition($transition) {
	-webkit-transition: $transition;  
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition; 
	transition:         $transition;
}
@mixin borderRadius($radius) {
  border-radius: $radius;
   -o-border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

// custom classes
.containerPadd{ padding: em(96) 0 em(66) 0; }
.containerPadd-nologin{ padding-bottom: 0; }
.truncate{
    @include truncate;
}
.truncate-ellipsis{
    display: table;
    table-layout: fixed;
    white-space: nowrap;
}
.dn{ display: none; }
.dib{ display: inline-block; }
.db{ display: block; }
.textCenter{ text-align: $textCenter; }
.pointer{ cursor: pointer; }

@media (max-width: $grid-float-breakpoint){
    .mobdn{ display: none; }
    .list-view-pf {
        .list-group-item-heading{
            font-size: em(12);
        }
    }
}
@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd{ padding-top: em(11); }
  .containerPadd-nologin{ padding-bottom: 0; }
}