@import "variables";
$patternfly-sass-asset-helper: false !default;
@font-face {
  font-family: "#{$icon-font-name-fa}";
  src:url(if($patternfly-sass-asset-helper, twbs-fa-font-path("../#{$fa-font-path}/#{$icon-font-name-fa}.eot"), "#{$fa-font-path}/#{$icon-font-name-fa}.eot"));
  src:url(if($patternfly-sass-asset-helper, twbs-fa-font-path("../#{$fa-font-path}/#{$icon-font-name-fa}.eot?#iefix"), "#{$fa-font-path}/#{$icon-font-name-fa}.eot?#iefix")) format("embedded-opentype"),
    url(if($patternfly-sass-asset-helper, twbs-fa-font-path("../#{$fa-font-path}/#{$icon-font-name-fa}.ttf"), "#{$fa-font-path}/#{$icon-font-name-fa}.ttf")) format("truetype"),
    url(if($patternfly-sass-asset-helper, twbs-fa-font-path("../#{$fa-font-path}/#{$icon-font-name-fa}.woff"), "#{$fa-font-path}/#{$icon-font-name-fa}.woff")) format("woff"),
    url(if($patternfly-sass-asset-helper, twbs-fa-font-path("../#{$fa-font-path}/#{$icon-font-name-fa}.svg##{$icon-font-name-fa}"), "#{$fa-font-path}/#{$icon-font-name-pf}.svg##{$icon-font-name-fa}")) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="#{$fa-css-prefix}-"],
[class*=" #{$fa-css-prefix}-"] {
  display: inline-block;
  font-family: "#{$icon-font-name-fa}";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.#{$fa-css-prefix}-ellipsis-v:before { 
    content: $fa-var-ellipsis-v;
}
.#{$fa-css-prefix}-user:before { 
    content: $fa-var-user;
}