//
// List groups
// --------------------------------------------------
@import "variables";
.list-group {
  border-top: 1px solid $list-group-top-border;
  .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: $nav-pf-vertical-alt-bg-color;
  border: 1px solid $list-group-border;
  border-left: 0;
  border-right: 0;
  &:first-child {
      border-top: 0;
    }
  }
}
.list-group-item-heading {
  font-weight: 600;
}
