<!--The kebab menu can come here as adding a child should get reflected here-->
<div class="f8-itr__tree">
  <ul *ngIf="iterationList.length > 0"
    class="padding-left-0">
    <li 
      *ngFor="let iteration of iterationList">
      <iteration-list-entry
        [iteration] ="iteration"
        [collection]="collection"
        [witGroup]="witGroup"
        [showTree]="showTree"
        [showCompleted]="showCompleted"
        (onEditIteration)="editIteration($event)"
        (onCloseIteration)="closeIteration($event)"
        (onCreateIteration)="createIteration($event)">
      </iteration-list-entry>
      <iteration-tree *ngIf="iteration.hasChildren && iteration.showChildren"
        [iterationList]="iteration.children"
        [collection]="collection"
        [witGroup]="witGroup"
        [showTree]="showTree"
        [showCompleted]="showCompleted"
        (onEditIteration)="editIteration($event)"
        (onCloseIteration)="closeIteration($event)"
        (onCreateIteration)="createIteration($event)">
      </iteration-tree>
    </li>
  </ul>
</div>
