@import "./../../../../assets/stylesheets/custom";


.list-group-item {
  cursor: pointer;
  .workItemList_workItemType {
    span{
      font-size: $font12;
      margin-right: $margin10;
      color: $color-pf-black-500;
    }
  }
}
button{
  &:active{ 
    outline: none; 
    &:focus {
      outline: none; 
    }
  }
}
span{
  &:focus{
    outline: none;
  }
}