@import "./../../../../assets/stylesheets/custom";


.list-group-item {
  cursor: pointer;
  .workItemList_workItemType {
    width: 10em;
    float: left;
    span{
      font-size: $font12;
      margin-right: $margin10;
      color: $color-pf-black-900;
      font-weight: 200;
    }
  }
  .workItemList_title {
    p{
      margin: 0;
    }
  }
}
button{
  &:active{ 
    outline: none; 
    &:focus {
      outline: none; 
    }
  }
}
span{
  &:focus{
    outline: none;
  }
}

.selected {
  background-color: $color-pf-blue-100;
  &:hover {
    background-color: $color-pf-blue-100;
  }
}
@media (max-width: $screen-md-min){
  .workItemList_title{
    padding: 0 !important;
  }
}