@import "./../../../../assets/stylesheets/custom";

.list-group-item {
  cursor: pointer;
  font-size: rem(12);
  align-items: center;
  .row-cbh {
    margin-right: em(10);
    margin-left: em(5);
    padding:em(2) em(10) em(2) 0;
    border-right: 1px solid $color-pf-white;
    input[type=checkbox] {
      margin: 0;
      visibility: hidden;
    }
    input[type=checkbox]:checked {
      visibility: visible;
    }
  }
  &:hover {
    .row-cbh {
       border-right: 1px solid $color-pf-black-500;
      input{
        visibility: visible;
      }
    }
  }

  .workItemList_workItemType {
    width: em(120);
    float: left;
    span{
      font-size: em(12);
      margin-right: em(10);
      color: $color-pf-black-900;
      font-weight: 200;
      line-height: 1;
    }
  }
  .workItemList_title{
    line-height: 1.3;
    p{
      margin-bottom: 0 !important;
    }
  }
  .workItemList_title {
    p{
      margin: 0;
    }
  }
}
button{
  &:active{
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
span{
  &:focus{
    outline: none;
  }
}

.selected {
  background-color: $color-pf-blue-100;
  &:hover {
    background-color: $color-pf-blue-100;
  }
}
@media (max-width: $screen-md-min){
  .workItemList_title{
    font-size: rem(16);
    padding: 0 !important;
  }
}
