<div *ngIf="showDialog">	
	<pf-dialog
		(pfDialogClick)="onButtonClick($event)"
		[dialog]='dialog'	
	></pf-dialog>
</div>
<div class="list-group-item" (click)="onSelect($event)" [class.selected]="isSelected()">
	<!-- info area -->
	<div class="list-view-pf-main-info" (click)="onDetail($event)">
		<div class="list-view-pf-left type workItemList_workItemType">
			<span almIcon [iconType]="workItem.fields['system.state']" class="color-grey"></span>
      		<span almIcon [iconType]="workItem.type" class="color-grey"></span>
			<span> {{workItem.id}} </span>
		</div>
		<div class="list-view-pf-body">
			<div class="list-view-pf-description">
				<div class="workItemList_title truncate-ellipsis col-xs-12 ">
					<p class="width100 pull-left truncate">{{workItem.fields['system.title']}}</p>
				</div>
				<div class="list-group-item-text workItemList_description dn">
					{{workItem.fields['system.description'] ? workItem.fields['system.description'] : "No description available for this work item."}}
				</div>
			</div>
		</div>
	</div>

	<!-- action area -->
	<div class="list-view-pf-actions">
		<div *ngIf="loggedIn" class="dropdown pull-right dropdown-kebab-pf" dropdown (onOpen)="selectEntry()">
			<button class="btn btn-link dropdown-toggle workItemList_dropdownKebabBtn" type="button" id="dropdownKebabRight" aria-haspopup="true" aria-expanded="true" dropdown-open>
				<span class="fa fa-ellipsis-v"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
				<li><a class="workItemList_MoveTop" (click)="onMoveToTop($event)">Move to Top</a></li>
				<li><a class="workItemList_MoveBottom" (click)="onMoveToBottom($event)">Move to Bottom</a></li>
				<li role="presentation" class="divider"></li>				
				<li><a [routerLink]="['/work-item-list/detail/' + workItem.id]" class="workItemList_Open">Open</a></li>
				<li><a class="workItemList_Delete" (click)="confirmDelete($event)">Delete</a></li>				
				<li><a class="workItemList_Backlog" (click)="onMoveToBacklog($event)">Move to Backlog</a></li>
				<li><a class="workItemList_ChangeStatus" (click)="onChangeState($event)">Change State</a></li>
				
			</ul>
		</div>
	</div>
</div>