<div class="container-fluid f8-wi-container" #containerHeight>
  <div class="lock-overlay-list"
    *ngIf="uiLockedAll">
    <div class="spinner-container">
      <h2 class="spinner"></h2>
      <h2>Loading ...</h2>
      <h4>Please wait, we are loading your data.</h4>
    </div>
  </div>

  <main class="row">
    <alm-planner-layout #plannerLayout
      (sidePanelStateChange)="togglePanelState($event)"
      [sidePanelContent]="sidePanel"
      [sectionContent]="sectionPanel">
    </alm-planner-layout>
  </main>
</div>

<ng-template #sidePanel>
  <aside class="f8-sidepanel">
    <div class="lock-overlay-list"
      *ngIf="uiLockedSidebar">
      <div class="spinner-container">
        <h2 class="spinner"></h2>
        <h2>Loading ...</h2>
        <h4>Please wait, we are loading your data.</h4>
      </div>
    </div>
    <a class="f8-sidepanel--toggle">
      <span class="fa f8-sidepanel--toggle-icon fa-lg"
        [class.fa-angle-double-left]="sidePanelOpen"
        [class.fa-angle-double-right]="!sidePanelOpen"
        (click)="togglePanel()" tooltip="{{sidePanelOpen ?
          'Hide Panel' : 'Show Panel'}}"
        placement="right">
      </span>
    </a>
    <side-panel
      [sidePanelOpen]="sidePanelOpen">
    </side-panel>
  </aside>
</ng-template>

<ng-template #sectionPanel>
  <div class="width-100 pull-left"
      #toolbarHeight>
      <toolbar-panel
        context="listview"
        [loggedInUser]="loggedInUser">
      </toolbar-panel>
    </div>
</ng-template>
