@import "../../assets/stylesheets/_base";

.list-group-item {
  border: none;
  cursor: pointer;
  padding-left: 0;
  &:hover {
    background-color: $color-pf-black-200;
  }
  &.selected {
    background-color: $color-pf-blue-100;
    &:hover {
      background-color: $color-pf-blue-100;
    }
  }
}

// Indentation -- highlighting should occupy entire row
.tree-children {
  padding-left: 0;
  .tree-list-item {
    padding-left: 20px;
  }
  .tree-children {
    .tree-list-item {
      padding-left: 40px;
    }
    .tree-children {
      .tree-list-item {
        padding-left: 60px;
      }
      .tree-children {
        .tree-list-item {
          padding-left: 80px;
        }
        .tree-children {
          .tree-list-item {
            padding-left: 100px;
          }
        }
      }
    }
  }
}

.tree-list-item {
  padding-left: 10px;
  .toggle-children-placeholder {
    width: 15px;
  }
  .toggle-children-wrapper {
    padding-right: 10px;
  }
  .toggle-children-wrapper-expanded {
    padding-right: 7px;
  }
}
