@import "../../assets/stylesheets/_base";

.tree-list {
  &.list-group {
    border-top: none;
  }

  .node-drop-slot.is-dragging-over {
    background-color: $color-pf-black-400;
    border: none;
  }

  .node-content-wrapper {
    display: inherit;
    padding: 0;
    border-radius: inherit;
    transition: none;
    &.is-dragging-over {
      background-color: $color-pf-black-400;
      border: none;
      box-shadow: none;
    }
  }

  .node-wrapper {
    display: block;
    align-items: inherit;
  }

  // Toggle up
  .toggle-children {
    background-image: none;
    background-position: inherit;
    background-repeat: inherit;
    font-family: "FontAwesome";
    font-size: inherit;
    height: inherit;
    position: inherit;
    top: inherit;
    vertical-align: middle;
    width: inherit;
    &:before {
      content: "\f105";
    }
  }

  // Toggle up
  .toggle-children-wrapper-collapsed .toggle-children {
    transform: none;
  }

  // Toggle down
  .toggle-children-wrapper-expanded .toggle-children {
    transform: none;
    &:before {
      content: "\f107";
    }
  }

  .tree {
    display: block;
  }

  .tree-node-active > .node-wrapper > .node-content-wrapper,
  .tree-node-focused > .node-content-wrapper, .node-content-wrapper:hover {
    box-shadow: none;
  }
}
