<div>
  <tree-root class="tree-list list-group list-view-pf" #tree
      [nodes]="nodes"
      [focused]="true"
      [options]="options"
      (onEvent)="handleEvent($event)"
      (onInitialized)="handleInitialized($event)"
      (onMoveNode)="handleMoveNode($event)"
      (onToggle)="handleToggle($event)"
      (onUpdateData)="handleUpdateData($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <ng-template [ngTemplateOutlet]="listTemplate" [ngOutletContext]="{ node: node, index: index }"></ng-template>
    </ng-template>
    <ng-template #loadingTemplate let-node let-index="index">
      <ng-template [ngTemplateOutlet]="loadTemplate" [ngOutletContext]="{ node: node, index: index }"></ng-template>
    </ng-template>
    <ng-template #treeNodeFullTemplate
        let-node="node"
        let-index="index"
        let-templates="templates">
      <div class="tree-node tree-node-level-{{ node.level }}"
          [ngClass]="node.getClass()"
          [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
          [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
          [class.tree-node-leaf]="node.isLeaf"
          [class.tree-node-active]="node.isActive"
          [class.tree-node-focused]="node.isFocused">

        <tree-node-drop-slot *ngIf="index === 0 && showDropSlot === true"
          [dropIndex]="node.index"
          [node]="node.parent">
        </tree-node-drop-slot>

        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <tree-node-expander [node]="node" *ngIf="showExpander === true"></tree-node-expander>
          <div class="node-content-wrapper"
               (click)="node.mouseAction('click', $event)"
               (dblclick)="node.mouseAction('dblClick', $event)"
               (contextmenu)="node.mouseAction('contextMenu', $event)"
               (dragstart)="handleDragStart($event)"
               (treeDrop)="node.onDrop($event)"
               [treeAllowDrop]="node.allowDrop"
               [treeDrag]="node"
               [treeDragEnabled]="node.allowDrag()">

            <tree-node-content [node]="node" [index]="index" [template]="templates.treeNodeTemplate">
            </tree-node-content>
          </div>
        </div>

        <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
        <tree-node-drop-slot
          [dropIndex]="node.index + 1"
          [node]="node.parent"
          *ngIf="showDropSlot === true">
        </tree-node-drop-slot>
      </div>
    </ng-template>
  </tree-root>
</div>
