<div [ngSwitch]="userLevel" class="feature-footer">

  <div *ngSwitchCase="'internal'">
    <ng-template #tooltipTemplateInternal>
      <div>
        <span *ngIf="featurePageConfig?.featuresPerLevel?.internal?.length !== 0">
          <strong>There {{internalFeatureText}} on this page.</strong>
          <ul>
            <li *ngFor="let feature of featurePageConfig?.featuresPerLevel?.internal">
              <span class="pficon pficon-info"></span>
              {{feature.attributes.name}}
            </li>
          </ul>
        </span>
        <span *ngIf="featurePageConfig?.featuresPerLevel?.experimental?.length !== 0">
          <strong>There {{experimentalFeatureText}} on this page.</strong>            <ul>
            <li *ngFor="let feature of featurePageConfig?.featuresPerLevel?.experimental">
              <span class="pficon pficon-info"></span>
              {{feature.attributes.name}}
            </li>
          </ul>
        </span>
        <span *ngIf="featurePageConfig?.featuresPerLevel?.beta?.length !== 0">
          <strong>There {{betaFeatureText}} on this page.</strong>
          <ul>
            <li *ngFor="let feature of featurePageConfig?.featuresPerLevel?.beta">
              <span class="pficon pficon-info"></span>
              {{feature.attributes.name}}
            </li>
          </ul>
          </span>
      </div>
    </ng-template>
    <div *ngIf="!noFeaturesInInternal" [tooltip]="tooltipTemplateInternal" class="internal">
      <i class="fa fa-flask fa-1x"></i>
    </div>
    <ng-template #tooltipTemplateInternalEmpty>
      <div><strong>There are no internal features on this page.</strong></div>
    </ng-template>
    <div *ngIf="noFeaturesInInternal" [tooltip]="tooltipTemplateInternalEmpty" class="empty">
      <i class="fa fa-flask fa-1x"></i>
    </div>
  </div>

  <div *ngSwitchCase="'experimental'">
    <ng-template #tooltipTemplateExperimental>
      <div>
        <span *ngIf="featurePageConfig?.featuresPerLevel?.experimental?.length !== 0">
          <strong>There {{experimentalFeatureText}} on this page.</strong>
          <ul>
            <li *ngFor="let feature of featurePageConfig?.featuresPerLevel?.experimental">
              <span class="pficon pficon-info"></span>
              {{feature.attributes.name}}
            </li>
          </ul>
        </span>
        <span *ngIf="featurePageConfig?.featuresPerLevel?.beta?.length !== 0">
          <strong>There {{betaFeatureText}} on this page.</strong>
            <ul>
              <li *ngFor="let feature of featurePageConfig?.featuresPerLevel?.beta">
                <span class="pficon pficon-info"></span>
                {{feature.attributes.name}}
              </li>
            </ul>
          </span>
      </div>
    </ng-template>
    <div *ngIf="!noFeaturesInExperimental" [tooltip]="tooltipTemplateExperimental" class="experimental">
      <i class="fa fa-flask fa-1x"></i>
    </div>
    <ng-template #tooltipTemplateExperimentalEmpty>
      <div><strong>There are no experimental features on this page.</strong></div>
    </ng-template>
    <div *ngIf="noFeaturesInExperimental" [tooltip]="tooltipTemplateExperimentalEmpty" class="empty">
      <i class="fa fa-flask fa-1x"></i>
    </div>
  </div>

  <div *ngSwitchCase="'beta'">
    <ng-template #tooltipTemplateBeta>
      <div *ngIf="!noFeaturesInBeta">
        <span *ngIf="featurePageConfig?.featuresPerLevel?.beta?.length !== 0">
          <strong>There {{betaFeatureText}} on this page.</strong>
          <ul>
            <li *ngFor="let feature of featurePageConfig?.featuresPerLevel?.beta">
              <span class="pficon pficon-info"></span>
              {{feature.attributes.name}}
            </li>
          </ul>
        </span>
      </div>
    </ng-template>
    <div *ngIf="!noFeaturesInBeta" [tooltip]="tooltipTemplateBeta" class="beta">
      <i class="fa fa-flask fa-1x"></i>
    </div>
    <ng-template #tooltipTemplateBetaEmpty>
      <div><strong>There are no beta features on this page.</strong></div>
    </ng-template>
    <div *ngIf="noFeaturesInBeta" [tooltip]="tooltipTemplateBetaEmpty" class="empty">
      <i class="fa fa-flask fa-1x"></i>
    </div>
  </div>
  <div *ngSwitchCase="'released'">
  </div>
</div>
